<template>
	<div class="row">
		<div class="ot-job-detail col-sm-9">
			<div class="ot-top-job">
				<div class="ot-job-name">
					<div class="flex-top">
						<div class="left" v-if="job.client && job.client.is_company_logo">
							<p class="v-align-center" v-if="job.client.is_publish">
								<a :href="'/cong-ty/' + job.client.slug + '-' + job.client.id">
									<img
											:src="job.client.company_logo"
											:alt="job.position"
											class="img img-responsive"
									/>
								</a>
							</p>
							<p class="v-align-center" v-else>
								<img
										:src="job.client.company_logo"
										:alt="job.position"
										class="img img-responsive"
								/>
							</p>
						</div>
						<div class="left" v-else>
							<img
									src="/frontend/img/new/lg-company-default.jpg"
									class="img img-responsive"
							/>
						</div>
					</div>
					<div class="flex-top">
						<p class="job-title title-limit-row-2">
							<strong>{{job.position}}</strong>
						</p>
						<template v-if="job.client">
							<p>
								<i class="fa fa-home"></i>
								<span v-if="job.client.is_publish">
                <a :href="'/cong-ty/' + job.client.slug + '-' + job.client.id">{{ job.client.company_name }}</a>
              </span>
								<span v-else>{{ job.client.company_name }}</span>
							</p>
						</template>
						<template v-if="(job.country && job.province) || job.place_of_work">
							<p>
								<i class="fa fa-map-marker"></i>
								<span
										v-html="job.place_of_work? job.place_of_work : (job.country.name + ' - ' + job.province.name)"
								></span>
							</p>
						</template>
						<template v-if="user">
							<p class="red-color">
								<i class="fa fa-money"></i>
								{{job.salary}}
							</p>
						</template>
						<template v-else>
							<p>
								<a href="/dang-nhap" class="red-color">
									<i class="fa fa-money"></i>Đăng nhập để xem
								</a>
							</p>
						</template>
						<p class="view-count" v-if="job.view && job.view > 1000">
							<!--<i>{{job.view ? job.view : 0}} lượt xem - Ngày hết hạn {{expireDate(job.release_date, job.finish_date)}} ngày</i>-->
							<i class="fa fa-area-chart"></i>
							<i>{{job.view ? job.view : 0}} lượt xem</i>
						</p>
					</div>
				</div>
				<div class="ot-job-share">
					<div class="align-self ot-btn-apply">
						<a class="btn btn-apply btn-has-icon" :href="'/member/member-cv?job_id=' + job.job_id"><i class="fa fa-share-square-o"></i>Nộp CV</a>
					</div>
				</div>
			</div>
			<div class="ot-main-job">
				<div class="tab-content">
					<ul class="nav nav-tabs mb-20" role="tablist">
						<li role="presentation" class="active">
							<a
									href="javascript:void(0)"
									data-target="#tabinfo"
									aria-controls="top-job"
									role="tab"
									data-toggle="tab"
							>Thông tin</a>
						</li>
						<li role="presentation" v-if="job.client && job.client.is_info == 1">
							<a
									href="javascript:void(0)"
									data-target="#tabcompany"
									aria-controls="new-job"
									role="tab"
									data-toggle="tab"
							>Công ty</a>
						</li>
					</ul>
					<div id="tabinfo" class="tab-pane active job-info">
						<div class="ot-job-info">
							<div class="ot-job-item">
								<h3 class="ot-head">Thông tin việc làm</h3>
								<div class="ot-job-details">
									<p>
										<strong>Loại công việc:</strong>
										<template v-if="job.client_job_category">{{job.client_job_category.name}}</template>
									</p>
									<p>
										<strong>Mẫu tuyển dụng:</strong>
										<template
												v-if="job.client_job_position_type"
										>{{job.client_job_position_type.name}}
										</template>
									</p>
									<p v-if="job.province || job.place_of_work">
										<strong>Nơi làm việc:</strong>
										<span v-html="job.place_of_work ? job.place_of_work : (job.province ? job.province.name : '')"></span>
									</p>
									<!--<p>-->
									<!--<strong>Lương:</strong>-->
									<!--{{job.salary}}-->
									<!--</p>-->
								</div>
							</div>
							<div class="ot-job-item" v-if="job.gender || job.education_level || job.qualification || job.foreign_language">
								<h3 class="ot-head">Điều kiện tuyển dụng</h3>
								<div class="ot-job-details">
									<p v-if="job.gender">
										<strong>Giới tính: </strong>{{job.gender}}
									</p>
									<p v-if="job.age">
										<strong>Tuổi: </strong>{{job.age}}
									</p>
									<p v-if="job.education_level">
										<strong>Trình độ: </strong>{{job.education_level}}
									</p>
									<p v-if="job.qualification">
										<strong>Bằng cấp: </strong>{{job.qualification}}
									</p>
									<p v-if="job.foreign_language">
										<strong>Ngoại ngữ: </strong>{{job.foreign_language}}
									</p>
								</div>
							</div>
							<div class="ot-job-item" v-if="job.Job_description">
								<h3 class="ot-head">Mô tả công việc</h3>
								<div class="ot-job-details text-description" v-html="job.Job_description"></div>
							</div>
							<div class="ot-job-item" v-if="job.required_experience_and_skill">
								<h3 class="ot-head">Yêu cầu kinh nghiệm và kỹ năng</h3>
								<div class="ot-job-details text-description">{{job.required_experience_and_skill}}</div>
							</div>
							<div class="ot-job-item" v-if="job.welfare">
								<h3 class="ot-head">Phúc lợi</h3>
								<div class="ot-job-details text-description">{{job.welfare}}</div>
							</div>
							<div class="ot-job-item" v-if="tags != null && tags.length > 0">
								<h3 class="ot-head">Từ khoá</h3>
								<div class="ot-job-details text-description">
									<el-tag
											v-for="tag in tags"
											:key="'tag_' + tag.id"
											type="info"
											class="bg-white mr-5px cur-point"
											@click="searchTag(tag.name)"
									>{{tag.name}}
									</el-tag>
								</div>
							</div>
							<div class="ot-job-bottom">
								<a class="btn btn-apply btn-has-icon" :href="'/member/member-cv?job_id=' + job.job_id"><i class="fa fa-share-square-o"></i>Nộp CV</a>
								<!--<a class="btn btn-expert" id="consulting">Tôi muốn được tư vấn</a>-->
							</div>
						</div>
					</div>
					<div id="tabcompany" class="tab-pane job-info" v-if="job.client && job.client.is_info == 1">
						<div class="ot-job-info">
							<div class="ot-job-item">
								<h3 class="ot-head">Thông tin công ty</h3>
								<div class="ot-job-details">
									<p v-if="job.client.company_name">
										<strong>Tên công ty:</strong>&nbsp;{{job.client.company_name}}
									</p>
									<p v-if="job.client.industry">
										<strong>Loại hình:</strong>&nbsp;{{job.client.industry}}
									</p>
									<p v-if="job.client.established">
										<strong>Thành lập:</strong>&nbsp;{{job.client.established}}
									</p>
									<p v-if="job.client.ceo_president">
										<strong>Giám đốc:</strong>&nbsp;{{job.client.ceo_president}}
									</p>
									<p v-if="job.client.capital">
										<strong>Nguồn vốn:</strong>&nbsp;{{job.client.capital}}
									</p>
									<p v-if="job.client.company_size">
										<strong>Số lượng nhân viên:</strong>&nbsp;{{job.client.company_size}}
									</p>
									<p v-if="job.client.company_outline">
										<strong>Giới thiệu công ty:</strong>&nbsp;{{job.client.company_outline}}
									</p>
								</div>
								<h3 class="ot-head">Thông tin liên hệ</h3>
								<div class="ot-job-details">
									<p v-if="job.client.address">
										<strong>Địa chỉ:</strong>&nbsp;{{job.client.address}}
									</p>
									<p v-if="job.client.phone">
										<strong>Số điện thoại:</strong>&nbsp;{{job.client.phone}}
									</p>
									<p v-if="job.client.website">
										<strong>Website:</strong>&nbsp;{{job.client.website}}
									</p>
								</div>
							</div>
							<el-carousel
									v-if="photo && photo.length > 0"
									:interval="4000"
									type="card"
									height="200px"
							>
								<el-carousel-item v-for="(image,index) in photo" :key="'image_' + index">
									<img
											:src="image.imageUrl"
											class="img img-responsive"
											style="height: 100%;width:100%"
									/>
								</el-carousel-item>
							</el-carousel>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ot-sidebar col-sm-3">
			<div class="jobs-box-right hidden-xs" style="width:100%">
				<h2 class="hot-job-title">Tuyển dụng nổi bật</h2>
				<div class="hover-type-blur mb-10">
					<a href="/job-fair" class="hot-job-banner-item">
						<img src="/frontend/img/new/bn-hot-job-one.jpg" alt="job fair" class="img-responsive">
					</a>
				</div>
				<div class="hover-type-blur">
					<a href="/" class="hot-job-banner-item">
						<img src="/frontend/img/new/bn-hot-job-two.jpg"
						     alt="tuyển dụng kỹ sư it"
						     class="img-responsive"
						>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Avatar from "vue-avatar";
	import moment from "moment";
	
	export default {
		props: ["client_job", "user", "tags"],
		components: {
			Avatar
		},
		data() {
			return {
				job: this.client_job
			};
		},
		created() {
			if (this.job.client && this.job.client.is_info != 1) {
				$(".el-tabs__nav").hide();
			}
		},
		methods: {
			expireDate(start, end) {
				if ((start, end)) {
					let dateStart = moment(start);
					let dateEnd = moment(end);
					let date = dateEnd.diff(dateStart, "day");
					return date;
				}
			},
			searchTag(tag) {
				window.location.href = `/tim-viec/${stringToSlug(tag)}/all?level=`;
			}
		},
		computed: {
			photo() {
				if (this.job.client.company_photo) {
					try {
						return JSON.parse(this.job.client.company_photo);
					} catch (e) {
						return [];
					}
				} else {
					return [];
				}
			}
		}
	};
</script>

<style lang="scss" scoped>
	.border-gray {
		border: 1px solid #cccccc6b;
	}
	
	.border-job-info {
		border-left: 3px solid #e70012;
	}
	
	.cur-point {
		cursor: pointer;
	}
	
	.align-self {
		align-self: flex-end;
	}
	
	.mr-5px {
		margin-right: 5px;
	}
	
	.bg-white {
		background: #fff;
	}
</style>
<style lang="scss">
	.el-tabs__nav-scroll {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.el-tabs__nav {
		.is-active {
			border-top: 3px solid #e70012 !important;
			color: #000000;
		}
		
		:hover {
			color: #e70012;
		}
	}
</style>
