<template>
	<div>
		<div class="ot-banner search-page">
			<img src="/frontend/img/new/bn-search-job.jpg" alt="Tìm kiếm công việc" class="ot-banner-img">
			<!-- search START -->
			<div class="ot-search">
				<div class="container ot-container ot-search-wrap">
					<div class="form-search ot-form-search-main">
						<div class="form-group">
							<input v-model="form.keyword" @keyup.enter="search()" type="text" class="form-control" id="keyword" name="keyword" placeholder="Từ khoá">
							<span class="ot-icon"><img src="/frontend/img/new/search-icon.png" alt="Icon Search"></span>
						</div>
						<div class="form-group ot-select2-wrap">
							<i class="fa fa-map-marker"></i>
							<select2 v-model="form.location" :options="options">
								<option value="">Tất cả địa điểm</option>
							</select2>
						</div>
						<div class="button-search">
							<button :loading="loadingSearch" @click.prevent="search()" v-loading.fullscreen.lock="loadingSearch" type="submit" class="btn btn-primary">
								<span class="ot-hovered"><i class="fa fa-paper-plane"></i></span>Tìm kiếm
							</button>
						</div>
						<div class="ot-advance-link text-right clearfix">
							<span @click.prevent="toggleMenu('#accordion-search', $event)" class="toggle-icon"><i class="fa fa-angle-down"></i>&nbsp;Tìm kiếm nâng cao</span>
						</div>
						<div id="accordion-search" class="ot-advance-box collapse">
							<div class="form-group ot-select2-wrap">
								<i class="fa fa-language"></i>
								<select2 v-model="form.level" :options="optionsLevel">
									<option value="">Tất cả trình độ</option>
								</select2>
							</div>
							<div class="form-group ot-select2-wrap">
								<i class="fa fa-mortar-board"></i>
								<select2 v-model="form.category" :options="optionsCategory">
									<option value="">Tất cả ngành nghề</option>
								</select2>
							</div>
						</div>
					
					</div>
					<div class="ot-tags-search-wrap">
						<div class="ot-tags-search-box">
							<i class="fa fa-tags"></i>
							<a v-for="tag in tags" :href="`/tim-viec/${tag.name}`" class="tags-search-item"><span>{{ tag.name }}</span></a>
						</div>
						<div class="ot-tags-search-box">
							<i class="fa fa-map-marker"></i>
							<a v-for="province in provinces" :href="`/tim-viec/viec-lam-tai-${province.slug}`" class="tags-search-item"><span>{{province.name}}</span></a>
						</div>
					</div>
				</div>
			</div>
			<!-- search END -->
		</div>
		
		<div class="container ot-container">
			<div class="ot-group-search">
				<div class="ot-sidebar">
					<!--<div id="search-chzn" class="chzn-container chzn-container-multi">-->
					<!--	<div class="input-group">-->
					<!--		<input-->
					<!--				type="text"-->
					<!--				name="keyword"-->
					<!--				v-model="form.keyword"-->
					<!--				id="txtSearch"-->
					<!--				@keyup.enter="search()"-->
					<!--				class="form-control"-->
					<!--				placeholder="Từ khoá"-->
					<!--		>-->
					<!--		<div class="input-group-btn">-->
					<!--			<button :loading="loadingSearch" @click.prevent="search()" class="btn btn-danger" v-loading.fullscreen.lock="loadingSearch"><i class="fa fa-search" aria-hidden="true"></i></button>-->
					<!--		</div>-->
					<!--	</div>-->
					<!--</div>-->
					<!--<div class="ot-tag">-->
					<!--	<h2 class="ot-title-top" @click.prevent="toggleMenu('#accordion-tag', $event)">-->
					<!--		<i class="fa fa-tag"></i>-->
					<!--		Tag-->
					<!--		<span class="toggle-icon active"></span>-->
					<!--	</h2>-->
					<!--	<div id="accordion-tag" class="ot-content-tag">-->
					<!--		<ul class="ot-list-tag">-->
					<!--			<li-->
					<!--					v-for="tag in tags"-->
					<!--					type="info"-->
					<!--					:key="`tag_${tag.id}`"-->
					<!--					:class="`tag_${tag.id}` + (__slugString(tag.name) == form.keyword ? ' current':'')"-->
					<!--					@click="search(tag.name)"-->
					<!--			>{{tag.name}}</li>-->
					<!--		</ul>-->
					<!--	</div>-->
					<!--</div>-->
					<!--<div class="ot-location">-->
					<!--	<h2 class="ot-title-top" @click.prevent="toggleMenu('#accordion-location', $event)">-->
					<!--		<i class="fa fa-map-marker"></i>-->
					<!--		Địa điểm-->
					<!--		<span class="toggle-icon active"></span>-->
					<!--	</h2>-->
					<!--	<div id="accordion-location" class="ot-content-location">-->
					<!--		<el-checkbox-group v-model="form.location">-->
					<!--			<el-checkbox-->
					<!--					v-for="province in provinces"-->
					<!--					:label="province.slug"-->
					<!--					:key="'province_' + province.id"-->
					<!--					@change="searchLocation()"-->
					<!--			>{{province.name}}-->
					<!--			</el-checkbox>-->
					<!--		</el-checkbox-group>-->
					<!--	</div>-->
					<!--</div>-->
					<!--<div class="ot-jp-level">-->
					<!--	<h2 class="ot-title-top" @click.prevent="toggleMenu('#accordion-level', $event)">-->
					<!--		<i class="fa fa-language"></i>-->
					<!--		Trình độ tiếng Nhật-->
					<!--		<span class="toggle-icon active"></span>-->
					<!--	</h2>-->
					<!--	<div id="accordion-level" class="ot-content-level">-->
					<!--		<el-radio-group v-model="form.level">-->
					<!--			<el-radio label @change="search()">All</el-radio>-->
					<!--			<el-radio-->
					<!--					v-for="level in japan_level"-->
					<!--					:key="'level_' + level.id"-->
					<!--					:label="__getJapanLevel(level.id)"-->
					<!--					@change="searchLevel()"-->
					<!--			>{{level.name}}-->
					<!--			</el-radio>-->
					<!--		</el-radio-group>-->
					<!--	</div>-->
					<!--</div>-->
					
					
					<div class="jobs-box-right hidden-xs">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item active">
								<a class="nav-link active" id="mywork-tab" data-toggle="tab" href="#mywork" role="tab" aria-controls="mywork" aria-selected="true">Ngành nghề</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="myposition-tab" data-toggle="tab" href="#myposition" role="tab" aria-controls="myposition" aria-selected="false">Địa điểm</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="mywork" role="tabpanel" aria-labelledby="mywork-tab">
								<ul>
									<li v-for="cate in jobcategory" class="work-item">
										<a :href="`/tim-viec/${cate.slug}`"><span v-text="cate.name"></span><span v-if="cate.client_jobs_count > 0" class="mark" v-text="cate.client_jobs_count"></span></a>
									</li>
								</ul>
							</div>
							<div class="tab-pane fade" id="myposition" role="tabpanel" aria-labelledby="myposition-tab">
								<ul>
									<li v-for="province in provinces" class="work-item">
										<a :href="`/tim-viec/viec-lam-tai-${province.slug}`"><span v-text="province.name"></span><span v-if="province.client_jobs_count > 0" class="mark" v-text="province.client_jobs_count"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h2 class="hot-job-title">Tuyển dụng nổi bật</h2>
						<div class="hover-type-blur mb-10">
							<a href="/job-fair" class="hot-job-banner-item">
								<img src="/frontend/img/new/bn-hot-job-one.jpg" alt="job fair" class="img-responsive">
							</a>
						</div>
						<div class="hover-type-blur">
							<a href="/" class="hot-job-banner-item">
								<img src="/frontend/img/new/bn-hot-job-two.jpg"
								     alt="tuyển dụng kỹ sư it"
								     class="img-responsive"
								>
							</a>
						</div>
					</div>
				
				
				</div>
				<div class="ot-search-item">
					<h2 class="ot-title-top">
						<img src="/frontend/img/new/search-icon-smart.png" alt>
						Tìm thấy
						<span class="red">{{this.totalResult}}</span> việc làm<strong>{{ form.keyword ? ` ${form.keyword}` : ''}}{{ form.category ? ` ${form.category}` : ''}}{{form.location.length > 0 ? ` tại ${form.location}` : ""}}</strong>
					</h2>
					<div class="ot-group-content-search">
						<div class="ot-tab-job-box">
							<div v-for="(jobItem, index) in searchJobs" :key="index" class="ot-jobs-item">
								<h3 class="jobs-item-title">
									<a :href="'/viec-lam/' + __slugCategory(jobItem.client_job_category_id) + '/' + __slugTitle(jobItem.position, jobItem.job_id)" :class="jobItem.is_hot ? '' : 'no-mark'"><span v-html="jobItem.position"></span>
										<template v-if="jobItem.is_hot"><span class="basic-mark">HOT</span></template>
									</a>
									<a href="javascript:void(0)" :id="'ot-save-' + jobItem.job_id" :class="{'active': (jobItem.member_client_job_saves && jobItem.member_client_job_saves[0] && jobItem.member_client_job_saves[0].status > 0)}" class="show-hovered hidden-xs" @click.prevent="saveJob(jobItem.job_id)"><i class="fa fa-heart-o"></i></a>
								</h3>
								<h4 v-if="jobItem.client" class="jobs-item-sub-title">
									<a :href="'/tim-viec/' + jobItem.client.company_name">
										<span v-html="jobItem.client.company_name"></span>
									</a>
									<a href="javascript:void(0)" :id="'ot-save-' + jobItem.job_id" :class="{'active': (jobItem.member_client_job_saves && jobItem.member_client_job_saves[0] && jobItem.member_client_job_saves[0].status > 0)}" class="show-hovered hidden-lg hidden-md hidden-sm" @click.prevent="saveJob(jobItem.job_id)"><i class="fa fa-heart-o"></i></a>
								</h4>
								<div class="jobs-item-content">
									<div class="jobs-item-content-avatar"
									     v-if="jobItem.client && jobItem.client.is_company_logo">
										<div class="avatar">
											<img
													:src="jobItem.client.company_logo"
													:alt="jobItem.position"
													class="img-responsive"
											>
										</div>
									</div>
									<div class="jobs-item-content-avatar" v-else>
										<div class="avatar">
											<img
													src="/frontend/img/new/lg-company-default.jpg"
													:alt="jobItem.position"
													class="img img-responsive"
											/>
										</div>
									</div>
									<div class="jobs-item-content-info">
										<p v-if="(jobItem.country && jobItem.province) || jobItem.place_of_work"
										   class="same-item country"
										>
											<i class="fa fa-map-marker"></i>
											<span v-html="jobItem.place_of_work? jobItem.place_of_work : (jobItem.country.name + ' - ' + jobItem.province.name)"></span>
										</p>
										<p v-if="jobItem.brief_sumary" class="same-item skill">
											<i class="fa fa-mortar-board"></i>
											<span v-html="jobItem.brief_sumary"></span></p>
										<p v-if="__getTagInfo(jobItem.tag)" class="same-item tags">
											<i class="fa fa-tags"></i>
											<template v-for="(tagItem) in __getTagInfo(jobItem.tag)">
												<a :href="'/tim-viec/' + __slugString(__getTagName(tagItem))"
												   v-if="__getTagName(tagItem) != ''"
												   v-html="__getTagName(tagItem)"></a>
											</template>
										</p>
										<p v-if="user" class="same-item salary red-color">
											<i class="fa fa-money"></i>
											<span v-html="jobItem.salary"></span>
										</p>
										<p v-else class="same-item">
											<a class="sign-in red-color" href="/dang-nhap">
												<i class="fa fa-money"></i>
												<span>Đăng nhập để xem</span>
											</a>
										</p>
									</div>
									<div class="jobs-item-content-link hidden-xs">
										<a
												class="btn btn-sm btn-primary btn-has-icon-right"
												:href="'/viec-lam/' + __slugCategory(jobItem.client_job_category_id) + '/' + __slugTitle(jobItem.position, jobItem.job_id)"
										>Ứng tuyển<i class="fa fa-chevron-right"></i>
										</a>
									</div>
								</div>
								<div class="hidden-lg hidden-md hidden-sm text-right view-more-button-sp">
									<a
											class="btn btn-sm btn-primary btn-has-icon-right"
											:href="'/viec-lam/' + __slugCategory(jobItem.client_job_category_id) + '/' + __slugTitle(jobItem.position, jobItem.job_id)"
									>Ứng tuyển<i class="fa fa-chevron-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="ot-pagination clearfix">
							<div class="text-center">
								<a href="javascript:void(0)" rel="prev" v-if="page == 1"><strong class="prev active"></strong></a>
								<a href="javascript:void(0)" @click.prevent="loadMore(page - 1)" rel="prev" v-else><strong class="prev active"></strong></a>
								<template v-for="(indexNum) in lastPage">
									<strong v-if="(page == 1 && indexNum <= 5) || (page == 2 && indexNum <= 5) || ((page == lastPage || page == lastPage - 1) && (indexNum - 3 >= 1 || indexNum - 4 >= 1)) || (indexNum >= page - 2 && indexNum <= page + 2)">
										<a href="javascript:void(0)"
										   :loading="loading"
										   v-loading.fullscreen.lock="loading"
										   @click.prevent="loadMore(indexNum)"
										   :class="indexNum == page ? 'active' : ''"
										   class="page-link">
											<span>{{indexNum}}</span>
										</a>
									</strong>
								</template>
								<a href="javascript:void(0)" rel="next" v-if="page == lastPage"><strong class="next active"></strong></a>
								<a href="javascript:void(0)" @click.prevent="loadMore(page + 1)" rel="next" v-else><strong class="next active"></strong></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Avatar from "vue-avatar";
	
	export default {
		props: ["provinces", "user", "search_jobs", "tags", "fulltags", "japan_level", "jobcategory", "all_job_categories", "location", "keyword", "category"],
		components: {
			Avatar
		},
		data() {
			return {
				form: {
					location: "",
					keyword: "",
					keywordRaw: "",
					level: "",
					category: "",
				},
				options: [],
				optionsLevel: [],
				optionsCategory: [],
				page: this.search_jobs.current_page,
				lastPage: this.search_jobs.last_page,
				nextPageUrl: this.search_jobs.next_page_url,
				searchJobs: [],
				loading: false,
				loadingSearch: false,
				totalResult: this.search_jobs.total,
			};
		},
		created() {
			let thisGlobal = this;
			this.provinces.forEach(element => {
				let provinceItem = {id: element.slug, text: element.name};
				thisGlobal.options.push(provinceItem);
			});
			
			this.japan_level.forEach(element => {
				let levelItem = {id: thisGlobal.__getJapanLevel(element.id), text: element.name};
				thisGlobal.optionsLevel.push(levelItem);
			});
			
			this.jobcategory.forEach(element => {
				let cateItem = {id: element.slug, text: element.name};
				thisGlobal.optionsCategory.push(cateItem);
			});
			
			window.addEventListener("resize", this.handleResize);
			this.handleResize();
		},
		destroyed() {
			window.removeEventListener("resize", this.handleResize);
		},
		mounted() {
			this.form.category = this.category;
			const urlParams = new URLSearchParams(window.location.search);
			const keyword = this.keyword.toString();
			const location = this.location.toString();
			const level = urlParams.get("lv");
			this.form.keyword = keyword;
			this.form.level = level ? level : "";
			this.form.location = location;
			// let arrayLocation = (location && location.split(",")) || [];
			// arrayLocation.forEach(value => {
			// 	if (value != "") {
			// 		// this.form.location.push(parseInt(value));
			// 		this.form.location.push(value);
			// 	}
			// });
			this.searchJobs = this.search_jobs.data;
			
			if (window.innerWidth < 767) {
				$(".toggle-icon").removeClass("active").end();
				$("#accordion-level, #accordion-location, #accordion-tag").css({
					display: "none"
				});
			}
		},
		methods: {
			__getJapanLevel($japanId) {
				if ($japanId == "7") {
					return "n1";
				}
				if ($japanId == "8") {
					return "n2";
				}
				if ($japanId == "9") {
					return "n3";
				}
				if ($japanId == "10") {
					return "n4";
				}
				if ($japanId == "11") {
					return "n5";
				}
				if ($japanId == "12") {
					return "khong-biet";
				}
				return "";
			},
			__getTagInfo($jobTags) {
				let jobTags = $jobTags ? JSON.parse($jobTags) : [];
				return (jobTags != [] && jobTags.length > 0) ? jobTags : null;
			},
			__getTagName($tagId) {
				let tagName = "";
				$.each(this.fulltags, function (idx, tagItem) {
					if (tagItem.id == $tagId) {
						tagName = tagItem.name;
						return false;
					}
				});
				return tagName;
			},
			__getCategory: function ($category_id) {
				let resultCategory = "";
				$.each(this.jobcategory, function (idx, categoryItem) {
					if (categoryItem.id == $category_id) {
						resultCategory = categoryItem.name;
						return false;
					}
				});
				return resultCategory;
			},
			__slugString: function ($str) {
				return stringToSlug($str);
			},
			__slugCategory: function ($category_id) {
				let resultCategory = "";
				$.each(this.all_job_categories, function (idx, categoryItem) {
					if (categoryItem.id == $category_id) {
						resultCategory = categoryItem.name;
						return false;
					}
				});
				let slug = stringToSlug(resultCategory);
				if (!slug) {
					slug = 'other'
				}
				return slug;
			},
			__slugTitle: function ($title, $job_id) {
				return stringToSlug($title) + "-" + $job_id;
			},
			__getSearchUrl: function () {
				// let locationResult = this.form.location.length > 0 ? this.form.location.join(",") : "";
				let locationResult = this.form.location.length > 0 ? this.form.location : "";
				
				let urlSearch = "";
				if (this.form.category && this.form.category != "") {
					urlSearch = "/tim-viec/" + this.form.category;
					urlSearch += (this.form.keyword ? "/" + this.form.keyword : "/viec-lam-tai") + (locationResult != "" ? "+" + locationResult : "+tat-ca");
				} else {
					if (this.form.keyword && this.form.keyword != "") {
						urlSearch = "/tim-viec/" + (this.form.keyword ? this.form.keyword : "") + (locationResult != "" ? "+" + locationResult : "+tat-ca");
					} else {
						urlSearch = "/tim-viec/viec-lam-tai" + (locationResult != "" ? "-" + locationResult : "-tat-ca");
					}
				}
				return urlSearch;
			},
			saveJob(jobId) {
				this.loadingSearch = true;
				this.$axios
					.post("/search-job/favorite/save", {
						job_id: jobId
					})
					.then(res => {
						let message = res.data.message;
						if (res.data.status) {
							$("#ot-save-" + jobId).addClass("active");
						} else {
							$("#ot-save-" + jobId).removeClass("active");
						}
						alert(message);
						this.loadingSearch = false;
					})
					.catch(err => {
						this.loadingSearch = false;
						alert(err.response.data.message);
					});
			},
			search(tag = "") {
				this.loadingSearch = true;
				this.form.keywordRaw = this.form.keyword;
				this.form.keyword = tag ? this.__slugString(tag) : this.__slugString(this.form.keyword);
				this.$axios
					.get(this.__getSearchUrl(), {
						params: {
							page: 1,
							// location: this.form.location,
							// keyword: this.form.keyword,
							lv: this.form.level
						}
					})
					.then(res => {
						let {data, next_page_url, current_page, total, last_page} = res.data;
						this.page = current_page;
						this.lastPage = last_page;
						this.nextPageUrl = next_page_url;
						this.totalResult = total;
						this.searchJobs = data;
						
						window.history.replaceState(
							"",
							"",
							this.__getSearchUrl() + `?lv=${this.form.level}`,// `/tim-viec/${this.form.keyword}/${this.form.location}?level=${this.form.level}`
						);
						this.loadingSearch = false;
						if(this.form.keywordRaw) {
							this.form.keyword = this.form.keywordRaw
						}
					})
					.catch(err => {
						this.loadingSearch = false;
					});
			},
			loadMore(pageNumber = null) {
				this.loading = true;
				// let locationResult = this.form.location.join(",");
				let locationResult = this.form.location.length > 0 ? this.form.location : "";
				this.$axios
					.get(this.__getSearchUrl(), {
						params: {
							page: pageNumber != null ? pageNumber : this.page + 1,
							// location: this.form.location,
							// keyword: this.form.keyword,
							lv: this.form.level
						}
					})
					.then(res => {
						let {data, next_page_url, current_page, total, last_page} = res.data;
						this.totalResult = total;
						this.page = current_page;
						this.lastPage = last_page;
						this.nextPageUrl = next_page_url;
						this.searchJobs = data;
						// data.forEach(value => {
						// 	this.searchJobs.push(value);
						// });
						this.loading = false;
					})
					.catch(err => {
						this.loading = false;
					});
			},
			toggleMenu: function (targetId, event) {
				$(targetId).toggle();
				$(event.target)
					.parent()
					.find(".toggle-icon")
					.toggleClass("active");
			},
			handleResize() {
				if (window.innerWidth < 767) {
					$(".toggle-icon")
						.removeClass("active")
						.end();
					$("#accordion-level, #accordion-location, #accordion-tag").css({
						display: "none"
					});
				}
			},
			searchLevel: function () {
				this.search();
			},
			searchLocation: function () {
				this.search();
			}
		},
		watch: {
			["form.keyword"](newVal) {
				/*
				if (this.form.keyword) {
					// this.form.keyword = newVal.replace(
					// 	/[`~!@$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi,
					// 	""
					// );
					this.form.keyword = stringToSlug(newVal);
				}
				
				this.tags.forEach(post => {
					if (post && post.name == this.form.keyword) {
						$(".ot-list-tag")
							.find(".tag_" + post.id)
							.addClass("current");
					} else {
						$(".ot-list-tag")
							.find(".tag_" + post.id)
							.removeClass("current");
					}
				});
				*/
			},
			["form.location"](newVal) {
			},
			["form.level"](newVal) {
			}
		}
	};
</script>

<style lang="scss" scoped>
	.job-box-cs {
		margin-top: 5px;
		padding: 0;
		border-bottom: 0.5px solid #ccccccb0;
	}
	
	.d-flex-between {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.border-bt {
		margin-bottom: 1rem;
		border-bottom: 1px solid #ccc;
		box-sizing: border-box;
		position: relative;
		
		&::before {
			content: "";
			height: 2px;
			background: red;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 26vw;
		}
	}
	
	.tag {
		.border-bt-tag {
			margin-bottom: 1rem;
			border-bottom: 1px solid #ccc;
			box-sizing: border-box;
			position: relative;
			
			&::before {
				content: "";
				height: 2px;
				background: red;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 74px;
			}
		}
		
		.content-tag {
			min-height: 35vh;
			background: #cccccc54;
			
			.mr-5px {
				margin: 10px 0 0 10px;
			}
		}
	}
	
	.location {
		.border-bt-location {
			margin-bottom: 1rem;
			border-bottom: 1px solid #ccc;
			box-sizing: border-box;
			position: relative;
			
			&::before {
				content: "";
				height: 2px;
				background: red;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 130px;
			}
		}
		
		.content-location {
			min-height: 35vh;
		}
	}
	
	.level {
		.border-bt-level {
			margin-bottom: 1rem;
			border-bottom: 1px solid #ccc;
			box-sizing: border-box;
			position: relative;
			
			&::before {
				content: "";
				height: 2px;
				background: red;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 208px;
			}
		}
	}
	
	.d-flex-col-center {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.cur-point {
		cursor: pointer;
	}
	
	.left {
		width: 100px !important;
	}
	
	.el-select {
		width: 100%;
	}
</style>
