<template>
	<div>
		<!--Duy start-->
		<div id="ot-top-job" class="ot-job">
			<div class="container ot-container">
				<div class="row">
					<div class="col-xs-12">
						<div class="ot-tab-job">
							<ul class="nav nav-tabs" role="tablist" id="tabs">
								<li role="presentation" :class="{ 'active': hot }">
									<a
											id="ll"
											href="javascript:void(0)"
											@click.prevent="changeTab(true)"
											aria-controls="top-job"
											role="tab"
											data-toggle="tab"
									>Top Job</a>
								</li>
								<li role="presentation" :class="{ 'active': !hot }">
									<a
											id="vl"
											href="javascript:void(0)"
											@click.prevent="changeTab(false)"
											aria-controls="new-job"
											role="tab"
											data-toggle="tab"
									>New Job</a>
								</li>
							</ul>
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="top-job">
									<div class="ot-tab-job-box">
										<div v-for="(job) in chunkedItems" class="item group-job">
											<div v-for="(jobItem) in job" class="box-item">
												<div class="block" style="display:block; height:100%;">
													<div class="ot-table" style="border-spacing: 0;">
														<div
																class="ot-image ot-table-cell"
																v-if="jobItem.client && jobItem.client.is_company_logo"
														>
															<img
																	:src="jobItem.client.company_logo"
																	:alt="jobItem.position"
																	width="124px"
																	height="124px"
															>
															<template v-if="jobItem.is_hot">
																<span class="hot-mark">HOT</span>
															</template>
														</div>
														<div class="ot-image ot-table-cell" v-else>
															<avatar
																	v-if="jobItem.client"
																	:username="jobItem.client.company_name"
																	background-color="#cdcdcd"
																	color="#fff"
																	:customStyle="{width : '124px', height : '124px'}"
																	:size="124"
																	:rounded="false"
																	:lighten="20"
															></avatar>
															<avatar
																	v-else
																	username="Grow Up"
																	background-color="#cdcdcd"
																	color="#fff"
																	:customStyle="{width : '124px', height : '124px'}"
																	:size="124"
																	:rounded="false"
																	:lighten="20"
															></avatar>
															<template v-if="jobItem.is_hot">
																<span class="hot-mark">HOT</span>
															</template>
														</div>
														<div class="ot-content ot-table-cell">
															<h2 class="title">
																<a :href="'/viec-lam/' + slugCategory(jobItem.client_job_category_id) + '/' + slugTitle(jobItem.position, jobItem.job_id)">
																	<span v-html="jobItem.position"></span>
																</a>
															</h2>
															
															<div class="ot-skill-sighin-more">
																<div class="skill_signin">
																	<h3 class="sub-title">
																		<p v-if="jobItem.client" class="company-name"><i
																				class="fa fa-home"></i><span
																				v-html="jobItem.client.company_name"></span>
																		</p>
																		<p v-if="(jobItem.country && jobItem.province) || jobItem.place_of_work"
																		   class="country">
																			<i class="fa fa-map-marker"></i>
																			<span
																					v-html="jobItem.place_of_work? jobItem.place_of_work : (jobItem.country.name + ' - ' + jobItem.province.name)"
																			></span>
																		</p>
																	</h3>
																	<p v-if="checkLogin()" class="salary">
																		<i class="fa fa-money"></i>
																		<span v-html="jobItem.salary"></span>
																	</p>
																	<a v-else class="sign-in" href="/dang-nhap">
																		<i class="fa fa-money"></i><span>Đăng nhập để xem</span>
																	</a>
																	<h4 v-if="jobItem.brief_sumary"
																	    class="skill title-limit-row-2"><i
																			class="fa fa-mortar-board"></i><span
																			v-html="jobItem.brief_sumary"></span></h4>
																</div>
																<div class="ot-more">
																	<!-- <h3 v-if="jobItem.is_hot" class="hot-job">Hot Job</h3>
																	<h3 v-else class="hot-job"> </h3>-->
																	<a
																			class="btn btn-more"
																			:href="'/viec-lam/' + slugCategory(jobItem.client_job_category_id) + '/' + slugTitle(jobItem.position, jobItem.job_id)"
																			:class="jobItem.is_hot ? 'red-color' : ''"
																	>
																		Chi tiết
																		<span class="ot-hovered"><i class="fa fa-chevron-right"></i></span>
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ot-pagination clearfix">
				<div v-if="pagination.total > pagination.per_page" class="text-center">
					<!-- Previous Page Link -->
					<span>
            <strong
		            style="margin-right: 6px;"
		            @click.prevent="changePage(pagination.current_page - 1)"
		            class="prev active"
            >
              <a href="javascript:void(0)" rel="prev"></a>
            </strong>
          </span>
					<!-- Element Page Link -->
					<span>
            <strong v-for="page in pagination.last_page" :key="page">
              <a
		              href="javascript:void(0)"
		              @click.prevent="changePage(page)"
		              class="page-link"
		              :class="{ 'active':pagination.current_page === page }"
              >
                <i class="fa fa-circle"></i>
              </a>
            </strong>
          </span>
					<!-- Next Page Link -->
					<span>
            <strong
		            style="margin-left: 6px;"
		            @click.prevent="changePage(pagination.current_page + 1)"
		            class="next active"
            >
              <a href="javascript:void(0)" rel="next"></a>
            </strong>
          </span>
				</div>
			</div>
		</div>
		<!--Duy end-->
	</div>
</template>

<script>
	import Avatar from "vue-avatar";
	
	export default {
		props: ["user", "new_jobs", "hot_jobs", "jobcategory"],
		components: {
			Avatar
		},
		data() {
			return {
				loading: false,
				pagination: {
					current_page: 0,
					total: 0,
					last_page: 0
				},
				jobs: {},
				hot: true
			};
		},
		mounted() {
			this.changeTab(this.hot);
		},
		computed: {
			chunkedItems() {
				return _.chunk(this.jobs, 2);
			}
		},
		methods: {
			slugCategory: function ($category_id) {
				let resultCategory = "";
				$.each(this.jobcategory, function (idx, categoryItem) {
					if (categoryItem.id == $category_id) {
						resultCategory = categoryItem.name;
						return false;
					}
				});
				return stringToSlug(resultCategory);
			},
			slugTitle: function ($title, $job_id) {
				return stringToSlug($title) + "-" + $job_id;
			},
			checkLogin() {
				if (this.user && this.user.id) {
					return true;
				}
				return false;
			},
			setPagination: function (datas) {
				if (datas) {
					this.pagination.current_page = datas.current_page;
					this.pagination.first_page_url = datas.first_page_url;
					this.pagination.from = datas.from;
					this.pagination.last_page = datas.last_page;
					this.pagination.last_page_url = datas.last_page_url;
					this.pagination.next_page_url = datas.next_page_url;
					this.pagination.url = datas.path;
					this.pagination.per_page = datas.per_page;
					this.pagination.prev_page_url = datas.prev_page_url;
					this.pagination.total = datas.total;
				}
			},
			changeTab: function (hot = true) {
				this.hot = hot;
				if (this.hot) {
					if (this.hot_jobs) {
						this.setPagination(this.hot_jobs);
						this.jobs = this.hot_jobs.data;
					}
				} else {
					if (this.new_jobs) {
						this.setPagination(this.new_jobs);
						this.jobs = this.new_jobs.data;
					}
				}
			},
			changePage: function (page) {
				if (
					page === this.pagination.current_page ||
					page <= 0 ||
					page > this.pagination.last_page
				) {
					return false;
				}
				$(".ot-job")
					.find("#top-job")
					.addClass("ot-fr-loading");
				var form = {
					page: page,
					hot: this.hot,
					page_size: 10
				};
				document.getElementById("ot-top-job").scrollIntoView();
				this.$axios
					.post("/get-job", form)
					.then(res => {
						if (res.data.data) {
							var jobs = res.data.data;
							this.jobs = jobs;
							this.setPagination(res.data);
						}
						
						$(".ot-job")
							.find("#top-job")
							.removeClass("ot-fr-loading");
					})
					.catch(err => {
						$(".ot-job")
							.find("#top-job")
							.removeClass("ot-fr-loading");
					});
			},
			scrollTopPage: function () {
				$("html, body").animate(
					{
						scrollTop: 0
					},
					300
				);
			}
		}
	};
</script>
