@charset "utf-8";

// variables
@padding-vertical-large 		: 6px;
@padding-horizontal-large 		: 12px;
@padding-vertical-base 			: 4px;
@padding-horizontal-base 		: 8px;
@padding-vertical-small 		: 2px;
@padding-horizontal-small 		: 4px;
@block-distance-base 			: 12px;

@color-base: @mainColor;

@button-height-base: 28px;
@border-size-base: 1px;
@stripe-height: 7px;

[class*="btn-effects-"] {
	position: relative;
	margin: @padding-vertical-base @padding-horizontal-large;
	padding: @padding-vertical-base @padding-horizontal-large;
	height: @button-height-base;
	border: none;
	background-color: transparent;
	color: @color-base;
	cursor: pointer;
	outline: none;
	transition: all 0.2s ease;
}

.btn-effects-1 {
	&::after,
	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 20%;
		height: 20%;
		border: 2px solid;
		transition: all 0.6s ease;
		border-radius: 2px;
		box-sizing: content-box;
	}
	&::before {
		top: 0;
		left: 0;
		border-bottom-color: transparent;
		border-right-color: transparent;
		border-top-color: @color-base;
		border-left-color: @color-base;
	}
	&::after {
		bottom: 0;
		right: 0;
		border-top-color: transparent;
		border-left-color: transparent;
		border-bottom-color: @color-base;
		border-right-color: @color-base;
	}
	&:hover:after,
	&:hover:before {
		width: 100%;
		height: 100%;
	}
}

.btn-effects-2 {
	&::before {
		z-index: -1;
		content: "";
		position: absolute;
		top: 0;
		background-color: rgba(231, 0, 18, .5);
		border-radius: @button-height-base;
		transition: all 0.6s ease;
	}
	&.left {
		&::before {
			left: 0;
			width: @button-height-base;
			height: @button-height-base;
		}
		&:hover {
			.arrow {
				.transform(translateX(0));
			}
			&::before {
				width: 100%;
				height: 100%;
			}
		}
		.arrow {
			position: relative;
			display: inline-block;
			margin-left: 12px;
			.transform(translateX(-6px));
			transition: all 0.3s ease;
		}
	}
	&.middle {
		&::before {
			left: 50%;
			width: 0;
			height: 100%;
		}
		&:hover {
			&::before {
				left: 0;
				width: 100%;
				background-color: rgba(231, 0, 18, .5);
				border: @border-size-base solid @color-base;
			}
		}
	}
	&:hover {
		color: #fff;
	}
}

.btn-effects-3 {
	&::before,
	&::after {
		z-index: -1;
		content: "";
		position: absolute;
		transition: all 0.6s ease;
	}
	&.top {
		&::before,
		&::after {
			left: 0;
			width: 100%;
			height: 0;
		}
		&::before {
			bottom: 0;
			border-left: @border-size-base solid @color-base;
			border-right: @border-size-base solid @color-base;
		}
		&::after {
			top: 0;
			background-color: rgba(231, 0, 18, .5);
		}
		&:hover {
			&::before,
			&::after {
				height: 100%;
			}
		}
	}
	&.bottom {
		&::before,
		&::after {
			left: 0;
			width: 100%;
			height: 0;
		}
		&::before {
			top: 0;
			border-left: @border-size-base solid @color-base;
			border-right: @border-size-base solid @color-base;
		}
		&::after {
			bottom: 0;
			background-color: rgba(231, 0, 18, .5);
		}
		&:hover {
			&::before,
			&::after {
				height: 100%;
			}
		}
	}
	&.middle {
		&::before,
		&::after {
			left: 50%;
			top: 0;
			width: 0;
			height: 100%;
		}
		&::before {
			border-top: 0 solid @color-base;
			border-bottom: 0 solid @color-base;
		}
		&::after {
			background-color: rgba(231, 0, 18, .5);
		}
		&:hover {
			&::before,
			&::after {
				left: 0;
				width: 100%;
			}
			&::before {
				border-top: @border-size-base solid @color-base;
				border-bottom: @border-size-base solid @color-base;
			}
			&::after {
				background-color: rgba(231, 0, 18, .5);
			}
		}
	}
	&.left {
		&::before,
		&::after {
			top: 0;
			width: 0;
			height: 100%;
		}
		&::before {
			right: 0;
			border-top: @border-size-base solid @color-base;
			border-bottom: @border-size-base solid @color-base;
		}
		&::after {
			left: 0;
			background-color: rgba(231, 0, 18, .5);
		}
		&:hover {
			&::before,
			&::after {
				width: 100%;
			}
		}
	}
	&.right {
		&::before,
		&::after {
			top: 0;
			width: 0;
			height: 100%;
		}
		&::before {
			left: 0;
			border-top: @border-size-base solid @color-base;
			border-bottom: @border-size-base solid @color-base;
		}
		&::after {
			right: 0;
			background-color: rgba(231, 0, 18, .5);
		}
		&:hover {
			&::before,
			&::after {
				width: 100%;
			}
		}
	}
	&:hover {
		color: #fff;
	}
}

.btn-effects-4 {
	position: relative;
	border: @border-size-base solid @color-base;
	.horizontal,
	.vertical {
		position: absolute;
		display: inline-block;
		transition: all 0.6s ease;
		&::before {
			content: "";
			position: absolute;
		}


	}
	.horizontal {
		top: -6px;
		bottom: -6px;
		left: 0;
		right: 0;
		border-top: @border-size-base solid @color-base;
		border-bottom: @border-size-base solid @color-base;
		&::before {
			top: 4px;
			bottom: 4px;
			left: -6px;
			right: -6px;
			border-top: @border-size-base solid @color-base;
			border-bottom: @border-size-base solid @color-base;
		}
	}
	.vertical {
		top: 0;
		bottom: 0;
		left: -6px;
		right: -6px;
		border-left: @border-size-base solid @color-base;
		border-right: @border-size-base solid @color-base;
		&::before {
			top: -6px;
			bottom: -6px;
			left: 4px;
			right: 4px;
			border-left: @border-size-base solid @color-base;
			border-right: @border-size-base solid @color-base;
		}
	}
	&:hover {
		.horizontal {
			.transform(scaleX(0));
		}
		.vertical {
			.transform(scaleY(0));
		}
	}
}

.btn-effects-5 {
	display: inline-block;
	width: 124px;
	text-align: center;
	border: @border-size-base solid @color-base;
	span {
		display: inline-block;
		min-width: 0.3em;
		text-transform: uppercase;
		transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
		opacity: 0;
		transform: translate(0, -20px);
	}
	&::before {
		content: attr(data-text);
		position: absolute;
		width: 100%;
		left: 0;
		transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
		text-transform: uppercase;
		opacity: 1;
		transform: translate(0, 0px);
	}
	&:hover,
	&:focus {
		&::before {
			opacity: 0;
			transform: translate(0, 20px);
		}
		span {
			opacity: 1;
			transform: translate(0, 0);
			&:nth-child(1) {
				transition-delay: 0.025s;
			}
			&:nth-child(2) {
				transition-delay: 0.05s;
			}
			&:nth-child(3) {
				transition-delay: 0.075s;
			}
			&:nth-child(4) {
				transition-delay: 0.1s;
			}
			&:nth-child(5) {
				transition-delay: 0.125s;
			}
			&:nth-child(6) {
				transition-delay: 0.15s;
			}
		}
	}
}

@keyframes stripe-slide {
	0% { background-position: 0% 0; }
	100% { background-position: 100% 0; }
}

.btn-effects-6 {
	padding: 0 @padding-horizontal-large @padding-vertical-base;
	text-decoration: none;
	-moz-user-select : text;
	background-color: #fff;
	color: @color-base;
	border: @border-size-base solid @color-base;
	border-radius: @button-height-base;
	transition: all .5s ease;
	&:-moz-focus-inner {
		padding : 0;
		border : 0;
	}
	&.stripe {
		overflow: hidden;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			display: block;
			height: @stripe-height;
			width: 100%;
			background-image: repeating-linear-gradient(45deg, @color-base, @color-base 1px, transparent 2px, transparent 5px);
			background-size: @stripe-height @stripe-height;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			border-top: 1px solid @color-base;
		}
		&:hover {
			background-color: @color-base;
			color: #fff;
			border-color: @color-base;
			&:after {
				background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
				border-top: 1px solid @color-base;
				animation: stripe-slide 12s infinite linear forwards;
			}
		}
	}
}

.btn-effects-7 {
	position: relative;
	display: inline-block;
	padding-top: 6px;
	.top {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		border-top: 2px solid @color-base;
		transition: width 0.1s ease;
		transition-delay: .1s;
	}
	.left {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 0;
		border-left: 2px solid @color-base;
		transition: height 0.1s ease;
		transition-delay: .2s;
	}
	.bottom {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 0;
		border-bottom: 2px solid @color-base;
		transition: width 0.1s ease;
		transition-delay: .3s;
	}
	.right {
		position: absolute;
		top: 0;
		right: 0;
		height: 0;
		border-right: 2px solid @color-base;
		transition: height 0.1s ease;
	}
	&:hover {
		.top {
			left: auto;
			right: 0;
			width: 100%;
		}
		.left {
			bottom: auto;
			top: 0;
			height: 100%;
		}
		.bottom {
			right: auto;
			left: 0;
			width: 100%;
		}
		.right {
			top: auto;
			bottom: 0;
			height: 100%;
		}
	}
}
