@charset "utf-8";
@import "variables.less";

@mainBgColor: #edeff3;
/* overwrite START */

.wrap-contact-box {
  margin: 20px 0;
  border-top: 1px solid #e9e9e9;
}

[class*="ot-box-title-type-"] {
	&.ot-title-basic {
		padding: 0;
		line-height: 1;
		.text {
			padding: 0 12px 8px;
			&::before {
				bottom: 0;
			}
		}
	}
}

.ot-header-menu {
	&.t-fixed {
		background-color: rgba(255, 255, 255, 1) !important;
	}
	.navbar-inverse .navbar-header .navbar-header-right .header-contact i.fa {
		vertical-align: top;
		font-size: 22px;
		color: @mainColor;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
	}
}

/* overwrite END */

.hotline {
	.hotline-phone {
		vertical-align: middle;
		display: inline-block;
		border: 1px solid @mainColor;
		padding: 2px 8px;
		border-radius: 18px;

		a {
			display: inline-block;
			vertical-align: top;
			padding: 2px 0;
		}

		&:hover,
		&:active,
		&:focus{
			border-color: @mainColor;
			background-color: @mainColor;
			i,
			a {
				color: #fff!important;
			}
		}
	}

	.login-link,
	.register-link {
		vertical-align: middle;
		padding: 6px 12px;
		color: #fff;
		border-radius: 16px;
	}

	.login-link {
		background-color: #5a5757;
		border: 1px solid #5a5757
	}

	.register-link {
		background-color: @mainColor;
		&:hover,
		&:active,
		&:focus{
			border-color: #000;
			background-color: #000;
		}
	}
}

.ot-about-box {
	background-color: @mainBgColor;
	.ot-about-content {
		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;

			li {
				overflow: hidden;
				margin-bottom: 16px;
				background-color: #fff;
				box-shadow: 0 0 4px 2px #ccc;
				border-bottom: 2px solid @mainColor;
				&:last-child {
					margin-bottom: 0;
				}
				.left,
				.right {
					padding: 8px 16px;
				}

				.left {
					position: relative;
					width: 128px;
					height: 128px;

					&::after {
						content: "";
						position: absolute;
						top: 30%;
						right: 0;
						height: 40%;
						border-right: 3px solid @mainColor;
					}
				}
			}
		}
	}
}

.ot-statistical-box {
	background-color: @mainBgColor;
}

.ot-status-box {
	.ot-status-content {
		ul {
			list-style: none;
			padding-left: 0;
			margin: 0 -16px;

			li {
				border-spacing: 16px 0;
				margin-bottom: 16px;

				.left-parent,
				.right-parent {
					padding: 0;
					width: 50%;
					margin-bottom: 16px;
					background-color: @mainBgColor;
					border-radius: 8px;
					border: 1px solid #cdcdcd;
					overflow: hidden;
					border-collapse: collapse;

					.right {
						position: relative;
						width: 124px;
						height: 124px;
						background-color: #fff;
						border-left: 1px solid #cdcdcd;

						&::before {
							content: "";
							position: absolute;
							left: -10px;
							top: 50%;
							width: 10px;
							height: 10px;
							background-color: #fff;
							border-top: 1px solid #cdcdcd;
							border-left: 1px solid #cdcdcd;
							transform: rotate(-45deg);
							-webkit-transform: rotate(-45deg);
							-moz-transform: rotate(-45deg);
							-o-transform: rotate(-45deg);
							transform-origin: top;
						}
					}
				}
			}
		}
	}
}

.ot-service-box {
	.ot-service-content {
		ul {
			list-style: none;
			padding-left: 0;
			margin: 0 -16px;

			li {
				border-spacing: 16px 0;

				&:first-child {
					margin-top: 12px;
				}

				.item-parent {
					position: relative;
					vertical-align: top;
					width: 25%;
					margin-bottom: 16px;
					padding: 24px 16px 46px;
					border-radius: 8px;
					border: 4px solid #ccc;
					border-collapse: collapse;
					cursor: pointer;
					&:hover {
						border-color: #666;
						box-shadow: 0 0 4px 2px #ccc;
					}
					.icon {
						position: absolute;
						top: -32px;
						left: 50%;
						width: 64px;
						height: 64px;
						padding: 0 8px;
						margin-left: -32px;
						background-color: #fff;
					}

					.title {
						text-align: center;
						font-weight: bold;
						font-size: 16px;
						color: @mainColor;
					}

					.text-content {
						.absolute-box {
							position: absolute;
							left: 16px;
							right: 16px;
							bottom: 12px;
							height: 32px;
						}
						.btn-default{
							border-color: @mainColor;
							color: @mainColor;
							background-color: #fff;
						}
						.btn-default:hover,
						.btn-default:active,
						.btn-default:focus{
							border-color: @mainColor;
							color: #fff;
							background-color: @mainColor;
						}
					}
				}
			}
		}
	}
}

.ot-step-box {
	.ot-step-content {
		ul {
			list-style: none;
			padding-left: 0;
			margin: 0 -16px;

			li {
				border-spacing: 16px 0;

				[class*="-parent"] {
					position: relative;
					vertical-align: top;
					width: 33.3333%;
					padding: 0 12px;
					margin-bottom: 16px;
					border-collapse: collapse;

					.text {
						position: absolute;
						left: 12px;
						right: 12px;
						padding: 24px 32px;
						margin: 0;
						color: #fff;
						font-size: 16px;
						font-weight: @fontWeightBold;
						text-align: center;
					}

					img {
						display: inline-block;
					}
				}
			}
		}
	}
}

.content {
	&.clients {
		.banner-section {
			.banner-box {
				position: relative;
				img {
					height: 320px;
					width: 100%;
					object-fit: cover;
				}
				.btn {
					background-image: url(/clients/img/icon/i-register.png);
					background-size: contain;
					background-repeat: no-repeat;
					bottom: 68px;
					left: calc(50% - 120px);
					width: 240px;
					height: 92px;
					background-color: transparent;
					border: none;
					box-shadow: none;
					&::after {
						content: none;
					}
				}
			}
			.banner-link-box {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 16px;
				text-align: center;
				.banner-link-item {
					display: inline-block;
					margin: 0 24px;
					padding: 8px 16px;
					background-color: #fff;
					font-weight: bold;
				}
			}
		}
	}
}

.ot-kaihatsushya-box {
	background: @mainBgColor url("/clients/img/icon/i-kaihatsushya-profile.png") no-repeat center bottom;

	.ot-kaihatsushya-title {
		padding: 6px 12px;
		margin-bottom: 12px;
		border-left: 3px solid @mainColor;
		background-color: #fff;
		color: @mainColor;
		font-size: 16px;
	}

	ul {
		font-size: 0;
		text-align: right;
	}

	.item-kaihatsushya {
		display: inline-block;
		vertical-align: top;
		margin-left: 2%;
		margin-bottom: 12px;
		width: 23%;
		padding: 4px 8px;
		font-size: 14px;
		text-align: left;
		background-color: #fff;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.ot-step-box {
		.ot-step-content {
			ul {
				li {
					[class*="-parent"] {
						.text {
							padding: 8px 12px;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.ot-step-box {
		.ot-step-content {
			ul {
				width: 278px;
				margin: 0 auto;
				padding: 0 12px;

				li {
					display: block;

					[class*="-parent"] {
						display: block;
						width: auto;
						&:last-child {
							margin-bottom: 0;
						}
						.text {
							padding: 8px 12px;
							font-size: 14px;
						}
						img {
							display: inline-block;
						}
					}
				}
			}
		}
	}

	.content {
		&.clients {
			.banner-section {
				.banner-box {
					img {
						height: 224px;
					}
					.btn {
						bottom: 24px;
					}
				}
				.banner-link-box {
					position: relative;
					bottom: 0;
					margin-top: @wrapDistanceBase;
					text-align: center;
					.banner-link-item {
						display: inline-block;
						min-width: 232px;
						margin-bottom: 8px;
						background-color: @mainColor;
						color: #fff;
						&:last-child {
							margin-bottom: 0;
						}
						.fa {
							color: #fff;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
	.ot-service-box {
		.ot-service-content {
			ul {
				margin: 0 -8px;

				li {
					border-spacing: 8px 0;

					.item-parent {
						padding: 16px 8px 42px;

						.icon {
							top: -24px;
							left: 50%;
							width: 48px;
							height: 48px;
							margin-left: -24px;
						}

						.text-content {
							.absolute-box {
								left: 8px;
								right: 8px;
								bottom: 8px;
							}
						}
					}
				}
			}
		}
	}

	.ot-step-box {
		.ot-step-content {
			ul {
				li {
					border-spacing: 8px 0;
				}
			}
		}
	}

	.ot-kaihatsushya-box {
		.item-kaihatsushya {
			width: 30.5%;
		}
	}
}

@media screen and (max-width: 480px) {

	.content {
		&.clients {
			.banner-section {
				.banner-box {
					.btn {
						left: calc(50% - 89px);
						bottom: 42px;
						width: 178px;
						height: 70px;
					}
				}
			}
		}
	}

	.ot-status-box {
		.ot-status-content {
			ul {
				margin: 0 auto;

				li {
					&.ot-table {
						display: block;
					}

					[class*="-parent"] {
						display: block;
						width: auto;
					}
				}
			}
		}
	}

	.ot-service-box {
		.ot-service-content {
			ul {
				width: 278px;
				margin: 0 auto;

				li {
					&.ot-table {
						display: block;
					}

					[class*="-parent"] {
						display: block;
						width: auto;
						margin-bottom: 48px;

						&:last-child {
							margin-bottom: 32px;
						}
					}
				}
			}
		}
	}

	.ot-kaihatsushya-box {
		.item-kaihatsushya {
			margin-left: 5%;
			width: 95%;
		}
	}
}

@media screen and (max-width: 420px) {

	.ot-about-box {
		.ot-about-content {
			ul {
				li {
					display: block;

					.left,
					.right {
						display: block;
					}

					.left {
						height: auto;
						margin: 0 auto;

						&:after {
							top: 100%;
							left: 30%;
							width: 40%;
							height: 0;
							border-right: none;
							border-bottom: 3px solid red;
						}
					}
				}
			}
		}
	}
}

.avatar-uploader .el-upload {
	border: 1px dashed #d9d9d9;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	overflow: hidden;

	&:hover .img-action {
		display: block;
	}

	.el-upload__input {
		display: none !important;
	}
}

.img-action {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

.avatar-uploader .el-upload:hover {
	border-color: #409EFF;
}

.avatar-uploader-icon {
	font-size: 28px;
	color: #8c939d;
	width: 178px;
	height: 122px;
	line-height: 178px;
	text-align: center;
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.avatar {
	width: 178px;
	height: 178px;
	display: block;
}

.larajs-d-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
}

.el-message {
	z-index: 99999 !important;
}
