@charset "utf-8";
@import "variables.less";
@import "mixins.less";
html {
	font-size: 100%;
}

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	// -webkit-font-smoothing: antialiased;
	font-size: 62.5%;
	color: #696969;
	&.vn {
		font-family: Helvetica, "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", "Osaka-mono", "monospace";
	}
}

button,
input[type="button"],
input[type="submit"],
[class*="btn-"],
a:hover,
a:focus {
	outline: 0 none!important;
}
.btn,
.btn-sm {
	padding-left: 16px;
	padding-right: 16px;
	border-radius: @buttonRadiusBase;
}
header,
.content,
.footer-v2 {
	font-size: 1.4em;
}

.clear-width-height {
	height: 0px;
	width: 0px;
	position: absolute;
	z-index: 0;
}

.ot-display-none {
	display: none;
}

#mapvn {
	width: 100%;
	height: 300px;
	&.small-map {
		height: 230px;
	}
}

#mapjp {
	width: 100%;
	height: 300px;
	&.small-map {
		height: 230px;
	}
}

.required {
	background: @requiredColor;
	color: @whiteColor;
	border-radius: 2px;
	padding: 2px;
	margin-left: 4px;
	.ot-font(.715em, 600);
}

a {
	&:hover {
		text-decoration: none;
	}
}

p {
	margin-left: 10px;
}

.txt-left {
	text-align: left;
}

.txt-center {
	text-align: center;
	img.img-responsive {
		display: inline-block;
	}
}

.txt-right {
	text-align: right;
	img.img-responsive {
		display: inline-block;
	}
}

.text-support {
	color: @supportColor;
}

.text-operation-and-monitor {
	color: @operationColor;
}

.text-labor {
	color: @laborColor;
}

.text-offshore {
	color: @offshoreColor;
}

.text-vr {
	color: @vrColor;
}

.bg-support {
	color: @whiteColor;
	background-color: @supportColor;
}

.bg-operation-and-monitor {
	color: @whiteColor;
	background-color: @operationColor;
}

.bg-labor {
	color: @whiteColor;
	background-color: @laborColor;
}

.bg-offshore {
	color: @whiteColor;
	background-color: @mainColor;
}

.blue-background {
	color: @whiteColor;
	background-color: @mainTextBackground;
}

.th-background {
	//background: @tableHeaderColor;
	//background: -webkit-linear-gradient(left, @tableHeaderColor 0%, @tableHeaderGradientsColor 100%);
	//background: -moz-linear-gradient(left, @tableHeaderColor 0%, @tableHeaderGradientsColor 100%);
	//background: -o-linear-gradient(left, @tableHeaderColor 0%, @tableHeaderGradientsColor 100%);
}

.white-background {
	background-color: @whiteColor;
}

.small-font {
	font-size: @smallFontsize;
}

.clear-float {
	clear: both;
}

a.no-under-line:hover {
	text-decoration: none;
}

.no-border {
	border: none!important;
}

.percent-90 {
	width: 90%;
}

.percent-10 {
	width: 10%;
}

.percent-80 {
	width: 80%;
}

.percent-20 {
	width: 20%;
}

.percent-75 {
	width: 75%;
}

.percent-25 {
	width: 25%;
}

.percent-70 {
	width: 70%;
}

.percent-30 {
	width: 30%;
}

.percent-65 {
	width: 65%;
}

.percent-35 {
	width: 35%;
}

.percent-60 {
	width: 60%;
}

.percent-40 {
	width: 40%;
}

.percent-50 {
	width: 50%;
}

.mt-0 {
	margin-top: 0;
}

.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mr-0 {
	margin-right: 0;
}

.mr-5 {
	margin-right: 5px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-20 {
	margin-right: 20px;
}

.ml-0 {
	margin-left: 0px;
}

.ml-5 {
	margin-left: 5px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-20 {
	margin-left: 20px;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.pt-0 {
	padding-top: 0;
}

.pt-5 {
	padding-top: 5px;
}

.pt-10 {
	padding-top: 10px;
}

.pt-20 {
	padding-top: 20px;
}

.pr-0 {
	padding-right: 0;
}

.pr-5 {
	padding-right: 5px;
}

.pr-10 {
	padding-right: 10px;
}

.pr-20 {
	padding-right: 20px;
}

.pb-0 {
	padding-bottom: 0;
}

.pb-5 {
	padding-bottom: 5px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pl-10 {
	padding-left: 10px;
}

.pl-20 {
	padding-left: 20px;
}

.pl-30 {
	padding-left: 30px;
}

.pl-40 {
	padding-left: 40px;
}

.no-background {
	background-color: transparent!important;
}
.no-padding {
	padding: 0!important;
}

@media screen and (min-width: 1200px) {
	.pc-fright {
		float: right;
	}
	.pc-fleft {
		float: left;
	}
	.pc-tcenter {
		text-align: center;
	}
	.pc-tleft {
		text-align: left;
	}
	.pc-tright {
		text-align: right;
	}
}

.help-block {
	display: inline-block;
}

.width-100 {
	width: 100px;
}

.width-150 {
	width: 150px;
}

.width-200 {
	width: 200px;
}

.width-250 {
	width: 250px;
}

.width-300 {
	width: 300px;
}

.width-400 {
	width: 400px;
}

.full {
	width: 100%;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: inherit;
	font-size: 100%;
	font-weight: normal;
}

.btn-question,
.btn-question-sm {
  display: inline-block;
  vertical-align: top;
}
.p-0 {
  	padding: 0;
}
.m-0 {
  	margin: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mt-3 {
  margin-top: 3rem !important;
}
.p-res {
  padding: 0;
}
@media screen and (max-width: 767px) {
  .p-responsive {
	padding: 0 !important;
  }
}
