@charset "utf-8";
@import "variables.less";
@import "mixins.less";
@import "buttons.less";
@import "slide-in.less";

body {
	font-family: Helvetica;
}

.list-share {
	margin-bottom: 20px;
	text-align: left;
}

ul {
	margin: 0 auto;
	list-style: none;
	padding: 0;
}

img {
	max-width: 100%;
}

.ot-single-container {
	margin-bottom: 24px;
}

.ot-wrap-basic {

}

.list-share li {
	display: inline-block;
	margin: 0 6px;
}

.os-no-display {
	z-index: -1;
	position: absolute;
	display: inline-block !important;
	width: 0 !important;
	height: 0 !important;
	padding: 0;
	margin: 0;
	border: none;
	overflow: hidden;
}

//Someone Purchased
.fomo-notification {
	display: none;
	width: 320px;
	border: 0;
	bottom: 20px;
	left: 20px;
	position: fixed;
	text-align: left;
	z-index: 99999;
	font-family: National, arial, sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 400;
	border-radius: 50px !important;
	-webkit-box-shadow: 2px 2px 10px 2px hsla(0, 0%, 60%, .2);
	box-shadow: 2px 2px 10px 2px hsla(0, 0%, 60%, .2);
	background-color: #fff;

	&.fomo-notification-animation-vertical {
		-webkit-animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
	}

	.fomo-notification-container {
		display: table !important;
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 80px;
		padding: 6px;
	}

	.fomo-notification-image-wrapper {
		max-height: 80px;
		width: 80px;
		padding: 10px !important;
		overflow: hidden;
		display: table-cell !important;
		vertical-align: middle;
		border-radius: 6px 0 0 6px;

		img {
			max-width: 100% !important;
			max-height: 100% !important;
			width: 100%;
			height: auto;
			vertical-align: middle;
			display: block;
			margin: 0 auto;
		}
	}

	.fomo-notification-content-wrapper {
		display: table-cell !important;
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
		margin: 0;
		height: 100%;
		padding-left: 5px !important;
		padding-right: 10px !important;
		color: gray;
		border-radius: 0 6px 6px 0;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		vertical-align: middle;

		.fomo-notification-content {
			font-size: 14px !important;
			line-height: 1.45 !important;
			color: black;
			//font-family: 'Montserrat', sans-serif !important;
			font-family: inherit !important;
			font-weight: 600;
			margin: 0 !important;
			padding: 0 !important;
			font-size: 16px;
			line-height: 16px;
		}
	}
}

.fomo-notification *,
.fomo-notification :after,
.fomo-notification :before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.fomo-notification-v2-curved {
	border-radius: 40px;

	.fomo-notification-image-wrapper {
		border-radius: 40px 0 0 40px;
		padding: 4px;

		img {
			border-radius: 50%;
		}
	}

	&:not(.fomo-notification-no-image) .fomo-notification-content-wrapper {
		padding: 0 20px;
	}

	.fomo-notification-content-wrapper {
		border-radius: 0 40px 40px 0;

		.fomo-notification-content {
			font-size: 12px;
			line-height: 14px;
		}
	}
}

/* table tab */
.ot-block-desc {
	padding: 10px 10px;
}

.ot-tab-content {
	border: 1px solid #E9E9E9;
}

.ot-table {
	table-layout: auto;

	.ot-table-row {
		display: table-row;

		&:last-child .ot-table-cell::before {
			border-bottom-width: 0;
		}
	}

	.ot-table-cell {
		position: relative;
		padding: 4px 8px;
		word-wrap: break-word;
		word-break: break-word;
	}
}

.ot-search-filter,
.ot-search-content {
	.thead {
		font-weight: bold;

		.ot-table-cell {
			&::before {
				position: absolute;
				content: "";
				bottom: 0;
				left: 8px;
				right: 8px;
				border-bottom: 2px solid #E9E9E9;
			}

			&:nth-child(3) {
				&::before {
					border-bottom-width: 2px;
				}
			}

			&:nth-child(4) {
				&::before {
					border-bottom-width: 2px;
				}
			}
		}
	}

	.ot-table-cell {
		&::before {
			position: absolute;
			content: "";
			bottom: 0;
			left: 8px;
			right: 8px;
			border-bottom: 1px solid #E9E9E9;
		}

		&:nth-child(1) {
			width: 35%;
		}

		&:nth-child(2) {
			width: 17.5%;
		}

		&:nth-child(3) {
			width: 17.5%;
		}

		&:nth-child(4) {
			width: 30%;
		}
	}
}

.ot-tabcontent-footer .ot-table-cell {
	width: 50%;
}

.tab-content-footer-left,
.tab-content-footer-left {
	position: relative;
}

.tab-content-footer-left {
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 21px;
		border-top: 1px solid #E9E9E9;
	}

	&::after {
		content: "";
		position: absolute;
		top: 1px;
		right: 21px;
		height: 60px;
		border-left: 1px solid #E9E9E9;
		transform: rotate(-45deg);
		transform-origin: 0 0;
	}
}

.announce_page_email {
	position: relative;
	padding: 12px 42px;

	&::before {
		position: absolute;
		content: "";
		top: 42px;
		left: 21px;
		right: 0;
		border-bottom: 1px solid #E9E9E9;
	}

	.pagination {
		margin: 8px 4px;
	}
}

.nav-tabs {
	border-bottom: 1px solid #E9E9E9;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border-color: #E9E9E9 #E9E9E9 rgba(0, 0, 0, 0);
}

.ot-block-title-detail {
	position: relative;
	padding: 4px 12px 4px 24px;
	font-size: 18px;

	*::before {
		position: absolute;
		content: "";
		left: 0;
		right: 0;
		bottom: 0;
		border-bottom: 1px solid #E9E9E9;
	}

	&::before {
		position: absolute;
		content: "";
		top: 8px;
		left: 0;
		border-left: 12px solid #E9E9E9;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
	}

	&::after {
		position: absolute;
		content: "";
		top: 8px;
		left: 0;
		border-left: 6px solid #fff;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
	}
}

.ot-recruit-box {
	width: 80%;
	margin: 0 auto;
}

[class*="ot-marks-"] {
	position: relative;
	padding-left: 24px;
}

[class*="ot-marks-"]::before {
	position: absolute;
	content: "";
	top: 6px;
	left: 8px;
	width: 8px;
	height: 8px;
	background-color: #E9E9E9;
}

.ot-marks-circle::before {
	border-radius: 50%;
}

.ot-marks-rhombus::before {
	transform: rotate(-45deg);
}

.ot-marks-triangle::before {
	width: 0;
	height: 0;
	border-left: 8px solid #E9E9E9;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	background-color: transparent;
}

.ot-marks-triangle2 {
	&::before {
		width: 0;
		height: 0;
		border-left: 8px solid #E9E9E9;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		background-color: transparent;
	}

	&::after {
		position: absolute;
		content: "";
		top: 6px;
		left: 8px;
		width: 0;
		height: 0;
		border-left: 4px solid #fff;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		background-color: transparent;
	}
}

/* End */
.blue-button {
	background: @mainColor;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 8px 24px;
	cursor: pointer;
	display: inline-block;
}

.blue-button:hover {
	color: #fff;
	background: @mainColor;
}

.main-color {
	color: @mainColor;
}

a.red-color,
.red-color {
	color: @mainColor;
}

.background-red-color {
	background-color: #e6012c;
}

.hotline {
	font-size: 14px;
}

.login-link {
	display: inline-block;
	vertical-align: middle;
	max-width: 160px;
	padding: 4px 12px;
	margin-left: 4px;
	font-size: 14px;
	color: #333;
	background: #fff;
	border: 1px solid @mainColor;
	border-radius: @buttonRadiusBase;

	&:visited,
	&:focus,
	&:active {
		color: #333;
		text-decoration: none;
	}
}

.login-link:hover {
	color: #fff;
	background: @mainColor;
	border: 1px solid @mainColor;
}

.register-link {
	display: inline-block;
	vertical-align: middle;
	max-width: 160px;
	font-size: 14px;
	color: #fff;
	border-radius: 4px;
	padding: 4px 12px;
	margin-left: 4px;
	background: @mainColor;
	border: 1px solid @mainColor;

	&:visited,
	&:focus,
	&:active {
		color: #fff;
		text-decoration: none;
	}

	&:hover {
		color: #fff;
		background: #eb535f;
		border: 1px solid #eb535f;
	}
}

.logo-jbaa-section {
	margin-bottom: 14px;
}

.section-title {
	width: 100%;
	padding: 32px 0;
	text-align: center;

	h2 {
		font-size: 24px;
		color: #E6012C;
	}

	strong {
		display: block;
		font-size: 20px;
		color: #E6012C;
		margin-top: 10px;
		font-family: "Times New Roman", "Roboto Slab", Garamond, "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
		font-weight: bold;
	}
}

.about-top p {
	margin-left: 0;
}

.red-title-h3 {
	width: 100%;
	text-align: center;
	padding: 10px 0;
	font-size: 18px;
	color: @mainColor;
}

.section-link {
	margin-top: 18px;

	a {
		display: inline-block;
		color: @mainColor;
		text-decoration: none;
		border-radius: 24px;
		border: solid 1px @mainColor;
		margin: 0 auto;
		background-color: #fff;
		background-size: 200% 100%;
		background-image: linear-gradient(to right, transparent 51%, rgba(230, 0, 45, 0.9) 51%);
		transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;

		&:hover {
			color: #fff;
			background-color: @mainColor;
		}

		span {
			display: block;
			width: auto;
			padding: 10px 40px 10px 55px;
			background: url(../img/link_arrow_off.png) no-repeat 30px center;
			background-size: 6px 11px;

			&:hover {
				background: url(../img/link_arrow_on.png) no-repeat 30px center;
				background-size: 6px 11px;
			}
		}
	}
}

.section-link-half {
	float: left;
	width: 50%;
	text-align: center;
}

.grade-div {
	text-align: center;
	color: #FFF;
	background-color: @mainColor;
	width: 100%;
	padding: 12px 0;
	font-size: 18px;
}

.grade-div-top {
	font-size: 1.1em;
}

.grade-div-bottom {
	font-size: 2.1em;
}

.grade-p {
	margin-top: 10px;
	text-align: justify;
	margin-left: 0;
}

.exam-top2 {
	margin-top: 16px;
}

.exam-top3 {
	margin-top: 10px;
}

.highlight-paragraph {
	font-weight: bold;
	font-size: 20px;
	margin-left: 0;
}

.trouble-cause {
	list-style-type: none;
	padding-left: 0;
}

.p-end {
	padding-left: 0;
	padding-top: 4px;
	margin-left: 0;
	text-align: justify;
}

.image-div {
	margin: 18px 0;
}

.policy-title {
	font-size: 18px;
	font-weight: bold;
	margin: 12px 0;
}

.policy-content {
	font-size: 15px;
}

.approved_list {
	border: none;
	border-bottom: solid 1px #CCC;
}

.approved_cate h2 {
	display: block;
	font-size: 18px;
	color: #FFF;
	background-color: @mainColor;
	text-align: center;
	width: auto;
	padding: 8px 0;
	margin: 0 auto;
}

.approved_list_ul {
	list-style-type: none;
	padding-left: 0;

	li {
		padding: 10px 20px;

		&:hover {
			background-color: #e9e9e9;
			cursor: pointer;
		}

		&:nth-child(odd) {
			background-color: #f5f5f5;
		}
	}

	a {
		display: block;
		text-align: left;
		color: #333;
		text-decoration: none;
		background: url(../img/link-icon%20.png) no-repeat right center;
	}
}

.trouble-cause li {
	text-align: center;
	color: @mainColor;
	border: solid 1px @mainColor;
	padding: 14px 0;
	margin-right: 16px;
	margin-top: 10px;
	font-weight: bold;
}

.test-info-section {
	margin: 16px 0;
}

.test-info-row {
	margin: 4px 0 8px 0;

	label {
		color: @mainColor;
	}

	div {
		padding-left: 0;
	}

	input {
		width: 50%;
		border: 1px solid #d4d4d4;
		border-radius: 4px;
		padding: 4px;
	}
}

/* hungnv@onetech.vn BEGIN */

.btn-grey {
	color: #fff;
	background-color: #909399;
}
.btn-primary {
	color: #fff;
	background-color: @mainColor;
	border-color: @mainColor;

	&:hover,
	&:active,
	&:focus {
		background-color: #000;
		border-color: #000;
		color: #fff;
	}
}
.btn-default {
	border-color: @mainColor;
	&:hover,
	&:active,
	&:focus {
		background-color: @mainColor;
		border-color: @mainColor;
		color: #fff;
	}
}

.bx-wrapper .bx-pager.bx-default-pager a {
	border: 1px solid #cdcdcd;
	background-color: #fff !important;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
	border: 1px solid @mainColor;
	background-color: @mainColor !important;
}

.mCSB_inside {
	.mCSB_container {
		margin-right: 12px !important;
	}

	.mCSB_scrollTools {
		width: 6px;

		.mCSB_dragger {

			&:hover,
			&.mCSB_dragger_onDrag {
				.mCSB_dragger_bar {
					background-color: @mainColor;
				}
			}

			.mCSB_dragger_bar {
				width: 6px;
				background-color: @mainColor;
			}
		}

		.mCSB_draggerRail {
			width: 6px;
			background-color: rgba(0, 0, 0, .25);
		}
	}
}

.banner-section {
	position: relative;
	overflow: hidden;

	.btn {
		position: absolute;
		bottom: 25%;
		left: calc(50% - 62px);
		border-radius: 0;
		box-shadow: 1px 1px 4px #3a3a3a;
	}
}

[class*="btn-"] {
	&.has-mark-next {
		padding-right: 24px;

		&::after {
			position: absolute;
			content: "";
			top: calc(50% - 4px);
			right: 12px;
			width: 10px;
			height: 10px;
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
			transform: rotate(45deg);
		}
	}
}

.ot-intro-box {
	[class*="item-"] {
		vertical-align: middle;
		padding: 0 8px;

		video {
			max-width: 100%;
			height: auto;
		}
	}

	.item-summary {
		vertical-align: top;
		width: 32.5%;
		text-align: justify;
	}

	.item-video {
		width: 35%;
		background-color: beige;
	}

	.item-news {
		vertical-align: top;
		width: 37.5%;
	}

	.news-box {
		list-style: none;
		padding-left: 0;
		overflow-y: auto;
		max-height: 256px;

		.news-item {
			border-bottom: 1px solid @mainColor;

			&:last-child {
				border-bottom: none;
			}
		}

		.thumb-nail {
			width: 78px;
			padding: 8px 0;
			vertical-align: top;
		}

		.title {
			color: @mainColor;
			font-weight: bold;
		}
	}
}

[class*="ot-box-title-type-"] {
	overflow: hidden;
	margin-top: @wrapDistanceBase!important;
	margin-bottom: @wrapDistanceBase!important;
	text-align: center;
	font-size: @h2Fontsize;

	.text {
		position: relative;
		display: inline-block;
		padding: 0 12px 24px;

		&::before {
			content: "";
			position: absolute;
			left: 20%;
			right: 20%;
			bottom: 11px;// (24px of padding bottom/2) - (1px of border)
			border: 1px solid @mainColor;
		}
	}

	.fa {
		position: absolute;
		left: calc(50% - 24px);
		bottom: 0;
		padding: 0 12px;
		background-color: #fff;
		color: @mainColor;
	}

	&.has-background {
		.fa {
			background-color: #f2f2f2;
		}
	}
}

.ot-public-images-slider {
	&.has-background {
		background: url("/frontend/img/bg-grey.png") repeat;
		background-position: left center;
	}

	.bx-wrapper {
		margin: 0 auto 24px;
		box-shadow: none;
		background-color: transparent;
		border: 0;

		.bx-pager {
			padding: 8px 0;
		}
	}
}

.ot-recruit-slider {
	padding: 12px 0;
	background: url("/frontend/img/bg-grey.png") repeat;
	background-position: left center;

	&.no-background {
		background: none;
	}

	[class*="ot-box-title-type-"] {
		&.has-background {
			.fa {
				background-color: #f4f5f5;
			}
		}
	}

	.bx-wrapper {
		margin: 0 auto 24px;
		box-shadow: none;
		background-color: transparent;
		border: 0;

		.bx-pager {
			padding: 8px 0;
		}
	}

	.recruit-slider {
		li {
			padding: 4px;
		}

		.item {
			box-shadow: 0 0 4px #dedede;
			padding: 4px 4px 24px;
			margin-bottom: 10px;
			background-color: #fff;

			.title {
				color: @mainColor;
				font-weight: bold;
				min-height: 40px;
				margin: 6px 0;
			}

			.desc {
				min-height: 40px;
				margin: 6px 0;
			}

			button {
				position: absolute;
				margin-left: 0;
				margin-right: 0;
				bottom: 0;
				right: 16px;

				&.arrow {
					padding-right: 22px;
				}
			}
		}
	}
}

.contact-box {
	display: block;
	margin: 0 auto;
	width: 642px;
	height: 112px;
	padding: 14px 8px 16px;
	left: calc(50% - 321px);
	bottom: -48px;
	color: #fff;
	background-color: @mainColor;
	text-align: center;

	p {
		margin: 0 0 4px 0;
	}

	.fa {
		vertical-align: middle;
		margin-right: 4px;
		font-size: 18px;
	}

	.contact {
		font-weight: bold;
		margin-top: 6px;

		.item {
			margin: 0 8px;
			color: #FFF;

			&[class*="btn-"] {
				color: @textColor;
				border-radius: 16px;
				border: none;
				box-shadow: 0 2px 4px #cdcdcd;
			}
		}

		&.modify {
			margin-top: 12px;
		}
	}
}

.ot-works-box {
	background: url("/frontend/img/bg-grey.png") repeat;
	background-position: left center;

	&.no-background {
		background: none;
	}

	[class*="ot-box-title-type-"] {
		&.has-background {
			.fa {
				background-color: #f4f5f5;
			}
		}
	}

	.works-box {
		position: relative;
		padding: 16px 16px 60px 16px;
		background-color: #fff;
		box-shadow: 0 0 4px #dedede;
		margin-bottom: 60px;

		&.employee-box {
			.ot-table {
				.ot-table-cell:nth-child(1) {
					width: 5%;
					text-align: center;
				}

				.ot-table-cell:nth-child(2) {
					width: 15%;
					text-align: center;
				}

				.ot-table-cell:nth-child(3) {
					width: 10%;
					text-align: center;
				}
			}
		}

		.ot-table {
			border: 1px solid #f2f2f2;

			.ot-table-row:last-child {
				.ot-table-cell {
					border-bottom: none;
				}
			}

			.ot-table-cell {
				border-bottom: 1px solid #f2f2f2;
			}

			.ot-table-cell:nth-child(1) {
				width: 25%;
				font-weight: bold;
			}

			.ot-table-cell:nth-child(3) {
				width: 25%;
			}

			.ot-table-cell:nth-child(2),
			.ot-table-cell:nth-child(4) {
				width: 15%;
			}

			.ot-table-cell:nth-child(5),
			.ot-table-cell:nth-child(6) {
				width: 10%;
			}
		}

		.thead {
			position: relative;
			background-color: #f2f2f2;
			font-weight: bold;
			text-align: center;

			.ot-table-cell {
				&::after {
					position: absolute;
					content: "";
					top: 4px;
					right: 0;
					bottom: 4px;
					border-right: 2px solid #fff;
				}

				&:last-child {
					&::after {
						display: none;
					}
				}
			}
		}

		.contact-box {
			position: absolute;
			display: inline-block;
			width: 642px;
			height: 96px;
			padding: 8px;
			left: calc(50% - 321px);
			bottom: -48px;
			color: #fff;
			background-color: @mainColor;
			text-align: center;

			p {
				margin: 0 0 4px 0;
			}

			.fa {
				margin-right: 4px;
				font-size: 18px;
			}

			.contact {
				font-weight: bold;
				margin-top: 6px;

				.item {
					margin: 0 8px;
					color: #fff;

					&[class*="btn-"] {
						color: @textColor;
						border-radius: 16px;
						border: none;
						box-shadow: 0 2px 4px #cdcdcd;
					}
				}
			}
		}
	}
}

.ot-kh-box {
	padding: 12px 0;

	&.has-background {
		background: url("/frontend/img/bg-grey.png") repeat;
		background-position: left center;
	}

	.kh-box {
		margin-bottom: 16px;
		border-spacing: 16px 0;

		.item-box {
			position: relative;
			padding: 16px 16px 80px 16px;
			box-sizing: content-box;
			box-shadow: 0 0 4px #dedede;

			&::before {
				position: absolute;
				content: "";
				left: 0;
				right: 0;
				bottom: 80px;
				border-bottom: 1px solid #e1e1e1;
			}
		}

		.item {
			.title {
				min-height: 48px;
				padding: 4px 0;
				color: @mainColor;
				font-weight: bold;
			}

			.button-box {
				position: absolute;
				padding: 0 14px;
				left: 0;
				right: 0;
				bottom: 4px;
			}

			button {
				margin: 4px 2px;
			}
		}
	}

	.bx-wrapper {
		margin: 0 auto 24px;
		box-shadow: none;
		background-color: transparent;
		border: 0;

		.bx-viewport {
			padding: 4px;
			box-sizing: content-box;
		}

		.bx-pager {
			padding: 8px 0;
		}
	}
}

.ot-growup-footer {
	font-size: 1.4em;
	color: #fff;
	background-color: #333;

	&.small-fontsize {
		font-size: 12px;
	}

	.ot-table-cell {
		&.link {
			.footer-d {
				margin: 0 0 10px;

				a {
					i {
						font-size: 16px;
						padding-right: 6px;
						color: #fff;
					}

					&:hover {
						color: #ccc;

						i {
							color: #ccc;
						}
					}
				}
			}
		}
	}

	.ot-footer-top {
		padding: 6px 0;
	}

	.link-info {
		.link-info-item {
			display: block;
			margin: 4px 0;
		}
	}

	.ot-social-button {
		display: inline-block;
		margin: 4px;
		padding: 4px;
		line-height: 0;
		border-radius: 50%;
		background-color: #1a1a1a;

		&:hover {
			&.facebook-icon {
				background-color: #3b5998;
			}

			&.twitter-icon {
				background-color: #1da1f2;
			}

			&.pinterest-icon {
				background-color: #cb2027;
			}

			&.youtube-icon {
				background-color: #cd201f;
			}

			&.linkedin-icon {
				background-color: #0077b5;
			}
		}

		svg {
			width: 24px;
			height: 24px;
			fill: #fff;
		}
	}

	.content-item {
		.contact-box-title {
			margin-bottom: 12px;
			font-weight: @fontWeightBold;
		}

		.contact-box-complex {
			.contact-mail,
			.contact-phonenumber {
				margin-bottom: 10px;
			}
		}
	}

	.facebook .fb_iframe_widget {
		width: 100%;

		span {
			width: 100% !important;
		}
	}

	.ot-footer-box {
		.logo {
			width: 18.5%;
			text-align: center;

			.img-responsive {
				display: inline-block;
				max-width: 108px;
			}
		}

		.link {
			vertical-align: top;
			width: 57.5%;
		}

		.facebook {
			vertical-align: top;
			width: 25%;
			padding-bottom: 12px;

			.form-mail {
				position: relative;
				margin-bottom: 0px;
				padding-right: 68px;

				.btn {
					position: absolute;
					top: 0;
					right: 0;
				}
			}

			.addthis-wrap {
				margin: 0 -2px;

				.at-share-btn {
					margin: 4px 2px;
				}
			}

			.button-only {
				iframe {
					background-color: transparent !important;
				}
			}
		}

		.left,
		.right {
			vertical-align: top;

			a {
				display: block;
				padding: 2px 4px;
				color: #fff;
			}
		}

		.info {
			padding: 12px 8px;
			border: 1px solid #fff;
			border-radius: 6px;

			.fa {
				min-width: 20px;
				margin: -4px 4px 0;
				font-size: 20px;
				text-align: center;
				text-indent: 0;
				display: inline-block;
				vertical-align: middle;
			}

			p {
				margin-left: 0;
				margin-left: 28px;
				text-indent: -28px;

				a {
					color: #fff;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		a {
			color: #fff;
		}

		.footer-d {
			display: inline-block;
			width: 49%;

			&.three-column {
				width: 32.75%;
				vertical-align: top;

				&.modify {
					width: 30%;

					&:last-child {
						width: 38.5%;
					}
				}
			}
		}

		[class*='title-'] {
			display: inline-block;
			margin: 4px 0;
			font-size: 14px;
		}

		.title-underline {
			border-bottom: 1px solid #fff;
		}
	}

	.ot-copyright {
		padding: 6px 0;
		font-size: 12px;
		background-color: @mainColor;
	}
}

.ot-intro-box,
.ot-recruit-slider,
.ot-kh-box {
	[class*="btn-"] {
		position: relative;
		padding: 4px 8px;
		font-size: 13px;
		border-radius: 0;

		&.arrow {
			padding-right: 28px;

			&::before {
				position: absolute;
				content: "";
				top: calc(50% - 4px);
				right: 8px;
				width: 8px;
				height: 8px;
				border-top: 1px solid #fff;
				border-right: 1px solid #fff;
				transform: rotate(45deg);
			}

			&::after {
				position: absolute;
				content: "";
				top: 50%;
				right: 8px;
				width: 16px;
				height: 16px;
				border-top: 1px solid #fff;
			}
		}
	}
}

.road-box {
	position: relative;

	[class*="above-"],
	[class*="below-"] {
		position: absolute;
		width: 2px;
		height: 30%;
		background-color: @mainColor;

		.header,
		.footer {
			position: absolute;
			content: "";
		}

	}

	[class*="above-"] {
		.header {
			top: 0;
			left: 0;
			border-left: 12px solid @mainColor;
			border-top: 6px solid @mainColor;
			border-bottom: 6px solid @mainColor;
		}

		.footer {
			bottom: 0;
			left: -3px;
			width: 8px;
			height: 8px;
			background-color: @mainColor;
			border-radius: 50%;
		}
	}

	[class*="below-"] {
		.header {
			top: 0;
			left: -3px;
			width: 8px;
			height: 8px;
			background-color: @mainColor;
			border-radius: 50%;
		}

		.footer {
			bottom: 0;
			left: 0;
			border-left: 12px solid @mainColor;
			border-top: 6px solid @mainColor;
			border-bottom: 6px solid @mainColor;
		}
	}
}

.ot-login-box {
	width: 500px;
	margin: 0 auto;

	.link {
		margin-top: 12px;
		display: inline-block;
		text-decoration: underline;
	}
}

.ot-comment-box {
	margin: 12px 0;

	.comment-box {
		text-align: center;

		.comment-item {
			width: 32.5%;
			display: inline-block;
			vertical-align: top;
			font-size: 24px;

			&:nth-child(1) {
				padding: 52px 72px 75px;
				background: url(/frontend/img/bg-comment-1.png) center no-repeat;
				background-size: contain;
			}

			&:nth-child(2) {
				padding: 20px 72px 98px;
				background: url(/frontend/img/bg-comment-2.png) center no-repeat;
				background-size: contain;
			}

			&:nth-child(3) {
				padding: 32px 72px;
				background: url(/frontend/img/bg-comment-3.png) center no-repeat;
				background-size: contain;
			}
		}
	}

	.comment-slogan {
		position: relative;
		width: 80%;
		margin: 16px auto 12px;
		padding: 12px 24px;
		background: @mainColor;
		color: #fff;
		text-align: center;
		font-size: 18px;

		span {
			display: inline-block;
		}

		strong {
			font-size: 22px;
		}

		.rocket {
			position: absolute;
			top: -22px;
			right: -32px;
			bottom: 0;
			width: 64px;
		}
	}
}

@roadHeight: 168px;
@roadHeightHalf: @roadHeight/2;
@roadBorder: 24px;
@roadBorderHalf: @roadBorder/2;

#popupApply {
	.modal-header {
		font-size: 22px;
		color: @mainColor;
	}

	.modal-body {
		color: @textColor;
	}

	.control-label {
		margin: 6px 0;
	}
}

.popup-help {
	position: relative;

	.btn-question {
		position: absolute;
		left: 0;
		right: 0;

		.fa {
			font-size: 12px;
			color: #0096d3;
		}
	}

	.popover {
		min-width: 300px;
		max-width: 700px;

		.grid-degree-inline {
			input {
				width: 64px !important;
				max-width: none !important;
			}
		}
	}
}

.cv-box-container {
	overflow: auto;

	.cv-box {
		width: 210mm;
		min-height: 297mm;
		margin: 12px auto;
		padding: 12.7mm;
		font-size: 0.9285715em;

		.ot-default-info {
			.absolute-box {
				position: absolute;
				bottom: 0;
			}

			.right {
				width: 180px;
				padding: 2px 4px !important;

				.thumb-nail {
					width: 35mm;
					height: 45mm;
					margin: 0 auto;
					background-color: #efefef;

					&:hover {
						outline: 1pt dashed #77a5cc;
					}
				}
			}

			.fullname-field {
				text-transform: uppercase;
				font-size: 1.384615em;
			}

			.birthday-box {
				border-top: 1px solid #333;
				border-bottom: none !important;
			}

			.gender-box {
				width: 105px;
				border-top: 1px solid #333;
				border-bottom: none !important;
			}
		}

		.content-wrap {
			padding: 3mm 0;

			.content-box {
				border: 2px solid #333;


				&.middle-content-box {
					.ot-table-cell {
						width: 50%;
					}
				}

				.has-validation:empty {
					outline: 1px dashed #fc4b08;
				}

				[contenteditable="true"] {
					outline: none;

					&:empty::before {
						content: attr(aria-placeholder);
						color: #9197a3;
						font-weight: 100;
						left: 8px;
						right: 8px;
					}
				}

				.ot-multi-columb-box {
					border-bottom: 1px dotted #ccc;

					label,
					.left {
						display: inline-block;
						width: 20%;
						margin: 0;
						padding: 4px 8px;
					}

					p,
					span,
					.right {
						position: relative;
						display: inline-block;
						width: 79%;
						margin: 0;
						padding: 4px 8px;

						&:hover {
							outline: 1pt dashed #77a5cc;
						}
					}
				}

				.ot-single-columb-box {
					label {
						display: block;
						margin: 0;
						padding: 4px 8px;
					}

					p,
					span {
						position: relative;
						display: block;
						margin: 2px;
						padding: 2px 6px;

						&[contenteditable="true"] {
							display: inline-block;
							width: 100%;

							&:hover {
								outline: 1pt dashed #77a5cc;
							}
						}
					}
				}

				.action-box {
					z-index: 1;
					position: absolute;
					display: none;
					top: 0;
					right: 0;
					max-width: 76px;
					padding: 1px 4px;
					text-align: right;

					span {
						display: inline-block;
						padding: 0;
					}

					a {
						padding: 2px 8px;

						&.btn-info:not(:first-child) {
							margin-right: 2px;
						}

						&.btn-danger {
							margin-left: 2px;
						}
					}
				}
			}

			.ot-group-hover,
			&.ot-group-hover {
				&:hover {
					.action-box {
						display: block;
					}
				}
			}

			.projectworked-box {
				.ot-table-cell:first-child {
					width: 25%;
				}

				.ot-table-cell:last-child {
					width: 75%;
				}

				[class*="projectworked-"] {
					padding: 4px 8px;
				}

				.pd-r-178 {
					padding-right: 178px;
				}

				.mini-flex {
					position: absolute;
					display: flex;
					top: 0;
					right: 0;
					bottom: -1px;
					width: 178px;
					border-left: 1px solid #333;

					.ot-table-cell:first-child {
						width: 35%;
					}

					.ot-table-cell:last-child {
						width: 65%;
					}
				}
			}

			.itskill-box {
				.content-box {
					display: inline-block;
					vertical-align: top;
					width: 32.5%;
					border-top: 2px solid #333;
				}

				.ot-table-cell:first-child {
					width: 80%;
				}

				.ot-table-cell:last-child {
					width: 21%;
					text-align: center;
				}

				[class*="itskill-"] {
					padding: 4px 8px;
				}

				.header {
					background-color: #d0d7e0;
				}
			}
		}

		.ot-table {
			.ot-table-cell {
				padding: 0;

				&.ver-top {
					vertical-align: top;
				}

				&.ver-bottom {
					vertical-align: bottom;
				}
			}

			.ot-table-row {
				.ot-table-cell {
					border-left: 1px solid #333;
					border-bottom: 1px solid #333;

					&:first-child {
						border-left: none;
					}
				}

				&:last-child {
					.ot-table-cell {
						border-bottom: none;
					}
				}

				&.three-cell {
					.ot-table-cell:nth-child(1) {
						width: 20%;
					}

					.ot-table-cell:nth-child(2) {
						width: 20%;
					}

					.ot-table-cell:nth-child(3) {
						width: 60%;
					}
				}
			}
		}

		.cv-title {
			font-size: 24px;
			margin: 0;
		}
	}
}

.croppie-box {
	.content-wrap {
		.left {
			.croppie-container {
				.cr-slider-wrap {
					margin: 15px 0;
				}
			}

			.button-wrap {
				position: absolute;
				bottom: 50px;
				right: 8px;
			}
		}

		.right {
			vertical-align: top;
			width: 180px;

			button {
				margin: 4px 0;
				padding: 3px 12px;

				&.btn-sm {
					padding: 2px 8px;
				}
			}

			a {
				display: block;
				font-size: 13px;
				color: @mainColor;
				text-decoration: underline;
			}

			img {
				width: 35mm;
				height: 45mm;
				margin-bottom: 6px;
			}
		}
	}
}

.errors-box {
	padding: 8px;
	font-style: italic;

	a {
		display: block;
		color: #fff;
		text-decoration: underline;

		&:hover {
			color: #f9f9f9;
		}
	}
}

/* hungnv@onetech.vn END */
.section_title > h2 {
	font-size: 1.8em;
}

.faq_content {
	font-family: Arial, "Roboto Slab", Garamond, "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	color: black;

	ul {
		list-style-type: none;
		padding-left: 0;

		li.faq-item {
			width: auto;
			overflow: hidden;
			border: solid 1px #ccc;
			border-radius: 5px;

			.faq-question {
				position: relative;
				background-color: #cdcdcd;
				padding: 10px 10px 10px 50px;
				cursor: pointer;

				&:hover {
					color: @mainColor;
					background-color: #cdcdcd;
				}

				&::before {
					content: "Q";
					position: absolute;
					top: 10px;
					left: 24px;
					font-weight: bold;
				}
			}

			.faq-anwser {
				position: relative;
				text-align: left;
				padding: 10px 10px 10px 50px;
				background-color: #FFF;

				&::before {
					content: "A";
					position: absolute;
					top: 10px;
					left: 24px;
					font-weight: bold;
				}
			}
		}
	}

	.faq-pretty {
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.faq-anwser > p {
	padding: 0;
	margin: 0;
}

.faq-anwser > p > a {
	text-decoration: underline;
	color: @mainColor;
	cursor: pointer;
}

.form-check-inline {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 0;
	margin-right: .75rem;
}

.input-other {
	width: 100%;
}

.ot-box-title .table-cell {
	height: auto;
}

input[type='radio'] {
	margin: 4px 4px 0;

	&:after {
		width: 15px;
		height: 15px;
		border-radius: 15px;
		top: -2px;
		left: -1px;
		position: relative;
		background-color: #d1d3d1;
		content: '';
		display: inline-block;
		visibility: visible;
		border: 2px solid white;
		margin-right: 2px;
	}

	&:checked:after {
		width: 15px;
		height: 15px;
		border-radius: 15px;
		top: -2px;
		left: -1px;
		position: relative;
		background-color: @mainColor;
		content: '';
		display: inline-block;
		visibility: visible;
		border: 2px solid white;
	}
}

.ot-header-menu.t-fixed .navbar-inverse .navbar-nav > li.active > a {
	background: #e9e9e9 !important;
}

.survey-label {
	color: @mainColor;
}

.survey-result-title {
	color: @mainColor;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}

.survey-result-thank {
	color: @mainColor;
	font-size: 18px;
	text-align: center;
}

.survey-result-score {
	color: @mainColor;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.survey-result-description {
	color: @mainColor;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.highlight-section {
	margin-top: 8px;
}

.highlight-link {
	margin-bottom: 8px;

	a {
		width: 75%;
		display: inline-block;
		color: #fff;
		text-decoration: none;
		border-radius: 24px;
		border: solid 1px @mainColor;
		margin: 0 auto;
		background-color: @mainColor;
		background-size: 200% 100%;
		background-image: linear-gradient(to right, transparent 51%, rgba(230, 0, 45, 0.9) 51%);
		transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;

		&:hover {
			color: #fff;
			background-color: @mainColor;
		}

		span {
			display: block;
			width: auto;
			padding: 8px 40px;
			background: url(../img/link_arrow_on.png) no-repeat 30px center;
			background-size: 6px 11px;

			&:hover {
				background: url(../img/link_arrow_on.png) no-repeat 30px center;
				background-size: 6px 11px;
			}
		}
	}
}

.ot-center {
	text-align: center;

	img {
		display: inline-block;
	}
}

.ot-step-share-box {
	display: table;
	table-layout: fixed;
	width: 100%;

	.ot-table-cell {
		display: table-cell;
		vertical-align: top;
		width: 50%;
	}
}

.ot-share-button img {
	max-width: 256px;
	width: 100%;
	height: auto;
}

.ot-color-desc {
	position: relative;

	.desc {
		background-color: @mainColor;
		color: #fff;
		padding-left: 24px;
		padding-right: 24px;
		margin-left: 0;
	}
}

.ot-pr-box {
	margin-bottom: 0px;

	.ot-book-box,
	.ot-gift-box {
		display: table;
		table-layout: fixed;
		width: 100%;
		margin-bottom: 12px;

		img {
			max-width: 100%;
			height: auto;
			display: inline-block;
		}
	}

	.ot-book-box {
		width: 80%;
		margin: 0 auto 12px;

		.img {
			display: table-cell;
			width: 40%;
			padding-right: 12px;
			vertical-align: middle;
			text-align: center;
		}

		.desc {
			display: table-cell;
			width: 60%;
			padding-left: 24px;
			vertical-align: middle;
		}
	}

	.ot-gift-box {
		.img {
			display: table-cell;
			width: 40%;
			padding-left: 12px;
			vertical-align: middle;
			text-align: center;
		}

		.desc {
			display: table-cell;
			width: 60%;
			padding-right: 12px;
			vertical-align: middle;
		}
	}
}

.text-16 {
	font-size: 16px;
	font-weight: bold;

	&.blue {
		color: @mainColor;
	}
}

.text-24 {
	font-size: 24px;
	font-weight: bold;

	&.blue {
		color: @mainColor;
	}
}

.text-underline {
	text-decoration: none;
}

.ot-condition {
	position: relative;
	text-align: center;
	width: 80%;
	margin: 12px auto;

	&::before {
		z-index: -1;
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		border-top: 1px solid @mainColor;
	}

	.text {
		padding-left: 16px;
		padding-right: 16px;
		background-color: #fff;
		color: @mainColor;
		font-size: 18px;
	}
}

.ot-condition-box {
	text-align: center;
	margin-bottom: 12px;

	.text {
		width: 650px;
		text-align: left;
		display: inline-block;
		margin-bottom: 8px;

		&.modify {
			width: 60%;
		}
	}

	.text-600 {
		width: 600px;
		text-align: left;
		display: inline-block;
		margin-bottom: 8px;
	}
}

.ot-app-box {
	margin-bottom: 12px;

	.ot-app-img {
		margin-bottom: 8px;
	}

	.ot-app-title {
		font-weight: bold;
	}
}

.sp-only-show {
	display: none;
}

.pc-only-show {
	display: block;
}

@media screen and (min-width: 1024px) {
	.two-column .base-column {
		width: 48%;
		float: left;
		margin-right: 38px;
	}

	.two-column .base-column.column2 {
		margin-right: 0;
	}

	.three-column .base-column {
		width: 31%;
		float: left;
		margin-right: 32px;
	}

	.three-column .base-column.column3 {
		margin-right: 0;
	}

	.trouble-cause li {
		float: left;
		width: 32%;
	}

	.trouble-cause li.right-end {
		margin-right: 0;
	}

	.footer-v2 {
		padding-top: 60px;
	}

	.content {
		padding-top: 0px;
	}

	.has-mark {
		position: relative;
	}

	.has-mark .mae::before {
		content: "";
		position: absolute;
		top: 18px;
		left: -16px;
		margin-top: -10px;
		border-left: 10px solid @mainColor;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}

	.has-mark .mae::after {
		content: "";
		position: absolute;
		top: 18px;
		left: -20px;
		margin-top: -10px;
		border-left: 10px solid #fff;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}

	.has-mark .ushiro::before {
		content: "";
		position: absolute;
		top: 18px;
		left: -24px;
		margin-top: -10px;
		border-left: 10px solid @mainColor;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}

	.has-mark .ushiro::after {
		content: "";
		position: absolute;
		top: 18px;
		left: -28px;
		margin-top: -10px;
		border-left: 10px solid #fff;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}

	.ot-color-desc {
		width: 82%;
		margin: 0 auto;
	}

	.ot-color-desc .desc {
		line-height: 32px;
	}

	.ot-color-desc .left-mark {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 24px;
	}

	.ot-color-desc .left-mark::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 24px;
		border-left: 16px solid #fff;
		border-bottom: 16px solid transparent;
	}

	.ot-color-desc .left-mark::after {
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		width: 24px;
		border-top: 16px solid transparent;
		border-left: 16px solid #fff;
	}

	.ot-color-desc .right-mark {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 24px;
	}

	.ot-color-desc .right-mark::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 24px;
		border-right: 16px solid #fff;
		border-bottom: 16px solid transparent;
	}

	.ot-color-desc .right-mark::after {
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		width: 24px;
		border-top: 16px solid transparent;
		border-right: 16px solid #fff;
	}

	.ot-condition-box.ot-mtt-20.ot-response-info.ot-response-info {
		width: 60%;
		text-align: left;
		margin: 0 auto;
	}

	.text.ot-text-response-info {
		width: auto;
	}

	.text.ot-text-response-info.ot-text-response-info-100 {
		width: 100% !important;
	}

	.ot-reponsive-img.ot-text-response-info-center {
		text-align: center;
	}

	.text.ot-text-response-info.ot-img-center {
		width: 100%;
		text-align: center;
	}

	.ot-growup-footer {
		.contact-box-complex {
			display: table;
			table-layout: fixed;
			width: 100%;
			margin-bottom: 10px;

			.contact-mail,
			.contact-phonenumber {
				display: table-cell;
				width: 50%;
			}

			.contact-phonenumber {
				text-align: right;
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	.ot-color-desc .desc {
		border-radius: 4px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.two-column .base-column {
		width: 100%;
		float: left;
		margin-top: 16px;
	}

	.trouble-cause li {
		width: 100%;
	}

	.footer-v2 {
		padding-top: 30px;
	}

	.grade-div {
		font-size: 16px;
		padding: 8px 0;
	}

	.content {
		padding-top: 0px;
	}

	.ot-pr-box .ot-book-box .desc br,
	.ot-pr-box .ot-gift-box .desc br {
		display: none;
	}

	.has-mark {
		position: relative;
	}

	.has-mark .mae::before {
		content: "";
		position: absolute;
		top: 18px;
		left: -16px;
		margin-top: -10px;
		border-left: 10px solid @mainColor;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}

	.has-mark .mae::after {
		content: "";
		position: absolute;
		top: 18px;
		left: -20px;
		margin-top: -10px;
		border-left: 10px solid #fff;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}

	.has-mark .ushiro::before {
		content: "";
		position: absolute;
		top: 18px;
		left: -24px;
		margin-top: -10px;
		border-left: 10px solid @mainColor;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}

	.has-mark .ushiro::after {
		content: "";
		position: absolute;
		top: 18px;
		left: -28px;
		margin-top: -10px;
		border-left: 10px solid #fff;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}

	/* hungnv@onetech.vn BEGIN */
	.banner-section {
		.banner-box {
			width: 120%;
			margin-left: -10%;
		}
	}

	.ot-comment-box {
		.comment-box {
			.comment-item {
				width: 238px;
				font-size: 18px;

				&:nth-child(1) {
					padding: 36px 58px 58px;
				}

				&:nth-child(2) {
					padding: 36px 52px 95px;
				}

				&:nth-child(3) {
					padding: 24px 48px;
				}
			}
		}

		.comment-slogan {
			width: 678px;
		}
	}

	/* hungnv@onetech.vn END */
	.ot-growup-footer {
		.ot-footer-box {
			.logo {
				width: 15%;

				.img-responsive {
				}
			}

			.link {
				width: 57.5%;
			}

			.facebook {
				width: 27.5%;
			}

			[class*='title-'] {
				font-size: 13px;
			}

			.info {
				p {
					&:last-child {
						min-height: 2.85em;
					}
				}
			}
		}
		.ot-social-button {
			margin: 4px 2px;
		}
	}
}

@media screen and (min-width: 768px) {
	.ot-growup-footer {
		.content-item {
			width: 50%;
			.contact-box-address {
				min-height: 2.8em;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	[class*="ot-box-title-type-"] {
		font-size: 20px;
		.fa {
			left: calc(50% - 22px);
		}
	}

	.croppie-box .content-wrap .right {
		display: block;
		margin: 0 auto;
	}

	.croppie-box .content-wrap .left {
		display: block;
	}

	.section-link {
		margin-top: 0;
	}

	.croppie-box .content-wrap .left .button-wrap {
		bottom: 64px;
	}

	.section-link-half {
		width: 100%;
		text-align: center;
		margin-top: 4px;
	}

	.section-link a {
		width: 260px;
		margin-top: 16px;
	}

	.trouble-cause li {
		width: 100%;
	}

	.grade-div {
		font-size: 15px;
		padding: 8px 0;
	}

	.ot-box-title {
		margin-top: 8px;
	}

	.test-info-row input {
		width: 100%;
	}

	.ot-pr-box .ot-book-box .desc br,
	.ot-pr-box .ot-gift-box .desc br {
		display: none;
	}

	.ot-pr-box .ot-book-box {
		width: 100%;
	}

	.ot-condition {
		width: 100%;
	}

	.sp-only-show {
		display: block;
	}

	.pc-only-show {
		display: none;
	}

	.ot-recruit-box {
		width: 100%;
	}

	.ot-condition-box.ot-mtt-20.ot-response-info.ot-response-info {
		width: 80%;
		text-align: left;
		margin: 0 auto;
	}

	.text.ot-text-response-info {
		width: auto;
	}

	/* hungnv@onetech.vn BEGIN */
	.banner-section {
		.banner-box {
			width: 140%;
			margin-left: -20%;
		}
	}

	.ot-intro-box {
		display: block;

		[class*="item-"] {
			display: block;
			width: auto;
			margin-bottom: 12px;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.ot-works-box {
		.works-box {
			padding: 8px;
			margin-bottom: 16px;

			.contact-box {
				position: relative;
				left: auto;
				bottom: auto;
				width: 100%;
				height: auto;

				.contact {
					.item {
						display: inline-block;
						margin: 2px 8px;
					}
				}
			}
		}
	}

	.ot-kh-box {
		.kh-box {
			.item {
				margin-bottom: 4px;
			}
		}
	}

	.ot-growup-footer {
		&.clients {
			.ot-copyright {
				margin-bottom: 0;
			}
		}
		.ot-footer-box {
			display: block;

			.logo {
				display: block;
				width: auto;
				margin: 0 0 20px;
			}

			.link {
				display: block;
				width: auto;
			}

			.facebook {
				display: block;
				width: auto;
				text-align: center;

				.fb_iframe_widget {
					span {
						text-align: center;

						iframe {
							left: 50%;
							top: 50%;
							-webkit-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
						}
					}
				}
			}
		}

		.ot-copyright {
			margin-bottom: 44px;
		}
	}

	/* hungnv@onetech.vn END */
}

@media screen and (min-width: 640px) and (max-width: 767px) {

	/* hungnv@onetech.vn BEGIN */
	.ot-growup-footer {
		.ot-footer-box {
			display: block;

			.logo {
				display: block;
				width: auto;
			}

			.link {
				display: inline-block;
				width: 49.5%;
			}

			.facebook {
				display: inline-block;
				width: 49.5%;
			}
		}
	}

	.ot-comment-box {
		.comment-box {
			.comment-item {
				width: 198px;
				font-size: 18px;

				&:nth-child(1) {
					padding: 38px 38px 52px;
				}

				&:nth-child(2) {
					padding: 28px 36px 56px;
				}

				&:nth-child(3) {
					padding: 24px 28px;
				}
			}
		}

		.comment-slogan {
			width: auto;
			margin: 16px 24px 12px 0;
			padding: 8px 24px 8px 24px;

			span {
				font-size: 16px;
			}

			strong {
				font-size: 20px;
			}
		}
	}

	/* hungnv@onetech.vn END */
}

@media screen and (max-width: 639px) {
	/* hungnv@onetech.vn BEGIN */
	.ot-comment-box {
		.comment-box {
			.comment-item {
				width: 260px;
				height: 212px;
				font-size: 16px;

				&:nth-child(1) {
					height: 192px;
					padding: 48px 64px 42px;
				}

				&:nth-child(2) {
					padding: 48px 50px;
				}

				&:nth-child(3) {
					height: 192px;
					padding: 48px;
				}
			}
		}

		.comment-slogan {
			width: auto;
			margin: 16px auto 12px;
			padding: 8px 12px;

			span {
				font-size: 16px;
			}

			strong {
				font-size: 20px;
			}

			.rocket {
				bottom: -48px;
				right: -8px;
				top: auto;
				width: 42px;
			}
		}
	}

	/* hungnv@onetech.vn END */
	.ot-growup-footer {
		.ot-footer-box {
			.content-wrap {
				display: block;

				.content-item {
					display: block;
				}
			}

			.footer-d {
				&.three-column {
					width: 49% !important;
				}
			}
		}

		.ot-dmca {
			text-align: center;
		}
	}
}

@media screen and (min-width: 481px) and (max-width: 767px) {
	.ot-pr-box .ot-book-box .img {
		padding-right: 6px;
	}

	.ot-pr-box .ot-gift-box .img {
		padding-left: 6px;
	}

	.ot-pr-box .ot-book-box .desc {
		padding-left: 6px;
	}

	.ot-pr-box .ot-gift-box .desc {
		padding-right: 6px;
	}

	.ot-video-youtube iframe {
		width: 320px;
		height: 180px;
	}
}

@media screen and (max-width: 480px) {
	.ot-login-box {
		width: 320px;
		margin: 0 auto;

		&.modified {
			width: 100%;
		}
	}

	.ot-status-box {
		.ot-status-content {
			ul {
				margin: 0 auto;

				li {
					&.ot-table {
						display: block;
					}

					[class*="-parent"] {
						display: block;
						width: 100% !important;
					}
				}
			}
		}
	}

	.ot-pr-box .ot-book-box,
	.ot-pr-box .ot-gift-box {
		display: block;
		margin-bottom: 12px;
		box-shadow: 0 1px 4px #ccc;
		padding: 8px;
	}

	.ot-pr-box .ot-book-box .img,
	.ot-pr-box .ot-gift-box .img,
	.ot-pr-box .ot-book-box .desc,
	.ot-pr-box .ot-gift-box .desc {
		display: block;
		width: 100%;
		padding: 0;
	}

	.ot-condition-box {
		margin-bottom: 12px;
	}

	.ot-condition-box .text,
	.ot-condition-box .text.modify {
		width: auto;
		display: block;
	}

	.ot-condition-box br {
		display: none;
	}

	.text-24 {
		font-size: 22px;
	}

	.text-16 {
		font-size: 15px;
	}

	.has-mark {
		position: relative;
		padding-left: 12px;
	}

	.has-mark .mae::before {
		content: "";
		position: absolute;
		top: 16px;
		left: 2px;
		margin-top: -8px;
		border-left: 8px solid @mainColor;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
	}

	.has-mark .mae::after {
		content: "";
		position: absolute;
		top: 16px;
		left: -2px;
		margin-top: -8px;
		border-left: 8px solid #fff;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
	}

	.has-mark .ushiro::before {
		content: "";
		position: absolute;
		top: 16px;
		left: -6px;
		margin-top: -8px;
		border-left: 8px solid @mainColor;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
	}

	.has-mark .ushiro::after {
		content: "";
		position: absolute;
		top: 16px;
		left: -10px;
		margin-top: -8px;
		border-left: 8px solid #fff;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
	}

	.ot-video-youtube iframe {
		width: 320px;
		height: 180px;
	}

	.ot-color-desc {
		display: table;
		margin: 12px 0;
	}

	.ot-color-desc .desc {
		display: table-cell;
		height: 60px;
		vertical-align: middle;
	}

	.ot-color-desc .left-mark {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 24px;
	}

	.ot-color-desc .left-mark::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 24px;
		border-left: 16px solid #fff;
		border-bottom: 30px solid transparent;
	}

	.ot-color-desc .left-mark::after {
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		width: 24px;
		border-top: 30px solid transparent;
		border-left: 16px solid #fff;
	}

	.ot-color-desc .right-mark {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 24px;
	}

	.ot-color-desc .right-mark::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 24px;
		border-right: 16px solid #fff;
		border-bottom: 30px solid transparent;
	}

	.ot-color-desc .right-mark::after {
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		width: 24px;
		border-top: 30px solid transparent;
		border-right: 16px solid #fff;
	}

	/* hungnv@onetech.vn START */
	.banner-section {
		.btn {
			bottom: 10%;
		}

		.banner-box {
			width: 190%;
			margin-left: -45%;
		}
	}

	#popupApply {
		.modal-header {
			font-size: 18px;
		}
	}

	/* hungnv@onetech.vn END */
	.contact-box {
		width: 100%;
		height: auto;

		.contact {
			.item {
				display: inline-block;
			}
		}
	}
}

.item-time {
	display: inline-block;
	font-size: 1.2em;
	font-weight: 700;
}

.item-category {
	display: inline-block;
	float: right;
	font-size: 1.2em;
}

[class^=ot-mark-] {
	display: inline-block;
	padding: 4px 8px;
	color: #fff;
	line-height: 1;
}

p.blue {
	color: @mainColor;
}

.ot-flex-jus-center {
	display: flex;
	justify-content: center;
}

.ot-mtt-20 {
	margin-top: -20px;
}

.ot-reponsive-img {
	width: 100%;
	max-width: 600px;
	height: auto;
}

.ot-reponsive-input {
	width: 100% !important;
	max-width: 400px !important;
}

.img-banner-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ot-status-box {
	.ot-status-content {
		ul {
			list-style: none;
			padding-left: 0;
			margin: 0 -16px;

			li {
				border-spacing: 16px 0;
				margin-bottom: 16px;

				.left-parent,
				.right-parent {
					padding: 0;
					width: 50%;
					margin-bottom: 16px;
					background-color: #edeff3;
					border-radius: 8px;
					border: 1px solid #cdcdcd;
					overflow: hidden;
					border-collapse: collapse;

					.right {
						position: relative;
						width: 124px;
						height: 124px;
						background-color: #fff;
						border-left: 1px solid #cdcdcd;

						&::before {
							content: "";
							position: absolute;
							left: -10px;
							top: 50%;
							width: 10px;
							height: 10px;
							background-color: #fff;
							border-top: 1px solid #cdcdcd;
							border-left: 1px solid #cdcdcd;
							transform: rotate(-45deg);
							-webkit-transform: rotate(-45deg);
							-moz-transform: rotate(-45deg);
							-o-transform: rotate(-45deg);
							transform-origin: top;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 360px) {
	.modal-body {
		padding: 15px 4px;
	}

	.ot-video-youtube iframe {
		width: 280px;
		height: 158px;
	}

	.popup-help {
		.popover {
			min-width: 300px;
			max-width: 300px;
		}
	}
}

// tanmnt - start
.larajs-job-fair {
	border: 1px solid @mainColor;
	padding: 1rem 0;

	.larajs-content {
		line-height: 1.5rem;

		strong {
			text-transform: uppercase;
		}
	}
}

.larajs-job-fair-detail {
	.larajs-banner {
		position: relative;

		.larajs-banner-date {
			padding: 10px;
			background: #fff;
			text-align: center;

			strong {
				font-size: 1.5rem;
			}
		}
	}

	.larajs-title {
		padding: 5px;
		border-left: 3px solid @mainColor;
		border-bottom: 1px solid @mainColor;
	}

	.larajs-content {
		line-height: 1.5rem;
		padding: 0.5rem;

		.total-company {
			margin-bottom: 5px;
		}
	}

	.larajs-process {
		.larajs-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 1rem;

			.border-process {
				padding: 10px;
				border: 4px solid @mainColor;
				width: 47vw;
				border-radius: 0.5rem;
				text-align: center;

				&:before {
					content: '';
				}
			}

			.arrow-down {
				font-size: 2rem;

				&:last-child {
					display: none;
				}
			}
		}
	}
}

.width-100vw {
	width: 100vw;
}

.cl-orange {
	color: orange;
}

.larajs-space-line {
	white-space: pre-line;
}

@media screen and (max-width: 776px) {
	.larajs-job-fair {
		.col-sm-4 {
			margin-bottom: 1rem;
		}
	}

	.p-res {
		padding: 0 15px;
	}
}

.larajs-d-flex-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.larajs-dropdown {
	display: inline-block;
	position: relative;

	.dropdown-name {
		display: inline-table;
		vertical-align: middle;
		padding: 0 10px;
		transition: .3s;
		cursor: pointer;
		border: none;

		.avatar,
		.info {
			display: table-cell;
			vertical-align: middle;

			.name {
				display: block;
				width: 64px;
				overflow: hidden;
				text-align: center;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}

	.sub-dropdown {
		z-index: 1;
		visibility: hidden;
		position: absolute;
		top: 62px;
		min-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		transition: .3s;
		opacity: 0;
		background: #fff;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		border-top: 3px solid @mainColor;

		a {
			text-align: left;
			display: block;
			text-decoration: none;
			padding: 8px;
			color: @textColor;
			transition: .1s;
			white-space: nowrap;
			width: 100%;

			&:hover {
				color: #fff;
				background: @mainColor;
			}
		}
	}

	&:hover {
		.sub-dropdown {
			visibility: visible;
			opacity: 1;
		}
	}
}

.hover-profile {
	visibility: visible;
	opacity: 1;
}

//tanmnt - end

//Anh Nguyen add
.item-content {
	.item-news-title {
		margin: 10px 0;
		color: #337ab7;
		font-size: 1.4em;
		font-weight: 700;
	}

	h2,
	h3,
	h4 {
		margin-top: 20px;
		margin-bottom: 10px;
		font-weight: 600;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 16px;
	}

	p {
		margin: 0 0 10px;
	}

	figcaption {
		margin: 10px;
	}

	figure {
		margin: 1em;
	}

	ul {
		margin: 20px;
		list-style: square;
		padding: 0;
		padding-inline-start: 20px;
	}

	a {
		color: @mainColor;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
		&.btn-primary {
			color: #fff;
		}
	}

	blockquote {
		padding: 10px 20px;
		margin: 0 0 20px;
		font-size: 14px;
		border-left: 5px solid @mainColor;
		background: #ddd;
		font-style: italic;
	}
}
//Anh Nguyen end
