@charset "utf-8";
@import "variables.less";

.call-to-action {
	padding: 32px 124px;
	font-size: 28px;
	margin-top: 16px;
}

/* select2 modify START */
.ot-select2-wrap {
	position: relative;
	
	.fa {
		z-index: 1;
		position: absolute;
		top: 6px;
		left: 20px;
		font-size: 24px;
		color: #8f8f8f;
		&.fa-mortar-board {
			font-size: 18px;
			top: 10px;
		}
		&.fa-language {
			font-size: 18px;
			top: 8px;
		}
	}
	
	.select2-container--bootstrap {
		.select2-selection--single {
			height: 36px;
			padding: 6px 12px 6px 32px;
		}
		
		&.select2-container--focus,
		&.select2-container--open {
			.select2-selection {
				-webkit-box-shadow: none;
				box-shadow: none;
				-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
				-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
				transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
				transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
				transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
				border-color: @mainColor;
			}
		}
	}
}

.select2-container--bootstrap {
	.select2-dropdown {
		border-color: @mainColor !important; // NOT MOVE PLZ
	}
	
	.select2-results__option--highlighted[aria-selected] {
		background-color: #ff7d78 !important;
	}
}

/* select2 modify END */

@media screen and (max-width: 767px) {
	.call-to-action {
		padding: 15px 30px;
		font-size: 18px;
		margin-top: 20px;
	}
}
