@charset "utf-8";
@import "variables.less";
@import "mixins.less";
@import "buttons.less";
@import "loading.less";

body {
	font-family: 'Open Sans', sans-serif;
	color: @textColor;
}

a {
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.white-space {
	white-space: pre-line;
}

.social-sidebar-container {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 50%;
	right: 16px;
	width: 64px;
	margin-top: -95px;
	text-align: center;
	
	.sidebar-item {
		margin-bottom: 4px;
		background-color: #fff;
		border: 1px solid @mainColor;
		transition: all .15s ease-in-out;
		
		&:hover {
			box-shadow: 0 0 4px 0 rgba(231, 0, 18, .25);
		}
		
		&:last-child {
			margin-bottom: 0;
		}
		
		a {
			display: block;
			padding: 8px;
		}
		
		a:focus,
		a:active,
		a:hover {
			color: #fff;
			background-color: @mainColor;
			text-decoration: none;
		}
		
		.fa {
			font-size: 24px;
		}
		
		.sidebar-item-text {
			display: block;
		}
	}
}

.hover-type-blur {
	a {
		position: relative;
		display: block;
		
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(255, 255, 255, .25);
			opacity: 0;
			transition: all .25s ease-in-out;
		}
	}
	
	&:hover {
		a {
			&::before {
				opacity: 1;
			}
		}
	}
}

.content {
	.ot-title-basic {
		margin: 0 0 @wrapDistanceBase;
		font-size: @h2Fontsize;
		font-weight: @fontWeightBold;
		line-height: 1;
	}
}

.select2-results__option {
	font-size: 120%;
}

.notify-wrap-modify {
	.container,
	.ot-container {
		width: auto;
		max-width: 100%;
		margin-bottom: 12px;
	}
}

.basic-mark {
	position: absolute;
	padding: 2px 4px;
	font-size: 10px;
	line-height: 1;
	color: #fff;
	background-color: @mainColor;
	border-radius: 3px;
	transition: all .2s ease-in-out;
	
	&::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: -4px;
		margin-left: -4px;
		border-top: 4px solid @mainColor;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
	}
}

.menu-link {
	position: relative;
	vertical-align: middle;
	margin: 0 4px;
	font-weight: @fontWeightBold;
	
	&.has-mark {
		padding-right: 24px;
	}
	
	&:active,
	&:focus {
		color: @mainColor;
		text-decoration: none;
	}
	
	&:hover {
		.basic-mark {
			top: -14px;
		}
	}
	
	.basic-mark {
		top: -16px;
		right: 0;
	}
}

.wrap-contact-box {
	margin: 20px 0;
}

.ot-hovered {
	display: none;
}

.ot-block-full-height {
	height: 100%;
}

.navbar-wrapper.ot-header-menu {
	.navbar-inverse {
		background-image: none;
	}
	
	.navbar-inverse.navbar-nav {
		
		> .active,
		> .open {
			> a {
				background-image: none;
			}
		}
	}
}

.ot-slide-list {
	.item {
		position: relative;
		
		.item-slide-img {
			height: 420px;
			object-fit: cover;
		}
		
		.ot-slide-content {
			position: absolute;
			text-align: center;
			content: "";
			width: 100%;
			left: 50%;
			color: #fff;
			top: 40%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			
			h1 {
				margin: 0 0 15px;
				font-size: 42px;
				letter-spacing: 2px;
				font-family: 'Roboto', sans-serif;
				line-height: normal;
				font-weight: normal;
			}
			
			img {
				max-width: 100%;
				width: 60px;
				object-fit: contain;
			}
			
			p {
				font-size: 24px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				justify-content: center;
				font-family: 'Roboto', sans-serif;
				align-items: self-start;
			}
			
			a.ot-detail {
				display: -webkit-box;
				display: -ms-flexbox;
				display: inline-flex;
				border: 2px solid #fff;
				border-radius: 20px;
				color: #fff;
				height: 60px;
				line-height: 60px;
				min-width: 250px;
				font-size: 16px;
				overflow: hidden;
				justify-content: space-between;
				align-items: center;
				
				span.image {
					background: #101111;
					width: 30%;
					
					img {
						display: inline-block;
						width: 30px;
					}
				}
				
				span.text {
					width: 70%;
					background: @detailColor;
				}
				
				&:focus,
				&:hover {
					text-decoration: none;
					
					span.text {
						background: #101111;
					}
					
					span.image {
						background: @detailColor;
					}
				}
			}
		}
	}
	
	.owl-nav {
		position: absolute;
		content: "";
		width: 100%;
		left: 50%;
		top: 40%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: 999;
		
		button {
			position: absolute;
			content: "";
			
			&:hover,
			&:focus {
				background: transparent !important;
			}
			
			i {
				color: #fff;
				font-size: 60px;
			}
		}
		
		button.owl-prev {
			left: 0px;
		}
		
		button.owl-next {
			right: 0px;
		}
	}
}

.ot-slide-banner {
	position: relative;
}

.ot-search {
	.form-search {
		background: rgba(0, 0, 0, 0.5);
		padding: 16px 6px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-between;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		align-items: center;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		
		> * {
			padding: 0 10px;
			position: relative;
			min-height: 1px;
		}
		
		.form-group {
			width: 30%;
			
			input {
				line-height: 36px;
				padding: 0 12px 0 32px;
				border: 1px solid transparent;
				border-radius: 5px;
				box-shadow: none;
			}
			
			input,
			select {
				height: 36px;
			}
			
			.ot-icon {
				position: absolute;
				content: "";
				left: 15px;
				top: 0px;
				padding: 6px 0 8px;
				
				img {
					width: 24px;
				}
			}
			
			.dropdown-menu {
				width: calc(100% - 30px);
				padding: 10px 0px;
				left: 15px;
				
				a {
					display: block;
					padding: 5px 15px;
				}
			}
		}
		
		.modified {
			width: 20%;
		}
		
		.button-search {
			width: 20%;
			margin-bottom: 15px;
		}
		
		button.btn {
			height: 36px;
			background-image: none;
			background: @mainColor;
			text-transform: uppercase;
			color: #fff;
			box-shadow: none;
			font-size: 16px;
			border-radius: 5px;
			display: block;
			width: 100%;
			
			.ot-hovered {
				display: inline-block;
				padding-right: 5px;
			}
			
			&:hover {
				border-color: @blackColor;
				background-color: @blackColor;
				
				.ot-hovered {
					display: inline-block;
					padding-right: 5px;
				}
			}
		}
		
		.form-group,
		.button-search {
			margin-bottom: 0;
		}
		
		a.ot-create-cv {
			font-size: 16px;
			color: #fff;
			text-align: center;
			margin: 0;
			font-weight: 600;
			width: 20%;
			height: 38px;
			border-radius: 8px;
			line-height: 38px;
			
			&:hover {
				background: @mainColor;
				color: #fff;
			}
		}
	}
	.ot-advance-link {
		display:block;
		width: 100%;
		margin: 4px 0;
		font-size: 12px;
		.toggle-icon {
			color: #fff;
			cursor: pointer;
			&.active {
				.fa-angle-down {
					&::before {
						content: "\f106";
					}
				}
			}
		}
	}
	.ot-advance-box {
		padding: 0!important;
		.ot-select2-wrap {
			padding: 0 10px;
			.select2 {
				min-width: 283px;
			}
		}
	}
}

.ot-list-employers {
	h2.ot-title {
		white-space: nowrap;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 30px;
		color: @textColor;
		margin: 0 0 24px;
		padding: 0 15px 20px;
		position: relative;
		
		&::after {
			content: "";
			left: 50%;
			top: 100%;
			-webkit-transform: translate(-50%, 0%);
			transform: translate(-50%, 0%);
			width: 5%;
			height: 2px;
			border-bottom: 2px solid @mainColor;
			position: absolute;
		}
	}
	
	.ot-list-icon {
		padding: 0 15px;
		
		.list-icon {
			/*display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;*/
			
			.slider-link {
				position: relative;
				display: block;
				min-height: 1px;
				
				img {
					-webkit-filter: grayscale(100%);
					filter: grayscale(100%);
				}
			}
		}
	}
	
	.owl-stage {
		display: flex;
		justify-content: center;
		
		.owl-item {
			position: relative;
			display: flex;
			flex: 1;
			float: none !important;
			padding: 4px 8px;
		}
	}
	
	.employer-wrap-percent {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: 100%;
		border: 1px solid #cdcdcd;
		
		&.is-hot {
			&::before {
				z-index: 1;
				content: "HOT";
				position: absolute;
				top: 5px;
				right: 16px;
				width: 24px;
				height: 24px;
				padding: 6px 2px;
				font-size: 10px;
				color: #fff;
				background-color: @mainColor;
			}
			
			&::after {
				z-index: 2;
				content: "";
				position: absolute;
				top: 29px;
				right: 16px;
				border-bottom: 8px solid transparent;
				border-left: 12px solid @mainColor;
				border-right: 12px solid @mainColor;
			}
		}
		
		&:hover {
			border-color: @mainColor;
			box-shadow: 0 0 4px 0px #cdcdcd;
		}
		
		.employer-item {
			display: table-cell;
			vertical-align: middle;
			padding: 16px;
			
			&:hover {
				img {
					-webkit-filter: grayscale(0%);
					filter: grayscale(0%);
				}
			}
		}
	}
}

.ot-job {
	background: #edeff2;
	padding: 64px 0 24px;
	
	&.no-padding {
		padding: 0;
	}
	
	.ot-tab-job {
		ul {
			text-align: center;
			border-color: #d9dadb;
			
			li {
				float: none;
				display: inline-block;
				
				a {
					border-color: #d9dadb;
					border-radius: 0;
					font-weight: 600;
					font-size: 15px;
					color: @textColor;
					padding: 10px 24px;
				}
			}
			
			li.active {
				
				a,
				a:focus,
				a:hover {
					border-color: #d9dadb;
					border-top: 2px solid @mainColor;
					background: #edeff2;
					border-bottom-color: transparent;
					color: @textColor;
				}
			}
		}
		
		.tab-content {
			#top-job {
				position: relative;
				margin: 0 -12px;
				padding: 6px 0;
			}
			
			.ot-tab-job-box {
				.group-job {
					display: table;
					width: 100%;
					height: 100%;
					border-spacing: 12px 6px;
					.box-item {
						display: table-cell;
						width: 50%;
						vertical-align: top;
						background-color: #fff;
						
						.ot-block-full-height {
							.box-shadow(1px 1px 3px -1px #cdcdcd);
						}
						
						.ot-table-cell {
							vertical-align: top;
						}
						
						.ot-image {
							position: relative;
							width: 124px;
							padding: 0;
							vertical-align: middle;
							
							.img-responsive {
								margin-left: auto;
								margin-right: auto;
							}
						}
						
						.ot-content {
							h2.title {
								font-size: 14px;
								font-weight: 600;
								margin: 0 0 5px;
								
								display: -webkit-box;
								max-height: 44px;
								line-height: 1.4;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;
							}
							
							h3.sub-title {
								font-size: 12px;
								background: transparent;
								margin: 0;
								color: @textColor;
								line-height: normal;
								
								.company-name,
								.country {
									margin: 0 0 6px 0;
								}
							}
							
							a.sign-in,
							p.salary {
								margin: 0 0 6px;
								display: block;
								color: #e51e25;
								text-decoration: none;
								font-size: 12px;
							}
							
							h4.skill {
								font-size: 11px;
								color: #999;
								margin: 0;
							}
						}
						
						.ot-skill-sighin-more {
							display: flex;
							
							.skill_signin {
								width: 70%;
								border-right: 2px dotted #e9e8e8;
							}
							
							.ot-more {
								width: 30%;
								align-self: center;
								text-align: center;
								
								h3 {
									font-family: 'Roboto', sans-serif;
									text-transform: uppercase;
									color: #e51e25;
									font-size: 12px;
									margin: 0 0 15px;
								}
								
								a.btn-more {
									padding: 4px 10px;
									border: 1px solid #e51e25;
									border-radius: 4px;
									font-size: 12px;
									font-family: 'Roboto', sans-serif;
									font-style: italic;
									
									&:hover {
										border-color: #e72012;
										background: @mainColor;
										color: #fff;
										
										.ot-hovered {
											display: inline-block;
										}
									}
								}
							}
						}
						
						&:hover {
							border-color: @mainColor;
						}
					}
				}
				
				.item {
					position: relative;
					min-height: 1px;
					padding: 0;
				}
			}
		}
	}
}

.ot-image,
.ot-image-search {
	.hot-mark {
		position: absolute;
		top: 4px;
		left: -6px;
		padding: 4px 8px;
		font-size: 12px;
		font-style: italic;
		font-weight: bold;
		line-height: 1;
		color: #fff;
		background-color: @mainColor;
		
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: -8px;
			border-right: 8px solid transparent;
			border-top: 10px solid @mainColor;
			border-bottom: 10px solid @mainColor;
		}
		
		&::after {
			content: '';
			position: absolute;
			bottom: -6px;
			left: 0;
			border-right: 6px solid #8c2634;
			border-bottom: 6px solid transparent;
		}
	}
}

.ot-support {
	padding: 20px 0 0;
	
	&.no-padding {
		padding-top: 0;
	}
	
	.ot-spcontent {
		.container {
			background-image: url(../img/new/bg-support.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: right bottom;
		}
		
		.group-blockquote {
			background: #fff;
			padding: 15px;
			position: relative;
			border: 1px solid rgba(221, 221, 221, 0.2);
			box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.75);
			-webkit-box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.75);
			margin: 0 0 20px;
			
			.corner-blockquote {
				padding: 30px 5px;
				border: 1px solid #dcdbdb;
				border-radius: 4px;
				position: relative;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				align-items: center;
				
				> * {
					position: relative;
					width: auto;
					min-height: 1px;
				}
				
				.image {
					border-radius: 50%;
					width: 80px;
					height: 80px;
					line-height: 80px;
					overflow: hidden;
					position: relative;
					
					img {
						position: absolute;
						left: 50%;
						top: 60%;
						-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						width: 60px;
					}
				}
				
				.image.color-1 {
					background: #8c2634;
				}
				
				.image.color-2 {
					background: #db828c;
				}
				
				.image.color-3 {
					background: #c4203b;
				}
				
				.blockquote-content {
					padding-left: 10px;
					font-size: 14px;
					line-height: 28px;
					width: calc(100% - 80px);
				}
				
				&::before,
				&::after {
					content: "";
					position: absolute;
					background-repeat: no-repeat;
					background-position: center center;
					width: 28px;
					height: 25px;
					background-size: 80%;
					background-color: #fff;
				}
				
				&::before {
					background-image: url(../img/new/blockquote-top.png);
					top: -15px;
					left: 10px;
				}
				
				&::after {
					background-image: url(../img/new/blockquote-bottom.png);
					bottom: -15px;
					right: 10px;
				}
			}
			
			&::after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: -39px;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				background-image: url(../img/new/arrow-down.png);
				width: 34px;
				height: 30px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 60%;
			}
			
			&:hover {
				.corner-blockquote {
					border-color: #e51e25;
				}
			}
		}
	}
	
	.ot-createcv {
		padding: 20px 0;
		
		.row {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			align-items: end;
		}
		
		.create-cv {
			text-align: center;
			
			h4 {
				font-size: 24px;
				line-height: 40px;
				margin: 0 0 40px;
				letter-spacing: 1px;
			}
			
			a.btn-cv {
				background: @mainColor;
				color: #fff;
				border-radius: 6px;
				padding: 10px 24px;
				text-align: center;
				
				img {
					width: 40px;
					padding-right: 10px;
				}
				
				&:hover {
					background: #333;
				}
			}
		}
		
		.image img {
			height: 320px;
			object-fit: contain;
		}
	}
	
	.ot-newsletter {
		margin: 20px 0;
		color: #fff;
		
		.container {
			background-image: url(../img/new/bg-newsletter.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			
			&.alert {
				background-image: none;
			}
		}
		
		.box-newsletter {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			padding: 15px;
			justify-content: space-between;
			align-items: center;
			
			> * {
				position: relative;
				min-height: 1px;
				padding: 0 15px;
				width: auto;
			}
			
			.register {
				width: 50%;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				
				input {
					height: 40px;
					line-height: 40px;
					border-radius: 20px 0px 0 20px;
					padding: 0 12px;
				}
				
				button {
					height: 40px;
					border-radius: 0px 20px 20px 0px;
					background: #9b1f34;
					color: #fff;
					min-width: 100px;
					border-color: #9b1f34;
					box-shadow: none;
					
					&:hover {
						background: #e61d25;
					}
				}
			}
			
			h2 {
				font-size: 24px;
				text-transform: uppercase;
				margin: 0;
				width: 20%;
			}
			
			.content-mid {
				font-size: 14px;
				line-height: 28px;
				text-align: center;
				width: 30%;
			}
		}
	}
}

// Đào tạo doanh nghiệp
.ot-banner {
	position: relative;
	img {
		width: 100%;
	}
	
	h2.ot-title {
		position: absolute;
		content: "";
		top: 50%;
		left: 35%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		margin: 0;
		margin: 0;
		color: #fff;
		font-size: 66px;
		
		span {
			padding-left: 50px;
		}
	}
}

.ot-list-program {
	padding: 40px 0;
	
	.ot-listgroup {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
		
		> * {
			width: 50%;
			padding: 0 15px;
			min-height: 1px;
			position: relative;
			margin: 0 0 20px;
		}
	}
	
	.ot-box-item {
		border: 1px solid #e1e2e2;
		
		h2.title {
			font-weight: 600;
			font-size: 24px;
			margin: 0;
			padding: 30px 15px;
			text-align: center;
			position: relative;
			background: #edeff2;
			
			&::after {
				position: absolute;
				content: "";
				left: 50%;
				bottom: -22px;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				width: 0px;
				height: 0px;
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
				border-top: 15px solid #edeff2;
			}
		}
		
		.ot-time {
			padding: 25px 15px 15px;
			color: #999999;
			
			p:last-child {
				margin-bottom: 0;
			}
			
			p {
				strong {
					min-width: 90px;
					padding-right: 10px;
				}
			}
		}
		
		.ot-image {
			img {
				width: 100%;
			}
		}
		
		.ot-bottom {
			padding: 15px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin: 0 -5px;
			justify-content: space-between;
			align-items: center;
			
			> * {
				padding: 0 5px;
				position: relative;
				min-height: 1px;
				white-space: nowrap;
				margin: 0 0 10px;
			}
			
			a {
				img {
					padding-right: 10px;
					width: 30px;
				}
			}
		}
	}
}

// Giới thiệu công ty
.ot-content-intro {
	.ot-tab-content {
		border: 0 none;
		
		ul.nav-tabs {
			text-align: center;
			border-color: #d9dadb;
			
			li {
				float: none;
				display: inline-block;
				
				a {
					border-color: #d9dadb;
					border-radius: 0;
					font-weight: 600;
					font-size: 15px;
					color: @textColor;
					padding: 10px 24px;
				}
			}
			
			li.active {
				
				a,
				a:focus,
				a:hover {
					border-color: #d9dadb;
					border-top: 2px solid @mainColor;
					background: #fff;
					border-bottom-color: transparent;
					color: @textColor;
				}
			}
		}
		
		.tab-content {
			.tab-pane {
				padding: 20px 0;
			}
			
			table.table-company {
				tr:first-child {
					td {
						border-top: 0 none;
					}
				}
				
				tr {
					td:first-child {
						background: #eeeff1;
						text-align: right;
						font-weight: bold;
						border-right: 2px solid #cecece;
						width: 30%;
					}
					
					td:last-child {
						border-right: 0 none;
					}
				}
				
				tr {
					td {
						border-color: #cecece;
						padding: 15px;
						border-right: 1px solid #cecece;
						font-size: 12px;
					}
				}
				
				tr:last-child {
					td {
						border-bottom: 1px solid #cecece;
					}
				}
				
				tr.field {
					td {
						p {
							margin: 0 0 10px;
						}
						
						p:last-child {
							margin-bottom: 0;
						}
					}
				}
				
				.group-company {
					.image {
						text-align: center;
						margin: 0 0 20px;
						
						img {
							height: 70px;
							object-fit: contain;
						}
					}
					
					.content-cp {
						p {
							margin: 0 0 5px;
						}
						
						a {
							color: #e51e25;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	
	.ot-support {
		padding: 20px 0 0;
		
		.ot-newsletter {
			.container {
				background-image: none;
			}
			
			.box-newsletter {
				padding: 15px;
				margin: 0;
				background-image: url(../img/new/bg-newsletter.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				
				> * {
					padding: 0 5px;
				}
			}
			
		}
	}
}

.ot-team {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	
	> div {
		position: relative;
		padding: 0 15px;
		min-height: 1px;
		width: 100%;
		margin: 0 0 20px;
	}
	
	.ot-team-item {
		.ot-image-team {
			border-radius: 50%;
			width: 200px;
			height: 200px;
			line-height: 200px;
			overflow: hidden;
			position: relative;
			border: 1px solid #cecece;
			text-align: center;
			margin: 0 auto 40px;
			
			img {
				position: absolute;
				content: "";
				left: 50%;
				top: 55%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				width: 160px;
			}
		}
		
		.ot-content-team {
			background: #eeeff1;
			padding: 10px;
			position: relative;
			min-height: 510px;
			
			.ot-box-team {
				position: absolute;
				padding: 40px 30px 60px;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				height: 100%;
				width: 100%;
				
				&::before,
				&::after {
					position: absolute;
					content: "";
					background-repeat: no-repeat;
					background-size: 50%;
				}
				
				&::before {
					width: 200px;
					height: 200px;
					top: 15px;
					left: 15px;
					border-top: 2px solid @mainColor;
					border-left: 2px solid @mainColor;
				}
				
				&::after {
					width: 200px;
					height: 200px;
					bottom: 15px;
					right: 15px;
					border-bottom: 2px solid @mainColor;
					border-right: 2px solid @mainColor;
				}
			}
			
			&::before {
				position: absolute;
				content: "";
				background-repeat: no-repeat;
				background-size: 50%;
				width: 0px;
				height: 0px;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-bottom: 20px solid #eeeff1;
				top: -20px;
				left: 50%;
				-webkit-transform: translate(-50%, 0);
				transform: translate(-50%, 0);
			}
			
			h2.ot-name {
				text-align: center;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 30px;
				margin: 0 0 5px;
				color: #1f1333;
			}
			
			h3.ot-position {
				text-align: center;
				font-style: italic;
				color: #999;
				font-size: 24px;
				margin: 0 0 20px;
			}
			
			p.ot-quote {
				text-align: center;
				font-weight: 600;
				font-style: italic;
				color: #232323;
				font-size: 18px;
				margin: 0 0 20px;
			}
			
			ul.ot-list-minus {
				li {
					position: relative;
					padding: 0 0 10px 10px;
					font-size: 14px;
					letter-spacing: 1px;
					
					&::before {
						content: "-";
						position: absolute;
						left: 0px;
						top: 0px;
						color: #232323;
					}
				}
			}
			
			p {
				line-height: 28px;
			}
		}
		
		.ot-icon-facebook {
			position: absolute;
			content: "";
			left: 15px;
			bottom: 0;
			
			img {
				width: 40px;
			}
		}
	}
}

.ot-vision-mission {
	.ot-item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		
		> * {
			position: relative;
			min-height: 1px;
			width: 100%;
		}
		
		.ot-content {
			background: #f2f2f2;
			padding: 30px 30px;
			position: relative;
			
			h2.ot-title {
				text-align: center;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 30px;
				margin: 0 0 20px;
			}
			
			p {
				font-size: 16px;
				line-height: 40px;
				letter-spacing: 1px;
				margin: 0;
			}
		}
		
		.ot-image {
			img {
				object-fit: cover;
				min-height: 273px;
			}
		}
	}
	
	.ot-item:nth-child(2n+1) {
		.ot-content {
			&::before {
				position: absolute;
				content: "";
				left: -20px;
				top: 50%;
				width: 0px;
				height: 0px;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				border-right: 20px solid #f2f2f2;
				-webkit-transform: translate(0%, -50%);
				transform: translate(0%, -50%);
				z-index: 2;
			}
		}
	}
	
	.ot-item:nth-child(2n) {
		.ot-content {
			&::before {
				position: absolute;
				content: "";
				right: -20px;
				top: 50%;
				width: 0px;
				height: 0px;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				border-left: 20px solid #f2f2f2;
				-webkit-transform: translate(0%, -50%);
				transform: translate(0%, -50%);
				z-index: 2;
			}
		}
	}
}

// Job detail
.ot-job-detail {
	border: 2px solid #cecece;
	
	.ot-top-job {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		background: #edeff2;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		
		> * {
			position: relative;
			min-height: 1px;
			width: auto;
		}
		
		p {
			margin-bottom: 6px;
		}
		
		.ot-job-name {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: nowrap;
			align-items: center;
			flex: 3;
			
			.left {
				display: flex;
				justify-content: center;
				width: 116px;
				height: 116px;
				padding: 4px;
				background-color: #fff;
				img {
					align-self: center;
				}
			}
			
			.flex-top {
				align-self: flex-start;
				margin: 4px;
				&:first-child {
					align-self: center;
				}
			}
			
			.ot-image-job {
				img {
					height: 150px;
					object-fit: contain;
				}
			}
			
			.ot-job-name-content {
				margin-left: 15px;
				
				h2.title {
					font-weight: 600;
					font-size: 16px;
					margin: 0 0 5px;
				}
				
				h3.sub-title {
					font-size: 12px;
					background: transparent;
					margin: 0 0 10px;
					line-height: normal;
					color: @textColor;
				}
				
				a.sign-in {
					color: #e51e25;
					text-decoration: none;
					font-size: 12px;
					margin: 0 0 10px;
					display: block;
				}
				
				h4.ot-view-number {
					font-size: 12px;
					color: #999;
					margin: 0;
					font-style: italic;
				}
			}
		}
		
		.ot-job-share {
			padding-right: 15px;
			flex: 1;
			
			.ot-list-icon {
				margin: 0 0 20px;
				
				ul li {
					display: inline-block;
					padding-left: 10px;
					
					a {
						display: inline-block;
						padding: 5px;
						color: #fff;
						border-radius: 4px;
						width: 30px;
						height: 30px;
						line-height: 24px;
						text-align: center;
						
						i {
							font-size: 20px;
						}
					}
				}
				
				li.ot-facebook {
					a {
						background: #3c5ca1;
					}
				}
				
				li.ot-linkedin {
					a {
						background: #000;
					}
				}
				
				li.ot-twitter {
					a {
						background: #6eceec;
					}
				}
				
				li.ot-mail {
					a {
						background: #215e86;
					}
				}
				
				li.ot-share {
					a {
						background: #efd9d7;
						color: @mainColor;
						width: auto;
						height: 30px;
						text-transform: uppercase;
						font-size: 16px;
						
						img {
							width: 28px;
							padding-left: 10px;
							padding-bottom: 8px;
						}
					}
				}
			}
			
			.ot-btn-apply {
				text-align: right;
				
				a.btn-apply {
					padding: 5px 40px;
					border: 1px solid #e51e25;
					border-radius: @buttonRadiusBase;
					font-size: 12px;
					background: @mainColor;
					color: #fff;
					display: inline-block;
					
					&:hover {
						background: #333;
						border-color: #333;
					}
				}
			}
		}
		
		.view-count {
			margin-bottom: 0;
		}
	}
	
	.ot-main-job {
		ul.nav-tabs {
			padding: 0 4*@paddingBase;
			text-align: left;
			border-color: #d9dadb;
			
			li {
				float: none;
				display: inline-block;
				
				a {
					border-color: #d9dadb;
					border-radius: 0;
					font-weight: 600;
					font-size: 15px;
					color: @textColor;
					padding: 10px 24px;
				}
			}
			
			li.active {
				
				a,
				a:focus,
				a:hover {
					border-color: #d9dadb;
					border-top: 2px solid @mainColor;
					background: #fff;
					border-bottom-color: transparent;
					color: @textColor;
				}
			}
		}
		
		.tab-content {
			padding: 15px;
			
			.ot-job-info {
				.ot-job-item {
					h3.ot-head {
						position: relative;
						background: #edeff2;
						border-left: 4px solid @mainColor;
						font-weight: 600;
						font-size: 16px;
						margin: 0 0 20px;
						padding: 10px 10px 10px 20px;
					}
					
					strong {
						font-weight: bold;
					}
					
					.ot-job-details {
						padding: 0 0 20px 20px;
						p {
							margin-left: 0;
						}
						
						&.text-description {
							white-space: pre-line;
						}
						
						li {
							line-height: 28px;
							//font-weight: 600;
							position: relative;
							padding-left: 20px;
							
							&::before {
								content: "";
								position: absolute;
								left: 0;
								width: 5px;
								height: 5px;
								border-radius: 50%;
								background: #000;
								top: 10px;
							}
						}
					}
				}
				
				.ot-job-bottom {
					text-align: center;
					
					.btn {
						padding: 5px 40px;
						border: 1px solid;
						border-radius: @buttonRadiusBase;
						color: #fff;
						display: inline-block;
					}
					
					.btn.btn-apply {
						border-color: @mainColor;
						background: @mainColor;
						
						&:hover {
							border-color: #333;
							background: #333;
						}
					}
					
					.btn.btn-expert {
						border-color: #00a14a;
						background: #00a14a;
						
						&:hover {
							border-color: @mainColor;
							background: @mainColor;
						}
					}
				}
			}
		}
	}
}

// Contact Us
.ot-social {
	margin: 0 0 30px;
	font-size: 12px;
	
	ul {
		margin: 0 0 30px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0 -5px;
		justify-content: space-between;
		
		> * {
			width: 100%;
			position: relative;
			min-height: 1px;
			padding: 0 5px;
		}
		
		li {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			align-items: center;
			margin-bottom: 20px;
		}
		
		.ot-image-social,
		.ot-content-social {
			display: inline-block;
			vertical-align: middle;
		}
		
		.ot-image-social {
			background: #343434;
			width: 50px;
			height: 50px;
			line-height: 50px;
			border-radius: 4px;
			text-align: center;
			margin-right: 10px;
			min-width: 50px;
		}
	}
}

.ot-form-contact {
	.form-group {
		position: relative;
		
		input,
		textarea,
		select {
			border: 1px solid #e1e1e1;
			border-radius: 4px;
			font-size: 12px;
			padding: 10px 12px;
			height: auto;
		}
		
		select {
			background: transparent;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			-o-appearance: none;
			appearance: none;
		}
		
		label {
			display: inline-block;
			cursor: pointer;
			position: relative;
			padding-left: 25px;
			margin-right: 15px;
			font-weight: normal;
			font-size: 12px;
		}
		
		input[type="checkbox"] {
			display: none;
		}
		
		label::before {
			content: "";
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-right: 10px;
			position: absolute;
			left: 0;
			border: 1px solid #bbbbbb;
			top: 3px;
		}
		
		input[type="checkbox"]:checked + label:before {
			text-align: center;
			background-image: url(../img/new/checkedbox.png);
			background-repeat: no-repeat;
			width: 38px;
			height: 35px;
			background-size: 45%;
			border: 0 none;
		}
		
	}
	
	.form-group.select::after {
		content: "";
		font-family: FontAwesome;
		position: absolute;
		top: 0px;
		right: 0;
		font-size: 22px;
		pointer-events: none;
		padding: 0px 5px;
		line-height: 41px;
		opacity: 0.6;
	}
	
	.form-group.submit {
		text-align: center;
		margin-top: 30px;
		
		button {
			padding: 8px 40px;
			border: 1px solid #e51e25;
			border-radius: 8px;
			font-size: 12px;
			background: @mainColor;
			color: #fff;
			display: inline-block;
		}
	}
}

// New List
.ot-list-news {
	padding: 40px 0 20px;
	background: #f2f2f2;
	
	.container {
		background: #fff;
	}
	
	.ot-main-list {
		padding: 20px 0px;
	}
	
	.ot-list-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0 -15px;
		padding-bottom: 15px;
		
		> * {
			position: relative;
			min-height: 1px;
			padding: 0 15px;
			width: 100%;
			margin: 0 0 15px;
		}
	}
	
	.ot-list-feature {
		.ot-image-news {
			margin: 0 0 20px;
		}
	}
	
	.ot-list-item {
		.ot-item-news {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin: 0 -15px 20px;
			
			> * {
				position: relative;
				min-height: 1px;
				padding: 0 15px;
				width: 100%;
			}
		}
		
		.ot-item-news:last-child {
			margin-bottom: 0;
		}
		
		.ot-content-item {
			h2.ot-title-item {
				font-weight: 600;
				font-size: 16px;
				line-height: 28px;
				margin: 0 0 10px;
			}
			
			p.ot-date {
				font-size: 12px;
				color: #999;
				margin: 0;
				text-transform: uppercase;
			}
		}
	}
	
	.ot-content-news {
		h2.ot-title-news {
			font-weight: 600;
			font-size: 21px;
			margin: 0 0 20px;
		}
		
		p.ot-date {
			font-size: 12px;
			color: #999;
			margin: 0 0 20px;
			text-transform: uppercase;
		}
		
		p.ot-excert {
			font-size: 12px;
			margin: 0;
		}
	}
	
	.ot-list-bottom {
		padding-top: 20px;
		border-top: 2px solid #e6e6e5;
		overflow: hidden;
		
		.ot-item-news {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin: 0 -15px 20px;
			padding-bottom: 20px;
			border-bottom: 2px solid #e6e6e5;
			
			> * {
				position: relative;
				min-height: 1px;
				padding: 0 15px;
				width: 100%;
			}
		}
		
		.ot-content-news {
			h2.ot-title-item {
				font-weight: 600;
				font-size: 16px;
				line-height: 28px;
				margin: 0 0 20px;
			}
			
			p.ot-date {
				font-size: 12px;
				color: #999;
				margin: 0 0 20px;
				text-transform: uppercase;
			}
			
			p.ot-excerp {
				font-size: 12px;
				margin: 0;
				line-height: 28px;
			}
		}
	}
}

.ot-pagination {
	margin: 16px 0;
	
	.prev,
	.next {
		width: 32px;
		height: 32px;
		
		&::before {
			top: 50%;
			left: 50%;
		}
	}
	
	.prev {
		&::before {
			margin-top: -5px;
			margin-left: -4px;
		}
	}
	
	.next {
		&::before {
			margin-top: -5px;
			margin-left: -6px;
		}
	}
	
	.page-link {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 4px;
		padding: 0;
		font-size: 12px;
		color: @textColor;
		border: 1px solid #cdcdcd;
		border-radius: 50%;
		
		&.active {
			color: #fff;
			background-color: @mainColor;
			border: 1px solid @mainColor;
			text-decoration: none;
		}
	}
	
	.nav-inner {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
		
		> * {
			width: auto;
			position: relative;
			min-height: 1px;
			margin-bottom: 10px;
		}
	}
	
	.ot-page-of {
		font-weight: 600;
		font-size: 14px;
	}
	
	.ot-nav-links {
		a {
			font-size: 18px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			margin: 0 5px 5px;
			border: 1px solid #e6e6e5;
			border-radius: 50%;
			display: inline-block;
			vertical-align: middle;
			
			&:hover {
				background: #ef4023;
				color: #fff;
				text-decoration: none;
				border-color: #ef4023;
			}
		}
		
		a.current {
			background: #ef4023;
			color: #fff;
			text-decoration: none;
			border-color: #ef4023;
		}
		
		a.ot-next,
		a.ot-prev {
			img {
				width: 18px;
			}
			
			&:hover {
				background: transparent;
				border-color: #e6e6e5;
			}
		}
		
		a.disabled,
		a.current {
			pointer-events: none;
			cursor: no-drop;
		}
	}
}

// Search Job
.ot-search-job {
	.ot-group-search {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		margin: 0 -12px;
		
		> * {
			position: relative;
			min-height: 1px;
			padding: 0 12px;
		}
	}
	
	.ot-title-top {
		position: relative;
		display: block;
		margin: 0 0 16px;
		padding-bottom: 5px;
		font-size: 18px;
		border-bottom: 1px solid #a8a9a9;
	}
	
	.ot-search-item {
		.ot-title-top {
			.red {
				font-weight: @fontWeightBold;
				color: @mainColor;
			}
			
			img {
				width: 30px;
				padding-right: 5px;
			}
			
			&::after {
				position: absolute;
				content: "";
				left: 0;
				bottom: -2px;
				border-bottom: 3px solid @mainColor;
				width: 59%;
				height: 1px;
			}
		}
	}
	
	.ot-group-content-search {
		.ot-item-content-search {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			
			> * {
				position: relative;
				min-height: 1px;
				width: 100%;
			}
			
			.ot-content-search {
				width: 50%;
				
				.salary {
					font-size: 12px;
				}
				
				.salary,
				.company-name,
				.country {
					margin: 0 0 6px 0;
				}
			}
			
			.ot-save {
				border-bottom: 1px solid #a8a9a9;
				width: 30%;
				
				i {
					font-size: 24px;
					color: #e0e0e0;
				}
				
				&.active {
					i {
						color: @mainColor;
					}
				}
				
				.btn-more {
					padding: 4px 10px;
					border: 1px solid #e51e25;
					border-radius: 4px;
					font-size: 12px;
					font-family: Roboto, sans-serif;
					font-style: italic;
				}
			}
		}
		
		.ot-image-search {
			display: flex;
			justify-content: center;
			align-items: center;
			border-bottom: 1px solid #fff;
			
			img {
				align-self: center;
				object-fit: cover;
			}
		}
		
		.ot-content-search {
			border-bottom: 1px solid #a8a9a9;
			padding: 6px 8px;
			
			h2.title {
				font-size: 14px;
				font-weight: 600;
				margin: 0 0 5px;
			}
			
			h3.sub-title {
				font-size: 12px;
				background: transparent;
				margin: 0 0 6px;
				color: @textColor;
				line-height: normal;
			}
			
			a.sign-in {
				color: #e51e25;
				text-decoration: none;
				font-size: 12px;
				margin: 0 0 10px;
				display: block;
			}
			
			h4.skill {
				font-size: 11px;
				color: #999;
				margin: 0;
			}
			
			&::after {
				content: "";
				position: absolute;
				right: 0;
				width: 1px;
				height: 80%;
				top: 15px;
				border-right: 2px dotted #e9e8e8;
			}
		}
		
		.ot-save {
			text-align: center;
			padding: 30px 15px 15px;
			
			img {
				display: block;
				margin: 0 auto 10px;
				height: 30px;
			}
			
			.btn-save {
				color: #e51e25;
				text-decoration: none;
				font-size: 12px;
				margin: 0 0 10px;
				display: block;
				
				&.active {
					.fa::before {
						content: "\f004";
						color: @mainColor;
					}
				}
			}
		}
		
		.ot-load-more {
			margin: 20px 0 0;
			text-align: center;
			
			a {
				padding: 10px 50px 10px 30px;
				border: 1px solid @mainColor;
				border-radius: 8px;
				font-size: 14px;
				color: #fff;
				display: inline-block;
				background: @mainColor;
				font-weight: bold;
				position: relative;
				
				&::after {
					position: absolute;
					content: "";
					top: calc(50% - 8px);
					right: 20px;
					width: 10px;
					height: 10px;
					border-top: 2px solid #fff;
					border-right: 2px solid #fff;
					transform: rotate(135deg);
				}
				
				&:hover {
					background: #333;
					border-color: #333;
				}
			}
		}
	}
	
	.ot-sidebar {
		.chzn-container {
			position: relative;
			display: block;
			font-size: 12px;
			margin: 0 0 20px;
			
			ul.chzn-choices {
				border: 1px solid #989998;
				border-radius: 4px;
				box-shadow: none;
				position: relative;
				overflow: hidden;
				margin: 0;
				padding: 0;
				width: 100%;
				padding: 5px 40px 5px 5px;
				
				li {
					margin: 3px 0 3px 5px;
					border-radius: 3px;
					border: 1px solid #c4c4c4;
					background: #e0e0e0;
					padding: 5px 15px;
					display: inline-block;
					font-size: 11px;
				}
				
			}
		}
		
		.ot-tag {
			margin: 0 0 16px;
			
			.ot-title-top {
				img {
					width: 30px;
					padding-right: 5px;
				}
				
				i {
					color: @mainColor;
				}
				
				&::after {
					position: absolute;
					content: "";
					left: 0;
					bottom: -2px;
					border-bottom: 3px solid #e51e25;
					width: 28%;
					height: 1px;
				}
			}
			
			.ot-content-tag {
				background: #ededed;
				padding: 10px;
				
				.ot-list-tag {
					li {
						margin: 3px 0 3px 5px;
						border-radius: 5px;
						border: 1px solid #e5e5e4;
						background: #fff;
						padding: 4px 15px;
						display: inline-block;
						font-size: 11px;
						cursor: pointer;
						
						&:hover {
							background: @mainColor;
							border-color: @mainColor;
							color: #fff;
						}
						&.current,
						&.current:hover{
							background: @mainColor;
							border-color: @mainColor;
							color: #fff;
						}
					}
				}
			}
		}
		
		.ot-location {
			margin: 0 0 16px;
			
			.ot-title-top {
				img {
					width: 30px;
					padding-right: 5px;
				}
				
				i {
					color: @mainColor;
				}
				
				&::after {
					position: absolute;
					content: "";
					left: 0;
					bottom: -2px;
					border-bottom: 3px solid @mainColor;
					width: 50%;
					height: 1px;
				}
			}
			
			.ot-content-location {
				li {
					input[type="checkbox"] {
						display: none;
					}
					
					label {
						display: inline-block;
						cursor: pointer;
						position: relative;
						padding-left: 40px;
						font-weight: normal;
						margin: 0 0 10px;
						
						&::before {
							content: "";
							display: inline-block;
							width: 16px;
							height: 16px;
							margin-right: 10px;
							position: absolute;
							left: 0;
							border: 1px solid #a8a9a9;
							top: 3px;
							font-size: 12px;
						}
						
						&:hover::before {
							border-color: @mainColor;
						}
					}
					
					input[type="checkbox"]:checked + label::before {
						text-align: center;
						background-image: url(../img/new/checkedbox.png);
						background-repeat: no-repeat;
						width: 38px;
						height: 35px;
						background-size: 45%;
						border: 0 none;
					}
				}
			}
		}
		
		.ot-jp-level {
			.ot-title-top {
				img {
					width: 25px;
					padding-right: 5px;
				}
				
				i {
					color: @mainColor;
				}
				
				&::after {
					position: absolute;
					content: "";
					left: 0;
					bottom: -2px;
					border-bottom: 3px solid #e51e25;
					width: 75%;
					height: 1px;
				}
			}
			
			.ot-content-level {
				li {
					input[type="radio"] {
						display: none;
					}
					
					label {
						display: inline-block;
						cursor: pointer;
						position: relative;
						padding-left: 40px;
						font-weight: normal;
						margin: 0 0 10px;
						
						&::before {
							content: "";
							display: inline-block;
							width: 19px;
							height: 19px;
							margin-right: 10px;
							position: absolute;
							left: 0;
							border: 1px solid #a8a9a9;
							top: 3px;
							font-size: 12px;
							border-radius: 50%;
						}
						
						&:hover::before {
							border-color: @mainColor;
						}
					}
					
					input[type="radio"]:checked + label::before {
						text-align: center;
						content: "\2022";
						color: #a8a9a9;
						line-height: 16px;
						margin: 0;
						font-size: 30px;
					}
					
					input[type="radio"]:checked + label:hover::before {
						border-color: #a8a9a9;
					}
				}
			}
		}
		
		.ot-tag,
		.ot-location,
		.ot-jp-level {
			.ot-title-top {
				.toggle-icon {
					position: absolute;
					right: 12px;
					top: 8px;
					color: @mainColor;
					font: normal normal normal 14px/1 FontAwesome;
					
					&::before {
						position: absolute;
						content: "\f055";
					}
					
					&.active {
						&::before {
							content: "\f056";
						}
					}
				}
			}
		}
		
		.jobs-box-right {
			width: auto;
			padding-left: 0;
		}
	}
	
	.ot-support {
		padding-top: 0;
		
		.ot-newsletter {
			.container {
				background-image: none;
			}
			
			.box-newsletter {
				padding: 15px;
				margin: 0;
				background-image: url(../img/new/bg-newsletter.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				
				h2 {
					font-size: 26px;
				}
				
				> * {
					padding: 0 5px;
				}
			}
			
		}
	}
}

.navbar-inverse {
	.navbar-nav {
		
		> .active,
		> .open {
			> a {
				background-image: none;
				box-shadow: none;
				color: #fff;
				text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
				background-color: #ff7d78;
			}
		}
		
		.open {
			.dropdown-menu {
				> li {
					> a:focus {
						color: #fff;
						text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
						background-color: #ff7d78;
					}
					
					> a:hover {
						color: #fff;
						text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
						background-color: #ff7d78;
					  	margin-left: -3px;
					}
				}
			}
		}
	}
}

.ot-header-menu {
	.ot-header-rmenu {
		.navbar-nav {
			li {
				a:hover {
					color: #fff;
					text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
					background-color: #ff7d78;
				}
			}
		}
	}
}

.title-limit-row-2 {
	display: -webkit-box;
	font-size: 16px;
	font-weight: 600;
	max-height: 44px;
	line-height: 1.4;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.title-limit-row-1 {
	display: -webkit-box;
	font-size: 16px;
	font-weight: 600;
	max-height: 44px;
	line-height: 1.4;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ot-fix-ui-slider {
	max-height: 224px;
	overflow: hidden;
}

.ot-job-name,
.ot-content-search,
.skill_signin {
	.fa {
		vertical-align: middle;
		font-size: 16px;
		&.fa-map-marker {
			margin: 0 10px 2px 7px;
		}
		
		&.fa-money {
			margin: 0 6px 2px 3px;
		}
		
		&.fa-mortar-board,
		&.fa-area-chart {
			margin: 0 6px 2px 1px;
		}
		
		&.fa-home {
			margin: 0 8px 2px 4px;
		}
	}
}

.ot-tags-search-wrap {
	padding: 14px 16px 10px;
	line-height: 1;
	background-color: rgba(237, 237, 237, .8);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	
	.ot-tags-search-box {
		position: relative;
		padding-left: 24px;
		
		.fa {
			font-size: 18px;
		}
		
		.fa-mortar-board {
			position: absolute;
			top: 0;
			left: 0;
			margin: 0 1px;
		}
		
		.fa-tags {
			position: absolute;
			top: 0;
			left: 0;
			margin: 0 2px;
		}
		
		.fa-map-marker {
			position: absolute;
			top: 0;
			left: 0;
			margin: 0 7px;
		}
	}
	
	.tags-search-item {
		display: inline-block;
		margin: 0 2px 4px;
		padding: 2px 4px;
		color: @textColor;
		font-style: italic;
		font-size: 12px;
		line-height: 1;
		background-color: #cdcdcd;
		border-radius: 3px;
		
		span {
			display: inline-block;
			line-height: 1;
		}
		
		&:hover {
			color: #fff;
			background-color: @mainColor;
		}
	}
}

.ot-job-recruit-wrap {
	.negative {
		margin: 0 -8px;
	}
	
	.ot-recruit-item {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.module-content {
  margin: 5px 20px 15px 20px;
  a {
	color: @textColor;
  }
  a.header-top {
	width: 100%;
	display: block;
	color: #efefef;
	text-align: left;
	padding-left: 15px;
	font-size: 20px;
	line-height: 42px;
	text-decoration: none;
	/* background-color: #d94127; */
	background-color: @mainColor;
	background-position-x: center;
	background-size: auto 100%;
	position: relative;
	i {
	  position: absolute;
	  top: 50%;
	  margin-top: -10px;
	  right: 16px;
	}
  }
  .module-job {
	padding: 12px;
	border: 1px solid #e4e6e8;
	border-top: none;
	border-bottom: 2px solid @mainColor;
  }
  .ot-group-content-search {
	.ot-jobs-item {
	  padding: 7px !important;
	  &:last-child {
		&::after {
		  border-bottom: none;
		}
	  }
	}
  }
 
}

.ot-jobs-wrap,
.ot-group-content-search {
	a.btn-primary {
		background-color: #fff;
		color: @textColor;
		
		&:hover,
		&:focus,
		&:active {
			color: #fff;
			background-color: @mainColor;
			border-color: @mainColor;
		}
	}
	
	.show-hovered {
		opacity: 0;
		transition: opacity .2s ease-in-out;
		
		&.active {
			color: @mainColor;
			
			i {
				&::before {
					content: "\f004";
				}
			}
		}
	}
}

.ot-jobs-wrap {
	[class*="jobs-box-"] {
		float: left;
	}
	
	.jobs-box-left {
		width: 75%;
		padding-right: 12px;
		
		ul {
			text-align: left !important;
			padding: 0 16px !important;
			
			li.active {
				a,
				a:focus,
				a:hover {
					color: #fff;
					background-color: @mainColor;
					border-color: @mainColor;
				}
			}
		}
		
		#top-job {
			margin: 0px !important;
			padding: 0 !important;
			border-left: 1px solid #cdcdcd;
			border-right: 1px solid #cdcdcd;
			border-bottom: 1px solid #cdcdcd;
		}
	}
}

ul.nav-tabs {
	text-align: left;
	border-color: #d9dadb;
	
	li {
		float: none;
		display: inline-block;
		
		a {
			border-color: #d9dadb;
			border-radius: 0;
			font-weight: 600;
			font-size: 15px;
			color: @textColor;
			padding: 10px 16px;
		}
	}
	
	li.active {
		a,
		a:focus,
		a:hover {
			color: #fff;
			background-color: @mainColor;
			border-color: @mainColor;
			border-top: 2px solid @mainColor;
			border-bottom-color: transparent;
		}
	}
}

.jobs-box-right {
	width: 25%;
	padding-left: 12px;
	
	.hot-job-title {
		margin: 24px 0;
		padding: 0 0 12px;
		font-size: 16px;
		font-weight: @fontWeightBold;
		border-bottom: 1px solid @mainColor;
	}
	
	.hot-job-banner-item {
		display: block;
		text-align: center;
		
		img {
			display: inline-block;
		}
	}
	
	.work-item {
		padding: 4px 12px;
		
		a:focus {
			outline: none;
			color: @mainColor;
			text-decoration: none;
		}
		
		&:hover {
			.mark {
				right: -2px;
				color: #fff;
				background-color: @mainColor;
				
				&::before {
					border-right-color: @mainColor;
				}
			}
		}
		
		a {
			position: relative;
			display: inline-block;
			padding-right: 32px;
			white-space: pre-line;
			
			&.no-mark {
				padding-right: 0;
			}
		}
		
		.mark {
			position: absolute;
			display: inline-block;
			right: 0;
			top: 2px;
			min-width: 24px;
			padding: 2px;
			line-height: 1;
			font-size: 10px;
			color: #fff;
			text-align: center;
			background-color: #909090;
			border-radius: 2px;
			transition: right .2s ease-in-out;
			
			&::before {
				content: "";
				position: absolute;
				left: -4px;
				top: 50%;
				margin-top: -4px;
				border-right: 4px solid #909090;
				border-top: 4px solid transparent;
				border-bottom: 4px solid transparent;
			}
		}
	}
}

/* List job START */
.ot-tab-job-box {
	.ot-jobs-item {
		position: relative;
		padding: 16px 8px;
		z-index: 1;
		&::after {
			z-index: -1;
			content: "";
			position: absolute;
			left: 16px;
			right: 16px;
			bottom: 0;
			border-bottom: 1px solid #cdcdcd;
		}
		
		&:hover {
			background-color: #e9e9e9;
			
			&::after {
				top: -1px;
				right: -1px;
				left: -1px;
				bottom: -1px;
				border: 1px solid @tableBorderColor;
			}
			
			.show-hovered {
				opacity: 1;
			}
		}
		
		a:focus {
			outline: none;
			color: @mainColor;
			text-decoration: none;
			
			&.btn-primary {
				color: @whiteColor;
			}
		}
		
		.jobs-item-title {
			position: relative;
			margin: 0;
			padding: 2px 0 2px 8px;
			font-size: 16px;
			font-weight: @fontWeightBold;
			color: @textColor;
			
			a {
				position: relative;
				display: inline-block;
				padding-right: 32px;
				
				&:hover {
					.basic-mark {
						top: -10px;
					}
				}
				
				&.no-mark {
					padding-right: 0;
				}
				
				.basic-mark {
					top: -8px;
					right: 0;
				}
			}
		}
		
		.jobs-item-sub-title {
			position: relative;
			font-size: 14px;
			color: @textColor;
			margin: 0;
			padding: 2px 8px;
		}
		
		.jobs-item-title,
		.jobs-item-sub-title {
			.show-hovered {
				position: absolute;
				top: 6px;
				right: 8px;
				padding: 0;
				line-height: 1;
			}
		}
		
		.jobs-item-content {
			display: table;
			table-layout: fixed;
			width: 100%;
			
			[class*="jobs-item-content-"] {
				display: table-cell;
				vertical-align: middle;
			}
			
			.jobs-item-content-avatar {
				width: 84px;
				height: 84px;
				padding: 8px;
				text-align: center;
				
				.avatar {
					display: flex;
					align-items: center;
					width: 68px;
					height: 68px;
					padding: 2px;
					background-color: #fff;
					border: 1px solid #cdcdcd;
				}
				
				img {
					display: inline-block;
				}
			}
			
			.jobs-item-content-link {
				vertical-align: bottom;
				width: 124px;
				padding: 8px;
				text-align: center;
			}
		}
		
		.same-item {
			margin: 0 0 6px 8px;
			
			.fa {
				margin: 0 4px;
			}
			
			.fa-map-marker {
				margin: 0 8px;
			}
			
			.fa-mortar-board {
				margin: 0 3px;
			}
			
			.fa-money,
			.fa-tags {
				margin: 0 4px 0 5px;
			}
			
			&:last-child {
				margin-bottom: 0;
			}
		}
		
		.tags {
			a {
				display: inline-block;
				margin: 0 4px;
				padding: 4px 6px;
				line-height: 1;
				color: @textColor;
				background-color: #cdcdcd;
				border-radius: 3px;
				
				&:hover {
					color: #fff;
					background-color: @mainColor;
				}
			}
		}
	}
}
/* List job END */

.auto-menu-item {
	& + .auto-menu-wrap {
		background-color: #fff;
		box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
		
		a:hover {
			color: #fff;
			background-color: @mainColor;
		}
	}
}

.auto-menu-item:hover + .auto-menu-wrap,
.auto-menu-wrap:hover {
	display: block;
	text-align: left;
}

.auto-menu-wrap {
	z-index: 8888;
	position: absolute;
	top: 100%;
	display: none;
	
	&.main-wrap {
		position: relative;
		display: inline-block !important;
		
		.auto-menu-group-item {
			position: relative;
			display: block;
		}
		
		& > .auto-menu-group-item {
			/* other submenu START */
			display: inline-block;
			
			& > .auto-menu-wrap {
				.auto-menu-wrap {
					left: 100%;
					top: 0;
				}
			}
			
			/* other submenu END */
			
			/* first submenu START */
			
			& > .auto-menu-item {
				& + .auto-menu-wrap {
					margin-top: 0;
					top: 44px;
					border-top: 3px solid @mainColor;
					
					&::before {
						z-index: -1;
						content: "";
						position: absolute;
						top: -32px;
						width: 100%;
						height: 32px;
						background-color: transparent;
					}
				}
			}
			
			/* first submenu END */
		}
		
		.auto-menu-item {
			display: block;
			
			&.menu-link {
				display: inline-block;
			}
			
			&.has-mark {
				padding: 0 24px 0 0;
			}
		}
	}
	
	.auto-menu-item {
		display: block;
		white-space: nowrap;
		padding: 6px 12px;
		
		&:focus {
			color: @textColor;
			text-decoration: none;
		}
	}
}

@media screen and (min-width: 1024px){
	.ot-banner {
		&.search-page {
			margin-bottom: @wrapDistanceBase;
			.ot-banner-img {
				height: 256px;
				object-fit: cover;
			}
			.ot-search {
				top: 50%;
				bottom: auto;
				.transform(translate(-50%, -50%));
			}
		}
	}
	
	.ot-search {
		z-index: 8;
		position: absolute;
		left: 50%;
		bottom: 16px;
		-webkit-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
		.ot-search-wrap {
			width: 768px;
			margin: 0 auto;
		}
		.ot-form-search-main {
			&.form-search {
				.form-group {
					&:nth-child(1) {
						width: 50%;
					}
					&:nth-child(2) {
						width: 30%;
					}
				}
			}
		}
	}
	
	.ot-search-job {
		.ot-group-search {
			.ot-search-item {
				-webkit-box-flex: 0;
				-ms-flex: 75%;
				flex: 0 0 75%;
				max-width: 75%;
			}
			.ot-sidebar {
				-webkit-box-flex: 0;
				-ms-flex: 25%;
				flex: 0 0 25%;
				max-width: 25%;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.ot-team {
		> div {
			-webkit-box-flex: 0;
			-ms-flex: 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
	
	.ot-social {
		ul {
			li {
				-webkit-box-flex: 0;
				-ms-flex: 25%;
				flex: 0 0 25%;
				max-width: 25%;
			}
			
			li:last-child {
				-webkit-box-flex: 0;
				-ms-flex: 50%;
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}
	
	.ot-vision-mission {
		.ot-item {
			> * {
				-webkit-box-flex: 0;
				-ms-flex: 50%;
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.ot-search-job {
		.ot-group-content-search {
			.ot-item-content-search {
				.ot-image-search {
					flex: 0 0 30%;
					max-width: 30%;
				}
				
				.ot-save {
					flex: 0 0 10%;
					max-width: 10%;
				}
			}
		}
		.ot-group-search {
			.ot-search-item {
				-webkit-box-flex: 0;
				-ms-flex: 65%;
				flex: 0 0 65%;
				max-width: 65%;
			}
			.ot-sidebar {
				-webkit-box-flex: 0;
				-ms-flex: 35%;
				flex: 0 0 35%;
				max-width: 35%;
			}
		}
	}
	
	.ot-job {
		padding: 32px 0;
	}
	
	.ot-jobs-wrap {
		ul.nav-tabs {
			li {
				a {
					padding: 8px 16px;
					font-size: 14px;
				}
			}
		}
		
		.jobs-box-left {
			width: 67.5%;
			padding-right: 8px;
		}
	}
	
	.jobs-box-right {
		width: 32.5%;
		padding-left: 8px;
	}
	
	.ot-slide-list {
		.item {
			.item-slide-img {
				height: 320px;
			}
		}
	}
	
	.ot-search {
		.ot-form-search-main {
			&.form-search {
				.form-group {
					&:nth-child(1) {
						width: 50%;
					}
					
					&:nth-child(2) {
						width: 30%;
					}
				}
			}
		}
		.ot-advance-box {
			.ot-select2-wrap {
				.select2 {
					min-width: 263px;
				}
			}
		}
	}
	
	.ot-banner {
		&.search-page {
			.ot-banner-img {
				height: 164px;
			}
		}
	}
}

@media screen and (min-width: 576px) {
	.ot-team {
		> div {
			-webkit-box-flex: 0;
			-ms-flex: 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	
	.ot-vision-mission {
		.ot-item {
			> * {
				-webkit-box-flex: 0;
				-ms-flex: 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
	
	.ot-social {
		ul {
			li {
				-webkit-box-flex: 0;
				-ms-flex: 50%;
				flex: 0 0 50%;
				max-width: 50%;
			}
			
			li:last-child {
				-webkit-box-flex: 0;
				-ms-flex: 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
	
	.ot-list-news {
		.ot-list-top {
			> * {
				-webkit-box-flex: 0;
				-ms-flex: 50%;
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}
	
	.ot-list-item,
	.ot-list-bottom {
		.ot-item-news {
			.ot-image-item {
				-webkit-box-flex: 0;
				-ms-flex: 40%;
				flex: 0 0 40%;
				max-width: 40%;
			}
			
			.ot-content-item {
				-webkit-box-flex: 0;
				-ms-flex: 60%;
				flex: 0 0 60%;
				max-width: 60%;
			}
		}
	}
	
	.ot-list-bottom {
		.ot-item-news {
			.ot-image-news {
				-webkit-box-flex: 0;
				-ms-flex: 40%;
				flex: 0 0 40%;
				max-width: 40%;
			}
			
			.ot-content-news {
				-webkit-box-flex: 0;
				-ms-flex: 60%;
				flex: 0 0 60%;
				max-width: 60%;
			}
		}
	}
	.ot-group-content-search {
		.ot-item-content-search {
			.ot-image-search {
				-webkit-box-flex: 0;
				-ms-flex: 20%;
				flex: 0 0 20%;
				max-width: 20%;
			}
			
			.ot-content-search {
				-webkit-box-flex: 0;
				-ms-flex: 60%;
				flex: 0 0 60%;
				max-width: 60%;
			}
			
			.ot-save {
				-webkit-box-flex: 0;
				-ms-flex: 20%;
				flex: 0 0 20%;
				max-width: 20%;
			}
		}
	}
}

@media screen and (max-width: 1440px) {
	.ot-slide-list .item .ot-slide-content {
		h1 {
			font-size: 40px;
		}
		
		p {
			font-size: 26px;
		}
	}
}

@media screen and (max-width: 1199px) {
	.ot-slide-list .item .ot-slide-content {
		h1 {
			font-size: 35px;
		}
		
		p {
			font-size: 21px;
		}
		
		a.ot-detail {
			height: 50px;
			line-height: 50px;
		}
	}
}

@media screen and (max-width: 992px) {
	.ot-slide-list {
		.item {
			.ot-slide-content {
				top: 50%;
			}
			
			> img {
				object-fit: cover;
			}
		}
	}

	.ot-search {
		.form-search {
			padding: 20px 15px;
			margin-top: 15px;
			
			a.ot-create-cv {
				width: 20%;
			}
		}
	}
	
	.ot-support {
		.ot-newsletter {
			.box-newsletter {
				
				h2,
				.content-mid,
				.register {
					width: 100%;
				}
				
				h2 {
					text-align: center;
					margin: 0 0 20px;
				}
				
				.content-mid {
					margin: 0 0 10px;
				}
			}
		}
	}
	
	.ot-job {
		.ot-tab-job .tab-content {
			.tab-slide .item {
				padding: 0;
			}
		}
	}
	
	.ot-banner {
		&.search-page {
			margin-bottom: @wrapDistanceBase;
		}
		> img {
			object-fit: cover;
		}
		
		h2.ot-title {
			left: 50%;
			font-size: 40px;
			width: 100%;
			padding: 0 15px;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.ot-team {
		.ot-team-item {
			.ot-content-team {
				min-height: 550px;
			}
		}
	}
	
	.social-sidebar-container {
		display: none !important;
	}
}

@media screen and (max-width: 767px) {
	.ot-support {
		padding-bottom: 0;
		
		.ot-createcv {
			padding-top: 0;
			
			.create-cv {
				h4 {
					font-size: 20px;
					line-height: 28px;
					margin: 20px 0;
				}
				
			}
			
			.image {
				text-align: center;
			}
		}
		
		.ot-newsletter .box-newsletter {
			padding: 15px;
			
			h2 {
				margin-bottom: 10px;
			}
			
			.register {
				> * {
					padding: 0 15px;
				}
				
				button {
					background: #333333;
					border-color: #333;
					
					&:hover {
						border-color: #e61d25;
					}
				}
			}
		}
	}

	.ot-search {
		.form-search {
			&.ot-form-search-main {
				.form-group {
					margin-bottom: 8px;
				}
			}
			.form-group {
				width: 50%;
			}
			
			a.ot-create-cv,
			.button-search {
				width: 100%;
				text-align: center;
			}
			
			button.btn {
				width: 100%;
				text-align: center;
				margin: 0 auto 0px;
			}
		}
	}
	.ot-list-employers {
		h2.ot-title {
			&::after {
				width: 20%;
			}
		}
	}
	
	.ot-list-program {
		.ot-listgroup {
			> * {
				width: 100%;
			}
		}
	}
	
	.ot-social {
		margin: 0;
	}
	
	.ot-list-news,
	.ot-list-program {
		padding: 20px 0;
	}
	
	.ot-job-detail {
		.ot-top-job {
			> * {
				width: 100%;
			}
			
			.ot-job-name {
				margin: 0 0 15px;
				
				.ot-image-job {
					margin: 0 auto 10px;
					text-align: center;
				}
			}
			
			.ot-job-share {
				
				.ot-list-icon,
				.ot-btn-apply {
					display: inline-block;
					vertical-align: middle;
					margin: 0 0 16px;
				}
				
				.ot-list-icon {
					margin-right: 10px;
				}
				
				.ot-btn-apply {
					margin-left: 10px;
				}
			}
		}
		
		.ot-main-job .tab-content .ot-job-info .ot-job-bottom {
			
			.btn.btn-apply,
			.btn.btn-expert {
				margin-bottom: 16px;
			}
		}
	}
	
	.ot-search-job {
		.ot-group-search {
			width: 100%;
			margin: 0;
			
			.ot-search-item {
				width: 100%;
				
				h2.ot-title-top {
					font-size: 18px;
					
					&::after {
						width: 72%;
					}
				}
			}
			
			.ot-sidebar {
				width: 100%;
				
				.ot-tag {
					h2.ot-title-top {
						&::after {
							width: 20%;
						}
					}
				}
				
				.ot-location {
					h2.ot-title-top {
						&::after {
							width: 35%;
						}
					}
				}
				
				.ot-jp-level {
					h2.ot-title-top {
						&::after {
							width: 47%;
						}
					}
				}
				
				.ot-tag,
				.ot-location,
				.ot-jp-level {
					h2.ot-title-top {
						font-size: 18px;
					}
				}
			}
			
			> * {
				padding: 0;
			}
		}
	}
	
	.ot-team {
		.ot-team-item {
			.ot-content-team {
				min-height: auto;
				
				.ot-box-team {
					position: static;
				}
			}
		}
	}
	
	.ot-content-intro .ot-tab-content {
		ul.nav-tabs {
			li {
				a {
					padding: 10px 10px;
				}
			}
		}
	}
	
	.ot-header-menu {
		.ot-container {
			padding: 0;
		}
	}
	
	.ot-login-button-sp {
		a {
			font-size: 12px;
		}
	}
	
	.ot-vision-mission {
		.ot-item {
			&:nth-child(2n) {
				flex-direction: column-reverse;
				.ot-content {
					&::before {
						position: static;
						border: 0 none;
					}
				}
			}
			&:nth-child(2n+1) {
				.ot-content{
					&::before {
						position: static;
						border: 0 none;
					}
				}
			}
			.ot-image {
				img {
					height: auto;
				}
			}
			.ot-content {
				padding: 30px 20px;
				h2.ot-title {
					font-size: 20px;
				}
				p {
					font-size: 14px;
					text-align: center;
					line-height: 28px;
				}
			}
		}
	}
	
	.ot-slide-list {
		.item {
			.ot-slide-content {
				img {
					width: 40px;
				}
			}
			.item-slide-img {
				height: 240px;
			}
		}
	}
	
	.ot-header-menu {
		.ot-header-rmenu {
			.btn-close-menu {
				.ot-table-cell {
					a {
						font-size: 62.5%;
					}
				}
			}
		}
	}
	
	.ot-list-program {
		.ot-box-item {
			h2.title {
				font-size: 20px;
			}
		}
	}
	
	.ot-jobs-wrap {
		.jobs-box-left {
			width: 100%;
		}
		
		.jobs-box-left {
			padding-right: 0;
			
			.ot-jobs-item {
				.show-hovered {
					opacity: 1;
				}
				.tags {
					margin-bottom: 0;
					
					a {
						margin-bottom: 6px;
					}
				}
			}
		}
	}
	
	.jobs-box-right {
		width: 100%;
		padding-left: 0;
	}
	
	.ot-group-content-search {
		.ot-jobs-item {
			.tags {
				margin-bottom: 0;
				
				a {
					margin-bottom: 6px;
				}
			}
		}
	}
	
	.ot-jobs-item {
		.view-more-button-sp {
			margin-top: 10px;
		}
	}
	.ot-tags-search-wrap {
		background-color: #ededed;
	}
	/* fixed footer START */
	
	.social-sidebar-container {
		display: table !important;
		table-layout: fixed;
		width: 100%;
		top: auto;
		left: 0;
		right: 0;
		bottom: 0;
		border-top: 1px solid #cdcdcd;
		
		.sidebar-item {
			position: relative;
			display: table-cell;
			width: 33.3333%;
			height: 42px;
			font-size: 12px;
			border: none;
			&:hover {
				&::before {
					display: none;
				}
			}
			&:not(:last-child) {
				&::before {
					content: "";
					position: absolute;
					top: 25%;
					right: 0;
					height: 50%;
					border-left: 1px solid #cdcd;
				}
			}
			.fa {
				font-size: 16px;
			}
			a {
				padding: 4px 8px;
				color: @textColor;
			}
		}
	}
	
	/* fixed footer END */
}

@media screen and (max-width: 639px) {
	.ot-job {
		.ot-tab-job {
			.tab-content {
				#top-job {
					margin-left: 0;
					margin-right: 0;
				}
				
				.ot-tab-job-box {
					display: block;
					
					.group-job {
						display: block;
						margin-bottom: 0;
						
						.box-item {
							display: block;
							width: 100%;
							margin-bottom: 12px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.ot-search-job {
		.ot-group-content-search {
			.ot-item-content-search {
				position: relative;
				border-bottom: 0 none;
				margin-bottom: 20px;
				border-bottom: 1px solid #a8a9a9;
				
				.ot-image-search {
					text-align: center;
					margin: 0 auto;
					
					img {
						object-fit: cover;
					}
				}
				
				.ot-content-search {
					width: 100%;
					padding: 10px 0;
					text-align: left;
				}
				
				.ot-save {
					position: absolute;
					bottom: 0;
					right: 0;
					width: 64px;
					padding: 10px 0;
					text-align: center;
					
					img {
						margin: 0 0 10px;
					}
				}
				
				.ot-content-search {
					padding-right: 64px;
					
					&::after {
						position: static;
						border: 0 none;
					}
					
					.salary {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	
	.ot-content-intro .ot-tab-content {
		ul.nav-tabs {
			li {
				a {
					font-size: 12px;
				}
			}
		}
		
		.tab-content {
			table.table-company {
				tr {
					td:first-child {
						display: block;
						width: 100%;
						text-align: center;
						border: 1px solid #cecece;
					}
					
					td {
						display: block;
						width: 100%;
					}
					
					td:last-child {
						border-top: 0 none;
						border-left: 1px solid #cecece;
						border-right: 1px solid #cecece;
					}
				}
				
				tr:last-child {
					td {
						border-right: 0 none;
						border-left: 1px solid #cecece;
						border-right: 1px solid #cecece;
					}
					
					td:first-child {
						border-bottom: 0 none;
					}
				}
			}
		}
	}
	
}

@media screen and (max-width: 480px) {
	.ot-search {
		.form-search {
			padding: 16px 4px;
			
			.form-group {
				width: 100%;
				margin-bottom: 8px;
			}
			
			button.btn {
				font-size: 16px;
			}
		}
		.ot-advance-box {
			width: 100%;
			.ot-select2-wrap {
				.select2 {
					width: 100%!important;
				}
			}
		}
	}
	
	.ot-list-employers {
		h2.ot-title {
			&::after {
				width: 30%;
			}
		}
		
		.ot-list-icon {
			padding: 0 8px;
		}
	}
	
	.ot-list-news {
		.ot-list-item .ot-item-news {
			.ot-image-item {
				margin: 0 0 15px;
				text-align: center;
			}
		}
		
		.ot-list-bottom .ot-item-news {
			.ot-image-news {
				margin: 0 0 15px;
				text-align: center;
			}
		}
	}
	
	.ot-content-intro .ot-tab-content {
		ul.nav-tabs {
			li {
				a {
					padding: 5px;
				}
			}
		}
	}
	
	.ot-content-intro {
		.ot-tab-content {
			ul.nav-tabs {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				justify-content: center;
			}
		}
	}
	
	.ot-banner {
		&.search-page {
			.ot-banner-img {
				min-height: 128px;
			}
		}
		> img {
			min-height: 200px;
		}
	}
	
	.ot-slide-list {
		.item {
			> img {
				min-height: 200px;
				object-fit: cover;
			}
			
			.ot-slide-content {
				h1 {
					font-size: 25px;
					letter-spacing: 1px;
					margin: 0 0 5px;
					line-height: normal;
				}
				
				p {
					font-size: 16px;
				}
				
				a.ot-detail {
					height: 35px;
					line-height: 35px;
					margin-top: 0px;
					min-width: 200px;
					
					span.image {
						img {
							width: 20px;
						}
					}
				}
			}
		}
		
		.owl-nav {
			button {
				opacity: 0.2;
				
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	
	.ot-support {
		padding-bottom: 0;
		
		.ot-createcv {
			padding-top: 0;
			
			.create-cv {
				h4 {
					font-size: 16px;
				}
			}
			
			.image {
				img {
					max-width: 240px;
					height: auto;
				}
			}
		}
	}
	
	.ot-job {
		padding: 32px 0;
		
		.ot-tab-job {
			.tab-content {
				.ot-tab-job-box {
					.group-job {
						.box-item {
							.ot-image {
								vertical-align: middle;
								width: 64px;
								padding: 4px;
							}
							
							.ot-content {
								.ot-skill-sighin-more {
									position: relative;
									display: block;
									padding-bottom: 32px;
									
									.skill_signin {
										width: 100%;
										border-right: 0;
									}
									
									.ot-more {
										position: absolute;
										width: 100%;
										bottom: 4px;
										text-align: right;
										
										.hot-job {
											display: inline-block;
											margin-bottom: 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
	.ot-job-detail {
		
		.ot-top-job {
			display: block;
			
			.ot-job-name {
				margin-bottom: 6px;
				
				.flex-top {
					align-self: flex-start;
				}
				
				.left {
					width: 78px;
					height: 78px;
				}
				
				.job-title {
					font-size: 14px;
				}
			}
			
			.ot-job-share {
				text-align: center;
				margin-bottom: 6px;
			}
		}
	}
	
	.ot-job-recruit-wrap {
		.negative {
			margin: 0;
		}
		
		.ot-table {
			display: block;
			
			.ot-recruit-item {
				display: block;
				margin-bottom: 8px;
				padding: 0;
				text-align: center;
				
				&:last-child {
					margin-bottom: 0;
				}
				
				img {
					display: inline-block;
				}
			}
		}
	}
	
	.ot-job-fair-wrap {
		img {
			height: 64px;
			object-fit: cover;
			object-position: right;
		}
	}
}

@media screen and(max-width: 375px) {
  .module-content {
	margin: 0 auto;
  }
  
	.ot-job .ot-tab-job {
		.tab-content {
			.tab-slide {
				.item {
					.box-item {
						
						.ot-image,
						.ot-content,
						.ot-more {
							width: 100%;
						}
						
						.ot-image {
							img {
								width: 100%;
								height: 150px;
								object-fit: contain;
							}
						}
					}
				}
			}
		}
	}
	
	.ot-list-employers {
		h2.ot-title {
			font-size: 25px;
			
			&::after {
				width: 50%;
			}
		}
	}
	
	.ot-job-detail {
		.ot-main-job {
			ul.nav-tabs {
				li a {
					padding: 10px 20px;
				}
			}
		}
		
		.ot-top-job .ot-job-share .ot-list-icon ul li {
			margin-top: 10px;
		}
	}
	
	.ot-banner {
		h2.ot-title {
			left: 50%;
			font-size: 18px;
			width: 100%;
			padding: 0 15px;
		}
	}
	
	.ot-search {
		.form-search {
			a.ot-create-cv {
				font-size: 12px;
			}
		}
	}
}
