@charset "utf-8";

@import "mixins/vendor-prefixes.less";

.ot-box-shadow-clear() {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.ot-box-sizing(@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing: @type;
	box-sizing: @type;
}

.ot-font(@font-size, @font-weight) {
	font-size: @font-size;
	font-weight: @font-weight;
}

.ot-transition(@duration, @property: all, @timing-func: linear, @delay: 0s) { // @duration, @delay ----> int + UNIT
	transition: @property @duration @timing-func @delay; // or ~"@{duration}s"
	-webkit-transition: @property @duration @timing-func @delay;
	-moz-transition: @property @duration @timing-func @delay;
	-o-transition: @property @duration @timing-func @delay;
}
.ot-transform-rotate (@deg) {
	transform: rotate(@deg);
	-webkit-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
	-o-transform: rotate(@deg);
}
