@charset "utf-8";

.slide-in-box{
	visibility:hidden;
	visibility:visible\9;/*For old IE browsers IE6-8 */
	&.come-in,
	&.already-visible {
		visibility: visible;
	}
}

.come-in {
	//transform: translateY(128px);
	animation: come-in 0.8s ease forwards;
	//&:nth-child(odd) {
	//	animation-duration: 0.6s;
	//}
}
.already-visible {
	transform: translateY(0);
	animation: none;
}

//@keyframes come-in {
//	to { transform: translateY(0); }
//}

@keyframes come-in {
	0% {
		opacity: 0;
		transform: translateY(128px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}