@charset "utf-8";
@import "variables.less";

@media screen and (max-width: 1199px) {
	.sp-fright {
		float: right;
	}
	
	.sp-fleft {
		float: left;
	}
	
	.sp-tcenter {
		text-align: center;
	}
	
	.sp-tleft {
		text-align: left;
	}
	
	.sp-tright {
		text-align: right;
	}
	
	.ot-header-menu {
		.navbar-header {
			.navbar-toggle {
				width: 44px;
				height: 34px;
				
				span.icon-bar {
					position: absolute;
					margin-top: 0;
					transition: all .4s ease;
				}
				
				span.ot-hd-mn-icon01 {
					top: 8px;
				}
				
				span.ot-hd-mn-icon02 {
					top: 16px;
				}
				
				span.ot-hd-mn-icon03 {
					top: 24px;
				}
			}
			
			.navbar-toggle:not(.collapsed) {
				span.ot-hd-mn-icon01 {
					-webkit-transform: rotate(225deg);
					transform: rotate(225deg);
					margin: 8px 0 0 0;
				}
				
				span.ot-hd-mn-icon02 {
					opacity: 0;
					-webkit-transform: scale(.8);
					transform: scale(.8);
				}
				
				span.ot-hd-mn-icon03 {
					-webkit-transform: rotate(-225deg);
					transform: rotate(-225deg);
					margin: -8px 0 0 0;
				}
			}
		}
		
		.text-logo {
			font-size: 10px;
			color: #fff;
		}
	}
}

@media screen and (max-width: 992px) {
	.ot-staff-detail {
		.ot-staff-left {
			.ot-staff-description {
				.ot-staff-video {
					position: relative;
					padding-bottom: 56.25%;
					padding-top: 30px;
					height: 0;
					overflow: hidden;
					width: 90%;
					
					iframe,
					object,
					embed {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.ot-container {
		width: auto;
	}
	
	.ot-other-page {
		.blog-detail {
			.ot-news-blog-box {
				.box {
					column-count: 4;
					-webkit-column-count: 4;
					-moz-column-count: 4;
				}
			}
		}
	}
	
	.content {
		.ot-staff-box {
			li {
				padding: 0 .4em;
				
				.ot-staff-item {
					padding: 0 .4em;
				}
			}
		}
	}
	
	.content {
		.ot-staff-new {
			.ot-staff-box {
				width: 32.45%;
				margin-left: .75%;
				
				.avatar {
					max-height: 155px;
				}
				
				.slogan {
					min-height: 65px;
				}
			}
			
			.ot-box-staff-wrap {
				min-height: 78px;
			}
		}
	}
	
	.ot-staff-detail {
		.ot-staff-left {
			width: 67%;
		}
		
		.ot-staff-right {
			width: 30%;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 860px) {
	.ot-header-menu {
		.ot-header-rmenu {
			ul {
				li {
					a {
						padding-left: 7px;
						padding-right: 7px;
					}
				}
			}
		}
		
		.text-logo {
			top: 12px;
			font-size: 8px;
		}
	}
	
	.ot-staff-detail {
		.ot-staff-right {
			display: none;
		}
	}
	
	.ot-staff-detail {
		.ot-staff-left {
			margin-right: 0;
			margin-left: 0;
			width: 100%;
		}
		
		.ot-staff-right {
			width: 100%;
			padding-bottom: 3%;
			
			.ot-staff-right-head {
				padding: 2% 0;
			}
			
			.ot-staff-wrap {
				display: inline-block;
				vertical-align: top;
				width: 45%;
				margin: 3% 3% 0;
				
				&:nth-child(2n+1) {
					margin-left: 0;
				}
				
				.avatar {
					overflow: hidden;
					max-height: 260px;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.ot-header-menu {
		.marquee {
			position: static;
			overflow: hidden;
			display: block;
		}
		
		.text-logo, .text-logo-marquee {
			position: static !important;
			font-size: 10px;
			color: #fff;
		}
		
		.ot-header-rmenu {
			.above-menu {
				.header-language {
					[class*="ot-lang-"] {
						display: inline-block;
						width: 24px;
						height: 16px;
						background: url("/frontend/img/icon/i_top_sprites.png") no-repeat;
					}
					
					.ot-lang-jp {
						background-size: 217%;
						background-position: -7px -388px;
					}
					
					.ot-lang-vn {
						background-size: 236%;
						background-position: -6px -6px;
					}
				}
			}
		}
	}
	
	.ot-slider-text {
		font-size: 3.8em;
	}
	
	.ot-slider-license {
		bottom: 1.8em;
		right: .6em;
		font-size: 1.5em;
	}
	
	.width-400 {
		width: 250px;
	}
	
	.ot-header-menu {
		z-index: 11;
		top: 0px;
		.navbar-header,
		.navbar-collapse {
			margin-left: 0;
			margin-right: 0;
		}
		
		.navbar-header {
			display: block;
			float: none;
			
			.navbar-header-left {
				display: inline;
			}
			
			.navbar-toggle {
				margin-left: 16px;
				background-color: @navbarColor;
				border-color: @navbarColor;
				margin-top: 10px;
				width: 36px;
				height: 28px;
				padding: 6px 7px;
				
				span.icon-bar {
					width: 20px;
				}
				
				span.ot-hd-mn-icon01 {
					top: 6px;
				}
				
				span.ot-hd-mn-icon02 {
					top: 12px;
				}
				
				span.ot-hd-mn-icon03 {
					top: 18px;
				}
			}
			
			.navbar-toggle:not(.collapsed) {
				span.ot-hd-mn-icon01 {
					margin: 6px 0 0 0;
				}
				
				span.ot-hd-mn-icon03 {
					margin: -6px 0 0 0;
				}
			}
			
			a.navbar-brand {
				float: left;
				height: 48px;
				padding-top: 2px;
				padding-bottom: 2px;
				
				img {
					margin: 8px 2px;
					height: 32px;
				}
			}
		}
		
		.ot-header-rmenu {
			position: relative;
			width: 100%;
			background-color: @navbarColor;
			border-color: @whiteColor;
			
			.navbar-nav {
				margin-top: 0;
				margin-bottom: 0;
				font-size: 14px;
				
				li {
					border-bottom: 1px solid @menuBorderColorSP;
					
					a {
						padding-top: 8px;
						padding-bottom: 8px;
						background-color: @mainColor;
					  	display: inline-block;
						
						&:focus, &:hover, &:active {
							background-color: @mainColor;
						}
					}
					
					.dropdown-menu {
						li {
							a {
								color: #fff;
							}
							
							&:last-child {
								border-bottom: none;
							}
						}
						
						.dropdown-submenu {
							> a {
								position: relative;
								
								&:before {
									position: absolute;
									content: "";
									border-top: 4px solid #fff;
									border-left: 4px solid transparent;
									border-right: 4px solid transparent;
									top: 50%;
									margin-top: -3px;
									right: 0;
								}
							}
							
							.dropdown-menu {
								display: block;
								
								li {
									position: relative;
									padding-left: 20px;
									
									&:before {
										position: absolute;
										content: "";
										border-left: 5px solid #fff;
										border-top: 5px solid transparent;
										border-bottom: 5px solid transparent;
										margin-right: -10px;
										top: 50%;
										margin-top: -5px;
										margin-left: 10px;
									}
								}
							}
						}
					}
				}
			}
			
			.above-menu {
				position: absolute;
				width: auto;
				right: 5px;
				z-index: 1;
				
				.header-language {
					padding: 8px 10px;
				}
			}
			
			.btn-close-menu {
				text-align: center;
				color: @navbarColor;
				background-color: @whiteColor;
				margin-left: -15px;
				margin-right: -15px;
				padding: 4px;
				.profile-info {
					font-size: 12px;
					.profile-link {
						display: block;
						padding: 4px 0;
					}
					.profile-info-avatar,
					.profile-info-link{
						display: inline-table;
						vertical-align: middle;
						width: 49.5%;
					}
					.profile-info-avatar {
						.name {
							display: inline-block;
							width: 142px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
					.profile-info-link {
						text-align: left;
					}
				}
				button {
					background-color: @whiteColor;
					border: 1px solid @whiteColor;
					
					i {
						margin-right: 4px;
					}
				}
			}
		}
		.navbar-inverse {
			background-color: #fff;
			border-color: @navbarBorderColor;
			box-shadow: 0 1px 4px rgba(0, 150, 255, .3);
		}
	}
	
	.content {
		top: 70px;
		margin-bottom: 70px;
		&.clients {
			top: 50px;
			margin-bottom: 50px;
		}
		.title-banner-large {
			&.video-work {
				width: 100%;
				height: 280px;
				
				video {
					&.loading {
						background: black url('/frontend/img/i_loading.gif') center center no-repeat;
					}
				}
			}
		}
		
		.ot-box-service {
			.ot-box-content {
				.service-in {
					.sp-service-detail {
						.title, .view-more-link a {
							padding: 5px;
							color: #fff;
							background-color: @mainColor;
							
							a {
								margin-bottom: 5px;
								margin-right: 5px;
								display: inline-block;
								color: #fff;
							}
						}
						
						.desc {
							margin: 5px;
						}
					}
				}
			}
		}
		
		.ot-box-content {
			fieldset {
				legend {
					.text {
						font-size: @spBoxTitleFontsize;
						left: 48px;
					}
					
					img {
						width: 36px;
					}
				}
				
				.ot-fieldset-content {
					.view-more-link {
						top: -36px;
					}
					
					ul {
						li {
							min-height: 285px;
							max-height: 285px;
							
							.box {
								min-height: 281px;
								
								.thumbnail {
									min-height: 158px;
									max-height: 158px;
									
									.center {
										img {
											max-height: 150px;
										}
									}
								}
								
								.icon {
									a.link-web {
										font-size: @spNomarlFontsize;
									}
								}
							}
						}
					}
				}
				
				&.app {
					width: 100%;
					margin-right: 0;
				}
				
				&.web {
					width: 100%;
					margin-left: 0;
				}
			}
		}
		
		.ot-news-blog-box {
			.box {
				column-count: 3;
				-webkit-column-count: 3;
				-moz-column-count: 3;
				column-gap: 8px;
				-webkit-column-gap: 8px;
				-moz-column-gap: 8px;
				
				.item {
					margin-bottom: 8px;
				}
			}
		}
		
		.ot-tab-list {
			.tab-content {
				#app,
				#web,
				#game,
				#vr,
				#youtube {
					p {
						margin-bottom: 6px;
					}
				}
				
				#web, #youtube {
					.ot-table-layout {
						.ot-table-row-layout {
							.left {
								width: 40%;
							}
							
							.right, .desc {
								width: 60%;
							}
						}
					}
				}
			}
		}
		
		.ot-service-page-content {
			.ot-list-service {
				.ot-border-box {
					padding-top: 4px;
					padding-bottom: 4px;
					
					&:nth-child(odd) {
						.service-content {
							.service-face-image,
							.service-face-video {
								padding-right: 10px;
							}
							
							.service-extend {
								.service-extend-content {
									margin-right: 6px;
									
									&:before {
										content: none;
									}
									
									.advance-develop-kinect, .advance-develop-ai, .advance-develop-robot, .advance-develop-drone {
										width: 70px;
										height: 70px;
										
										.advance-develop-icon {
											margin: 14px auto 0;
											padding: 0 16px;
										}
										
										.advance-develop-title {
											padding: 0 16px;
										}
									}
								}
							}
						}
					}
					
					&:nth-child(even) {
						.service-content {
							.service-face-image,
							.service-face-video {
								padding-left: 10px;
							}
						}
					}
					
					&:before,
					&:after {
						border: 0 none;
						content: none;
					}
					
					&.medias {
						.table-column {
							border: 1px solid @mediaColor;
						}
					}
					
					&.offshore {
						.table-column {
							border: 1px solid @offshoreColor;
						}
					}
					
					&.labor-jp,
					&.labor {
						.table-column {
							border: 1px solid @laborColor;
						}
					}
					
					&.operation {
						.table-column {
							border: 1px solid @operationColor;
						}
					}
					
					&.advance-jp,
					&.advance {
						.table-column {
							border: 1px solid @supportColor;
						}
					}
					
					&.robot-jp,
					&.robot {
						.table-column {
							border: 1px solid @robotColor;
						}
					}
					
					&.vr-jp,
					&.vr {
						.table-column {
							border: 1px solid @vrColor;
						}
					}
					
					.ot-table-layout-compact {
						.table-row {
							.table-column {
								border: 1px solid #b3b3b3;
								
								&.column-main {
									width: 100%;
									
									.service-title {
										font-size: @spBoxTitleFontsize;
										
										&:before {
											display: none;
										}
									}
									
									.service-content {
										margin-left: 0;
										margin-right: 0;
										
										.service-extend {
											.service-extend-content {
												margin-right: 6px;
												
												&:before {
													content: none;
												}
												
												.advance-develop-kinect, .advance-develop-ai, .advance-develop-robot, .advance-develop-drone {
													width: 70px;
													height: 70px;
													
													.advance-develop-icon {
														margin: 14px auto 0;
														padding: 0 16px;
													}
													
													.advance-develop-title {
														padding: 0 16px;
													}
												}
											}
										}
									}
									
									&:before {
										display: none;
									}
								}
								
								&.column-sub {
									display: none;
								}
								
								.shape {
									display: none;
								}
							}
						}
					}
					
					.top,
					.bottom {
						display: none;
					}
				}
			}
		}
		
		.ot-staff-box {
			width: 100%;
			
			li {
				width: 50%;
				margin-bottom: .8em;
				float: left;
			}
		}
		
		.ot-news-container {
			.ot-news-content-list {
				list-style-type: none;
				
				.ot-news-content-item {
					display: block;
					padding-bottom: 5px;
					margin: 10px 0;
					border-bottom: 1px solid #ddd;
					
					.item-time {
						display: inline-block;
						width: auto;
						font-weight: bold;
					}
					
					.item-category {
						display: inline-block;
						float: right;
						width: auto;
					}
					
					.item-content {
						display: block;
						padding-top: 10px;
						padding-left: 0;
						
						.item-content-title {
							color: #337ab7;
							font-weight: normal;
						}
						
						.item-content-desc {
						}
					}
				}
			}
			
			.ot-news-content-detail {
				.item-time {
					font-size: 1em;
				}
				
				.item-category {
					font-size: 1em;
				}
				
				.item-content {
					.item-content-title {
						font-size: 1.2em;
					}
				}
			}
		}
		
		.ot-introduce-video {
			iframe {
				width: 100%;
				height: 300px;
			}
		}
		
		.ot-news-box {
			border-top: 1px solid #ededed;
			
			&:before,
			&:after {
				display: none;
			}
			
			[class^="ot-item-box-"] {
				width: 100%;
				border-bottom: 1px solid #ededed;
				padding: 8px 0;
				&:after {
					display: none;
				}
			}
			
			.ot-item-box-1 {
				background-color: #eee;
			}
			
			.ot-border {
				&:before,
				&:after {
					display: none;
				}
			}
		}
		
		.ot-news-container {
			.ot-box-title {
				&.main-title {
					height: auto;
				}
				.news-tab {
					margin-bottom: 4px;
					width: 48%;
				}
			}
		}
		
		/* begin vr */
		.ot-vr-box {
			width: 100%;
			
			.vr-box-row {
				border-bottom: 1px solid #eee;
				padding-bottom: 20px;
				
				&:nth-child(2n+1) {
					&:before {
						content: none;
					}
				}
				
				.vr-box-left {
					width: 100%;
					float: left;
					padding: 5px;
					
					img {
						width: 100%;
					}
				}
				
				.vr-box-right {
					width: 100%;
					padding: 5px;
					
					.vr-title {
						font-size: 1.2em;
						font-weight: bold;
						margin-bottom: 10px;
						color: @vrColor;
					}
					
					.vr-content {
						p {
							margin-bottom: 0;
						}
					}
				}
			}
			
			.vr-box-row:last-child {
				border-bottom: none;
			}
		}
		/* end vr */
		
		.modal-privacy {
			.modal-dialog {
				background-color: #fff;
				top: 100px;
				
				.ot-videos {
					width: 100%;
					height: 320px;
				}
				
				.ot-video-item {
					display: block;
					padding: 4px;
					border-bottom: 1px solid #ededed;
					
					&.active {
						background-color: #f4f4f4;
					}
				}
			}
		}
	}
	
	.ot-other-page {
		.ot-header-menu.t-fixed {
			position: fixed;
		}
		
		.content {
			.ot-table-layout-compact {
				.table-row {
					.table-column {
						input {
							max-width: 100%;
						}
					}
				}
			}
			
			.ot-company-table {
				&.map-table {
					.table-row {
						.table-column {
							display: block;
							text-align: center;
							padding-left: 8px;
							padding-right: 8px;
						}
					}
				}
			}
			
			.side,
			.left-content {
				padding-left: 0;
				padding-right: 0;
			}
			
			.modal-privacy {
				.modal-dialog {
					width: 80%;
					margin-left: auto;
					margin-right: auto;
					top: 100px;
					background-color: @whiteColor;
				}
			}
		}
	}
	
	.ot-top-page {
		.ot-header-menu {
			position: fixed;
		}
		
		.header-slide {
			top: 55px;
		}
	}
	
	.ot-staff-detail {
		.ot-staff-left {
			margin-top: 10px;
		}
		
		.ot-staff-right {
			display: none;
		}
	}
	
	.ot-box-content-bb, .ot-box-content-nb {
		.drone-box-content {
			width: 100%;
			display: table;
			
			.drone-box-left, .drone-box-right {
				display: block;
				width: 100%;
				padding: 10px;
				margin: 0 1%;
				border: 1px solid #b7b7b7;
				vertical-align: middle;
				
				.drone-wrap-img {
					display: table;
					width: 100%;
					
					.drone-img {
						display: table-cell;
						text-align: center;
						max-height: 180px;
						vertical-align: middle;
						
						img {
							max-height: 180px;
							margin: 0 auto;
							vertical-align: middle;
						}
					}
				}
				
				.drone-content {
					width: 100%;
					
				}
			}
			
			.drone-box-center {
				display: block;
				width: 100%;
				margin: 0 1%;
				
				.drone-box-center-top, .drone-box-center-bottom {
					display: block;
					border: 1px solid #b7b7b7;
					padding: 10px;
				}
				
				.drone-box-center-top {
					margin: 10px 0;
					
					.drone-wrap-img {
						padding-left: 10px;
					}
				}
				
				.drone-box-center-bottom {
					margin: 10px 0;
					
					.drone-wrap-img {
						padding-right: 10px;
					}
				}
				
				.drone-wrap-img {
					display: table-cell;
					width: 50%;
					vertical-align: middle;
					
					.drone-img {
						display: table-cell;
						text-align: center;
						max-height: 180px;
						vertical-align: middle;
						
						img {
							max-height: 180px;
							margin: 0 auto;
							vertical-align: middle;
						}
					}
				}
				
				.drone-content {
					display: table-cell;
					width: 50%;
					padding-right: 10px;
					
					.drone-title {
						padding-top: 0;
						
						&:before {
							margin-top: -10px;
							margin-right: 0;
						}
						
						&:after {
							margin-top: -10px;
							margin-left: 0;
						}
					}
				}
			}
			
			.drone-title {
				position: relative;
				font-size: 18px;
				padding: 10px;
				text-align: center;
				font-weight: 600;
				
				&:before {
					position: absolute;
					content: "";
					border-left: 10px solid #575a5a;
					border-top: 4px solid transparent;
					border-bottom: 4px solid transparent;
					left: 0;
					top: 50%;
					margin-top: -4px;
				}
				
				&:after {
					position: absolute;
					content: "";
					border-right: 10px solid #575a5a;
					border-top: 4px solid transparent;
					border-bottom: 4px solid transparent;
					right: 0;
					top: 50%;
					margin-top: -4px;
				}
			}
			
			.drone-desc {
				text-align: center;
				margin: 0;
			}
		}
		
		.kinect-box-content {
			display: block;
			padding-bottom: 20px;
			
			.kinect-box-item {
				width: 49%;
				display: inline-block;
				vertical-align: top;
				padding: 10px;
				
				.kinect-wrap-img {
					padding: 0 20px;
					margin: 0 auto;
					text-align: center;
					
					.kinect-img {
						display: inline-block;
						vertical-align: middle;
						border-radius: 50%;
						border: 1px solid #ccc;
						
						img {
							padding: 6px;
						}
					}
				}
				
				.kinect-content {
					padding: 0 10px;
					
					.kinect-title {
						font-weight: 600;
						text-align: center;
						padding: 10px 0;
						color: @mainColor;
					}
					
					.kinect-desc {
						margin: 0;
						text-align: center;
					}
				}
			}
		}
		
		.wrap-table-icon-content {
			width: 100%;
			padding: 10px 0;
			
			.table-icon-content {
				&:nth-child(n+2) {
					padding-left: 0;
					padding-top: 10px;
				}
			}
		}
		
		.table-icon-content {
			display: table;
			float: none;
			
			.icon-img {
				display: table-cell;
				vertical-align: middle;
				width: 40px;
			}
			
			.icon-content {
				display: table-cell;
				padding-left: 10px;
				vertical-align: middle;
				
				table {
					text-align: center;
					width: 100%;
				}
			}
		}
	}
	
	.ot-sitemap-content {
		width: 100%;
		
		.sitemap-wrapper {
			padding: 0;
		}
	}
	
}

@media screen and (max-width: 767px) and (min-width: 481px) {
	.content {
		.ot-box-service {
			.ot-box-content {
				width: 180px;
				height: 180px;
				transform: scaleX(2.5);
				-webkit-transform: scaleX(2.5);
				-moz-transform: scaleX(2.5);
				-o-transform: scaleX(2.5);
				
				.ot-circle-service {
					.parent {
						width: 90px;
						height: 90px;
						
						[class*="select-content-"] {
							width: 80px;
							height: 80px;
							max-width: 80px;
							max-height: 80px;
							transform: scaleX(0.4);
							-webkit-transform: scaleX(0.4);
							-o-transform: scaleX(0.4);
							-moz-transform: scaleX(0.4);
							padding: 4px 8px 8px;
							font-size: @spNomarlFontsize;
							
							p {
								font-size: 1em;
							}
							
							img {
								width: 24px;
							}
							
							&.active {
								max-height: 90px;
								max-width: 90px;
								height: 90px;
								width: 90px;
							}
						}
						
						.select-content-labor {
							&.active {
								.ot-icon {
									background-size: 45px 32px;
								}
							}
							
							.ot-icon {
								width: 45px;
								height: 32px;
								background-size: 45px 32px;
							}
						}
						
						.select-content-offshore {
							&.active {
								.ot-icon {
									background-size: 30px 30px;
								}
							}
							
							.ot-icon {
								width: 30px;
								height: 30px;
								background-size: 30px 30px;
							}
						}
						
						.select-content-advance-develop {
							&.active {
								.ot-icon {
									background-size: 30px 30px;
								}
							}
							
							.ot-icon {
								width: 30px;
								height: 30px;
								background-size: 30px 30px;
							}
						}
						
						.select-content-vn-advance-support {
							&.active {
								.ot-icon {
									background-size: 32px 20px;
								}
							}
							
							.ot-icon {
								width: 32px;
								height: 20px;
								background-size: 32px 20px;
							}
						}
						
						.select-content-vr {
							&.active {
								.ot-icon {
									background-size: 40px 22px;
								}
							}
							
							.ot-icon {
								width: 40px;
								height: 22px;
								background-size: 40px 22px;
							}
						}
						
						.service-detail {
							z-index: -1;
							
							&.left {
								right: -16px;
								top: -42px;
								z-index: 10;
							}
							
							&.right {
								left: -16px;
								top: 8px;
								z-index: 9999;
							}
						}
						
						&.labor {
							left: -6px;
							top: -10px;
						}
						
						&.labor-jp {
							right: -5px;
							top: -25px;
						}
						
						&.offshore {
							right: -6px;
							top: -10px;
						}
						
						&.offshore-jp {
							left: 20px;
							top: -40px;
						}
						
						&.medias {
							left: -24px;
							bottom: 20px;
						}
						
						&.medias-jp {
							left: -30px;
							top: 20px;
						}
						
						&.operation-and-monitor {
							right: -24px;
							bottom: 20px;
						}
						
						&.operation-and-monitor-jp {
							left: -10px;
							bottom: -20px;
						}
						
						&.robot-jp {
							right: -35px;
							top: 20px;
						}
						
						&.vr-jp {
							left: -30px;
							top: 80px;
						}
						
						&.advance-develop {
							left: 125px;
							bottom: 0px;
						}
						
						&.vn-advance-support {
							left: ~"calc(50% - 45px)";
							left: ~"-webkit-calc(50% - 45px)";
							left: ~"-moz-calc(50% - 45px)";
							left: ~"-o-calc(50% - 45px)";
							bottom: -50px;
						}
					}
				}
				
				.service-in {
					z-index: 1;
					width: 240px;
					height: 90px;
					top: ~"calc(50% - 50px)";
					top: ~"-webkit-calc(50% - 50px)";
					top: ~"-moz-calc(50% - 50px)";
					top: ~"-o-calc(50% - 50px)";
					left: ~"calc(50% - 120px)";
					left: ~"-webkit-calc(50% - 120px)";
					left: ~"-moz-calc(50% - 120px)";
					left: ~"-o-calc(50% - 120px)";
					transform: scaleX(0.4) rotate(16deg);
					-webkit-transform: scaleX(0.4) rotate(16deg);
					-o-transform: scaleX(0.4) rotate(16deg);
					-moz-transform: scaleX(0.4) rotate(16deg);
					
					& > p {
						top: calc(50% - 15px);
						font-size: 14px;
						font-weight: 600;
						
						img {
							width: 20px;
						}
					}
					
					.sp-service-detail {
						width: 180px;
						height: auto;
						position: relative;
						top: -20px;
						margin-left: auto;
						margin-right: auto;
						box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
						transform: rotate(-16deg);
						-webkit-transform: rotate(-16deg);
						-moz-transform: rotate(-16deg);
						-o-transform: rotate(-16deg);
						background: @whiteColor;
						font-size: @spNomarlFontsize;
						
						p {
							margin-left: 10px;
							margin-bottom: 4px;
						}
						
						.desc {
							max-height: 64px;
							line-height: 16px;
							display: -webkit-box;
							-webkit-line-clamp: 4;
							-webkit-box-orient: vertical;
							overflow: hidden;
							text-overflow: ellipsis;
						}
						
						.title {
							text-align: center;
							background-color: @mainColor;
							margin: 0;
						}
						
						.border {
							position: absolute;
							width: 10px;
							height: 100%;
						}
						
						.item {
							display: table;
							width: 100%;
							margin: 0 !important;
							padding: 0 10px !important;
							height: 42px;
							
							.icon {
								width: 32px;
								display: table-cell;
								text-align: center;
								vertical-align: middle;
								
								img {
									max-width: 100%;
								}
							}
							
							.text {
								padding-left: 20px;
								display: table-cell;
								width: auto;
								vertical-align: middle;
							}
							
							.link {
								display: table-cell;
								text-align: right;
								vertical-align: middle;
								
								a {
									display: inline-block;
									background-color: @mainColor;
									color: #fff;
									padding: 2px 6px;
									border-radius: 2px;
								}
							}
						}
						
						.view-more-link {
							a {
								display: inline-block;
								margin: 0 5px 5px 0;
							}
						}
					}
				}
			}
		}
		
		.ot-staff-new {
			.ot-staff-box {
				width: 48.5%;
				margin-left: 1.5%;
				
				&:nth-child(2n) {
					margin-left: 1.5%;
				}
				
				&:nth-child(2n + 1) {
					margin-left: 0;
				}
				
				.avatar {
					max-height: 170px;
				}
				
				.slogan {
					min-height: 65px;
				}
			}
			
			.ot-box-staff-wrap {
				min-height: 78px;
			}
		}
	}
	
	.ot-staff-detail {
		.ot-staff-info {
			.ot-staff-info-left {
				.transliteration {
					font-size: 1.8em;
				}
			}
		}
		
		.ot-staff-left {
			margin-right: 0;
			margin-left: 0;
			width: 100%;
		}
		
		.ot-staff-right {
			width: 100%;
			padding-bottom: 3%;
			
			.ot-staff-right-head {
				padding: 2% 0;
			}
			
			.ot-staff-wrap {
				display: inline-block;
				vertical-align: top;
				width: 45%;
				margin: 3% 3% 0;
				
				&:nth-child(2n+1) {
					margin-left: 0;
				}
				
				.avatar {
					overflow: hidden;
					max-height: 260px;
				}
			}
		}
	}
	
	.ot-box-content-bb, .ot-box-content-nb {
		.ot-four-box {
			margin-bottom: 20px;
			
			.box-row {
				width: 100%;
				
				.box-item {
					float: left;
					width: 50%;
					padding: 0 6px;
					margin-bottom: 20px;
					
					&:nth-last-child(-n+2) {
						margin-bottom: 0;
					}
					
					.item-img {
						width: 100%;
						padding-bottom: 6px;
						
						img {
							margin: 0 auto;
							text-align: center;
						}
					}
					
					.item-content {
						width: 100%;
						
						.content-title {
							font-weight: 600;
							padding-bottom: 6px;
						}
						
						.content-desc {
							margin: 0;
						}
						
						.item-link {
							display: block;
							text-decoration: none;
							text-align: right;
						}
					}
				}
			}
		}
	}
	
	.table-image-3 {
		display: block;
		width: 100%;
		text-align: center;
		
		.image-item {
			display: inline-block;
			width: 48%;
			margin: 0 .5% 15px .5%;
			border: 1px solid #ccc;
			vertical-align: top;
			
			.img-content {
				width: 100%;
				padding: 0 6px;
				
				.img-title, .img-desc {
					text-align: center;
					margin: 0;
				}
				
				.img-title {
					padding-top: 4px;
				}
				
				.img-desc {
					padding-bottom: 4px;
					word-wrap: break-word;
					
					a {
						text-decoration: underline;
					}
				}
			}
		}
	}
	
	.table-image-5 {
		display: block;
		width: 250px;
		text-align: center;
		margin: 0 auto;
		
		.image-item {
			display: inline-block;
			width: 100%;
			margin: 0 .5%;
			margin-bottom: 16px;
			border: 1px solid #ccc;
			vertical-align: top;
			
			&:last-child {
				margin-bottom: 0;
			}
			
			.img-content {
				width: 100%;
				padding: 0 6px;
				
				.img-title, .img-desc {
					text-align: center;
					margin: 0;
				}
				
				.img-title {
					padding: 4px 0;
				}
				
				.img-desc {
					padding: 4px 0;
					word-wrap: break-word;
					
					a {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.content {
		&.ot-youtube-model {
			.work-ot-videos {
				width: 100%;
			}
		}
		
		.title-banner-large {
			&.video-work {
				width: 100%;
				height: 170px;
				
				video {
					&.loading {
						background: black url('/frontend/img/i_loading.gif') center center no-repeat;
					}
				}
			}
		}
	}
	
	.ot-container {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.ot-box-title {
		.table-cell {
			padding-top: .4em;
			
			i {
				font-size: 24px;
			}
		}
	}
	
	.ot-sp-disnone {
		display: none;
	}
	
	p {
		margin-left: 5px;
	}
	
	.mt-0 {
		margin-top: 0;
	}
	
	.mt-5 {
		margin-top: 3px;
	}
	
	.mt-10 {
		margin-top: 5px;
	}
	
	.mt-20 {
		margin-top: 10px;
	}
	
	.mr-0 {
		margin-right: 0;
	}
	
	.mr-5 {
		margin-right: 3px;
	}
	
	.mr-10 {
		margin-right: 5px;
	}
	
	.mr-20 {
		margin-right: 10px;
	}
	
	.mb-0 {
		margin-bottom: 0;
	}
	
	.mb-5 {
		margin-bottom: 3px;
	}
	
	.mb-10 {
		margin-bottom: 10px;
	}
	
	.mb-15 {
		margin-bottom: 8px;
	}
	
	.mb-20 {
		margin-bottom: 20px;
	}
	
	.mb-30 {
		margin-bottom: 30px;
	}
	
	.pt-0 {
		padding-top: 0;
	}
	
	.pt-5 {
		padding-top: 3px;
	}
	
	.pt-10 {
		padding-top: 5px;
	}
	
	.pt-20 {
		padding-top: 10px;
	}
	
	.pr-0 {
		padding-right: 0;
	}
	
	.pr-5 {
		padding-right: 3px;
	}
	
	.pr-10 {
		padding-right: 5px;
	}
	
	.pr-20 {
		padding-right: 10px;
	}
	
	.pb-0 {
		padding-bottom: 0;
	}
	
	.pb-5 {
		padding-bottom: 3px;
	}
	
	.pb-10 {
		padding-bottom: 5px;
	}
	
	.pb-20 {
		padding-bottom: 10px;
	}
	
	.pl-10 {
		padding-left: 5px;
	}
	
	.pl-20 {
		padding-left: 10px;
	}
	
	.width-100 {
		width: 75px;
	}
	
	.width-150 {
		width: 125px;
	}
	
	.width-200 {
		width: 150px;
	}
	
	.width-250 {
		width: 200px;
	}
	
	.width-300 {
		width: 250px;
	}
	
	.width-400 {
		width: 250px;
	}
	
	.ot-top-page {
		.content {
			/* service toppage */
			
			.ot-box-main {
				padding-top: 60px;
				padding-bottom: 50px;
			}
			
			.ot-box-service {
				transform: rotate(0deg);
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				
				.ot-box-content {
					transform: scaleX(1);
					-webkit-transform: scaleX(1);
					-moz-transform: scaleX(1);
					-o-transform: scaleX(1);
					
					.ot-circle-service {
						.parent {
							width: 90px;
							height: 90px;
							
							[class^="select-content-"] {
								width: 80px;
								height: 80px;
								padding: 10px;
								transform: scaleX(1);
								-webkit-transform: scaleX(1);
								-o-transform: scaleX(1);
								-moz-transform: scaleX(1);
								font-size: 10px;
								
								p {
									font-size: 1em;
								}
								
								img {
									width: 24px;
								}
								
								&.active {
									max-height: 90px;
									max-width: 90px;
									height: 90px;
									width: 90px;
								}
							}
							
							.service-detail {
								z-index: -1;
							}
							
							.select-content-labor {
								&.active {
									.ot-icon {
										background-size: 45px 32px;
									}
								}
								
								.ot-icon {
									width: 45px;
									height: 32px;
									background-size: 45px 32px;
								}
							}
							
							.select-content-offshore {
								&.active {
									.ot-icon {
										background-size: 30px 30px;
									}
								}
								
								.ot-icon {
									width: 30px;
									height: 30px;
									background-size: 30px 30px;
								}
							}
							
							.select-content-advance-develop {
								&.active {
									.ot-icon {
										background-size: 30px 30px;
									}
								}
								
								.ot-icon {
									width: 30px;
									height: 30px;
									background-size: 30px 30px;
								}
							}
							
							.select-content-vn-advance-support {
								&.active {
									.ot-icon {
										background-size: 32px 20px;
									}
								}
								
								.ot-icon {
									width: 32px;
									height: 20px;
									background-size: 32px 20px;
								}
							}
							
							.select-content-vr {
								&.active {
									.ot-icon {
										background-size: 40px 22px;
									}
								}
								
								.ot-icon {
									width: 40px;
									height: 22px;
									background-size: 40px 22px;
								}
							}
							
							&.labor {
								left: 16px;
								top: -2px;
							}
							
							&.labor-jp {
								right: 5px;
								top: 0px;
							}
							
							&.offshore {
								right: 16px;
								top: -2px;
							}
							
							&.offshore-jp {
								left: 10px;
								top: 0px;
							}
							
							&.medias {
								left: -28px;
								bottom: 56px;
							}
							
							&.medias-jp {
								left: -40px;
								top: 80px;
							}
							
							&.operation-and-monitor {
								right: -28px;
								bottom: 56px;
							}
							
							&.operation-and-monitor-jp {
								left: -5px;
								bottom: 15px;
							}
							
							&.robot-jp {
								right: -30px;
								top: 80px;
							}
							
							&.vr-jp {
								left: -30px;
								top: 160px;
							}
							
							&.advance-develop {
								left: 105px;
								bottom: -45px;
							}
							
							&.vn-advance-support {
								left: ~"calc(50% + 95px)";
								left: ~"-webkit-calc(50% + 95px)";
								left: ~"-moz-calc(50% + 95px)";
								left: ~"-o-calc(50% + 95px)";
								bottom: 50px;
							}
						}
					}
					
					.service-in {
						z-index: 1;
						width: 200px;
						height: 90px;
						transform: scaleX(1) rotate(16deg);
						-webkit-transform: scaleX(1) rotate(16deg);
						-o-transform: scaleX(1) rotate(16deg);
						-moz-transform: scaleX(1) rotate(16deg);
						top: ~"calc(50% - 45px)";
						top: ~"-webkit-calc(50% - 45px)";
						top: ~"-moz-calc(50% - 45px)";
						top: ~"-o-calc(50% - 45px)";
						left: ~"calc(50% - 100px)";
						left: ~"-webkit-calc(50% - 100px)";
						left: ~"-moz-calc(50% - 100px)";
						left: ~"-o-calc(50% - 100px)";
						
						& > p {
							img {
								width: 16px;
							}
							
							width: 100px;
							top: ~"calc(50% - 14px)";
							top: ~"-webkit-calc(50% - 14px)";
							top: ~"-moz-calc(50% - 14px)";
							top: ~"-o-calc(50% - 14px)";
							margin: auto auto;
							transform: rotate(-16deg);
							-webkit-transform: rotate(-16deg);
							-moz-transform: rotate(-16deg);
							-o-transform: rotate(-16deg);
							font-size: @spNomarlFontsize;
						}
						
						.sp-service-detail {
							width: 150px;
							height: auto;
							position: relative;
							top: -30px;
							left: 4px;
							margin-left: auto;
							margin-right: auto;
							box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
							transform: rotate(-16deg);
							-webkit-transform: rotate(-16deg);
							-moz-transform: rotate(-16deg);
							-o-transform: rotate(-16deg);
							background: @whiteColor;
							font-size: @spNomarlFontsize;
							
							&.advance-develop {
								top: -120px;
								lef: 0;
							}
							
							p {
								margin-left: 5px;
								margin-bottom: 4px;
							}
							
							.desc {
								max-height: 64px;
								line-height: 16px;
								display: -webkit-box;
								-webkit-line-clamp: 4;
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;
							}
							
							.title {
								text-align: center;
								background-color: @mainColor;
								margin: 0;
							}
							
							.border {
								position: absolute;
								width: 6px;
								height: 100%;
							}
							
							.item {
								display: table;
								width: 100%;
								margin: 0 !important;
								padding: 0 10px !important;
								height: 42px;
								
								.icon {
									width: 0;
									display: table-cell;
									text-align: center;
									vertical-align: middle;
									
									img {
										max-width: 100%;
									}
								}
								
								.text {
									padding-left: 12px;
									display: table-cell;
									width: auto;
									vertical-align: middle;
								}
								
								.link {
									display: table-cell;
									text-align: right;
									vertical-align: middle;
									
									a {
										display: inline-block;
										background-color: @mainColor;
										color: #fff;
										padding: 2px 6px;
										border-radius: 2px;
									}
								}
							}
							
							.view-more-link {
								a {
									display: inline-block;
									margin: 0 5px 5px 0;
								}
							}
						}
					}
				}
			}
			
			/* end */
			
			.ot-news-blog-box {
				.box {
					column-count: 2;
					-webkit-column-count: 2;
					-moz-column-count: 2;
				}
			}
		}
	}
	
	.ot-other-page {
		[class^="col-"],
		[class*="col-"] {
			padding-left: 10px;
			padding-right: 10px;
		}
		
		.content {
			.ot-table-layout {
				.ot-table-row-layout {
					.left {
						padding-top: 5px;
						padding-bottom: 5px;
					}
					
					.right {
						padding-top: 5px;
						padding-bottom: 5px;
					}
				}
			}
			
			.ot-table-layout-compact {
				.table-row {
					.table-column {
						width: 100%;
						display: inline-block;
						
						label {
							text-align: left;
						}
					}
				}
			}
			
			/* begin contact-modal */
			
			.modal-privacy {
				.modal-dialog {
					width: 90%;
					
					.modal-header {
						font-size: 1em;
						padding: 0.7em;
					}
					
					.modal-body {
						font-size: 0.86em;
						padding: 0.7em;
					}
				}
			}
			
			/* end contact-modal */
		}
	}
	
	.content {
		.header-slide {
			.ot_header_slider {
				&:after {
					display: none;
				}
			}
		}
		
		/* begin service-page */
		
		.ot-service-page-content {
			.ot-list-service {
				.ot-border-box {
					.ot-table-layout-compact {
						.table-row {
							.table-column {
								.service-content {
									.service-face-image,
									.service-face-video,
									.text {
										display: block;
										width: 100%;
										min-height: auto;
									}
									
									.service-face-video {
										min-height: 200px;
									}
									
									.service-face-image,
									.service-face-video {
										text-align: center;
										padding-bottom: 0;
										
										img {
											width: 40%;
										}
										
										iframe {
											width: 100%;
											min-height: 200px;
										}
									}
									
									.text {
										.view-more-link {
											text-align: left;
											float: left;
										}
									}
								}
							}
						}
					}
					
					.ot-table-layout-compact {
						.table-row {
							.table-column {
								.service-content {
									.service-face-image,
									.service-face-video {
										&:first-child {
											display: block;
										}
										
										&:last-child {
											display: none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		
		/* begin allpage */
		
		.ot-tab-list {
			.tab-menu {
				li {
					width: 100%;
					border-bottom: 1px solid #fff;
					
					&.tab-mode {
						width: 100%;
						text-align: left;
						border-bottom: 1px solid #fff;
						
						&:last-child {
							width: 100%;
						}
					}
				}
			}
			
			.tab-content {
				#web,
				#app,
				#game,
				#vr,
				#youtube {
					margin-bottom: 0;
					padding-top: 10px;
					
					.ot-table-layout {
						margin-left: 10px;
						margin-right: 10px;
						
						.above,
						.below {
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}
				
				#app,
				#game,
				#vr {
					.left {
						width: 100%;
						padding-bottom: 0;
					}
					
					.right {
						width: 100%;
						position: relative;
						padding-top: 0;
						text-align: right;
						
						.above,
						.below {
							display: inline-block;
							text-align: center;
							padding-top: 0;
						}
						
						img {
							position: relative;
							top: 0;
						}
					}
				}
				
				#web, #youtube {
					.ot-table-layout {
						.ot-table-row-layout {
							.left,
							.right {
								width: 100%;
								padding-top: 5px;
								padding-bottom: 5px;
							}
							
							.left {
								.thumbnail {
									&.full-img {
										height: auto;
										max-height: 100%;
									}
								}
							}
							
							.right, .desc {
								position: relative;
								padding-left: 5px;
								padding-right: 5px;
								
								.above,
								.below {
									span,
									p {
										display: block;
										margin-left: 0 !important;
									}
								}
							}
							
							.desc {
								width: 100%;
							}
						}
					}
				}
			}
		}
		
		/* end allpage */
		/* begin offshore page */
		
		.offshore-box,
		.ot-offshore-table {
			font-size: @spNomarlFontsize;
		}
		
		.ot-offshore-table {
			.table-row {
				.table-column {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
		
		.sub-title {
			h3 {
				font-size: @largeFontsize;
			}
		}
		
		/* end offshore page */
		/* begin service page */
		
		.ot-list-service {
			.ot-border-box {
				.ot-table-layout-compact {
					.table-row {
						.table-column {
							.service-title {
								img {
									width: auto;
								}
							}
							
							.service-content {
								.text {
									font-size: @spNomarlFontsize;
									
									p {
										margin-bottom: 4px;
									}
									
									.service-extend {
										.service-extend-content {
											margin: 0 auto !important;
											width: 48%;
											
											&:nth-child(n+3) {
												margin-top: 8px !important;
											}
											
											.advance-develop-kinect, .advance-develop-ai, .advance-develop-robot, .advance-develop-drone {
												margin: 0 auto;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		
		/* end service page */
		/* begin blog page */
		
		.blog-detail {
			.ot-blog-list-box {
				.box {
					column-count: 2;
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-gap: 8px;
					-webkit-column-gap: 8px;
					-moz-column-gap: 8px;
					
					.item {
						margin-bottom: 8px;
					}
				}
			}
		}
		
		/* end blog page */
		
		.ot-box-content {
			fieldset {
				.ot-fieldset-content {
					ul {
						li {
							&:nth-child(even) {
								&:before {
									height: 16px;
								}
								
								&:after {
									height: 16px;
								}
							}
						}
					}
				}
			}
		}
		
		.ot-staff-box {
			li {
				padding: 0 .4em;
				
				.ot-staff-item {
					padding: 0 .4em;
				}
			}
		}
		
		/* style staff page */
		
		.ot-staff-new {
			.ot-staff-box {
				width: 100%;
				margin-left: 0;
				
				.avatar {
					max-height: none;
				}
			}
		}
		
		/* end style staff page */
	}
	
	.ot-staff-detail {
		.ot-staff-info {
			.ot-staff-info-left {
				width: 100%;
				
				.transliteration {
					font-size: 2em;
				}
			}
			
			.ot-staff-info-right {
				width: 100%;
			}
		}
		
		.ot-staff-left {
			margin-right: 0;
			margin-left: 0;
			width: 100%;
			
			.ot-staff-hobby {
				margin-top: 20px;
			}
		}
		
		.ot-staff-right {
			width: 100%;
			padding-bottom: 3%;
			
			.ot-staff-right-head {
				padding: 2% 0;
			}
			
			.ot-staff-wrap {
				display: inline-block;
				vertical-align: top;
				width: 94%;
				margin: 3% 3% 0;
				
				.avatar {
					overflow: hidden;
					max-height: 260px;
				}
			}
		}
	}
	
	.ot-news-home {
		.nav-news {
			width: 100% !important;
			display: block !important;
			
			.nav-news-tab {
				margin: 0 !important;
				
				&.active {
					&:before {
						width: 96% !important;
						left: 2% !important;
					}
					
					&:after {
						background: none !important;
					}
				}
			}
		}
	}
	
	.ot-message-left {
		width: 100%;
		margin-bottom: 16px;
		padding: 0;
		
		.ot-message-title {
			font-size: 16px;
			padding-bottom: 6px;
			border-bottom: 1px solid #ccc;
			margin-bottom: 18px;
			color: #2f2f2f;
			
			img {
				padding-bottom: 4px;
			}
		}
		
		.ot-message-content {
			.message-desc {
				width: 100%;
				
				p {
					margin: 0 0 10px 0;
				}
				
				a {
					text-align: center;
					bottom: 0;
					left: 0;
					background: @mainColor;
					color: #fff;
					padding: 6px 14px;
					margin: 0 auto;
					display: block;
					width: 150px;
					
					&:hover {
						background: #3ebef2;
					}
				}
			}
			
			.message-img {
				width: 100%;
				margin-bottom: 10px;
				padding: 0;
				text-align: center;
				
				img {
					width: 50%;
				}
			}
		}
	}
	
	.ot-message-right {
		width: 100%;
		padding: 0;
		
		.ot-message-title {
			font-size: 18px;
			padding-bottom: 6px;
			border-bottom: 1px solid #ccc;
			margin-bottom: 18px;
			color: #2f2f2f;
			
			img {
				padding-bottom: 4px;
			}
		}
	}
	
	.ot-box-table {
		width: 100%;
		
		.ot-box-row {
			position: relative;
			padding: 20px 0;
			padding-bottom: 0;
			
			.ot-box-left {
				display: inline-block;
				width: 100% !important;
				padding: 5px;
				
				img {
					width: 100%;
				}
			}
			
			.ot-box-right {
				display: inline-block;
				width: 100% !important;
				padding: 5px;
				
				.ot-box-desc {
					p {
						margin-bottom: 0;
					}
				}
			}
			
			.ot-box-left-staff {
				display: inline-block;
				width: 100% !important;
				padding: 5px;
				
				img {
					width: 100%;
				}
			}
			
			.ot-box-right-staff {
				display: inline-block;
				width: 100% !important;
				padding: 5px;
				
				.ot-box-desc {
					p {
						margin-bottom: 0;
					}
				}
			}
			
			.ot-box-link {
				text-align: center;
				margin: 10px 0;
			}
			
			&:first-child {
				&:after {
					border-top: 1px solid #e9e9e9;
					position: absolute;
					content: "";
					width: 100%;
					top: 0;
				}
			}
		}
		
		.ot-box-row:nth-child(odd) {
			.ot-box-left {
				float: left;
			}
			
			&:before {
				border-bottom: 1px solid #e9e9e9;
				position: absolute;
				content: "";
				width: 100%;
				bottom: 0;
				right: 0;
			}
		}
		
		.ot-box-row:nth-child(even) {
			.ot-box-left {
				float: right;
			}
			
			&:before {
				border-bottom: 1px solid #e9e9e9;
				position: absolute;
				content: "";
				width: 100%;
				bottom: 0;
				left: 0;
			}
		}
		
		.ot-box-row:last-child {
			&:before {
				border-bottom: 1px solid #e9e9e9;
				position: absolute;
				content: "";
				width: 100%;
				bottom: 0;
			}
		}
	}
	
	.ot-box-content-bb {
		border-bottom: 1px solid #e9e9e9;
	}
	
	.ot-box-content-nb {
		padding-top: 20px;
	}
	
	.ot-box-content-bb, .ot-box-content-nb {
		width: 100%;
		
		.ot-triple-box {
			width: 100%;
			
			.ot-triple-col {
				width: 100%;
				padding: 0 12px;
				float: left;
				margin-bottom: 20px;
				
				.ot-triple-wrap-img {
					display: table;
					width: 100%;
					max-height: 180px;
					
					.ot-triple-img {
						display: table-cell;
						text-align: center;
						max-height: 180px;
						vertical-align: middle;
						
						img {
							max-height: 180px;
							margin: 0 auto;
							vertical-align: middle;
						}
					}
				}
				
				.ot-triple-title {
					padding: 6px 0;
					font-size: 18px;
					font-weight: 600;
					text-align: center;
				}
				
				.ot-triple-desc {
					text-align: center;
					margin: 0;
				}
			}
		}
		
		.ot-pre-title {
			color: @mainColor;
			position: relative;
			font-size: 18px;
			display: inline;
			
			&:before {
				position: absolute;
				content: none;
				border-right: 50px solid @mainColor;
				right: -60px;
				height: 1px;
				top: 10px;
			}
		}
		
		.ot-pre-content {
			padding: 10px 0 10px 30px;
			position: relative;
			
			&:before {
				position: absolute;
				border-left: 8px solid @mainColor;
				top: 50%;
				content: "";
				border-bottom: 8px solid transparent;
				border-top: 8px solid transparent;
				margin-top: -8px;
				left: 0;
				margin-left: 14px;
			}
			
			&:after {
				position: absolute;
				content: "";
				border-left: 1px solid @mainColor;
				height: 90%;
				left: 13px;
				top: 5%;
			}
		}
		
		.table-ai {
			width: 100%;
			
			thead {
				background-color: @mainColor;
				color: #fff;
				text-align: center;
				
				th {
					padding: 2px;
					text-align: center;
					border: 1px solid #000;
				}
			}
			
			tr {
				border: 1px solid #000;
				
				td {
					padding: 2px;
					text-align: center;
					border: 1px solid;
				}
			}
		}
		
		.table-consulting {
			width: 100%;
			margin-bottom: 20px;
			
			thead {
				background-color: @mainColor;
				color: #fff;
				text-align: left;
				
				th {
					padding: 6px;
					text-align: left;
					border: 1px solid #000;
				}
			}
			
			tr {
				border: 1px solid #000;
				
				td {
					padding: 6px;
					text-align: left;
					border: 1px solid;
				}
			}
		}
		
		.kinect-box-content {
			padding-bottom: 20px;
			
			.kinect-box-item {
				width: 100%;
				padding: 10px;
				
				.kinect-wrap-img {
					padding: 0 20px;
					
					.kinect-img {
						display: inline-block;
						vertical-align: middle;
						border-radius: 50%;
						border: 1px solid #ccc;
						
						img {
							padding: 6px;
						}
					}
				}
				
				.kinect-content {
					padding: 0 10px;
					
					.kinect-title {
						font-weight: 600;
						text-align: center;
						padding: 10px 0;
						color: @mainColor;
					}
					
					.kinect-desc {
						margin: 0;
						text-align: center;
					}
				}
			}
		}
		
		.ot-box-landscape {
			width: 100%;
			
			.landscape-item {
				margin-bottom: 20px;
				
				.item-img {
					width: 100%;
					padding-right: 0;
					float: none;
				}
				
				.item-content {
					width: 100%;
					padding-left: 0;
					float: none;
					
					.content-title {
						font-weight: 600;
						text-decoration: underline;
						margin: 0;
						padding: 6px 0;
						font-size: 14px;
					}
					
					.content-desc {
						margin: 0;
					}
				}
			}
		}
		
		.ot-four-box {
			margin-bottom: 20px;
			
			.box-row {
				width: 100%;
				
				.box-item {
					float: none;
					width: 100%;
					padding: 0 6px;
					margin-bottom: 20px;
					
					&:last-child {
						margin-bottom: 0;
					}
					
					.item-img {
						width: 100%;
						padding-bottom: 6px;
						
						img {
							margin: 0 auto;
							text-align: center;
						}
					}
					
					.item-content {
						width: 100%;
						
						.content-title {
							font-weight: 600;
							padding-bottom: 6px;
						}
						
						.content-desc {
							margin: 0;
						}
						
						.item-link {
							display: block;
							text-decoration: none;
							text-align: right;
						}
					}
				}
			}
		}
	}
	
	.table-image-3 {
		display: block;
		width: 100%;
		text-align: center;
		
		.image-item {
			display: inline-block;
			width: 100%;
			border: 1px solid #ccc;
			vertical-align: top;
			
			.img-content {
				width: 100%;
				padding: 0 6px;
				
				.img-title, .img-desc {
					text-align: center;
					margin: 0;
				}
				
				.img-title {
					padding-top: 4px;
				}
				
				.img-desc {
					padding-bottom: 4px;
					word-wrap: break-word;
					text-decoration: underline;
				}
			}
		}
	}
	
	.table-image-5 {
		display: block;
		width: 250px;
		text-align: center;
		margin: 0 auto;
		
		.image-item {
			display: inline-block;
			width: 100%;
			margin: 0 .5%;
			margin-bottom: 16px;
			border: 1px solid #ccc;
			vertical-align: top;
			
			&:last-child {
				margin-bottom: 0;
			}
			
			.img-content {
				width: 100%;
				padding: 0 6px;
				
				.img-title, .img-desc {
					text-align: center;
					margin: 0;
				}
				
				.img-title {
					padding: 4px 0;
				}
				
				.img-desc {
					padding: 4px 0;
					word-wrap: break-word;
					
					a {
						text-decoration: underline;
					}
				}
			}
		}
	}
	
	.ot-his-box {
		width: 100%;
		display: table;
		padding-top: 20px;
		
		&:first-child {
			padding-top: 0;
		}
		
		.his-date, .his-content {
			display: table-cell;
			vertical-align: top;
		}
		
		.his-date {
			width: 138px;
			position: relative;
			
			.his-arrow-right {
				height: 0;
				width: 0;
				font-size: 0;
				
				&:before {
					content: "";
					position: absolute;
					border-right: 20px solid @mainColor;
					height: 2px;
					margin-left: 90px;
					margin-top: 45px;
				}
				
				&:after {
					content: "";
					position: absolute;
					border-left: 10px solid @mainColor;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					margin-left: 110px;
					margin-top: 41px;
				}
			}
			
			.his-desc {
				display: table;
				margin: 0;
				width: 90px;
				height: 90px;
				color: #fff;
				font-size: 20px;
				text-align: center;
				border-radius: 50%;
				background-color: @mainColor;
				
				span {
					margin: 0;
					vertical-align: middle;
					display: table-cell;
				}
			}
			
			.his-arrow-bottom {
				height: 0;
				width: 0;
				font-size: 0;
				
				&:before {
					content: "";
					position: absolute;
					bottom: 0;
					border-top: 10px solid @mainColor;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					margin-left: 39px;
				}
				
				&:after {
					content: "";
					position: absolute;
					border-right: 2px solid @mainColor;
					height: ~"calc(100% - 120px)";
					margin-top: 20px;
					margin-left: 43px;
				}
			}
		}
		
		.his-content {
			.his-content-desc {
				margin-left: 0;
				padding-top: 30px;
			}
			
			.img-col-3 {
				padding: 20px 0;
				display: block;
				width: 100%;
				
				.img-item {
					display: inline-block;
					width: 100%;
					margin: 0;
				}
			}
		}
	}
	
	.ot-box-vision {
		position: relative;
		display: block;
		width: 100%;
		padding: 20px 0;
		
		&:first-child {
			padding-top: 0;
		}
		
		&:before {
			position: absolute;
			border-bottom: 1px solid #e9e9e9;
			content: "";
			width: 100%;
			bottom: 0;
		}
		
		.vision-left {
			display: block;
			width: 100%;
			
			img {
				width: 140px;
				margin: 0 auto;
			}
		}
		
		.vision-right {
			display: block;
			width: 100%;
			padding-top: 20px;
			padding-left: 0;
			
			.vision-title {
				margin-bottom: 10px;
				font-size: 18px;
				text-align: center;
				color: @mainColor;
			}
			
			.vision-content {
				.desc {
					position: relative;
					margin: 0;
					
					&:before {
						position: absolute;
						content: "■";
						left: -14px;
						margin-top: -2px;
					}
				}
			}
		}
	}
	
	.ot-partner-cate {
		.partner-cate-row {
			.partner-cate-item {
				display: block;
				float: none;
				width: 100%;
				border-right: none;
				border-bottom: 1px solid #fff;
			}
		}
	}
	
	.ot-partner-list {
		.partner-list-item {
			display: block;
			
			.partner-logo {
				display: block;
				width: 100%;
				border-right: none;
				border-bottom: 1px solid #ccc;
			}
			
			.partner-desc {
				display: block;
				width: 100%;
				
				.partner-link {
					float: none;
					padding-top: 0;
					display: block;
					text-align: right;
				}
			}
		}
	}
}

@media screen and(max-width: 375px) {
	.content {
		.ot-box-content {
			fieldset {
				.ot-fieldset-content {
					ul {
						li {
							width: 100%;
							
							&:nth-child(even) {
								&:before {
									width: 0;
									height: 0;
								}
								
								&:after {
									width: 0;
									height: 0;
								}
							}
						}
					}
				}
			}
		}
		
		.ot-staff-box {
			width: 100%;
			
			li {
				width: 100%;
				margin-bottom: .8em;
				float: left;
				padding: 0 1.2em;
				
				.ot-staff-item {
					padding: 0 1.2em;
				}
			}
		}
	}
	
	.ot-staff-detail {
		.ot-staff-info {
			.ot-staff-info-left {
				.transliteration {
					font-size: 1.8em;
				}
			}
		}
	}
}

@media screen and(max-width: 360px) {
	.width-400 {
		width: 100%;
	}
	
	.ot-top-page {
		.content {
			/* service toppage */
			
			.ot-box-service {
				.ot-box-content {
					width: 250px;
					height: 250px;
					
					.ot-circle-service {
						.parent {
							width: 70px;
							height: 70px;
							
							[class^="select-content-"] {
								width: 70px;
								height: 70px;
								padding: 6px;
								font-size: 10px;
								
								img {
									width: 20px;
								}
							}
							
							&.labor {
								left: 8px;
								top: -4px;
							}
							
							&.offshore {
								right: 8px;
								top: -4px;
							}
							
							&.medias {
								left: -26px;
								bottom: 56px;
							}
							
							&.medias {
								left: -26px;
								bottom: 48px;
							}
							
							&.operation-and-monitor {
								right: -28px;
								bottom: 48px;
							}
							
							/* Bao add on 22-06-2016 Start */
							
							&.labor-jp {
								right: 5px;
								top: 0;
							}
							
							&.offshore-jp {
								left: 10px;
								top: 0;
							}
							
							&.medias-jp {
								left: -30px;
								top: 60px;
							}
							
							&.operation-and-monitor-jp {
								left: -5px;
								bottom: 15px;
							}
							
							&.robot-jp {
								right: -30px;
								top: 75px;
							}
							
							&.vr-jp {
								left: -30px;
								top: 136px;
							}
							
							&.vn-advance-support {
								left: ~"calc(50% + 86px)";
								bottom: 46px;
							}
							
							&.advance-develop {
								left: 90px;
								bottom: -36px;
							}
							
							/* Bao add on 22-06-2016 End */
						}
					}
					
					.service-in {
						width: 160px;
						height: 72px;
						top: ~"calc(50% - 36px)";
						top: ~"-webkit-calc(50% - 36px)";
						top: ~"-moz-calc(50% - 36px)";
						top: ~"-o-calc(50% - 36px)";
						left: ~"calc(50% - 80px)";
						left: ~"-webkit-calc(50% - 80px)";
						left: ~"-moz-calc(50% - 80px)";
						left: ~"-o-calc(50% - 80px)";
						
						.sp-service-detail {
							width: 140px;
							top: -40px;
						}
					}
				}
			}
			
			/* end */
		}
	}
	
	.content {
		/* begin blog page */
		
		.blog-detail {
			.ot-blog-list-box {
				.box {
					column-count: 1;
					-webkit-column-count: 1;
					-moz-column-count: 1;
					column-gap: 8px;
					-webkit-column-gap: 8px;
					-moz-column-gap: 8px;
					
					.item {
						margin-bottom: 8px;
					}
				}
			}
		}
		
		/* end blog page */
		/* begin allpage */
		
		.ot-tab-list {
			.tab-menu {
				li {
					a {
						padding: 10px 8px;
						
						.short {
							display: block;
						}
						
						.long {
							display: none;
						}
					}
				}
			}
		}
		
		/* end allpage */
	}
	
	.ot-his-box {
		width: 100%;
		display: block !important;
		padding-top: 20px;
		
		&:nth-child(2) {
			padding-top: 0;
		}
		
		.his-date, .his-content {
			display: block !important;
			vertical-align: top;
		}
		
		.his-date {
			width: 100% !important;
			position: relative;
			
			.his-arrow-right {
				display: none;
				
				&:before {
					content: "";
					position: absolute;
					border-right: 20px solid @mainColor;
					height: 2px;
					margin-left: 90px;
					margin-top: 45px;
				}
				
				&:after {
					content: "";
					position: absolute;
					border-left: 10px solid @mainColor;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					margin-left: 110px;
					margin-top: 41px;
				}
			}
			
			.his-desc {
				display: table;
				margin: 0;
				width: 100% !important;
				height: auto !important;
				color: #fff;
				font-size: 20px;
				text-align: center;
				border-radius: 0 !important;
				background-color: @mainColor;
				
				span {
					vertical-align: middle;
					display: table-cell;
				}
			}
			
			.his-arrow-bottom {
				display: none;
				
				&:before {
					content: "";
					position: absolute;
					bottom: 0;
					border-top: 10px solid @mainColor;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					margin-left: 39px;
				}
				
				&:after {
					content: "";
					position: absolute;
					border-right: 2px solid @mainColor;
					height: ~"calc(100% - 120px)";
					margin-top: 20px;
					margin-left: 43px;
				}
			}
		}
		
		.his-content {
			.his-content-desc {
				margin-left: 0;
				padding-top: 10px !important;
			}
			
			.img-col-3 {
				padding: 0 !important;
				display: block;
				width: 100%;
				
				.img-item {
					display: inline-block;
					width: 100% !important;
					margin: 0 .5%;
					
					&:first-child {
						margin-left: 0%;
					}
					
					&:last-child {
						margin-right: 0%;
					}
				}
			}
		}
	}
}
