@charset "utf-8";
//@bodyFontFamily		: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
//@bodyFontFamilyVN	:  Helvetica, 'ＭＳ ゴシック', 'MS Gothic', Osaka－等幅, Osaka-mono, monospace;
@fontWeightBold			: 600;
@widthPC				: 1000px;
@headerMenuFontsize		: 1.1em;
@sliderFontsize			: 3.2em;
@superLargeFontsize		: 1.7em;
@largeFontsize			: 20px;
@boxTitleFontsize		: 18px;
@normalFontsize			: 14px;
@demiFontSize			: 12px;
@smallFontsize			: 10px;
@spSuperLargeFontsize	: 20px;
@spBoxTitleFontsize		: 16px;
@spNomarlFontsize		: 12px;
@whiteTransparentColor	: rgba(255, 255, 255, 0.95);
@whiteColor				: #fff;
@blackColor				: #000;
@greyColor				: #ededed;
@textColor				: #333;
@mainColor				: #db2335;
@mainHoverColor 		: #ff7d78;
@menuColorOther			: #fff;
@menuHover				: @mainColor;
@colorBackground		: #fff;
@navbarColor			: @mainColor;
@navbarBorderColor		: @mainColor;
@menuColorSP			: #222;
@menuBorderColorSP		: @mainColor;
@mainTextBackground		: @mainColor;
@subTitleColor			: @mainColor;
@listIconColor			: @mainColor;
@tabMenuColor			: @mainColor;
@tabMenuGradientsColor	: @mainColor;
@tabColor				: @mainColor;
@tableBorderColor		: @mainColor;
@tableHeaderColor		: #fff;
@tableHeaderGradientsColor	: #e6e9f0;
@requiredColor			: #ff7373;
@appColor				: #60c1bd;
@webColor				: #b58bbb;
@laborColor				: #ff6481;
@offshoreColor			: #6fc1be;
@mediaColor				: @mainColor;
@operationColor			: #ed9f25;
@supportColor			: #bc96c1;
@robotColor				: #83cb72;
@vrColor				: #be7071;

@detailColor : #dc2327;

@distanceWeightBase: 4px;
@wrapDistanceBase: 36px;
@h2Fontsize: 24px;
@buttonRadiusBase: 5px;
@paddingBase: @distanceWeightBase;
@marginBase: @distanceWeightBase;
