.login-slider {
    background: url("../../img/unify-cloudy.jpg") center center no-repeat;
    margin: 0px 20px;
}
.overlay {
  background: rgba(51, 150, 122, 0.9) !important;
}
/*************** Logo ***************/
.logo {
  display: inline-block;
  min-width: 230px;
  background: #3b5b9f;
  padding: 15px 20px;
  position: relative;
  left: -15px;
  text-align: center; }
  .logo img {
    max-height: 36px;
    max-width: 100%;
    margin: auto; }

@media (max-width: 576px) {
  .logo {
    min-width: 120px;
    max-width: 120px;
    padding: 23px 20px; }
    .logo img {
      max-height: 24px; } }

/************* Background Colors **************/
.bg-primary {
  background-color: #4266b2 !important; }

.bg-secondary {
  background-color: #65ab53 !important; }

.bg-success {
  background-color: #1e8831 !important; }

.bg-light-green {
  background-color: #d8f1ef !important; }

.bg-info {
  background-color: #01709c !important; }

.bg-light-blue {
  background-color: #e0f0fd !important; }

.bg-warning {
  background-color: #d49814 !important; }

.bg-light-yellow {
  background-color: #fdebd1 !important; }

.bg-danger {
  background-color: #da3333 !important; }

.bg-light-red {
  background-color: #fde8e8 !important; }

.bg-pink {
  background-color: #d43f72 !important; }

.bg-light-pink {
  background-color: #ffeaf7 !important; }

.bg-purple {
  background-color: #5a66b5 !important; }

.bg-orange {
  background-color: #ff9f41 !important; }

.bg-brown {
  background-color: #79574b !important; }

.bg-light-brown {
  background-color: #e7e0e1 !important; }

.bg-light {
  background-color: #d2ddf3 !important; }

.bg-dark {
  background-color: #65ab53 !important; }

/************* Text Colors **************/
.text-primary {
  color: #4266b2 !important; }

.text-secondary {
  color: #65ab53 !important; }

.text-success {
  color: #1e8831 !important; }

.text-info {
  color: #01709c !important; }

.text-warning {
  color: #d49814 !important; }

.text-danger {
  color: #da3333 !important; }

.text-pink {
  color: #d43f72 !important; }

.text-light {
  color: #e0f0fd !important; }

.text-dark {
  color: #000000 !important; }

.text-muted {
  color: #8796af !important; }


.app-header {
  padding: 0;
  background: #4266b2;
  position: fixed;
  z-index: 1020;
  top: 0;
  left: 0;
  right: 0; }
  .app-header.primary {
    background: #4266b2; }
    .app-header.primary a.mini-nav-btn {
      border-right: 1px solid #3b5b9f; }
      .app-header.primary a.mini-nav-btn i {
        color: #ffffff; }
    .app-header.primary .header-actions > li {
      border-left: 1px solid #3b5b9f; }
      .app-header.primary .header-actions > li > a i {
        color: #ffffff; }
      .app-header.primary .header-actions > li:first-child {
        border-left: 0; }
    .app-header.primary a.onoffcanvas-toggler {
      border-right: 1px solid #3b5b9f; }
      .app-header.primary a.onoffcanvas-toggler i {
        color: #ffffff; }

@media (max-width: 576px) {
  .app-header {
    position: inherit; } }
.app-container {
  position: relative;
  background: #e6ecf3;
  top: 66px;
  padding-bottom: 20px; }

@media (max-width: 576px) {
  .app-container {
    top: inherit; } }
.app-main {
  position: relative;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  margin-left: 230px; }
  .app-main.left-toggle {
    margin-left: 0; }

.main-heading {
  padding: 1rem .5rem;
  background: #e6ecf3;
  position: relative;
  -webkit-box-shadow: 0 10px 20px -10px #bdcddf;
  -moz-box-shadow: 0 10px 20px -10px #bdcddf;
  box-shadow: 0 10px 20px -10px #bdcddf;
  z-index: 10; }
  .main-heading .page-icon {
    float: left;
    border-right: 1px solid #d0d6e9;
    padding-right: 10px; }
    .main-heading .page-icon i {
      font-size: 24px;
      color: #4266b2;
      margin: 9px 6px 9px 0;
      display: block; }
  .main-heading .page-title {
    margin-left: 60px; }
    .main-heading .page-title h5 {
      margin: 0;
      padding: 0;
      line-height: 120%; }
    .main-heading .page-title h6.sub-heading {
      margin: 5px 0 0 0;
      padding: 0;
      font-size: .80rem;
      color: #8796af; }
  .main-heading .right-actions {
    float: right;
    margin-top: 2px; }


.app-side {
  margin: 0;
  width: 230px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1000;
  background: #2b394c;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  .app-side.fixed {
    position: fixed;
    padding: 66px 0 0 0; }
  .app-side.left-toggle {
    left: -230px; }

@media (max-width: 1100px) {
  .app-side {
    left: 0; }
    .app-side.is-open {
      left: -230px; } }
@media (max-width: 992px) {
  .app-side {
    left: -230px; }
    .app-side.is-open {
      left: 0; } }
.side-content {
  margin-bottom: auto; }
    .side-content .user-profile {
        padding: 30px 10px 20px 10px;
        text-align: center;
        background: url("../../img/profile-bg.jpg") no-repeat center center;
            background-size: auto auto;
        background-size: cover;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #ffffff;
        position: relative;
    }
    .side-content .user-profile img.profile-thumb {
      width: 72px;
      height: 72px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      box-shadow: 0 0 15px #000000;
      margin: 0 auto; }
    .side-content .user-profile h6.profile-name {
      margin: 25px 0 0 0;
      font-size: .9rem; }
  .side-content ul.profile-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; }
    .side-content ul.profile-actions > li {
      border-right: 1px solid #222d3c;
      border-left: 1px solid #34455c; }
      .side-content ul.profile-actions > li a {
        font-size: .65rem;
        text-align: center;
        display: block;
        width: 50px;
        color: #8796af;
        position: relative;
        padding: 3px 0; }
        .side-content ul.profile-actions > li a i {
          font-size: 24px;
          margin: auto; }
        .side-content ul.profile-actions > li a .count-label {
          position: absolute;
          top: 0px;
          right: 10px;
          width: 8px;
          height: 8px;
          border: 2px solid #4266b2;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px; }
          .side-content ul.profile-actions > li a .count-label.red {
            border: 2px solid #65ab53; }
          .side-content ul.profile-actions > li a .count-label.green {
            border: 2px solid #1e8831; }
          .side-content ul.profile-actions > li a .count-label.yellow {
            border: 2px solid #d49814; }
        .side-content ul.profile-actions > li a:hover {
          color: #4266b2; }
      .side-content ul.profile-actions > li:last-child {
        border-right: 0; }
      .side-content ul.profile-actions > li:first-child {
        border-left: 0; }
        .side-content ul.profile-actions > li:first-child a {
          color: #4266b2; }

.side-nav .unifyMenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem 0; }
  .side-nav .unifyMenu > li {
    position: relative;
    background: #2b394c; }
    .side-nav .unifyMenu > li.selected:after {
      position: absolute;
      content: "";
      right: -1px;
      top: 8px;
      border-right: 11px solid #d5dfeb;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      z-index: 2020; }
    .side-nav .unifyMenu > li.selected > a {
      color: #ffffff;
      background: #4266b2; }
    .side-nav .unifyMenu > li.selected .current-page {
      color: #4266b2;
      pointer-events: none; }
  .side-nav .unifyMenu a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    outline-width: 0;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #2b394c;
    color: #8796af; }
    .side-nav .unifyMenu a:active, .side-nav .unifyMenu a:focus, .side-nav .unifyMenu a:hover {
      color: #4266b2;
      background: #222d3c; }
  .side-nav .unifyMenu ul {
    background: #ffffff; }
    .side-nav .unifyMenu ul a {
      padding: .5em;
      padding-left: 4rem; }
    .side-nav .unifyMenu ul ul a {
      padding-left: 5rem; }
.side-nav .collapse {
  display: none; }
  .side-nav .collapse.in {
    display: block; }
.side-nav .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility; }
.side-nav .arrow {
  float: right;
  line-height: 1.42857; }
.side-nav .has-arrow {
  position: relative; }
  .side-nav .has-arrow::after {
    position: absolute;
    content: '';
    width: .5em;
    height: .5em;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: initial;
    right: 1.3em;
    -webkit-transform: rotate(135deg) translate(0, -50%);
    -ms-transform: rotate(135deg) translate(0, -50%);
    -o-transform: rotate(135deg) translate(0, -50%);
    transform: rotate(135deg) translate(0, -50%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    top: 50%;
    margin-top: 2px;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
.side-nav .active > .has-arrow::after, .side-nav .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(225deg) translate(0, -50%);
  -ms-transform: rotate(225deg) translate(0, -50%);
  -o-transform: rotate(225deg) translate(0, -50%);
  transform: rotate(225deg) translate(0, -50%);
  margin-top: 0; }

@media (min-width: 992px) {
  .app-side.is-mini {
    width: 65px;
    left: 0; }
    .app-side.is-mini ~ .app-main {
      margin-left: 65px; }
    .app-side.is-mini .unifyMenu > li.selected:after {
      border-right: 11px solid transparent; }
    .app-side.is-mini .unifyMenu > li.selected:before {
      border-right: 11px solid transparent; }
    .app-side.is-mini .unifyMenu > li > ul {
      position: absolute;
      top: 100%;
      left: 100%;
      display: none; }
      .app-side.is-mini .unifyMenu > li > ul > li > a {
        padding: 0.5em 0.5em 0.5em 1.5em; }
    .app-side.is-mini .unifyMenu > li:hover > ul {
      display: block;
      min-width: 192px;
      height: auto !important;
      box-shadow: 2px 2px 0 2px #d5dfeb; }
    .app-side.is-mini .unifyMenu > li:hover > a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      min-width: 257px;
      color: #ffffff;
      background: #4266b2; }
      .app-side.is-mini .unifyMenu > li:hover > a:active, .app-side.is-mini .unifyMenu > li:hover > a:focus, .app-side.is-mini .unifyMenu > li:hover > a:hover {
        color: #ffffff;
        background: #4266b2; }
    .app-side.is-mini .unifyMenu > li:hover .nav-title {
      display: inline-block;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
    .app-side.is-mini .unifyMenu > li:hover > .has-arrow::after {
      border-width: 1px 0 0 1px; }
    .app-side.is-mini .unifyMenu > li > a.has-arrow::after {
      border-width: 0; }
    .app-side.is-mini .unifyMenu li:last-child {
      padding-bottom: 0; }
    .app-side.is-mini .unifyMenu ul ul a {
      padding-left: 2.5rem; }
    .app-side.is-mini .nav-title {
      display: none; }
    .app-side.is-mini .user-profile img.profile-thumb {
      width: 44px;
      height: 44px;
      padding: 0;
      border: 0;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      margin: 20px auto 10px auto; }
    .app-side.is-mini .user-profile h6.profile-name {
      display: none; }
    .app-side.is-mini .user-profile .profile-actions {
      display: none; } }
@media (max-width: 1100px) {
  .app-main {
    margin-left: 0; }

  .side-nav .unifyMenu > li.selected:after {
    border-right: 0; } }
.has-icon {
  width: 65px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 65px;
  -ms-flex: 0 0 65px;
  flex: 0 0 65px;
  height: 2.5rem;
  font-size: 1.5em;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.onoffcanvas {
  visibility: hidden; }
  .onoffcanvas.is-open {
    visibility: visible; }

/*************** Sidebar Dark ***************/
.sidebar-dark {
  background: #1b2947;
  color: #ffffff; }
  .sidebar-dark .side-content .user-profile {
    background: #141e35; }
  .sidebar-dark .side-content ul.profile-actions > li {
    border-right: 1px solid #0d1422;
    border-left: 1px solid #223459; }
    .sidebar-dark .side-content ul.profile-actions > li:first-child {
      border-left: 0; }
    .sidebar-dark .side-content ul.profile-actions > li:last-child {
      border-right: 0; }
  .sidebar-dark .side-nav .unifyMenu > li {
    background: #1b2947; }
  .sidebar-dark .side-nav .unifyMenu a {
    background: #1b2947;
    color: #8796af; }
    .sidebar-dark .side-nav .unifyMenu a:hover {
      background: #182540; }


.main-heading {
  padding: 1rem .5rem;
  background: #e6ecf3;
  position: relative;
  -webkit-box-shadow: 0 10px 20px -10px #bdcddf;
  -moz-box-shadow: 0 10px 20px -10px #bdcddf;
  box-shadow: 0 10px 20px -10px #bdcddf;
  z-index: 10; }
  .main-heading .page-icon {
    float: left;
    border-right: 1px solid #d0d6e9;
    padding-right: 10px; }
    .main-heading .page-icon i {
      font-size: 24px;
      color: #4266b2;
      margin: 9px 6px 9px 0;
      display: block; }
  .main-heading .page-title {
    margin-left: 60px; }
    .main-heading .page-title h5 {
      margin: 0;
      padding: 0;
      line-height: 120%; }
    .main-heading .page-title h6.sub-heading {
      margin: 5px 0 0 0;
      padding: 0;
      font-size: .80rem;
      color: #8796af; }
  .main-heading .right-actions {
    float: right;
    margin-top: 2px; }

@media (max-width: 992px) {
  .main-heading .right-actions {
    float: none; } }
@media (max-width: 576px) {
  .main-heading .right-actions {
    display: none; } }

/*************** Loading ***************/
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.loading-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #e6ecf3;
  z-index: 10000; }
  .loading-wrapper .loading {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 50%;
    margin-top: -45px;
    text-align: center;
    left: 50%;
    margin-left: -45px; }
    .loading-wrapper .loading span {
      display: block;
      border-radius: 50%;
      width: 90px;
      height: 90px;
      border: 0.25rem solid rgba(255, 255, 255, 0.5);
      border-top-color: #388af3e6;
      -webkit-animation: loading-k 1s infinite linear;
      animation: loading 1s infinite linear; }

/*************** Buttons ***************/
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .btn .icon {
    font-size: 1.4rem;
    vertical-align: middle;
    margin-top: -2px; }
  .btn.focus, .btn:focus {
    color: #ffffff; }

.btn-sm .icon {
  font-size: 1rem;
  vertical-align: middle;
  margin-top: -2px; }

.btn-rounded {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }

.btn-primary {
  background-color: #4266b2;
  border-color: #4266b2;
  color: #ffffff; }
  .btn-primary:hover {
    background-color: #3b5b9f;
    border-color: #3b5b9f;
    color: #ffffff; }
  .btn-primary:focus {
    box-shadow: 0 0 0 3px #bfcce7; }

.btn-secondary {
  background-color: #65ab53;
  border-color: #65ab53;
  color: #ffffff; }
  .btn-secondary:hover {
    background-color: #5b9a4b;
    border-color: #5b9a4b;
    color: #ffffff; }
  .btn-secondary:focus {
    box-shadow: 0 0 0 3px #a5ce9b; }

.btn-success {
  background-color: #1e8831;
  border-color: #1e8831; }
  .btn-success:hover {
    background-color: #197329;
    border-color: #197329; }
  .btn-success:focus {
    box-shadow: 0 0 0 3px #6fdf83; }

.btn-danger {
  background-color: #da3333;
  border-color: #da3333; }
  .btn-danger:hover {
    background-color: #ce2525;
    border-color: #ce2525; }
  .btn-danger:focus {
    box-shadow: 0 0 0 3px #eb9292; }

.btn-warning {
  background-color: #d49814;
  border-color: #d49814;
  color: #ffffff; }
  .btn-warning:hover {
    background-color: #bd8712;
    border-color: #bd8712;
    color: #ffffff; }
  .btn-warning:focus {
    box-shadow: 0 0 0 3px #f4d48d;
    color: #ffffff; }

.btn-info {
  background-color: #01709c;
  border-color: #01709c; }
  .btn-info:hover {
    background-color: #015e83;
    border-color: #015e83; }
  .btn-info:focus {
    box-shadow: 0 0 0 3px #52cdfe; }

.btn-light {
  background-color: #d2ddf3;
  border-color: #d2ddf3; }
  .btn-light:hover {
    background-color: #beceee;
    border-color: #beceee; }
  .btn-light:focus {
    box-shadow: 0 0 0 3px #aabfe8; }

.btn-dark {
  background-color: #28b18d;
  border-color: #28b18d; }
  .btn-dark:hover {
    background-color: #239c7c;
    border-color: #239c7c; }
  .btn-dark:focus {
    box-shadow: 0 0 0 3px #63dcbc; }

.btn-link {
  color: #4266b2; }
  .btn-link:hover {
    text-decoration: none; }

.btn-outline-primary {
  border-color: #4266b2;
  color: #4266b2; }
  .btn-outline-primary:hover {
    background-color: #4266b2;
    border-color: #4266b2;
    color: #ffffff; }
  .btn-outline-primary:focus {
    box-shadow: 0 0 0 3px #bfcce7; }

.btn-outline-secondary {
  border-color: #518942;
  color: #65ab53; }
  .btn-outline-secondary:hover {
    background-color: #518942;
    border-color: #518942;
    color: #ffffff; }
  .btn-outline-secondary:focus {
    box-shadow: 0 0 0 3px #a5ce9b; }

.btn-outline-success {
  border-color: #1e8831;
  color: #1e8831; }
  .btn-outline-success:hover {
    background-color: #1e8831;
    border-color: #1e8831;
    color: #ffffff; }
  .btn-outline-success:focus {
    box-shadow: 0 0 0 3px #6fdf83; }

.btn-outline-danger {
  border-color: #da3333;
  color: #da3333; }
  .btn-outline-danger:hover {
    background-color: #da3333;
    border-color: #da3333;
    color: #ffffff; }
  .btn-outline-danger:focus {
    box-shadow: 0 0 0 3px #eb9292; }

.btn-outline-warning {
  border-color: #d49814;
  color: #d49814; }
  .btn-outline-warning:hover {
    background-color: #d49814;
    border-color: #d49814;
    color: #ffffff; }
  .btn-outline-warning:focus {
    box-shadow: 0 0 0 3px #f4d48d; }

.btn-outline-info {
  border-color: #01709c;
  color: #01709c; }
  .btn-outline-info:hover {
    background-color: #01709c;
    border-color: #01709c;
    color: #ffffff; }
  .btn-outline-info:focus {
    box-shadow: 0 0 0 3px #52cdfe; }

.btn-outline-light {
  border-color: #d2ddf3;
  color: #d2ddf3;
  color: #28b18d; }
  .btn-outline-light:hover {
    background-color: #d2ddf3;
    border-color: #d2ddf3;
    color: #28b18d; }
  .btn-outline-light:focus {
    box-shadow: 0 0 0 3px #aabfe8; }

.btn-outline-dark {
  border-color: #28b18d;
  color: #000000; }
  .btn-outline-dark:hover {
    background-color: #239c7c;
    border-color: #239c7c;
    color: #ffffff; }
  .btn-outline-dark:focus {
    box-shadow: 0 0 0 3px #63dcbc; }

.btn.disabled, .btn:disabled {
  pointer-events: none; }

.btn-group > .btn:first-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
.btn-group > .btn:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }