@charset "utf-8";

.transform(...) {
	 -webkit-transform: @arguments;
		-moz-transform: @arguments;
		 -ms-transform: @arguments;
		  -o-transform: @arguments;
			 transform: @arguments;
}

.transform-origin(@arguments) {
	 -webkit-transform-origin: @arguments;
		-moz-transform-origin: @arguments;
		 -ms-transform-origin: @arguments;
		  -o-transform-origin: @arguments;
			 transform-origin: @arguments;
}

.border-radius (@arguments) {
	-webkit-border-radius: @arguments;
			border-radius: @arguments;
}

/*--- box-sizing ---*/
.box-sizing(@boxmodel: border-box) {
	 -webkit-box-sizing: 	@boxmodel;
		-moz-box-sizing: 	@boxmodel;
			 box-sizing: 	@boxmodel;
}
.box-shadow(@arguments) {
	 -webkit-box-shadow: @arguments;
		-moz-box-shadow: @arguments;
			 box-shadow: @arguments;
}

/*--- rotate ---*/
.rotate(@degrees: 90deg) {
	.transform(rotate(@degrees));
}

.rotateX(@degrees: 90deg) {
	.transform(rotateX(@degrees));
}

.rotateY(@degrees: 90deg) {
	.transform(rotateY(@degrees));
}

/*--- opacity ---*/
.opacity(@opacity: 0.5) {
	-webkit-opacity: @opacity;
	-moz-opacity: @opacity;
	-khtml-opacity: @opacity;
	opacity: @opacity;
	@opperc: @opacity * 100;
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
	filter: ~"alpha(opacity=@{opperc})";
}

/*--- transition ---*/
.transition(@transition) {
  -webkit-transition: @transition;
	   -o-transition: @transition;
		  transition: @transition;
}
.transition-property(@transition-property) {
  -webkit-transition-property: @transition-property;
		  transition-property: @transition-property;
}
.transition-delay(@transition-delay) {
  -webkit-transition-delay: @transition-delay;
		  transition-delay: @transition-delay;
}
.transition-duration(@transition-duration: 0.2s) {
	 -webkit-transition-duration: @transition-duration;
		-moz-transition-duration: @transition-duration;
		  -o-transition-duration: @transition-duration;
			 transition-duration: @transition-duration;
}
.transition-timing-function(@timing-function) {
  -webkit-transition-timing-function: @timing-function;
		  transition-timing-function: @timing-function;
}
.transition-transform(@transition) {
  -webkit-transition: -webkit-transform @transition;
     -moz-transition: -moz-transform @transition;
       -o-transition: -o-transform @transition;
          transition: transform @transition;
}

/*--- Placeholder text ---*/
.placeholder(@color: @input-color-placeholder) {
	// Firefox
	&::-moz-placeholder {
		color: @color;
		opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
	}
	&:-ms-input-placeholder { color: @color; } // Internet Explorer 10+
	&::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
}

/*--- scale ---*/
.scale(@ratio: 1.5) {
	.transform(scale(@ratio));
}

.scale(@ratioX; @ratioY) {
	.transform(scale(@ratioX, @ratioY));
}

.scaleX(@ratio) {
	.transform(scaleX(@ratio));
}

.scaleY(@ratio) {
	.transform(scaleY(@ratio));
}

.skew(@x; @y) {
	.transform(skewX(@x) skewY(@y));
}

.translate(@x: 0, @y: 0) {
	.transform(translate(@x, @y));
}

.inner-shadow(@horizontal: 0, @vertical: 1px, @blur: 2px, @alpha: 0.4) {
	 -webkit-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
		-moz-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
			 box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}

.user-select(@argument: none) {
	 -webkit-user-select: @argument;
		-moz-user-select: @argument;
		 -ms-user-select: @argument;
			 user-select: @argument;
}

/*--- background ---*/
.background-size(@argument: cover) {
	 -webkit-background-size: @argument;
		-moz-background-size: @argument;
		  -o-background-size: @argument;
			 background-size: @argument;
}

.box-shadow-clear() {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

/*--- font ---*/
.font(@font-size, @font-weight) {
	font-size: @font-size;
	font-weight: @font-weight;
}

/*--- icon --- */
.icon(@url, @xpos, @ypos) {
	background: url(@url) no-repeat @xpos @ypos;
}
.icon(@bg, @url, @xpos, @ypos) {
	background: @bg url(@url) no-repeat @xpos @ypos;
}
.icon-extends(@url, @xpos, @ypos, @xadd, @yadd) { // @xpos, @xadd ----> int + UNIT
	background: url(@url) no-repeat (@xpos + @xadd) (@ypos + @yadd);
}
.icon-prefix(@url) {
	background: url(@url) no-repeat left center;
}
.icon-suffix(@url) {
	background: url(@url) no-repeat right center;
}
