<template>
  <div class="form-horizontal ot-apply-boxshadow">
    <div class="ot-table-layout-compact ot-contact-table ot-clear-boxshadow">
      <div :class="messageTitleClass()" v-html="message"></div>
    </div>
    <div>
      <div class="ot-default-info">
        <div class="left">
          <div class="thumb-nail"></div>
        </div>
        <div class="right">
          <div class="default-fullname" contenteditable="true">Nguyễn văn A</div>
          <div class="default-position" contenteditable="true">Vị trí công việc bạn muốn ứng tuyển</div>
          <div>
            <span>Ngày sinh:</span>
            <div
              class="default-birthdate"
              aria-placeholder="Ngày sinh (không bắt buộc nhập)"
              contenteditable="true"
            >19/05/1992</div>
          </div>
          <div>
            <span>Giới tính:</span>
            <div
              class="default-gender"
              aria-placeholder="Giới tính (không bắt buộc nhập)"
              contenteditable="true"
            >Nam</div>
          </div>
          <div>
            <span>Điện thoại:</span>
            <div class="default-phone" aria-placeholder="Số điện thoại" contenteditable="true"></div>
          </div>
          <div>
            <span>Email:</span>
            <div class="default-email" aria-placeholder="Địa chỉ email" contenteditable="true"></div>
          </div>
          <div>
            <span>Địa chỉ:</span>
            <div
              class="default-address"
              aria-placeholder="Địa chỉ hiện tại"
              contenteditable="true"
            >Số 1 Đồng Khởi, HCM</div>
          </div>
          <div>
            <span>Website:</span>
            <div
              class="default-website"
              aria-placeholder="Website, Facebook, Blog..."
              contenteditable="true"
            >http://fb.com/nguyenvana</div>
          </div>
        </div>
      </div>

      <div class="ot-target-work">
        <div aria-placeholder="Tiêu đề" contenteditable="true">Mục tiêu nghề nghiệp</div>
        <div
          class="target-description"
          contenteditable="true"
        >Áp dụng những kinh nghiệm về kỹ năng bán hàng và sự hiểu biết về thị trường để trở thành một nhân viên bán hàng chuyên nghiệp, mang đến nhiều giá trị cho khách hàng. Từ đó giúp Công ty tăng số lượng khách hàng và mở rộng tập khách hàng.</div>
      </div>

      <div class="ot-education">
        <div aria-placeholder="Tiêu đề" contenteditable="true">Học vấn</div>
        <div class="left">
          <div class="education-from" contenteditable="true">01/2010</div>
          <span>~</span>
          <div class="education-to" contenteditable="true">01/2014</div>
        </div>
        <div class="right">
          <div
            class="education-name"
            contenteditable="true"
            aria-placeholder="Tên trường học"
          >Đại học A</div>
          <div
            class="education-specialized"
            contenteditable="true"
            aria-placeholder="Ngành học / Môn học"
          >Chuyên ngành: A</div>
          <div
            class="education-classification"
            contenteditable="true"
            aria-placeholder="Xếp loại"
          >Tốt nghiệp loại Giỏi, điểm trung bình 8.0</div>
        </div>
      </div>

      <div class="ot-work_experience">
        <div aria-placeholder="Tiêu đề" contenteditable="true">Kinh nghiệm làm việc</div>
        <div class="left">
          <div class="work_experience-from" contenteditable="true">01/2010</div>
          <span>~</span>
          <div class="work_experience-to" contenteditable="true">01/2014</div>
        </div>
        <div class="right">
          <div
            class="work_experience-name"
            contenteditable="true"
            aria-placeholder="Tên công ty"
          >Công ty A</div>
          <div
            class="work_experience-position"
            contenteditable="true"
            aria-placeholder="Vị trí công việc"
          >Nhân viên bán hàng</div>
          <div
            class="work_experience-description"
            contenteditable="true"
            aria-placeholder="Mô tả chi tiết công việc, những gì đạt được trong quá trình làm việc."
          >- Hỗ trợ viết bài quảng cáo sản phẩm qua kênh facebook, các forum,...</div>
        </div>
      </div>

      <div class="ot-activity">
        <div aria-placeholder="Tiêu đề" contenteditable="true">Hoạt động</div>
        <div class="left">
          <div class="activity-from" contenteditable="true">01/2010</div>
          <span>~</span>
          <div class="activity-to" contenteditable="true">01/2014</div>
        </div>
        <div class="right">
          <div
            class="activity-name"
            contenteditable="true"
            aria-placeholder="Nhóm tình nguyện A"
          >Nhóm tình nguyện A</div>
          <div
            class="activity-position"
            contenteditable="true"
            aria-placeholder="Ví trị tham gia"
          >Tình nguyện viên</div>
          <div
            class="activity-description"
            contenteditable="true"
            aria-placeholder="Mô tả chi tiết các hoạt động đã tham gia"
          >Tập hợp các món quà và phân phát tới người vô gia cư.</div>
        </div>
      </div>

      <div class="ot-certification">
        <div aria-placeholder="Tiêu đề" contenteditable="true">Chứng chỉ</div>
        <div class="left">
          <div class="certification-time" contenteditable="true">2010</div>
        </div>
        <div class="right">
          <div
            class="certification-title"
            contenteditable="true"
            aria-placeholder="Tên chứng chỉ A"
          >Chứng chỉ A</div>
        </div>
      </div>

      <div class="ot-award">
        <div aria-placeholder="Tiêu đề" contenteditable="true">Giải thưởng</div>
        <div class="left">
          <div class="award-time" contenteditable="true">2010</div>
        </div>
        <div class="right">
          <div
            class="award-title"
            contenteditable="true"
            aria-placeholder="Tên giải thưởng"
          >Nhân viên xuất sắc năm công ty A</div>
        </div>
      </div>

      <div class="ot-skill">
        <div aria-placeholder="Tiêu đề" contenteditable="true">Các kỹ năng</div>
        <div>
          <div class="left">
            <div class="skill-title" contenteditable="true">Tin học văn phòng</div>
          </div>
          <div class="right">
            <div
              class="skill-description"
              contenteditable="true"
              aria-placeholder="Mô tả kỹ năng"
            >- Sử dụng thành thạo các công cụ Word, Excel, Power Point...</div>
          </div>
        </div>
        <div>
          <div class="left">
            <div class="skill-title" contenteditable="true">Tiếng Anh</div>
          </div>
          <div class="right">
            <div
              class="skill-description"
              contenteditable="true"
              aria-placeholder="Mô tả kỹ năng"
            >- Khả năng giao tiếp Tiếng Anh trôi chảy</div>
          </div>
        </div>
      </div>

      <div class="ot-interests">
        <div aria-placeholder="Tiêu đề" contenteditable="true">Sở thích</div>
        <div
          class="interests-description"
          contenteditable="true"
          aria-placeholder="Mô tả ngắn gọn về các sở thích cá nhân"
        >Đọc sách - Mỗi tháng đọc 1 quyển sách về kinh doanh.
          <br>Đá bóng - Tham gia hoạt động đá bóng của công ty hàng tuần
        </div>
      </div>

      <div class="ot-project">
        <div aria-placeholder="Tiêu đề" contenteditable="true">Dự án</div>
        <div class="project-title" contenteditable="true" aria-placeholder="Tên dự án">Rainway Group</div>
        <div>(
          <div class="project-from" contenteditable="true" aria-placeholder>2010</div>
          <span>~</span>
          <div class="project-to" contenteditable="true" aria-placeholder>2014</div>)
        </div>
        <div class="ot-table">
          <div class="ot-table-row">
            <div class="left ot-table-cell">
              <div>Khách hàng</div>
            </div>
            <div class="right ot-table-cell">
              <div
                class="project-customer"
                contenteditable="true"
                aria-placeholder="Khách hàng"
              >Công ty A</div>
            </div>
          </div>
          <div class="ot-table-row">
            <div class="left ot-table-cell">
              <div>Mô tả dự án</div>
            </div>
            <div class="right ot-table-cell">
              <div
                class="project-description"
                contenteditable="true"
                aria-placeholder="Mô tả dự án"
              >- Ứng dụng mobile giúp mọi người đặt vé nhanh chóng, bất kỳ lúc nào, bất kỳ đâu.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="caption-bottom">
      <a
        class="btn ot-btn ot-btn-primary"
        @click.prevent="submitForm()"
        style="width: auto"
      >Cập nhật</a>
    </div>
  </div>
</template>
<script>
import _ from "lodash";
export default {
  props: {
    itemcv: {}
  },
  data: function() {
    return {
      message: "",
      isError: false,
      isSuccess: false,
      isRequest: false,
      form: {
        id: 0
      },
      errors: {}
    };
  },
  created() {},
  mounted() {},
  methods: {
    messageTitleClass: function() {
      var mtClass = ["table-caption", "caption-top"];
      if (this.isError) {
        mtClass.push("blue-background");
      } else if (this.isSuccess) {
        mtClass.push("green-light-box");
      } else {
        mtClass.push("bg-info");
      }
      return mtClass;
    },
    submitForm: function() {
      $("body").addClass("ot-fr-loading");
      this.errors = {};

      if (this.isRequest) {
        return false;
      }

      this.isRequest = true;
      axios
        .post("/cv/info/save", this.form)
        .then(response => {
          if (response.data.message) {
            this.isError = false;
            this.isSuccess = true;
            $("#popupAlert").modal("show");
            this.message = response.data.message;
            $("body").removeClass("ot-fr-loading");
            $("html, body").animate(
              {
                scrollTop: 0
              },
              300
            );
          }
          this.isRequest = false;
          this.form.id = response.data.id;
        })
        .catch(error => {
          this.isRequest = false;
          this.isError = true;
          this.message = ""; // ReSet message
          this.isSuccess = false;
          var errors = error.response.data.errors;
          $("html, body").animate(
            {
              scrollTop: 0
            },
            300
          );
        })
        .then(function() {
          $("body").removeClass("ot-fr-loading");
        });
    }
  }
};
</script>
