<template>
	<div class="form-horizontal">
		<div class="ot-table-layout-compact ot-contact-table ot-clear-boxshadow">
			<div class="table-caption caption-top bg-info mb-5">Tính năng tạo CV online theo chuẩn "Nhật Bản". Sau khi
				điền thông tin và lưu, bạn có thể tải CV về dưới dạng PDF gửi đến các nhà tuyển
				dụng.
			</div>
			<div class="mb-5" :class="messageTitleClass()" v-html="message" v-if="message"></div>
			<div class="js-errors-box table-caption caption-top bg-danger">
				<a class="link-block" href="#errors-phonenumber" v-if="errors.phonenumber" v-html="errors.phonenumber"></a>
				<a class="link-block" href="#errors-email" v-if="errors.email" v-html="errors.email"></a>
				<a class="link-block" href="#errors-furigana_fullname" v-if="errors.furigana_fullname" v-html="errors.furigana_fullname"></a>
				<a class="link-block" href="#errors-fullname" v-if="errors.fullname" v-html="errors.fullname"></a>
				<a class="link-block" href="#errors-address" v-if="errors.address" v-html="errors.address"></a>
				<a class="link-block" href="#education-school" v-if="errors.education_school" v-html="errors.education_school"></a>
				<a class="link-block" href="#experience-company" v-if="errors.experience_company" v-html="errors.experience_company"></a>
				<a class="link-block" href="#skill-title" v-if="errors.skill_title" v-html="errors.skill_title"></a>
				<a class="link-block" href="#skill-description" v-if="errors.skill_description" v-html="errors.skill_description"></a>
				<a class="link-block" href="#interests-title" v-if="errors.interests_title" v-html="errors.interests_title"></a>
				<a class="link-block" href="#interests-description" v-if="errors.interests_description" v-html="errors.interests_description"></a>
				<a class="link-block" href="#target-title" v-if="errors.target_title" v-html="errors.target_title"></a>
				<a class="link-block" href="#target-description" v-if="errors.target_description" v-html="errors.target_description"></a>
				<a class="link-block" href="javascript:void(0)" v-if="errors.message" v-html="errors.message"></a>
			</div>
		</div>
		
		<div class="cv-box-container">
			<div class="cv-box ot-apply-boxshadow">
				<div class="ot-table">
					<div class="ot-table-cell">
						<h2 class="cv-title">Curriculum Vitae</h2>
					</div>
					<div class="ot-table-cell text-right ver-bottom">
						<span v-html="form.cv_datetime"></span>
					</div>
				</div>
				
				<div class="content-wrap">
					<div class="ot-default-info ot-table content-box">
						<div class="ot-table-row">
							<div class="left ot-table-cell ver-top">
								<div class="ot-multi-columb-box">
									<label>Furigana<s class="red-color">※</s></label>
									<span
											class="js-default-furigana-fullname right has-validation"
											aria-placeholder="Ex: レ・バー・フゥオク・ダイ"
											contenteditable="true"
											v-text="form.furigana_fullname"
											@keydown.enter.prevent
											@keypress="checkLength($event)"
											maxlength="50"
									></span>
								</div>
								<div class="ot-single-columb-box">
									<label>Full name<s class="red-color">※</s></label>
									<span
											class="js-default-fullname fullname-field has-validation text-center"
											aria-placeholder="Ex: Le Ba Phuoc Duy"
											contenteditable="true"
											v-text="form.fullname"
											@keydown.enter.prevent
											@keypress="checkLength($event)"
											maxlength="50"
									></span>
								</div>
								<div class="ot-table absolute-box">
									<div class="ot-table-cell ot-single-columb-box birthday-box">
										<label>Birthday</label>
										<span
												class="js-default-birthday default-birthday text-center"
												aria-placeholder="Ex: 1988/01/10"
												contenteditable="true"
												v-text="form.birthday"
												@keydown.enter.prevent
												@keypress="checkLength($event)"
												maxlength="50"
										></span>
									</div>
									<div class="ot-table-cell ot-single-columb-box gender-box">
										<label>Gender</label>
										<span
												class="js-default-gender default-gender text-center"
												aria-placeholder="Male|Female"
												contenteditable="true"
												v-text="form.gender"
												@keydown.enter.prevent
												@keypress="checkLength($event)"
												maxlength="10"
										></span>
									</div>
								</div>
							</div>
							<div class="right ot-table-cell text-center">
								<img
										class="js-thumbnail thumb-nail"
										@click.prevent="openAvatarPopup();"
										:src="form.file_avatar"
								>
							</div>
						</div>
						<div class="ot-table-row">
							<div class="left ot-table-cell ver-top">
								<!--<div class="ot-multi-columb-box">-->
									<!--<label>Furigana</label>-->
									<!--<span-->
											<!--class="js-default-furigana-address default-furigana-address right text-center"-->
											<!--aria-placeholder="Ex: ホーチミン(optional)"-->
											<!--contenteditable="true"-->
											<!--v-text="form.furigana_address"-->
											<!--@keydown.enter.prevent-->
											<!--@keypress="checkLength($event)"-->
											<!--maxlength="190"-->
									<!--&gt;</span>-->
								<!--</div>-->
								<div class="ot-single-columb-box">
									<label>Current address<s class="red-color">※</s></label>
									<span
											id="errors-address"
											class="js-default-address default-address has-validation text-center"
											aria-placeholder="Ex: 142 Hien Vuong, Phu Thanh Ward, Tan Phu Dist, Ho Chi Minh City"
											contenteditable="true"
											v-text="form.address"
											@keydown.enter.prevent
											@keypress="checkLength($event)"
											maxlength="190"
									></span>
								</div>
							</div>
							<div class="left ot-table-cell">
								<div class="ot-single-columb-box">
									<label>Phone<s class="red-color">※</s></label>
									<span
											id="errors-phonenumber"
											class="js-default-phonenumber default-phonenumber has-validation text-center"
											aria-placeholder="Ex: 0353 253 373"
											contenteditable="true"
											v-text="form.phonenumber"
											@keydown.enter.prevent
											@keypress="checkLength($event)"
											maxlength="16"
									></span>
								</div>
								<div class="ot-single-columb-box">
									<label>Email<s class="red-color">※</s></label>
									<span
											id="errors-email"
											class="js-default-email default-email has-validation text-center"
											aria-placeholder="Ex: yourmail@sample.com"
											contenteditable="true"
											v-text="form.email"
											@keydown.enter.prevent
											@keypress="checkLength($event)"
											maxlength="50"
									></span>
								</div>
								<div class="ot-single-columb-box">
									<label>Skype ID</label>
									<span
											class="js-skype text-center"
											aria-placeholder="Your skype ID"
											contenteditable="true"
											v-text="form.skype"
											@keydown.enter.prevent
											@keypress="checkLength($event)"
											maxlength="50"
									></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="content-wrap">
					<div class="ot-table content-box middle-content-box">
						<div class="ot-table-row">
							<div class="ot-table-cell ot-single-columb-box" style="width: 20%">
								<span>Video introduction</span>
							</div>
							<div class="ot-table-cell ot-single-columb-box" style="width: 20%">
				                <span
						                class="js-default-clip-introduce default-furigana-address"
						                aria-placeholder="https://growupwork.com/videos/NguyenVanA.mov"
						                contenteditable="true"
						                v-text="form.clip_introduce"
						                @keydown.enter.prevent
						                @keypress="checkLength($event)"
						                maxlength="190"
				                ></span>
							</div>
						</div>
						<div class="ot-table-row">
							<div class="ot-table-cell ot-single-columb-box" style="width: 20%">
								<span>General skill</span>
							</div>
							<div class="ot-table-cell ot-single-columb-box" style="width: 80%">
				                <span
						                class="js-default-general-skill default-furigana-address white-space"
						                aria-placeholder="Ex: 5 years experience in web development, 1.5 years with IT comtor..."
						                contenteditable="true"
						                v-html="form.general_skill"
						                @keypress="checkLength($event)"
						                maxlength="190"
				                ></span>
							</div>
						</div>
						<div class="ot-table-row">
							<div class="ot-table-cell ot-single-columb-box" style="width: 20%">
								<span>Working period in Japan</span>
							</div>
							<div class="ot-table-cell ot-single-columb-box" style="width: 80%">
				                <span
						                class="js-default-work-in-japan default-furigana-address white-space"
						                aria-placeholder="None"
						                contenteditable="true"
						                v-html="form.work_in_japan"
						                @keypress="checkLength($event)"
						                maxlength="190"
				                ></span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="content-wrap">
					<div class="ot-table content-box">
						<div class="ot-table-row">
							<div class="ot-table-cell text-center">Entrance date</div>
							<div class="ot-table-cell text-center">Graduation day</div>
							<div class="ot-table-cell text-center">Academic background<s class="red-color">※</s></div>
						</div>
						<div
								class="js-education ot-table-row three-cell ot-group-hover"
								v-for="(item, key) in form.educationNew"
								:key="'educationNew' + item.id"
								v-bind:id="[key == firstEducation ? 'education-main-id' : item.id ]"
						>
							<div class="ot-table-cell ot-single-columb-box">
								<editable
										:content="item.from"
										placeholder="2015/09"
										maxlength="50"
										@update="item.from = $event"
										classes="education-from text-center"
										:enter="false"
								/>
							</div>
							<div class="ot-table-cell ot-single-columb-box">
								<editable
										:content="item.to"
										placeholder="2018/05"
										maxlength="50"
										@update="item.to = $event"
										classes="education-to text-center"
										:enter="false"
								/>
							</div>
							<div class="ot-table-cell ot-single-columb-box">
								<div class="action-box">
									<a
											href="javascript:void(0)"
											@click.prevent="addItemModify(item.id == firstEducation ? '#education-main-id' : '#' + item.id, 'education', item.id)"
											class="js-action btn btn-sm btn-info"
									>
										<i class="fa fa-plus-circle"></i>
									</a>
									<!-- <span v-if="form.educationNew > 1">|</span> -->
									<a
											v-if="form.educationNew.length > 1"
											href="javascript:void(0)"
											class="js-delete btn btn-sm btn-danger"
											@click.prevent="deleteItem('#' + key, item.id,'education')"
									>
										<i class="fa fa-trash"></i>
									</a>
								</div>
								<editable
										:content="item.school"
										placeholder="Ex: UIT University"
										maxlength="190"
										@update="item.school = $event"
										classes="education-school has-validation"
								/>
								<editable
										:content="item.specialized"
										placeholder="Ex: Web development major"
										maxlength="190"
										@update="item.specialized = $event"
										classes="education-specialized"
								/>
								<editable
										:content="item.classification"
										placeholder="Ex: Graduation results, what kind of graduation..."
										maxlength="500"
										@update="item.classification = $event"
										classes="education-classification"
								/>
							</div>
						</div>
					</div>
				</div>
				
				<div class="content-wrap">
					<div class="ot-table content-box">
						<div class="ot-table-row">
							<div class="ot-table-cell text-center">Hire date</div>
							<div class="ot-table-cell text-center">Retirement date</div>
							<div class="ot-table-cell text-center">Career history</div>
						</div>
						<div
								class="js-experience ot-table-row three-cell ot-group-hover"
								v-for="(item, key) in form.experienceNew"
								:key="'experienceNew_' + item.id"
								v-bind:id="[key == firstExperience ? 'experience-main-id' : item.id ]"
						>
							<div class="ot-table-cell ot-single-columb-box">
								<editable
										:content="item.from"
										placeholder="2018/06"
										maxlength="50"
										@update="item.from = $event"
										classes="experience-from text-center"
										:enter="false"
								/>
							</div>
							<div class="ot-table-cell ot-single-columb-box">
								<editable
										:content="item.to"
										placeholder="2019/01"
										maxlength="50"
										@update="item.to = $event"
										classes="experience-to text-center"
										:enter="false"
								/>
							</div>
							<div class="ot-table-cell ot-single-columb-box">
								<div class="action-box">
									<a
											href="javascript:void(0)"
											@click.prevent="addItemModify(key == firstExperience ? '#experience-main-id' : '#' + key , 'experience', item.id)"
											class="js-action btn btn-sm btn-info"
									>
										<i class="fa fa-plus-circle"></i>
									</a>
									<a
											v-if="form.experienceNew.length > 1"
											href="javascript:void(0)"
											class="js-delete btn btn-sm btn-danger"
											@click.prevent="deleteItem('#' + key, item.id,'experience')"
									>
										<i class="fa fa-trash"></i>
									</a>
								</div>
								<editable
										:content="item.company"
										placeholder="Ex: GrowUpWork"
										maxlength="190"
										@update="item.company = $event"
										classes="experience-company"
								/>
								<editable
										:content="item.position"
										placeholder="Ex: Services (Recruitment, job placement...)"
										maxlength="190"
										@update="item.position = $event"
										classes="experience-position"
								/>
								<editable
										:content="item.description"
										placeholder="Describe the work, experience in the working process."
										maxlength="2000"
										@update="item.description = $event"
										classes="experience-description"
								/>
							</div>
						</div>
					</div>
				</div>
				
				<div class="content-wrap">
					<div class="ot-table content-box middle-content-box">
						<div class="ot-table-row">
							<div class="ot-table-cell text-center" style="width:20%;">Date of acquisition</div>
							<div class="ot-table-cell text-center" style="width:80%;">Qualification, license</div>
						</div>
						<div
								class="js-certification ot-table-row ot-group-hover"
								v-for="(item, key) in form.certificationNew"
								:key="'certificationNew_' + item.id"
								v-bind:id="[key == firstCertification ? 'certification-main-id' : item.id ]"
						>
							<div class="ot-table-cell ot-single-columb-box text-center" style="width:20%;">
								<editable
										:content="item.time"
										placeholder="2019/02"
										maxlength="190"
										@update="item.time = $event"
										classes="certification-time"
										:enter="false"
								/>
							</div>
							<div class="ot-table-cell ot-single-columb-box" style="width:80%;">
								<div class="action-box">
									<a
											href="javascript:void(0)"
											@click.prevent="addItemModify(key == firstCertification ? '#certification-main-id' : '#' + key , 'certification', item.id)"
											class="js-action btn btn-sm btn-info"
									>
										<i class="fa fa-plus-circle"></i>
									</a>
									<a
											v-if="form.certificationNew.length > 1"
											href="javascript:void(0)"
											class="js-delete btn btn-sm btn-danger"
											@click.prevent="deleteItem('#' + key, item.id, 'certification')"
									>
										<i class="fa fa-trash"></i>
									</a>
								</div>
								<editable
										:content="item.title"
										placeholder="Ex: N1, IELTS 8.0,..."
										maxlength="1000"
										@update="item.title = $event"
										classes="certification-title"
								/>
							</div>
						</div>
					</div>
				</div>
				
				<div class="content-wrap">
					<div class="content-box">
						<div
								class="js-skill ot-single-columb-box"
								v-for="(item, key) in form.skillNew"
								:key="key"
								v-bind:id="[key == firstSkill ? 'skill-main-id' : key ]"
						>
				              <span
						              id="skill-title"
						              class="js-skill-title skill-title has-validation"
						              aria-placeholder="Title"
						              contenteditable="true"
						              v-html="item.title"
						              @keydown.enter.prevent
						              @keypress="checkLength($event)"
						              maxlength="190"
				              ></span>
							<span
									id="skill-description"
									class="js-skill-description skill-description white-space"
									aria-placeholder="Ex: Web Designer, Photoshop, Soft Skill..."
									contenteditable="true"
									v-html="item.description"
									@keypress="checkLength($event)"
									maxlength="4000"
							></span>
						</div>
					</div>
				</div>
				
				<div class="content-wrap">
					<div class="content-box">
						<div
								class="js-interests ot-single-columb-box"
								v-for="(item, key) in form.interestsNew"
								:key="key"
								v-bind:id="[key == firstInterests ? 'interests-main-id' : key ]"
						>
			              <span
					              id="interests-title"
					              class="js-interests-title interests-title has-validation"
					              aria-placeholder="Title"
					              contenteditable="true"
					              v-html="item.title"
					              @keydown.enter.prevent
					              @keypress="checkLength($event)"
					              maxlength="190"
			              ></span>
							<span
									id="interests-description"
									class="js-interests-description interests-description white-space"
									aria-placeholder="Briefly describe about your habit(Ex: Games, soccer, photography...)"
									contenteditable="true"
									v-html="item.description"
									@keypress="checkLength($event)"
									maxlength="4000"
							></span>
						</div>
					</div>
				</div>
				
				<div class="content-wrap">
					<div class="content-box">
						<div
								class="js-target ot-single-columb-box"
								v-for="(item, key) in form.targetNew"
								:key="key"
								v-bind:id="[key == firstTarget ? 'target-main-id' : key ]"
						>
			              <span
					              id="target-title"
					              class="js-target-title target-title has-validation"
					              aria-placeholder="Title"
					              contenteditable="true"
					              v-html="item.title"
					              @keydown.enter.prevent
					              @keypress="checkLength($event)"
					              maxlength="190"
			              ></span>
							<span
									id="target-description"
									class="js-target-description target-description white-space"
									aria-placeholder="Career goals: short term, long term ..."
									contenteditable="true"
									v-html="item.description"
									@keypress="checkLength($event)"
									maxlength="4000"
							></span>
						</div>
					</div>
				</div>
				
				<div class="content-wrap">
					<div class="content-box">
						<div
								class="js-additional ot-single-columb-box"
								v-for="(item, key) in form.additionalNew"
								:key="key"
								v-bind:id="[key == firstAdditional ? 'additional-main-id' : key ]"
						>
			              <span
					              id="additional-title"
					              class="js-additional-title additional-title has-validation"
					              aria-placeholder="Title"
					              contenteditable="true"
					              v-html="item.title"
					              @keydown.enter.prevent
					              @keypress="checkLength($event)"
					              maxlength="190"
			              ></span>
							<span
									id="additional-description"
									class="js-additional-description additional-description white-space"
									aria-placeholder="Ex: Aspirations, desires, habits, personalities..."
									contenteditable="true"
									v-html="item.description"
									@keypress="checkLength($event)"
									maxlength="4000"
							></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="caption-bottom text-center"></div>
		
		<div
				class="modal fade in"
				id="popupAvatar"
				tabindex="-1"
				role="dialog"
				aria-labelledby="exampleModalLabel"
				aria-hidden="true"
		>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">CHỈNH SỬA ẢNH ĐẠI DIỆN</h4>
					</div>
					<div class="modal-body">
						<cv-croppie-component @clicked="onReturnData" @closed="closeNotSave"></cv-croppie-component>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import _ from "lodash";
	import editable from "../_partials/editable";
	
	export default {
		props: {
			itemcv: {}
		},
		components: {
			editable
		},
		data: function () {
			return {
				message: '',
				cv_datetime: "",
				isError: false,
				isSuccess: false,
				isRequest: false,
				educationAddId: [],
				experienceAddId: [],
				certificationAddId: [],
				form: {
					member_cv_id: "",
					step_update: 0,
					furigana_fullname: "",
					fullname: "",
					birthday: "",
					file_avatar: "/uploads/icons/i-avatar-default.jpg",
					gender: "",
					furigana_address: "",
					skype: "",
					clip_introduce: "",
					general_skill: "",
					work_in_japan: "",
					address: "",
					phonenumber: "",
					email: "",
					educationNew: [
						{
							from: "",
							to: "",
							school: "",
							specialized: "",
							classification: ""
						}
					],
					experienceNew: [
						{
							from: "",
							to: "",
							company: "",
							position: "",
							description: ""
						}
					],
					certificationNew: [
						{
							time: "",
							title: ""
						}
					],
					skillNew: [
						{
							title: "Special skills, special subjects",
							description: ""
						}
					],
					interestsNew: [
						{
							title: "Hobby",
							description: ""
						}
					],
					targetNew: [
						{
							title: "Motivation for aspiration",
							description: ""
						}
					],
					additionalNew: [
						{
							title: "Additional information",
							description: ""
						}
					],
					projectWorked: [
						{
							projectname: "",
							projecttime: "",
							projectmember: "",
							projectdescription: "",
							projectframework: "",
							projectpm: "",
							projectrole: ""
						}
					],
					itskill: [
						{
							define: "",
							customer_negotiation: "",
							basic_design: "",
							detail_design: "",
							coding: "",
							unit_test: "",
							combined_test: "",
							overall_test: "",
							
							database_design: "",
							database_construction: "",
							database_tuning: "",
							database_operation_and_maintenance: "",
							db_other_1: "",
							web_html_production_experience: "",
							cloud_development_experience: "",
							mobile_application_development_experience: "",
							embedded_system_development_experience: "",
							system_other_1: "",
							system_other_2: "",
							system_other_3: "",
							system_other_4: "",
							bank_faimsam_system: "",
							life_insurance_system: "",
							general_insurance_system: "",
							medical_system: "",
							erp_system: "",
							system_other_5: "",
							system_other_6: "",
							
							c_vc: "",
							cplus_vcplus: "",
							c_sharp: "",
							c_sharp_net: "",
							objective_c: "",
							swift: "",
							java: "",
							java_servlet: "",
							javascript: "",
							javabeans: "",
							asp_net: "",
							jsp: "",
							visual_basic: "",
							ruby: "",
							intra_mart: "",
							struts: "",
							delphi: "",
							perl: "",
							xml: "",
							php: "",
							sql: "",
							pl_sql: "",
							notesscript: "",
							language_other_1: "",
							language_other_2: "",
							
							tcp_ip: "",
							telenet: "",
							voip: "",
							network_other_1: "",
							
							iis: "",
							coldfusion: "",
							silverstream: "",
							tomcat: "",
							weblogic: "",
							arcserve: "",
							netvault: "",
							apache: "",
							qmail: "",
							sendmail: "",
							tool_other_1: "",
							tool_other_2: "",
							
							windows_os: "",
							windows_server: "",
							linux: "",
							solaris: "",
							hp_ux: "",
							android_ios: "",
							os_other_1: "",
							os_other_2: ""
						}
					]
				},
				firstCertification: "",
				firstEducation: "",
				firstAdditional: "",
				firstTarget: "",
				firstSkill: "",
				firstInterests: "",
				firstExperience: "",
				firstProjectWorked: "",
				firstItSkill: "",
				errors: {
					furigana_fullname: "",
					fullname: "",
					birthday: "",
					file_avatar: "",
					gender: "",
					furigana_address: "",
					skype: "",
					clip_introduce: "",
					general_skill: "",
					work_in_japan: "",
					address: "",
					phonenumber: "",
					email: "",
					education_from: "",
					education_to: "",
					education_school: "",
					education_specialized: "",
					education_classification: "",
					experience_from: "",
					experience_to: "",
					experience_company: "",
					experience_position: "",
					experience_description: "",
					certification_time: "",
					certification_title: "",
					skill_title: "",
					skill_description: "",
					interests_title: "",
					interests_description: "",
					target_title: "",
					target_description: "",
					additional_title: "",
					additional_description: "",
					message: ""
				}
			};
		},
		created() {
			if (this.itemcv != [] && this.itemcv.member_cv_id) {
				this.form.furigana_fullname = this.itemcv.furigana;
				this.form.fullname = this.itemcv.fullname;
				this.form.member_cv_id = this.itemcv.member_cv_id;
				this.form.step_update = this.itemcv.step_update;
				this.form.birthday = this.itemcv.birthday;
				if (this.itemcv.avatar) {
					this.form.file_avatar = this.itemcv.avatar;
				}
				this.form.furigana_address = this.itemcv.furigana_address;
				this.form.skype = this.itemcv.skype;
				this.form.clip_introduce = this.itemcv.clip_introduce;
				this.form.general_skill = this.itemcv.general_skill;
				this.form.work_in_japan = this.itemcv.work_in_japan;
				this.form.address = this.itemcv.current_address;
				this.form.gender = this.itemcv.gender;
				this.form.phonenumber = this.itemcv.phone;
				this.form.email = this.itemcv.email;
				
				let thisGlobal = this;
				if (this.itemcv.formal_degree) {
					// tanmnt start
					this.form.educationNew = this.convertArray(
						JSON.parse(this.itemcv.formal_degree)
					);
					//tanmnt end
					let stepEach = 0;
					Object.keys(this.form.educationNew).forEach(key => {
						if (stepEach === 0) {
							this.firstEducation = key;
							stepEach += 1;
						}
					});
				}
				
				if (this.itemcv.work_experience) {
					// tanmnt start
					this.form.experienceNew = this.convertArray(
						JSON.parse(this.itemcv.work_experience)
					);
					// tanmnt end
					let stepEach = 0;
					Object.keys(this.form.experienceNew).forEach(key => {
						if (stepEach === 0) {
							this.firstExperience = key;
							stepEach += 1;
						}
					});
				}
				
				if (this.itemcv.other_degree) {
					//tanmnt start
					this.form.certificationNew = this.convertArray(
						JSON.parse(this.itemcv.other_degree)
					);
					//tanmnt end
					let stepEach = 0;
					Object.keys(this.form.certificationNew).forEach(key => {
						if (stepEach === 0) {
							this.firstCertification = key;
							stepEach += 1;
						}
					});
				}
				if (this.itemcv.additional) {
					this.form.additionalNew = JSON.parse(this.itemcv.additional);
					let stepEach = 0;
					Object.keys(this.form.additionalNew).forEach(key => {
						if (stepEach === 0) {
							this.firstAdditional = key;
							stepEach += 1;
						}
					});
				}
				
				if (this.itemcv.target) {
					this.form.targetNew = JSON.parse(this.itemcv.target);
					let stepEach = 0;
					Object.keys(this.form.targetNew).forEach(key => {
						if (stepEach === 0) {
							this.firstTarget = key;
							stepEach += 1;
						}
					});
				}
				
				if (this.itemcv.interests) {
					this.form.interestsNew = JSON.parse(this.itemcv.interests);
					let stepEach = 0;
					Object.keys(this.form.interestsNew).forEach(key => {
						if (stepEach === 0) {
							this.firstInterests = key;
							stepEach += 1;
						}
					});
				}
				
				if (this.itemcv.skill_shortterm_course) {
					this.form.skillNew = JSON.parse(this.itemcv.skill_shortterm_course);
					let stepEach = 0;
					Object.keys(this.form.skillNew).forEach(key => {
						if (stepEach === 0) {
							this.firstSkill = key;
							stepEach += 1;
						}
					});
				}
				
				if (this.itemcv.project_worked) {
					this.form.projectWorked = JSON.parse(this.itemcv.project_worked);
					let stepEach = 0;
					Object.keys(this.form.projectWorked).forEach(key => {
						if (stepEach === 0) {
							this.firstProjectWorked = key;
							stepEach += 1;
						}
					});
				}
				if (this.itemcv.it_skill) {
					this.form.itskill = JSON.parse(this.itemcv.it_skill);
					let stepEach = 0;
					Object.keys(this.form.itskill).forEach(key => {
						if (stepEach === 0) {
							this.firstItSkill = key;
							stepEach += 1;
						}
					});
				}
			}
			
			let currentDatetime = new Date();
			let currentYear = currentDatetime.getFullYear();
			let currentMonth = currentDatetime.getMonth() + 1;
			let currentDate = currentDatetime.getDate();
			this.form.cv_datetime = this.padNumber(currentMonth) + "/" + currentYear;
		},
		mounted() {
			$(".js-errors-box").hide();
		},
		methods: {
			padNumber: function (d) {
				return d < 10 ? "0" + d.toString() : d.toString();
			},
			createUUID() {
				var dt = new Date().getTime();
				var uuid = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
					/[xy]/g,
					function (c) {
						var r = (dt + Math.random() * 16) % 16 | 0;
						dt = Math.floor(dt / 16);
						return (c == "x" ? r : (r & 0x3) | 0x8).toString(16);
					}
				);
				return uuid;
			},
			messageTitleClass: function () {
				var mtClass = ["table-caption", "caption-top", "bg-success"];
				return mtClass;
			},
			scrollTopPage: function () {
				$("html, body").animate(
					{
						scrollTop: 0
					},
					300
				);
			},
			__resetErrors: function () {
				Object.keys(this.errors).map(key => {
					this.errors[key] = "";
				});
			},
			__parseErrors: function (error) {
				let thisGlobal = this;
				let errors = error.response.data.errors;
				
				if (typeof errors === "object") {
					Object.keys(this.errors).forEach(key => {
						if (typeof errors[key] != "undefined") {
							thisGlobal.errors[key] = errors[key][0];
						}
					});
					this.errors.message = "";
				} else {
					this.errors = {};
					if (typeof errors == "undefined") {
						this.errors.message = error.response.data.message;
					} else {
						this.errors.message = errors.message;
					}
				}
			},
			submitForm: function () {
				return new Promise((resolve, reject) => {
					this.__resetErrors();
					
					if (this.isRequest) {
						return false;
					}
					
					this.isRequest = true;
					
					this.form.furigana_fullname = $(".js-default-furigana-fullname").text();
					this.form.fullname = $(".js-default-fullname").text();
					this.form.birthday = $(".js-default-birthday").text();
					this.form.file_avatar = $(".js-thumbnail").attr("src");
					this.form.gender = $(".js-default-gender").text();
					this.form.furigana_address = $(".js-default-furigana-address").text();
					this.form.skype = $(".js-skype").text();
					this.form.clip_introduce = $(".js-default-clip-introduce").text();
					this.form.general_skill = $(".js-default-general-skill").html();
					this.form.work_in_japan = $(".js-default-work-in-japan").html();
					this.form.address = $(".js-default-address").text();
					this.form.phonenumber = $(".js-default-phonenumber").text();
					this.form.email = $(".js-default-email").text();
					let thisGlobal = this;
					this.form.skillNew = [];
					$.each($(".js-skill"), function (key, val) {
						let skillItem = {
							description: "",
							title: ""
						};
						skillItem.description = $(val)
							.find(".js-skill-description")
							.html();
						skillItem.title = $(val)
							.find(".js-skill-title")
							.html();
						thisGlobal.form.skillNew.push(skillItem);
					});
					
					this.form.interestsNew = [];
					$.each($(".js-interests"), function (key, val) {
						let interestsItem = {
							description: "",
							title: ""
						};
						interestsItem.description = $(val)
							.find(".js-interests-description")
							.html();
						interestsItem.title = $(val)
							.find(".js-interests-title")
							.html();
						thisGlobal.form.interestsNew.push(interestsItem);
					});
					
					this.form.targetNew = [];
					$.each($(".js-target"), function (key, val) {
						let targetItem = {
							description: "",
							title: ""
						};
						targetItem.description = $(val)
							.find(".js-target-description")
							.html();
						targetItem.title = $(val)
							.find(".js-target-title")
							.html();
						thisGlobal.form.targetNew.push(targetItem);
					});
					
					this.form.additionalNew = [];
					$.each($(".js-additional"), function (key, val) {
						let additionalItem = {
							description: "",
							title: ""
						};
						additionalItem.description = $(val)
							.find(".js-additional-description")
							.html();
						additionalItem.title = $(val)
							.find(".js-additional-title")
							.html();
						thisGlobal.form.additionalNew.push(additionalItem);
					});
					
					this.form.projectWorked = [];
					$.each($(".js-projectworked"), function (key, val) {
						let projectworkedItem = {
							projectname: "",
							projecttime: "",
							projectmember: "",
							projectdescription: "",
							projectframework: "",
							projectpm: "",
							projectrole: ""
						};
						projectworkedItem.projectname = $(val)
							.find(".js-projectname")
							.html();
						projectworkedItem.projecttime = $(val)
							.find(".js-projecttime")
							.html();
						projectworkedItem.projectmember = $(val)
							.find(".js-projectmember")
							.html();
						projectworkedItem.projectdescription = $(val)
							.find(".js-projectdescription")
							.html();
						projectworkedItem.projectframework = $(val)
							.find(".js-projectframework")
							.html();
						projectworkedItem.projectpm = $(val)
							.find(".js-projectpm")
							.html();
						projectworkedItem.projectrole = $(val)
							.find(".js-projectrole")
							.html();
						thisGlobal.form.projectWorked.push(projectworkedItem);
					});
					
					this.form.itskill = [];
					$.each($(".js-itskill"), function (key, val) {
						let itskillItem = {
							define: "",
							customer_negotiation: "",
							basic_design: "",
							detail_design: "",
							coding: "",
							unit_test: "",
							combined_test: "",
							overall_test: "",
							
							database_design: "",
							database_construction: "",
							database_tuning: "",
							database_operation_and_maintenance: "",
							db_other_1: "",
							web_html_production_experience: "",
							cloud_development_experience: "",
							mobile_application_development_experience: "",
							embedded_system_development_experience: "",
							system_other_1: "",
							system_other_2: "",
							system_other_3: "",
							system_other_4: "",
							bank_faimsam_system: "",
							life_insurance_system: "",
							general_insurance_system: "",
							medical_system: "",
							erp_system: "",
							system_other_5: "",
							system_other_6: "",
							
							c_vc: "",
							cplus_vcplus: "",
							c_sharp: "",
							c_sharp_net: "",
							objective_c: "",
							swift: "",
							java: "",
							java_servlet: "",
							javascript: "",
							javabeans: "",
							asp_net: "",
							jsp: "",
							visual_basic: "",
							ruby: "",
							intra_mart: "",
							struts: "",
							delphi: "",
							perl: "",
							xml: "",
							php: "",
							sql: "",
							pl_sql: "",
							notesscript: "",
							language_other_1: "",
							language_other_2: "",
							
							tcp_ip: "",
							telenet: "",
							voip: "",
							network_other_1: "",
							
							iis: "",
							coldfusion: "",
							silverstream: "",
							tomcat: "",
							weblogic: "",
							arcserve: "",
							netvault: "",
							apache: "",
							qmail: "",
							sendmail: "",
							tool_other_1: "",
							tool_other_2: "",
							
							windows_os: "",
							windows_server: "",
							linux: "",
							solaris: "",
							hp_ux: "",
							android_ios: "",
							os_other_1: "",
							os_other_2: ""
						};
						
						let wrapContent = $(val);
						Object.keys(itskillItem).map(key => {
							itskillItem[key] = wrapContent.find(".js-" + key).html();
						});
						thisGlobal.form.itskill.push(itskillItem);
					});
					
					if (!this.checkValidation()) {
						$(".js-errors-box").show();
						this.isRequest = false;
						$("html, body").animate(
							{
								scrollTop: 0
							},
							300
						);
						reject();
						return false;
					}
					axios
						.post("/cv/japan-default/save", this.form)
						.then(response => {
							if (response.data) {
								this.isError = false;
								this.isSuccess = true;
								$(".js-errors-box").hide();
								this.message = response.data.message;
								this.form.member_cv_id = response.data.member_cv_id;
								this.form.step_update = response.data.step_update;
								this.scrollTopPage();
							}
							this.isRequest = false;
							resolve();
						})
						.catch(error => {
							this.isRequest = false;
							this.isError = true;
							
							if (error.response.data.message) {
								this.errors.message = error.response.data.message;
								
								reject();
							}
							
							$(".js-errors-box").show();
							this.isSuccess = false;
							this.scrollTopPage();
							
							this.__parseErrors(error);
							reject();
						})
						.then(function () {
							resolve();
						});
				});
			},
			openAvatarPopup: function () {
				$("#popupAvatar").modal("show");
			},
			onReturnData(value) {
				if (value && value != "") {
					$(".js-thumbnail").attr("src", value);
				}
				$("#popupAvatar").modal("hide");
			},
			checkValidation: function () {
				let flagCheck = true;
				let furigana_fullname = this.form.furigana_fullname;
				if (furigana_fullname.length <= 0) {
					this.errors.furigana_fullname = "Tên furigana không được để trống";
					flagCheck = false;
				}
				
				let fullname = this.form.fullname;
				if (fullname.length <= 0) {
					this.errors.fullname = "Họ tên không được để trống";
					flagCheck = false;
				}
				
				let address = this.form.address;
				if (address.length <= 0) {
					this.errors.address = "Địa chỉ không được để trống";
					flagCheck = false;
				}
				
				let phonenumber = this.form.phonenumber;
				if (phonenumber.length <= 0) {
					this.errors.phonenumber = "Số điện thoại không được để trống";
					flagCheck = false;
				}
				
				let email = this.form.email;
				if (email.length <= 0) {
					this.errors.email = "Địa chỉ email không được để trống";
					flagCheck = false;
				}
				
				let thisGlobal = this;
				let educationNew = this.form.educationNew;
				if (educationNew.length <= 0) {
					return false;
				} else {
					$.each(educationNew, function (idx, item) {
						if (item.school.length <= 0) {
							thisGlobal.errors.education_school =
								"Trường học không được để trống";
							flagCheck = false;
						}
					});
				}
				
				let skillNew = this.form.skillNew;
				if (skillNew.length <= 0) {
					return false;
				} else {
					$.each(skillNew, function (idx, item) {
						if (item.title.length <= 0) {
							thisGlobal.errors.skill_title = "'Kỹ năng'" + " không được để trống";
							flagCheck = false;
						}
					});
				}
				
				let interestsNew = this.form.interestsNew;
				if (interestsNew.length <= 0) {
					return false;
				} else {
					$.each(interestsNew, function (idx, item) {
						if (item.title.length <= 0) {
							thisGlobal.errors.interests_title =
								"'Sở thích'" + " không được để trống";
							flagCheck = false;
						}
					});
				}
				
				let targetNew = this.form.targetNew;
				if (targetNew.length <= 0) {
					return false;
				} else {
					$.each(targetNew, function (idx, item) {
						if (item.title.length <= 0) {
							thisGlobal.errors.target_title =
								"'Mục tiêu'" + " không được để trống";
							flagCheck = false;
						}
					});
				}
				
				return flagCheck;
			},
			closeNotSave: function () {
				$("#popupAvatar").modal("hide");
			},
			//tanmnt start
			// convert to array
			convertArray(obj) {
				let data = Object.keys(obj).map(key => {
					return obj[key];
				});
				for (let i = 0; i < data.length; i++) {
					data[i].id = i + 1;
				}
				return data;
			},
			//create id
			createID: function (data) {
				let newId = 1;
				for (let i = 0; i < data.length; i++) {
					newId = data[i].id + 1;
				}
				return newId;
			},
			getIndexItemInArray: function (arrayInput, idInput) {
				let arrResult = {index: 0, flag: false};
				let index = 0;
				Object.keys(arrayInput).forEach(key => {
					if (
						(key === idInput || arrayInput[key].id === idInput) &&
						!arrResult.flag
					) {
						arrResult.flag = true;
						arrResult.index = index;
					} else {
						index += 1;
					}
				});
				return arrResult.index;
			},
			// tanmnt end
			addItemModify: function (targetItem, classItem, idItem) {
				let idString = this.createUUID();
				if (classItem == "certification") {
					let index = this.getIndexItemInArray(
						this.form.certificationNew,
						idItem
					);
					
					let certificationItem = {id: idString, time: "", title: ""};
					this.form.certificationNew.splice(index + 1, 0, certificationItem);
				} else if (classItem == "experience") {
					let index = this.getIndexItemInArray(this.form.experienceNew, idItem);
					let experienceItem = {
						id: idString,
						from: "",
						to: "",
						company: "",
						position: "",
						description: ""
					};
					this.form.experienceNew.splice(index + 1, 0, experienceItem);
				} else if (classItem == "education") {
					let index = this.getIndexItemInArray(this.form.educationNew, idItem);
					let educationitem = {
						id: idString,
						from: "",
						to: "",
						school: "",
						specialized: "",
						classification: ""
					};
					this.form.educationNew.splice(index + 1, 0, educationitem);
				}
				/*
				let htmlItem =
				  '<div id="' +
				  idString +
				  '" class="js-' +
				  classItem +
				  ' ot-table-row three-cell">' +
				  $(targetItem).html() +
				  "</div>";
				$(targetItem).after(htmlItem);

				let thisGlobal = this;
				$("#" + idString + " .js-action").on("click", function() {
				  thisGlobal.addItem("#" + idString, classItem);
				});
				$("#" + idString + " .js-delete").on("click", function() {
				  $(this)
					.closest("#" + idString)
					.remove();
				});
				*/
			},
			deleteItem: function (targetItem, id = null, classItem = "") {
				// tanmnt start
				if (classItem == "certification") {
					let index = this.form.certificationNew.findIndex(value => {
						return value.id === id;
					});
					this.form.certificationNew.splice(index, 1);
					return;
				} else if (classItem == "experience") {
					let index = this.form.experienceNew.findIndex(value => {
						return value.id === id;
					});
					this.form.experienceNew.splice(index, 1);
					return;
				} else if (classItem == "education") {
					let index = this.form.educationNew.findIndex(value => {
						return value.id === id;
					});
					this.form.educationNew.splice(index, 1);
					return;
				}
				this.$forceUpdate();
				// tanmnt end
				$(targetItem).remove();
			},
			checkLength: function (evt) {
				let keycode = evt.charCode || evt.keyCode;
				let controls = evt.target;
				if ($(evt.target).text().length > $(controls).attr("maxlength") - 1) {
					evt.preventDefault();
					return false;
				}
				return true;
			}
		}
	};
</script>
<style>
	.link-block {
		display: block;
	}
	.el-tabs--border-card
	> .el-tabs__header
	.el-tabs__item:not(.is-disabled):hover {
		color: #909399;
	}
</style>
