#pagewrap{padding:5px;width:960px;margin:20px auto;}
#header{height:180px;}
#content{width:600px;float:left;}
#sidebar{width:300px;float:right;}
#footer{clear:both;}
.td_company{width:74%;}
.ot-table{display:table;width:100%;table-layout:fixed;}
.ot-login-button-sp{display:none;}
.ot-table .ot-table-row{display:table-row;}
.ot-table .ot-table-cell{display:table-cell;vertical-align:middle;}
@media screen and (max-width:980px){#pagewrap{width:94%;}
    #content{width:65%;}
    #sidebar{width:30%;}
    .td_company{width:65%;}
}
@media screen and (max-width:700px){#content{width:auto;float:none;}
    #sidebar{width:auto;float:none;}
}
@media screen and (max-width:480px){#header{height:auto;}
    h1{font-size:24px;}
    #sidebar{display:none;}
}
.drawer{width:20px;position:absolute;right:0px;bottom:0px;-webkit-transition:all 0.1s;}
.drawer.show{width:200px;}
.drawer.close{-webkit-animation:bounce 1s;-webkit-animation-iteration-count:1;}
@-webkit-keyframes bounce{0%, 20%, 50%, 80%, 100%{-webkit-transform:translateX(0);}
    40%{-webkit-transform:translateX(-30px);}
    60%{-webkit-transform:translateX(-15px);}
}
#f1_container{width:140px;height:140px;margin:0px;border:5px solid #e70012;border-radius:500px;position:relative;z-index:1;}
#f1_card{width:100%;height:100%;transform-style:preserve-3d;-webkit-transform-style:preserve-3d;transition:all 1.0s linear;-webkit-transition:all 1.0s linear;}
#f1_container:hover #f1_card{transform:rotateY(180deg);-webkit-transform:rotateY(180deg);}
#change-img{height:170px;}
#change-img:hover #f1_card{transform:rotateY(180deg);-webkit-transform:rotateY(180deg);}
.face{position:absolute;width:100%;height:100%;backface-visibility:hidden;-webkit-backface-visibility:hidden;}
.face.back{display:block;transform:rotateY(180deg);-webkit-transform:rotateY(180deg);box-sizing:border-box;color:white;}
.row-box{display:inline-flex;display:flex;}
.title-section{background:url("../img/other/title-background.png") center;background-repeat:no-repeat !important;background-size:100% auto !important;}
.office-image-row{display:flex;width:100%;}
@media screen and (-webkit-min-device-pixel-ratio:0){::i-block-chrome, .office-image-row{display:-webkit-box;}
    ::i-block-chrome, .w-office{width:50% !important}
    ::i-block-chrome, .clip-each{width:50% !important}
    :i-block-chrome, .clip-each1{width:50% !important}
}
.office-image-a{width:100%;border:solid 2px #e70012;}
.office-image-b{width:100%;border:solid 2px #e70012;}
.shape-a{float:right;background-size:cover;-webkit-clip-path:polygon(0 0, 85% 0, 100% 100%, 0% 100%);-webkit-shape-margin:20px;}
.shape-b{-webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 15% 100%);}
.space-image{padding:0 !important;}
.left-margin{position:absolute;left:15%;}
.left-margin-circle{position:absolute;left:15%;}
.right-margin{position:absolute;left:51%;}
.right-margin-circle{position:absolute;right:15%;}
.face{border-radius:100%;}
.clip-each{width:55%;height:150px;position:relative;}
.clip-each:after{content:"";position:absolute;background:url("../img/other/Hinh3.png") center;background-size:100%;}
.clip-each, .clip-each:after{-webkit-clip-path:polygon(0 0, 85% 0, 100% 100%, 0% 100%);clip-path:url("#clipPolygon");}
.border-style-thin{background-color:#e70012;}
.border-style-thin:after{top:2px;left:2px;right:2px;bottom:2px;}
.clip-each1{width:55%;height:150px;position:relative;}
.clip-each1:after{content:"";position:absolute;background:url("../img/other/Hinh4.png") center;background-size:100%;}
.clip-each1, .clip-each1:after{-webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 15% 100%);}
.border-style-thin1{background-color:#e70012;}
.border-style-thin1:after{top:2px;left:2px;right:2px;bottom:2px;}
.clip-each3 .ot-contact-icon{float:left;margin:10px;width:30px;height:30px;background:url("/frontend/img/icon/i_top_sprites.png") no-repeat -10px -95px;}
.clip-each3, .clip-each4{width:50%;height:50px;float:left;}
.clip-each3:after, .clip-each4:after{content:"";}
.clip-each3, .clip-each3:after{-webkit-clip-path:polygon(0 0, 90% 0, 100% 100%, 0% 100%);}
.border-style-thin3{background-color:#fbfafa;}
.border-style-thin3:after{top:1px;left:1px;right:1px;bottom:1px;}
.parallelogram{width:50px;height:50px;-webkit-transform:skew(30deg);-moz-transform:skew(50deg);-o-transform:skew(20deg);background:blue;}
.clip-each3-phone{color:#e70012;margin-right:20%;font-size:18px}
.clip-each4, .clip-each4:after{-webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 10% 100%);}
.clip-each4-position1{padding:10px;margin-left:30px;float:left;}
.clip-each4-position1 .ot-contact-icon{display:inline-block;width:36px;height:30px;background:url("/frontend/img/icon/i_top_sprites.png") no-repeat -10px -649px;vertical-align:middle;}
.clip-each4-position1 a{position:relative;display:inline-block;padding-right:24px;vertical-align:middle;}
.clip-each4-position1 a:before{position:absolute;content:"";top:0;right:0;width:16px;height:16px;background:url("/frontend/img/icon/i_top_sprites.png") no-repeat -10px -533px;}
.border-style-thin4{background-color:#fbfafa;}
.border-style-thin4:after{top:1px;left:1px;right:1px;bottom:1px;}
.title-section-b{margin-top:20px;background:url("../img/other/title-background-office.png") center;background-repeat:no-repeat !important;background-size:cover;color:white;font-size:16px;}
.box-custom{-webkit-column-count:3 !important;padding:0px 6px 6px 6px;}
#news-box{width:35%;border:solid 1px #e26985;margin-right:20px}
#blog-box{width:65%;border:solid 1px #eca240;}
.news-blog-title{position:absolute;color:#e16481;left:60px;font-size:18px;}
.news-img{float:left;width:150px;height:150px;margin:5px 10px 0px 5px;border-radius:5px;}
.news-img:hover{opacity:1;}
.new-content-border{margin:10px;min-height:100px;-webkit-box-shadow:0 4px 4px -4px #000;box-shadow:0px 3px 18px -6px #000;-moz-border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.new-content-border-staff{margin:10px;-webkit-box-shadow:0 4px 4px -4px #000;box-shadow:0px 3px 18px -6px #000;-moz-border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.labor-list-icon{margin-left:0px;color:#e16581;font-size:10px;position:inherit;}
.labor-detail-content{margin:20px 0px 20px 0px;}
.labor-button{max-width:15%;display:block;margin:40px auto 0;}
.labor-cat-title{margin-top:10px;color:#e70012;font-weight:bold;font-size:16px;}
.labor-table{display:block;width:75%;margin:0 auto 20px;}
.labor-table tbody tr{border:1px solid #e70012;}
.labor-table tbody tr td{border-top:1px solid #e70012;}
.labor-table .col-1{background-color:#e70012;color:white;text-align:center;vertical-align:middle;}
.labor-table .col-middle-line{border-bottom:1px solid #fff;}
.labor-table .col-2{border-right:1px solid #e70012;vertical-align:middle;}
.labor-table .col-3{color:#e70012;text-align:center;font-weight:bold;}
.footer-v2{width:auto;height:auto;background:#fff;}
.footer-bg{width:100%;}
.footer-logo{display:table-cell;width:16%;padding-bottom:10px;vertical-align:top;text-align:center;}
.footer-logo a{display:inline-block;}
.footer-logo a span{text-align:center;display:block;color:#fff;}
.footer-logo-vn{width:100px;}
.footer-logo-jp{width:150px;}
.footer-contact-info{width:75%;margin-bottom:0;}
.footer-title{color:white !important;margin-left:0;display:table-cell;vertical-align:middle;}
.footer-link-a{color:white;display:inherit;}
.footer-row{display:table;float:left;background-color:#e70012;}
.footer-cat-column{padding:0 12px 10px 12px;}
.footer-cat-column .footer-header{color:#fff;padding-left:50px;}
.footer-cat-column .footer-h4 span{position:relative;padding-left:28px;}
.footer-cat-column .footer-h4 span:before{content:"";position:absolute;left:0;background:url("/frontend/img/icon/i_top_sprites.png") no-repeat;}
.w-company .footer-h4 span:before{width:22px;height:18px;background-position:-9px -535px;background-size:304%;}
.w-service .footer-h4 span:before{width:22px;height:22px;background-position:-3px -293px;background-size:135%;}
.footer-content{background-color:#e70012;width:100%;height:auto;margin-top:-2px;}
ul.footer-contact-info li div{display:table;}
ul.footer-contact-info li div .footer-icon{display:table-cell;vertical-align:middle;padding-right:10px;width:35px;}
.fader img:hover{opacity:0.8;}
.social-sidebar li{list-style-type:none;color:#efefef;height:35px;}
.social-sidebar li:hover{transform:scale(1.2);}
.social-sidebar li img{float:left;margin-right:10px;width:32px;height:32px;}
.social-sidebar li p{padding:0px;margin:0px;text-transform:uppercase;line-height:43px;}
.social-sidebar{margin-left:-40px;}
.narrow-right{display:none;height:32px;}
@media only screen and (max-width:1199px){.footer-row{padding-left:0px;margin-top:10px;}
}
@media only screen and (max-width:1060px){
    .social-sidebar li{height:28px;}
    .social-sidebar li img{width:25px;height:25px;}
}
@media only screen and (max-width:990px){.office-image-row{width:100%;}
    .footer-cat-column{padding:5px;}
    .footer-v2{background-repeat:no-repeat;}
    .office-slide{padding:0;}
}
@media screen and (max-width:860px) and (min-width:768px){.ot-header-menu .ot-container .ot-header-rmenu ul li a{padding-left:4px;padding-right:4px;}
}
@media only screen and (max-width:767px){.row-box{display:block;}
    .td_company{width:100%;}
    .box-custom{-webkit-column-count:2!important;-moz-column-count:2!important;-o-column-count:2!important;column-count:2!important;}
    #img-item{width:100%;}
    #news-box{width:auto;margin:5px 0 30px 0;}
    #blog-box{width:auto;margin:5px 0 0 0;}
    .office-image-row{width:100%;}
    .footer-cat-column{padding:5px;}
    .fb-page{min-width:100px;}
    ._2p3a{min-width:100px !important;width:100px !important;}
    .labor-table{width:100%;}
    .new-content-border:first-child, .new-content-border:nth-child(2){display:block;}
    .new-content-border{display:none;}
    .news-blog-title{font-size:16px;}
    .footer-logo-jp{margin-top:0 !important;}
    .ot-header-menu .ot-container .ot-header-rmenu .navbar-nav li a{display:inline-block;font-size:14px;}
    .ot-header-menu .ot-container .ot-header-rmenu .navbar-nav li a br{display:none;}
    .ot-login-button-sp{float:right;display:block;margin-top:14px;}
    .ot-login-button-sp a{font-size:13px;color:#fff;border-radius:4px;padding:2px 8px;margin-left:4px;background:#e70012;display:inline-block;border-radius: 12px;}
}
@media only screen and (max-width:700px){.footer-row{display:block;}
    .footer-cat-column{width:100%;}
    .labor-table tbody tr td{white-space:normal !important;}
    .labor-col{width:auto !important;}
}
@media only screen and (max-width:640px){.title-section-b{font-size:10px;}
    .footer-v2{background-size:contain;}
}
@media only screen and (max-width:479px){.office-image-row{width:100%;}
    .box-custom{-webkit-column-count:1!important;-moz-column-count:1!important;-o-column-count:1!important;column-count:1!important;}
    .news-img{width:100%;margin:0;height:auto;border-bottom-left-radius:0;border-bottom-right-radius:0;}
    .news-info{display:block !important;}
    .mobile-views{text-align:center;border-bottom:1px solid #ddd;}
}
.staff-row-content{display:flex;margin:0 40px 40px 40px;}
.staff-left{width:50%;}
.staff-right{width:50%;}
.staff-left-content-block-before{left:-20%;}
.staff-left-content-block{position:relative;left:15%;-moz-transition:all 700ms linear;-webkit-transition:all 700ms linear;-o-transition:all 700ms linear;transition:all 700ms linear;}
.staff-right-content-block-before{right:-20%;}
.staff-right-content-block{position:relative;right:15%;-moz-transition:all 700ms linear;-webkit-transition:all 700ms linear;-o-transition:all 700ms linear;transition:all 700ms linear;}
.i-left-circle{position:absolute;left:4%;}
.i-right-circle{position:absolute;right:4%;}
.more-button{max-width:15%;display:block;margin-left:auto;margin-right:auto;}
#left-skype-icon, #left-fb-icon{display:none;}
#right-skype-icon, #right-fb-icon{display:none;}
#left-skype-icon-1, #left-fb-icon-1{display:none;}
#right-skype-icon-1, #right-fb-icon-1{display:none;}
#i-sub-left-tab{padding-left:150px;height:25px;}
#i-left-tab-position{position:absolute;margin:2px 0 0 -115px;color:white;}
#i-sub-right-tab{height:25px;margin:4px 7px 0px 2px;}
#i-right-tab-position{position:absolute;margin-left:-120px;color:white;margin:6px 0 0 10px;}
.rowblog{margin-left:0;margin-right:0;}
.ot-top-page .content .ot-news-blog-box .box .item .img img{opacity:1;border-top-left-radius:5px;border-top-right-radius:5px;}
.new-content-border div p{padding:5px 0;max-height:125px;display:inline-block;overflow:hidden;}
.ot-top-page .content .ot-news-blog-box .box .item .desc p{max-height:250px;display:inline-block;overflow:hidden;padding:5px;}
.hexa, .hexa div{margin:0 auto;transform-origin:50% 50%;width:300px;height:300px;border:2px solid blue;}
.hexa{width:325px;height:230px;overflow:hidden;}
.hexa div{width:100%;height:100%;}
.hexa{transform:rotate(180deg);}
.hex1{transform:rotate(-75deg);}
.parallelogram{position:relative;left:-47px;width:30px;height:150px;-webkit-transform:skew(32deg);-moz-transform:skew(32deg);-o-transform:skew(32deg);background:white;border-left:2px solid #e70012;border-right:2px solid #e70012;z-index:1;}
.i-left-trapezoid{margin-left:12%;border-bottom:40px solid #5899c5;border-left:0px solid transparent;border-right:15px solid transparent;width:70%;}
.i-left-trapezoid-bottom{margin-left:12%;border-top:60px solid #eeeeee;border-left:0px solid transparent;border-right:15px solid transparent;width:70%;}
.i-left-tab-content-div{margin:-95px 0 0 160px;position:relative;width:50%;}
#i-left-tab-title-left{color:#a7efff;font-size:18px;text-align:left;padding-left:6px;display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
#i-left-tab-title-right{margin:15px 0px 25px 0;padding-left:6px;text-align:left;overflow:hidden;text-overflow:ellipsis;display:block;-webkit-box-orient:vertical;}
.i-left-contact-info-box{position:absolute;width:100%;margin:14px 0 0 -20px;}
.i-right-tab-content-div{float:left;width:50%;margin:-95px 0 0 105px;}
#i-right-tab-title-left{margin:15px 0 0 0px;padding-right:6px;text-align:right;overflow:hidden;text-overflow:ellipsis;display:block;-webkit-box-orient:vertical;}
#i-right-tab-title-right{color:#a7efff;font-size:18px;padding-right:6px;text-align:right;display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.i-right-contact-info-box{float:right;margin:0px 120px 0px 0px;}
.i-right-trapezoid{float:right;margin-right:12%;border-bottom:40px solid #5899c5;border-left:15px solid transparent;width:70%;}
.i-right-trapezoid-bottom{float:right;margin-right:12%;border-top:60px solid #eeeeee;border-left:15px solid transparent;width:70%;}
@media screen and (max-width:570px){.clip-each4.border-style-thin4 span{font-size:12px;}
    .clip-each3.border-style-thin3 strong, .clip-each3.border-style-thin3 span{font-size:12px;}
    .clip-each4.border-style-thin4 div{margin-left:15px;}
    .clip-each4.border-style-thin4 img:first-child{width:28px;}
}
@media screen and (max-width:475px){.clip-each3, .clip-each4{width:100%;clip-path:unset !important}
    .clip-each3, .clip-each3:after, .clip-each4, .clip-each4:after{-webkit-clip-path:none;}
    .clip-each3.border-style-thin3 strong, .clip-each3.border-style-thin3 span{font-size:16px;}
    .clip-each4.border-style-thin4 span{font-size:16px}
    .clip-each3-phone{position:absolute;left:72px}
    .clip-each3.border-style-thin3 div strong p{position:absolute;margin-top:5px;font-size:12px;top:20px;left:67px}
    .clip-each4.border-style-thin4{margin-top:5px}
    .clip-each3-phone{margin-top:5px;font-size:14px}
    .clip-each4.border-style-thin4 div{margin-left:0}
    .clip-each4.border-style-thin4 img:first-child{width:auto;padding:0 10px 0 0;}
}
.ot-top-page .content .ot-news-blog-box .box{column-count:3;-webkit-column-count:3;-moz-column-count:3;}
.content .ot-box-title .table-cell img{-moz-transition:all 0.8s ease-in-out;-webkit-transition:all 0.8s ease-in-out;-o-transition:all 0.8s ease-in-out;-ms-transition:all 0.8s ease-in-out;transition:all 0.8s ease-in-out;}
.content .ot-box-title .table-cell img:hover{-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
.ot-notfound-title{margin:14px 0;font-size:3.6em;}
.ot-notfound-block{margin:0 0 28px;}
@-moz-document url-prefix(){.caption-bottom{display:block;}
    .moz-fix-recruit{display:inline-block;}
}
.w-contact, .w-service, .w-company, .w-facebook, .w-link{display:table-cell;vertical-align:top;}
.w-contact ul li, .w-service ul li, .w-company ul li{list-style-type:none;}
.w-contact ul li{line-height:1.2;margin-bottom:12px;}
.w-contact ul li:last-child{margin-bottom:0;}
.w-contact ul{padding-left:15px;padding-top:24px;padding-bottom:24px;}
.footer-h4{margin-top:0;line-height:25px;font-size:16px;}
@media screen and (min-width:1200px){.w-footer-row{width:1000px;margin-top:10px;}
    .w-contact{width:28%;}
    .w-link{width:32%;}
    .w-link .footer-link{margin-top:28px;padding:0 6px;}
    .w-link .footer-link li{list-style:none;line-height:2.8;display:table;width:100%;}
    .w-link .footer-link li .icon{display:table-cell;vertical-align:middle;width:24px;padding-bottom:16px;}
    .w-link .footer-link li a{color:#fff;display:table-cell;line-height:1.2;padding-left:14px;vertical-align:middle;padding-bottom:16px;}
    .w-service{width:15%;}
    .w-company{width:20%;}
    .w-facebook{width:24%;overflow:hidden;}
    .display1{display:block !important;}
    .social{display:none;}
    .footer-v2{margin-top:80px;}
    .footer-logo-jp{margin-top:60px;max-width:105px;}
}
@media screen and (max-width:1199px){.w-contact{width:46%;}
    .w-link{width:24%;}
    .w-link .footer-link{margin-top:28px;padding:0 6px;}
    .w-link .footer-link li{list-style:none;line-height:2.8;display:table;width:100%;}
    .w-link .footer-link li .icon{display:table-cell;vertical-align:middle;width:24px;padding-bottom:6px;}
    .w-link .footer-link li a{color:#fff;display:table-cell;line-height:1.2;padding-left:14px;vertical-align:middle;}
    .w-service{width:15%;}
    .w-company{width:20%;}
    .w-facebook{width:24%;overflow:hidden;}
    .display1{display:block !important;}
    .social{display:none;}
    .footer-v2{margin-top:140px;}
    .footer-logo-jp{margin-top:60px;max-width:105px;}
}
@media screen and (max-width:895px){.w-contact{width:100%;float:left;padding-right:5%;padding-left:2%;}
    .w-link{width:55%;padding-left:3% !important;margin-top:20px;}
    .w-link .footer-link{margin-top:0;}
    .w-service{width:25%;}
    .w-company{width:30%;}
    .w-service, .w-company, .w-link{float:left;padding-left:5%;margin-bottom:20px;}
    .w-facebook{width:45%;float:left;margin-bottom:50px;overflow:hidden;}
    .footer-row{display:table;width:100%;}
    .display1{display:block !important;}
    .social{display:none;}
    .footer-v2{margin-top:120px;}
    .footer-logo{display:table;width:100%;padding-bottom:10px;vertical-align:top;float:left;}
    .footer-logo a{display:table-cell;vertical-align:middle;}
    .footer-logo-jp{margin-top:0;max-width:105px;}
}
@media screen and (max-width:700px){.footer-logo{height:auto;text-align:center;width:100%;padding-right:5%;}
    .w-contact ul{border-left:none;}
}
@media screen and (max-width:540px){.w-facebook{width:100%;padding-left:5%;overflow:hidden;}
    .w-service, .w-company{width:30%;padding-left:0;}
    .social{display:none;}
    .footer-v2{margin-top:100px;}
}
@media screen and (max-width:495px){.footer-logo-jp{width:auto;}
    .w-contact{width:100%;float:left;padding:0;}
    .w-contact ul{padding-left:12px;}
    .w-link{width:80%;float:left;padding-left:0 !important;margin-bottom:40px;margin-top:20px;}
    .w-link .footer-link{padding:0 12px;}
    .w-service, .w-company{width:40%;float:left;padding-left:0;margin-bottom:40px;}
    .w-service{padding-left:5%;}
    .display1{display:none !important;}
    .social{display:block;}
    .w-facebook{display:none;}
}
.social{float:left;width:20%;margin-bottom:10px;padding-left:20px;}
.social a{display:block;margin-bottom:4px;}
.social a:last-child{margin-bottom:0;}
.social img{max-height:32px;max-width:32px;}
.title-color{color:#FFF;}
.scrollToTop{width:32px;height:32px;position:fixed;bottom:20px;right:10px;display:none;background:url("../img/i_top_sprites.png") no-repeat -10px -699px;z-index:20;}
.scrollToTop:hover{text-decoration:none;}
.news-desc{padding:5px;margin-left:0;max-height:125px;display:inline-block;overflow:hidden;}
.news-info{float:left;width:100%;display:inline-flex;}
.office-style1{filter:alpha(opacity=70);opacity:0.7;position:absolute;display:block;top:0px;left:0px;width:100%;height:100%;}
.office-style2{display:block;background:url("/frontend/img/icon/loading.gif") no-repeat center center;top:0px;left:0px;width:100%;height:100%;}
.office-style3{cursor:default;position:relative;top:0px;left:0px;width:800px;height:300px;overflow:hidden;}
.arrow-left{top:0px;left:30px;width:40px;height:50px;}
.arrow-right{top:0px;right:30px;width:40px;height:50px;}
.layer-overlay-left{position:absolute;top:0;left:0;height:100%;width:9.5%;background:linear-gradient(to right,rgba(0,0,0,.5) 100%,rgba(0,0,0,0) 100%);background:-moz-linear-gradient(to right,rgba(0,0,0,.5) 100%,rgba(0,0,0,0) 100%);z-index:9;}
.layer-overlay-right{position:absolute;top:0;right:0;height:100%;width:9.5%;background:linear-gradient(to left,rgba(0,0,0,.5) 100%,rgba(0,0,0,0) 100%);background:-moz-linear-gradient(to left,rgba(0,0,0,.5) 100%,rgba(0,0,0,0) 100%);z-index:9;}
.errMessageBox{padding:5px;margin-top:5px;margin-bottom:0px;}
.dang_ung_tuyen .item{border-top:1px solid #e1e1e1;padding:15px;}
.dang_ung_tuyen a.title{display:block;font-size:15px;font-weight:bold;color:#52696e;text-decoration:none;}
.dang_ung_tuyen a.des{display:block;color:#52696e;text-decoration:none;}
.dang_ung_tuyen .text-right{height:20px;margin-bottom:-15px;}
.cs-title{font-size:18px;font-weight:bold;color:#e70012;}
.ot-staff-pc{display:block;}
.ot-staff-sp{display:none;}
.container .content .ot-container .staff-icon{height:22px;}
.container .content .ot-container .text-limit{text-overflow:ellipsis;overflow:hidden;}
.container .content .ot-container .name-format{font-size:18px;color:#99ffff;font-weight:bold;white-space:nowrap;position:absolute;}
.container .content .ot-container .slogan-format{position:absolute;color:#fff;font-size:14px;white-space:nowrap;}
.container .content .ot-container .description-format{position:absolute;}
.container .content .ot-container .staff-left-row{position:relative;margin-top:20px;}
.container .content .ot-container .staff-left-row p{margin:0;}
.container .content .ot-container .staff-left-row .circle-layout{float:left;width:170px;height:170px;border:5px solid #e70012;border-radius:100%;position:relative;z-index:1;left:5px;}
.container .content .ot-container .staff-left-row .circle-layout .avatar{border-radius:50%;}
.container .content .ot-container .staff-left-row .circle-layout-border{width:180px;height:180px;top:-5px;left:0;border-radius:50%;position:absolute;background:#fff;}
.container .content .ot-container .staff-left-row .left-trapezoid{margin-left:11%;border-bottom:30px solid #5899c5;border-left:0px solid transparent;border-right:13px solid transparent;width:85%;}
.container .content .ot-container .staff-left-row .left-trapezoid-middle{margin-left:11%;border-bottom:25px solid #3777a2;border-right:10px solid transparent;width:86%;}
.container .content .ot-container .staff-left-row .left-trapezoid-bottom{margin-left:11%;border-top:90px solid #eeeeee;border-left:0px solid transparent;border-right:20px solid transparent;width:86%;}
.container .content .ot-container .staff-left-row .left-trapezoid .name{padding:4px 0;left:20%;width:72%;}
.container .content .ot-container .staff-left-row .left-trapezoid-middle .slogan{padding:2px 0;left:20%;width:72%;}
.container .content .ot-container .staff-left-row .left-trapezoid-middle .description{padding-top:30px;left:20%;height:110px;width:72%;}
.container .content .ot-container .staff-left-row .position{background-color:#5899c5;position:absolute;left:10%;padding:2px 20px 2px 60px;z-index:-1;border-top-right-radius:12px;border-bottom-right-radius:12px;margin-top:4px;color:#fff;}
.container .content .ot-container .staff-left-row .position .position-text{font-size:12px;width:8%;position:absolute;margin-left:-100px;color:white;padding:3px;text-align:center;display:inline-block;white-space:nowrap;}
.container .content .ot-container .staff-right-row{position:relative;margin-top:70px;margin-bottom:70px;}
.container .content .ot-container .staff-right-row .circle-layout{width:170px;height:170px;border:5px solid #e70012;border-radius:100%;position:absolute;right:5px;}
.container .content .ot-container .staff-right-row .circle-layout .avatar{border-radius:50%;}
.container .content .ot-container .staff-right-row .circle-layout-border{top:-5px;float:right;width:180px;height:180px;border-radius:50%;position:relative;background:#fff;}
.container .content .ot-container .staff-right-row .right-trapezoid{margin-left:4%;border-bottom:30px solid #5899c5;border-left:13px solid transparent;width:85%;}
.container .content .ot-container .staff-right-row .right-trapezoid-middle{margin-left:3%;border-bottom:25px solid #3777a2;border-left:10px solid transparent;width:86%;}
.container .content .ot-container .staff-right-row .right-trapezoid-bottom{margin-left:3%;border-top:90px solid #eeeeee;border-left:20px solid transparent;width:86%;}
.container .content .ot-container .staff-right-row .position{background-color:#5899c5;position:absolute;right:10%;padding:2px 60px 2px 20px;z-index:-1;border-top-left-radius:12px;border-bottom-left-radius:12px;margin-top:4px;color:#fff;}}
.container .content .ot-container .staff-right-row .position .position-text{font-size:12px;width:9%;position:absolute;color:white;padding:3px;text-align:center;display:inline-block;white-space:nowrap;}
.container .content .ot-container .staff-right-row .right-trapezoid .name{padding:4px 0;text-align:right;right:20%;width:72%;}
.container .content .ot-container .staff-right-row .right-trapezoid-middle .slogan{padding:2px 0;text-align:right;right:20%;width:72%;}
.container .content .ot-container .staff-right-row .right-trapezoid-middle .description{padding-top:30px;width:72%;right:20%;text-align:right;height:110px;}
.blue-box{background-color:#017CCF;}
.yellow-box{background-color:#FABF00;}
.green-light-box{background-color:#9CCA55;}
.green-box{background-color:#0E93A5;}
.pink-box{background-color:#BC96C1;}
.ot-staff-sp .ot-staff-list p{margin:0;}
.ot-staff-sp .ot-staff-list .staff-item{display:table;width:100%;padding:5px;margin-bottom:40px;box-shadow:0 2px 10px 0px #ccc;-webkit-box-shadow:0 2px 10px 0px #ccc;-moz-box-shadow:0 2px 10px 0px #ccc;}
.ot-staff-sp .ot-staff-list .staff-item .staff-avatar{display:table-cell;width:30%;padding:5px 10px 5px 5px;vertical-align:middle;}
.ot-staff-sp .ot-staff-list .staff-item .staff-avatar img{float:left;width:170px;height:170px;border-radius:5px;}
.ot-staff-sp .ot-staff-list .staff-item .staff-information{display:table-cell;}
.ot-staff-sp .ot-staff-list .staff-item .staff-information .name{font-size:1.4em;font-weight:bold;margin-bottom:2px;}
.ot-staff-sp .ot-staff-list .staff-item .staff-information .position{float:right;font-size:.9em;padding:4px 10px;color:#fff;}
.ot-staff-sp .ot-staff-list .staff-item .staff-information .slogan{color:#fff;background-color:#5899c5;padding:2px;}
.ot-staff-sp .ot-staff-list .staff-item .staff-information .introduce{border:2px solid #ddd;margin-top:10px;border-radius:2px;padding:5px;min-height:120px;}
@media screen and (max-width:991px){.container .content .ot-container .staff-left-row .left-trapezoid{border-right:9px solid transparent;}
    .container .content .ot-container .staff-left-row .left-trapezoid-middle{border-right:7px solid transparent;}
    .container .content .ot-container .staff-left-row .left-trapezoid-bottom{border-right:17px solid transparent;}
    .container .content .ot-container .staff-right-row{margin-right:0;}
    .container .content .ot-container .staff-right-row .right-trapezoid{border-left:9px solid transparent;}
    .container .content .ot-container .staff-right-row .right-trapezoid-middle{border-left:7px solid transparent;}
    .container .content .ot-container .staff-right-row .right-trapezoid-bottom{border-left:17px solid transparent;}
    .container .content .ot-container .staff-left-row .left-trapezoid .name, .container .content .ot-container .staff-left-row .left-trapezoid-middle .slogan, .container .content .ot-container .staff-left-row .left-trapezoid-middle .description{left:28%;width:64%;}
    .container .content .ot-container .staff-right-row .right-trapezoid .name, .container .content .ot-container .staff-right-row .right-trapezoid-middle .slogan, .container .content .ot-container .staff-right-row .right-trapezoid-middle .description{right:28%;width:64%;}
    .container .content .ot-container .staff-left-row .position{left:15%;}
    .container .content .ot-container .staff-right-row .position{right:15%;}}
@media screen and (min-width:640px) and (max-width:720px){.container .content .ot-container .staff-left-row .left-trapezoid{border-right:8px solid transparent;}
    .container .content .ot-container .staff-left-row .left-trapezoid-middle{border-right:6px solid transparent;}
    .container .content .ot-container .staff-right-row .right-trapezoid{border-left:8px solid transparent;}
    .container .content .ot-container .staff-right-row .right-trapezoid-middle{border-left:6px solid transparent;}
    .container .content .ot-container .staff-left-row .left-trapezoid .name, .container .content .ot-container .staff-left-row .left-trapezoid-middle .slogan, .container .content .ot-container .staff-left-row .left-trapezoid-middle .description{left:32%;width:62%}
    .container .content .ot-container .staff-right-row .right-trapezoid .name, .container .content .ot-container .staff-right-row .right-trapezoid-middle .slogan, .container .content .ot-container .staff-right-row .right-trapezoid-middle .description{right:32%;width:62%;}}
@media screen and (max-width:639px){.ot-staff-pc{display:none;}
    .ot-staff-sp{display:block;}}
@media screen and (max-width:480px){.ot-staff-sp .ot-staff-list .staff-item .staff-avatar{display:block;width:100%;text-align:center;padding:10px;}
    .ot-staff-sp .ot-staff-list .staff-item .staff-avatar img{float:none;display:inline-block;width:260px;height:260px;}
    .ot-staff-sp .ot-staff-list .staff-item .staff-information{display:block;}
    .ot-staff-sp .ot-staff-list .staff-item .staff-information .name{display:inline-block;width:100%;padding:8px 0;font-size:1.2em;text-align:center;}}