@charset "utf-8";
:root {
	--main-color: #e70012;
}
.content .el-radio__inner:hover,.content .el-checkbox__inner:hover{border-color: var(--main-color);}
.content .el-radio__input.is-checked .el-radio__inner,.content .el-checkbox__input.is-checked .el-checkbox__inner{border-color: var(--main-color);background: var(--main-color);}
.content .el-radio__input.is-checked+.el-radio__label,.content .el-checkbox__input.is-checked+.el-checkbox__label{color: var(--main-color);}
.content .el-checkbox__inner::after{border-width: 2px;}
.content .el-checkbox__input.is-focus .el-checkbox__inner{border-color: var(--main-color);}