.inline-block {
	display: inline-block;
	width: 100%;
}

.survey-thumb img {
	max-width: 100%;
}

.one-tech-jbaa-box {
	border: 1px solid #0096d324;
	padding: 8px;
	margin-bottom: 18px;
	background: #0099cc0a;
}

ul.survey-list {
	list-style: none;
}

ul.survey-list h4 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 12px;
	font-weight: bold;
	line-height: 26px;
}

ul.survey-list h4 img {
	max-width: 100%;
	height: auto;
	margin: 8px 0;
}

ul.survey-list li:nth-child(n + 2) {
	border: 1px solid #ccc;
	margin-bottom: 8px;
	padding: 8px 4px 6px 8px;
	font-size: 16px;
	border-radius: 8px;
}

ul.survey-list li:nth-child(n + 2) i {
	border-radius: 50%;
	border: 1px solid #0096d3;
	font-style: normal;
	background: #0096d3;
	color: white;
	padding: 5px 10px;
	margin-right: 8px;
	font-size: 13px;
}

ul.survey-list li:nth-child(n + 2) span {
	line-height: 30px;
}

ul.survey-list li:hover:nth-child(n + 2) {
	background: #d9d9d9;
	color: black;
	cursor: pointer;
}

ul.survey-list li.active {
	background: #0096d3 !important;
	color: white;
}

ul.survey-list li.active i {
	border: 1px solid #f8ffe4;
	background: #f8ffe4;
	color: #0096d3;
}

p.btn-survey {
	margin: 0;
}

.one-tech-jbaa-page-title {
	font-size: 59px;
	text-align: center;
	text-transform: uppercase;
	margin: 30px 0px;
	font-weight: bold;
	letter-spacing: 18px;
	color: #403e3e;
}

.site-loading {
	position: fixed;
	top: 0px;
	background: rgba(0, 0, 0, 0.29);
	height: 100%;
	padding-top: 132px;
	z-index: 999999999999999999999999999;
}

.site-loading .main-box-loading {
	width: 300px;
	height: 300px;
	margin: auto;
	overflow: hidden;
	text-align: center;
}

.site-loading .main-box-loading img {
	max-width: 100%;
	max-height: 100%;
}

.time-count {
	width: 100%;
	position: fixed;
	bottom: 20px;
	right: 0px;
	float: right;
	text-align: left;
	padding-left: 20px;
}

.time-count span {
	font-size: 30px;
	color: red;
}

.popup-result-public {
	height: 100%;
	background: #ffffff85;
	position: fixed;
	top: 0px;
	z-index: 99999;
	padding-top: 10%;
}

.popup-result-public .main-popup {
	margin: auto;
	width: 500px;
	min-height: 300px;
	float: none;
	text-align: center;
	background: white;
}

.popup-result-public .main-popup h4 {
	font-size: 80px;
}

.share-to-facebook thumbnail img {
	max-width: 100%;
}

.content {
	padding-top: 0px;
}

.public-facebook-login-button {
	padding: 0 16px;
	margin-bottom: 20px;
}

.public-facebook-login-button img {
	max-width: 100%;
}

.public-facebook-login-button img:hover {
	cursor: pointer;
}

.modal {
	z-index: 99999;
}

/*Nguyen */

table {
	border-color: #999;
}

td,
th {
	padding: 10px;
}

.content h2,
.content h3,
.content h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.blockquote {
	padding: 20px 40px 20px;
	position: relative;
}

.blockquote p {
	font-size: 18px;
	text-align: center;
	font-style: italic;
}

.blockquote:before {
	position: absolute;
	font-family: 'FontAwesome';
	top: 0;
	content: "\f10d";
	font-size: 60px;
	color: rgba(222, 22, 22, 0.19);
}

.blockquote::after {
	content: "";
	top: 0px;
	left: 50%;
	margin-left: -100px;
	position: absolute;
	border-bottom: 1px solid #bf0024;
	height: 1px;
	width: 200px;
}

.gr_subline {
	color: #888;
	font-style: italic;
	font-size: 16px;
	margin-top: -10px;
}

.imgleft {
	margin-right: 40px;
}

.gr ul {
	list-style: none;
}

.gr ul li {
	padding-bottom: 6px;
}

.gr ul li::before {
	content: "\25FC";
	color: red;
	display: inline-block;
	width: 1.5em;
	margin-left: -1.5em;
}

.gr_red {
	color: #e70012;
}

.gr_redbg {
	text-align: left;
	color: white;
	background-color: red;
	padding: 5px;
	padding-left: 10px;
}

.gr_headline {
	padding: 10px 15px;
	margin-top: 30px;
	font-size: 16px;
	border-left: 5px solid #e70012;
	background: #ddd;
	clear: both;
}

.onetech_logo {
	float: left;
	width: 125px;
	padding: 20px 20px 30px 0px;
}

.lid_logo {
	float: left;
	width: 125px;
	padding-right: 20px
}

.content .ot-offshore-table {
	border-bottom: none;
}

.content .ot-offshore-table .table-row.top-complex .table-column {
	border-bottom: 1px solid #e70012;
}

.list-border-stylish > li {
	position: relative;
	line-height: 1.5em;
	padding: 30px 0;
}

.list-border-stylish > li:before {
	width: 200px;
	background-color: #ccc;
	z-index: 2;
}

.list-border-stylish > li:after {
	width: 1000px;
	background-color: #e3e3e3;
	z-index: 1;
}

.list-border-stylish > li:before,
.list-border-stylish > li:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 1px;
}

.list-border-stylish dt {
	width: 200px;
	font-weight: bold;
}

.list-border-stylish dl {
	margin: 0px;
}

.list-border-stylish dd {
	width: 796px;
}

.list-border-stylish dt,
.list-border-stylish dd {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*Mobile display */

@media only screen and (max-width: 768px) {
	.imgleft {
		margin: 5%;
		width: 90%;
		height: auto;
	}
	
	.gr ul li::before {
		margin-left: 0em;
	}
	
	.content .ot-offshore-table .table-row.top-complex .table-column:first-child {
		display: none;
	}
	
	.list-border-stylish > li:before,
	.list-border-stylish > li:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 1px;
	}
	
	.list-border-stylish dt {
		width: 200px;
		font-weight: bold;
	}
	
	.list-border-stylish dl {
		margin: 0px;
	}
	
	.list-border-stylish dd {
		width: 796px;
	}
	
	.list-border-stylish dt,
	.list-border-stylish dd {
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		padding-left: 10px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}

/* by hungnv@onetech.vn 2019/05/10 START */
.content .ot-tab-list .tab-content {
	background-color: #fff;
}

.content .ot-tab-list .tab-menu li:hover a {
	border: 1px solid transparent;
}

.content .ot-tab-list {
	margin: 16px 0;
	box-shadow: 0 0 4px #dedede;
}

.ot-job-box {
	font-size: 0;
}

.ot-job-box .ot-job-item {
	display: inline-table;
	vertical-align: top;
	width: 48%;
	font-size: 13px;
	margin: 0 1% 15px;
}

.ot-job-box .ot-job-item .left,
.ot-job-box .ot-job-item .right {
	display: table-cell;
	vertical-align: top;
}

.ot-job-box .ot-job-item .left {
	width: 128px;
	padding-right: 6px;
}

.ot-job-box .ot-job-item .right {
	padding-left: 6px;
}

.ot-job-box .ot-job-item .ot-job-title {
	font-size: 16px;
	font-weight: bold;
}

.ot-job-box .ot-job-item .ot-job-company {
	font-weight: bold;
}

.ot-job-box .ot-job-item .ot-job-salary,
.ot-job-box .ot-job-item .ot-job-salary a {
	color: #696969;
}

.ot-search-job-box {
	padding: 12px;
	margin: 15px 10%;
	background-color: rgba(109, 109, 109, 0.02);
}

.ot-search-job-box .right {
	width: 110px;
}

.ot-search-job-box .right .btn {
	padding-left: 32px;
	padding-right: 32px;
}

.ot-register-email input {
	vertical-align: middle;
	display: inline-block;
	width: auto;
}

.ot-pagination strong {
	vertical-align: middle;
}

.ot-pagination a {
	color: #cdcdcd;
}

.ot-pagination .active {
	font-size: 16px;
	color: #e70012;
}

.ot-pagination .prev,
.ot-pagination .next {
	position: relative;
	display: inline-block;
	background-color: #cdcdcd;
	width: 22px;
	height: 22px;
	border-radius: 50%;
}

.ot-pagination .prev.active,
.ot-pagination .next.active {
	background-color: #ceebf3;
}

.ot-pagination .prev::before {
	position: absolute;
	content: "";
	top: 6px;
	left: 8px;
	width: 10px;
	height: 10px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	transform: rotate(-45deg);
	transform-origin: center;
}

.ot-pagination .next::before {
	position: absolute;
	content: "";
	top: 6px;
	right: 8px;
	width: 10px;
	height: 10px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
	transform-origin: center;
}

@media screen and (max-width: 767px) {
	.ot-job-box .ot-job-item {
		display: table;
		width: 96%;
		margin: 0 2% 15px;
	}
}

@media screen and (max-width: 640px) {
	.ot-search-job-box .ot-table {
		display: block;
	}
	
	.ot-search-job-box .left,
	.ot-search-job-box .middle,
	.ot-search-job-box .right {
		display: block;
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 480px) {
	.content .ot-tab-list .tab-menu li {
		width: auto;
	}
	
	.ot-search-job-box {
		margin: 15px 0;
	}
}

/* copy from style_custom.css START 「NOT DELETE & MODIFY」 */
[class*="ot-lang-vn-sp"],
[class*="ot-lang-jp-sp"]{
	display: inline-block;
	width: 24px;
	height: 16px;
	background: url(/frontend/img/icon/i_top_sprites.png) no-repeat;
}
.ot-lang-vn-sp {
	background-color: #ce1126;
	background-size: 236%;
	background-position: -7px -7px;
}
.ot-lang-jp-sp {
	background-color: #fff;
	background-size: 236%;
	background-position: -7px -388px;
	border: 1px solid #ededed;
}
.ot-pagination strong {
	vertical-align: middle;
}

.ot-pagination a {
	color: #fff;
	margin: 0 6px;
}

.ot-pagination .active {
	font-size: 16px;
	color: #e70012;
}

.ot-pagination .prev,
.ot-pagination .next {
	position: relative;
	display: inline-block;
	background-color: #cdcdcd;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	cursor: pointer;
}
.ot-pagination .prev.active,
.ot-pagination .next.active {
	background-color: #c9c9c9;
}
.ot-pagination .prev::before {
	position: absolute;
	content: "";
	top: 6px;
	left: 8px;
	width: 10px;
	height: 10px;
	border-top: 2px solid #e51e25;
	border-left: 2px solid #e51e25;
	transform: rotate(-45deg);
	transform-origin: center;
}
.ot-pagination .next::before {
	position: absolute;
	content: "";
	top: 6px;
	right: 8px;
	width: 10px;
	height: 10px;
	border-top: 2px solid #e51e25;
	border-right: 2px solid #e51e25;
	transform: rotate(45deg);
	transform-origin: center;
}
.status_event {
	float: right;
	margin-top: 20px;
	color: red;
	font-weight: bold;
}
/* copy from style_custom.css END 「NOT DELETE & MODIFY」 */