<template>
  <div class="form-horizontal ot-apply-boxshadow">
    <div class="ot-table-layout-compact ot-contact-table ot-clear-boxshadow">
      <div :class="messageTitleClass()" v-html="message"></div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">
            Họ và Tên
            <span class="red-color">※</span>
          </label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.fullname"
            placeholder="Nguyen Thi Tam"
          >
          <p class="text-danger" v-if="errors.fullname" v-html="errors.fullname"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">
            Furigana
            <span class="red-color">※</span>
          </label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.furigana"
            placeholder="Furigana"
          >
          <p class="text-danger" v-if="errors.furigana" v-html="errors.furigana"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">
            Quốc tịch
            <span class="red-color">※</span>
          </label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.national"
            placeholder="Quốc tịch"
          >
          <p class="text-danger" v-if="errors.national" v-html="errors.national"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">
            Giới tính
            <span class="red-color">※</span>
          </label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="radio"
            value="Nam"
            :checked="form.gender == 'Nam'"
            id="optionsRadios1"
            v-model="form.gender"
          >
          Nam&nbsp;
          <input
            type="radio"
            value="Nữ"
            :checked="form.gender == 'Nữ'"
            id="optionsRadios2"
            v-model="form.gender"
          >
          Nữ&nbsp;
          <p class="text-danger" v-if="errors.gender" v-html="errors.gender"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">
            Ngày Tháng Năm Sinh
            <span class="red-color">※</span>
          </label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="date"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.birthday"
            required
            placeholder="1996/01/02"
          >

          <p class="text-danger" v-if="errors.birthday" v-html="errors.birthday"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">
            Email
            <span class="red-color">※</span>
          </label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.email"
            placeholder="Email"
          >
          <p class="text-danger" v-if="errors.email" v-html="errors.email"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">
            Điện thoại
            <span class="red-color">※</span>
          </label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.phone"
            placeholder="+84 909 456 789"
          >
          <p class="text-danger" v-if="errors.phone" v-html="errors.phone"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">
            Địa chỉ hiện tại
            <span class="red-color">※</span>
          </label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.current_address"
            placeholder="10 Pho Quang, Ward 2, Tan Binh District, Ho Chi Minh"
          >
          <p class="text-danger" v-if="errors.current_address" v-html="errors.current_address"></p>
        </div>
      </div>
    </div>
    <div class="caption-bottom">
      <a
        class="btn ot-btn ot-btn-primary"
        @click.prevent="submitForm()"
        style="width: auto"
      >Cập nhật</a>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    itemcv: {}
  },
  data: function() {
    return {
      message:
        "Bạn muốn sang Nhật làm việc? <br>Bạn đã biết tiếng Nhật hoặc đang học tiếng Nhât?<br>Bạn không muốn tốn chi phí cho dịch vụ môi giới việc làm?<br>GrowUpWork sẽ hỗ trợ và đồng hành cùng với bạn để có công việc mơ ước.<br>Hãy cho chúng tôi biết thông tin về bạn. Chúng tôi sẽ liên hệ ngay khi có công việc phù hợp!<br>",
      isError: false,
      isSuccess: false,
      isRequest: false,
      flagShow: false,
      form: {
        id: 0,
        step: 1,
        fullname: "",
        furigana: "",
        national: "",
        gender: "",
        email: "",
        birthday: "",
        phone: "",
        current_address: ""
      },
      errors: {
        fullname: "",
        furigana: "",
        national: "",
        gender: "",
        email: "",
        birthday: "",
        phone: "",
        current_address: ""
      }
    };
  },
  created() {
    this.form = this.itemcv;
  },
  mounted() {},
  methods: {
    messageTitleClass: function() {
      var mtClass = ["table-caption", "caption-top"];
      if (this.isError) {
        mtClass.push("blue-background");
      } else if (this.isSuccess) {
        mtClass.push("green-light-box");
      } else {
        mtClass.push("bg-info");
      }
      return mtClass;
    },
    submitForm: function() {
      $("body").addClass("ot-fr-loading");
      this.errors = {
        fullname: "",
        furigana: "",
        national: "",
        gender: "",
        email: "",
        birthday: "",
        phone: "",
        current_address: ""
      };

      if (this.isRequest) {
        return false;
      }

      this.isRequest = true;
      axios
        .post("/cv/info/save", this.form)
        .then(response => {
          if (response.data.message) {
            this.isError = false;
            this.isSuccess = true;
            $("#popupAlert").modal("show");
            this.message = response.data.message;
            $("body").removeClass("ot-fr-loading");
            $("html, body").animate(
              {
                scrollTop: 0
              },
              300
            );
          }
          this.isRequest = false;
          this.form.id = response.data.id;
        })
        .catch(error => {
          this.isRequest = false;
          this.isError = true;
          this.message = ""; // ReSet message
          this.isSuccess = false;
          var errors = error.response.data.errors;
          $("html, body").animate(
            {
              scrollTop: 0
            },
            300
          );
          console.log(errors);
          if (typeof errors.fullname != "undefined") {
            this.errors.fullname = errors.fullname[0];
          }
          if (typeof errors.furigana != "undefined") {
            this.errors.furigana = errors.furigana[0];
          }
          if (typeof errors.gender != "undefined") {
            this.errors.gender = errors.gender[0];
          }
          if (typeof errors.national != "undefined") {
            this.errors.national = errors.national[0];
          }
          if (typeof errors.birthday != "undefined") {
            this.errors.birthday = errors.birthday[0];
          }
          if (typeof errors.phone != "undefined") {
            this.errors.phone = errors.phone[0];
          }
          if (typeof errors.email != "undefined") {
            this.errors.email = errors.email[0];
          }
          if (typeof errors.current_address != "undefined") {
            this.errors.current_address = errors.current_address[0];
          }
        })
        .then(function() {
          $("body").removeClass("ot-fr-loading");
        });
    }
  }
};
</script>
