<template>
	<div class="col-sm-12">
		<el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" class="demo-ruleForm">
			<el-form-item label="Mật khẩu cũ" v-if="user.member_type_id != 2" prop="currentPassword">
				<el-input type="password" v-model="ruleForm.currentPass" autofocus autocomplete="off"></el-input>
			</el-form-item>
			<el-form-item label="Mật khẩu mới" prop="pass">
				<el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
			</el-form-item>
			<el-form-item label="Xác nhận mật khẩu" prop="checkPass">
				<el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
			</el-form-item>
			<el-form-item class="text-center">
				<button class="btn btn-primary"  @click.prevent="submitForm('ruleForm')">Thay đổi mật khẩu</button>
			</el-form-item>
		</el-form>
	</div>
</template>
<script>
	import _ from 'lodash';
	export default {
		props: {
			user: Array,
			required: true
		},
		data() {
			let currentPassword = (rule, value, callback) => {
				if (value === '') {
					callback(new Error('Hãy nhập mật khẩu'));
				}else {
					this.checkCurrentPass(callback);
				}
			};
			let validatePass = (rule, value, callback) => {
				if (value === '') {
					callback(new Error('Hãy nhập mật khẩu'));
				} else {
					if (this.ruleForm.checkPass !== '') {
						this.$refs.ruleForm.validateField('checkPass');
					}
					callback();
				}
			};
			let validatePass2 = (rule, value, callback) => {
				if (value === '') {
					callback(new Error('Hãy nhập xác nhận mật khẩu'));
				} else if (value !== this.ruleForm.pass) {
					callback(new Error('Mật khẩu xác nhận không đúng'));
				} else {
					callback();
				}
			};
			return {
				ruleForm: {
					currentPass: '',
					pass: '',
					checkPass: '',
				},
				rules: {
					pass: [
						{ min: 6, message: 'Mật khẩu phải dài hơn 6 ký tự', trigger: ['change', 'blur'] },
						{ validator: validatePass, trigger: ['change', 'blur'] }
					],
					checkPass: [
						{ validator: validatePass2, trigger: ['change', 'blur'] }
					],
					currentPassword: [
						{ validator: currentPassword, trigger: ['change', 'blur'] }
					]
				}
			};
		},
		mounted() {
		},
		methods: {
			submitForm(formName) {
				this.$refs[formName].validate((valid) => {
					if (valid) {
						this.$axios.put('/member/change-password/update', {
							password: this.ruleForm.pass,
							current_password: this.ruleForm.currentPass,
						})
							.then(res => {
								this.$message({
									message: 'Thay đổi mật khẩu thành công!',
									type: 'success',
									duration: 5000
								});
								this.ruleForm.currentPass = '';
								this.$refs[formName].resetFields();
							})
					} else {
						console.log('Lỗi xử lý!!');
						return false;
					}
				});
			},
			checkCurrentPass: _.debounce(function (callback) {
				this.$axios.post('/member/change-password/check-current-password', {
					current_password: this.ruleForm.currentPass,
				})
					.then(res => {
						callback();
					})
					.catch(err => {
						console.log(err.response);
						let {message} = err.response.data;
						callback(new Error(message));
					});
			}, 500),
		}
	}
</script>

<style lang="scss">
	.el-message {
		z-index: 9999999 !important;
	}
</style>