<template>
  <div class="form-horizontal ot-apply-boxshadow">
    <div class="ot-table-layout-compact ot-contact-table ot-clear-boxshadow">
      <div :class="messageTitleClass()" v-html="message"></div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">
            Trình độ học vấn
            <span class="red-color">※</span>
          </label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.education"
            placeholder="Đại học"
          >
          <p class="text-danger" v-if="errors.education" v-html="errors.education"></p>
        </div>
      </div>
      <div class="table-row">Bằng cấp chính quy</div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Tốt nghiệp trường</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.formal_degree.school"
            placeholder="KHTN"
          >
          <p
            class="text-danger"
            v-if="errors.formal_degree_school"
            v-html="errors.formal_degree_school"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Thời gian học</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9 grid-degree-inline">
          <span>Tháng</span>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.formal_degree.start_month"
            placeholder="Tháng"
          >
          <span>Năm</span>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.formal_degree.start_year"
            placeholder="Năm"
          >
          <span>~</span>
          <span>Tháng</span>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.formal_degree.end_month"
            placeholder="Tháng"
          >
          <span>Năm</span>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.formal_degree.end_year"
            placeholder="Năm"
          >
          <p
            class="text-danger"
            v-if="errors.formal_degree_time"
            v-html="errors.formal_degree_time"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Xếp loại tốt nghiệp</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="radio"
            value="Trung bình"
            :checked="form.formal_degree.rating == 'Trung bình'"
            id="optionsRadios1"
            v-model="form.formal_degree.rating"
          >
          Trung bình&nbsp;
          <input
            type="radio"
            value="Trung bình khá"
            :checked="form.formal_degree.rating == 'Trung bình khá'"
            id="optionsRadios2"
            v-model="form.formal_degree.rating"
          >
          Trung bình khá&nbsp;
          <input
            type="radio"
            value="Khá"
            :checked="form.formal_degree.rating == 'Khá'"
            id="optionsRadios2"
            v-model="form.formal_degree.rating"
          >
          Khá&nbsp;
          <input
            type="radio"
            value="Giỏi"
            :checked="form.formal_degree.rating == 'Giỏi'"
            id="optionsRadios2"
            v-model="form.formal_degree.rating"
          >
          Giỏi&nbsp;
          <input
            type="radio"
            value="Ưu tú"
            :checked="form.formal_degree.rating == 'Ưu tú'"
            id="optionsRadios2"
            v-model="form.formal_degree.rating"
          >
          Ưu tú&nbsp;
          <input
            type="radio"
            value="Khác"
            :checked="form.formal_degree.rating == 'Khác'"
            id="optionsRadios2"
            v-model="form.formal_degree.rating"
          >
          Khác&nbsp;
          <p
            class="text-danger"
            v-if="errors.formal_degree_rating"
            v-html="errors.formal_degree_rating"
          ></p>
        </div>
      </div>
      <div class="table-row">Văn bằng chính chỉ khác</div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Tốt nghiệp trường</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.other_degree.school"
            placeholder="KHTN"
          >
          <p
            class="text-danger"
            v-if="errors.other_degree_school"
            v-html="errors.other_degree_school"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Thời gian học</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9 grid-degree-inline">
          <span>Tháng</span>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.other_degree.start_month"
            placeholder="Tháng"
          >
          <span>Năm</span>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.other_degree.start_year"
            placeholder="Năm"
          >
          <span>~</span>
          <span>Tháng</span>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.other_degree.end_month"
            placeholder="Tháng"
          >
          <span>Năm</span>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.other_degree.end_year"
            placeholder="Năm"
          >
          <p class="text-danger" v-if="errors.other_degree_time" v-html="errors.other_degree_time"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Xếp loại tốt nghiệp</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="radio"
            value="Trung bình"
            :checked="form.other_degree.rating == 'Trung bình'"
            id="optionsRadios1"
            v-model="form.other_degree.rating"
          >
          Trung bình&nbsp;
          <input
            type="radio"
            value="Trung bình khá"
            :checked="form.other_degree.rating == 'Trung bình khá'"
            id="optionsRadios2"
            v-model="form.other_degree.rating"
          >
          Trung bình khá&nbsp;
          <input
            type="radio"
            value="Khá"
            :checked="form.other_degree.rating == 'Khá'"
            id="optionsRadios2"
            v-model="form.other_degree.rating"
          >
          Khá&nbsp;
          <input
            type="radio"
            value="Giỏi"
            :checked="form.other_degree.rating == 'Giỏi'"
            id="optionsRadios2"
            v-model="form.other_degree.rating"
          >
          Giỏi&nbsp;
          <input
            type="radio"
            value="Ưu tú"
            :checked="form.other_degree.rating == 'Ưu tú'"
            id="optionsRadios2"
            v-model="form.other_degree.rating"
          >
          Ưu tú&nbsp;
          <input
            type="radio"
            value="Khác"
            :checked="form.other_degree.rating == 'Khác'"
            id="optionsRadios2"
            v-model="form.other_degree.rating"
          >
          Khác&nbsp;
          <p
            class="text-danger"
            v-if="errors.other_degree_rating"
            v-html="errors.other_degree_rating"
          ></p>
        </div>
      </div>
      <div class="table-row">Kỹ năng/Khoá học ngắn hạn</div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Khoá học</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.skill_shortterm_course.course"
            placeholder="Khoá học"
          >
          <p
            class="text-danger"
            v-if="errors.skill_shortterm_course_course"
            v-html="errors.skill_shortterm_course_course"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Thời gian học</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9 grid-degree-inline">
          <span>Tháng</span>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.skill_shortterm_course.start_month"
            placeholder="Tháng"
          >
          <span>Năm</span>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.skill_shortterm_course.start_year"
            placeholder="Năm"
          >
          <span>~</span>
          <span>Tháng</span>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.skill_shortterm_course.end_month"
            placeholder="Tháng"
          >
          <span>Năm</span>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.skill_shortterm_course.end_year"
            placeholder="Năm"
          >
          <p
            class="text-danger"
            v-if="errors.skill_shortterm_course_time"
            v-html="errors.skill_shortterm_course_time"
          ></p>
        </div>
      </div>
    </div>
    <div class="caption-bottom">
      <a
        class="btn ot-btn ot-btn-primary"
        @click.prevent="submitForm()"
        style="width: auto"
      >Cập nhật</a>
    </div>
  </div>
</template>
<script>
import _ from "lodash";
export default {
  props: {
    itemcv: {}
  },
  data: function() {
    return {
      message:
        "Bạn muốn sang Nhật làm việc? <br>Bạn đã biết tiếng Nhật hoặc đang học tiếng Nhât?<br>Bạn không muốn tốn chi phí cho dịch vụ môi giới việc làm?<br>GrowUpWork sẽ hỗ trợ và đồng hành cùng với bạn để có công việc mơ ước.<br>Hãy cho chúng tôi biết thông tin về bạn. Chúng tôi sẽ liên hệ ngay khi có công việc phù hợp!<br>",
      isError: false,
      isSuccess: false,
      isRequest: false,
      form: {
        id: 0,
        step: 2,
        education: "",
        formal_degree: {
          school: "",
          start_month: "",
          start_year: "",
          end_month: "",
          end_year: "",
          rating: ""
        },
        other_degree: {
          school: "",
          start_month: "",
          start_year: "",
          end_month: "",
          end_year: "",
          rating: ""
        },
        skill_shortterm_course: {
          course: "",
          start_month: "",
          start_year: "",
          end_month: "",
          end_year: ""
        }
      },
      errors: {
        education: "",
        formal_degree_school: "",
        formal_degree_time: "",
        formal_degree_rating: "",

        other_degree_school: "",
        other_degree_time: "",
        other_degree_rating: "",

        skill_shortterm_course_course: "",
        skill_shortterm_course_time: ""
      }
    };
  },
  created() {
    if (this.itemcv.formal_degree) {
      this.form.formal_degree = JSON.parse(this.itemcv.formal_degree);
    }
    if (this.itemcv.other_degree) {
      this.form.other_degree = JSON.parse(this.itemcv.other_degree);
    }
    if (this.itemcv.skill_shortterm_course) {
      this.form.skill_shortterm_course = JSON.parse(
        this.itemcv.skill_shortterm_course
      );
    }
  },
  mounted() {},
  methods: {
    messageTitleClass: function() {
      var mtClass = ["table-caption", "caption-top"];
      if (this.isError) {
        mtClass.push("blue-background");
      } else if (this.isSuccess) {
        mtClass.push("green-light-box");
      } else {
        mtClass.push("bg-info");
      }
      return mtClass;
    },
    submitForm: function() {
      $("body").addClass("ot-fr-loading");
      this.errors = {
        education: "",
        formal_degree_school: "",
        formal_degree_time: "",
        formal_degree_rating: "",

        other_degree_school: "",
        other_degree_time: "",
        other_degree_rating: "",

        skill_shortterm_course_course: "",
        skill_shortterm_course_time: ""
      };

      if (this.isRequest) {
        return false;
      }

      this.isRequest = true;
      axios
        .post("/cv/info/save", this.form)
        .then(response => {
          if (response.data.message) {
            this.isError = false;
            this.isSuccess = true;
            $("#popupAlert").modal("show");
            this.message = response.data.message;
            $("body").removeClass("ot-fr-loading");
            $("html, body").animate(
              {
                scrollTop: 0
              },
              300
            );
          }
          this.isRequest = false;
          this.form.id = response.data.id;
          console.log(response.data.id);
        })
        .catch(error => {
          this.isRequest = false;
          this.isError = true;
          this.message = ""; // ReSet message
          this.isSuccess = false;
          var errors = error.response.data.errors;
          $("html, body").animate(
            {
              scrollTop: 0
            },
            300
          );
          console.log(errors);
          if (typeof errors.education != "undefined") {
            this.errors.education = errors.education[0];
          }
          if (typeof errors.formal_degree_school != "undefined") {
            this.errors.formal_degree_school = errors.formal_degree_school[0];
          }
          if (typeof errors.formal_degree_time != "undefined") {
            this.errors.formal_degree_time = errors.formal_degree_time[0];
          }
          if (typeof errors.formal_degree_rating != "undefined") {
            this.errors.formal_degree_rating = errors.formal_degree_rating[0];
          }
        })
        .then(function() {
          $("body").removeClass("ot-fr-loading");
        });
    }
  }
};
</script>
