<template>
  <div class="form-horizontal ot-apply-boxshadow">
    <div class="ot-table-layout-compact ot-contact-table ot-clear-boxshadow">
      <div :class="messageTitleClass()" v-html="message"></div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Lĩnh vực</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.find_job.fields"
            placeholder="Kỹ sư tin học"
          >
          <p class="text-danger" v-if="errors.find_job_fields" v-html="errors.find_job_fields"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Vị trí</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.find_job.position"
            placeholder="KHTN"
          >
          <p class="text-danger" v-if="errors.find_job_position" v-html="errors.find_job_position"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Ngoại ngữ sử dụng</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9 grid-degree-inline">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.find_job.language.main"
            placeholder="Tiếng Nhật"
          >
          <span>Khác</span>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.find_job.language.foreign"
            placeholder="Tiếng Anh, Tiếng Hoa"
          >
          <p class="text-danger" v-if="errors.find_job_language" v-html="errors.find_job_language"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Thời gian có thể bắt đầu làm việc</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9 grid-degree-inline">
          <span>Khác</span>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.find_job.time.from"
            placeholder="Tháng"
          >
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.find_job.time.to"
            placeholder="Năm"
          >
          <p class="text-danger" v-if="errors.find_job_time" v-html="errors.find_job_time"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Mức lương mong muốn</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.find_job.salary"
            placeholder="Salary"
          >
          <p class="text-danger" v-if="errors.find_job_salary" v-html="errors.find_job_salary"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Nơi làm việc mong muốn</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9 grid-degree-inline">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.find_job.workplace.main"
            placeholder="Nhật Bản"
          >
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.find_job.workplace.foreign"
            placeholder="Việt Nam, Hàn Quốc"
          >
          <p
            class="text-danger"
            v-if="errors.find_job_workplace"
            v-html="errors.find_job_workplace"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Môi trường làm việc mong muốn</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.find_job.workplace_like"
            placeholder
          >
          <p
            class="text-danger"
            v-if="errors.find_job_workplace_like"
            v-html="errors.find_job_workplace_like"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Nguyên nhân xin nghỉ việc</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.find_job.cause"
            placeholder
          >
          <p class="text-danger" v-if="errors.find_job_cause" v-html="errors.find_job_cause"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Điều kiện để làm việc lâu dài</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9 grid-degree-inline">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.find_job.condition"
            placeholder
          >
          <p
            class="text-danger"
            v-if="errors.find_job_condition"
            v-html="errors.find_job_condition"
          ></p>
        </div>
      </div>
    </div>
    <div class="caption-bottom">
      <a
        class="btn ot-btn ot-btn-primary"
        @click.prevent="submitForm()"
        style="width: auto"
      >Cập nhật</a>
    </div>
  </div>
</template>
<script>
import _ from "lodash";
export default {
  props: {
    itemcv: {}
  },
  data: function() {
    return {
      message:
        "Bạn muốn sang Nhật làm việc? <br>Bạn đã biết tiếng Nhật hoặc đang học tiếng Nhât?<br>Bạn không muốn tốn chi phí cho dịch vụ môi giới việc làm?<br>GrowUpWork sẽ hỗ trợ và đồng hành cùng với bạn để có công việc mơ ước.<br>Hãy cho chúng tôi biết thông tin về bạn. Chúng tôi sẽ liên hệ ngay khi có công việc phù hợp!<br>",
      isError: false,
      isSuccess: false,
      isRequest: false,
      form: {
        id: 0,
        step: 5,
        find_job: {
          fields: "",
          position: "",
          language: {
            main: "",
            foreign: ""
          },
          time: {
            from: "",
            to: ""
          },
          salary: "",
          workplace: {
            main: "",
            foreign: ""
          },
          workplace_like: "",
          cause: "",
          condition: ""
        }
      },
      errors: {
        find_job_fields: "",
        find_job_position: "",
        find_job_language: "",
        find_job_time: "",
        find_job_salary: "",
        find_job_workplace: "",
        find_job_workplace_like: "",
        find_job_cause: "",
        find_job_condition: ""
      }
    };
  },
  created() {},
  mounted() {},
  methods: {
    messageTitleClass: function() {
      var mtClass = ["table-caption", "caption-top"];
      if (this.isError) {
        mtClass.push("blue-background");
      } else if (this.isSuccess) {
        mtClass.push("green-light-box");
      } else {
        mtClass.push("bg-info");
      }
      return mtClass;
    },
    submitForm: function() {
      $("body").addClass("ot-fr-loading");
      this.errors = {
        find_job_fields: "",
        find_job_position: "",
        find_job_language: "",
        find_job_time: "",
        find_job_salary: "",
        find_job_workplace: "",
        find_job_workplace_like: "",
        find_job_cause: "",
        find_job_condition: ""
      };

      if (this.isRequest) {
        return false;
      }

      this.isRequest = true;
      axios
        .post("/cv/info/save", this.form)
        .then(response => {
          if (response.data.message) {
            this.isError = false;
            this.isSuccess = true;
            $("#popupAlert").modal("show");
            this.message = response.data.message;
            $("body").removeClass("ot-fr-loading");
            $("html, body").animate(
              {
                scrollTop: 0
              },
              300
            );
          }
          this.isRequest = false;
          this.form.id = response.data.id;
          console.log(response.data.id);
        })
        .catch(error => {
          this.isRequest = false;
          this.isError = true;
          this.message = ""; // ReSet message
          this.isSuccess = false;
          var errors = error.response.data.errors;
          $("html, body").animate(
            {
              scrollTop: 0
            },
            300
          );
          console.log(errors);
          if (typeof errors.find_job_fields != "undefined") {
            this.errors.find_job_fields = errors.find_job_fields[0];
          }
          if (typeof errors.find_job_position != "undefined") {
            this.errors.find_job_position = errors.find_job_position[0];
          }
          if (typeof errors.find_job_language != "undefined") {
            this.errors.find_job_language = errors.find_job_language[0];
          }
          if (typeof errors.find_job_time != "undefined") {
            this.errors.find_job_time = errors.find_job_time[0];
          }
          if (typeof errors.find_job_salary != "undefined") {
            this.errors.find_job_salary = errors.find_job_salary[0];
          }
          if (typeof errors.find_job_workplace != "undefined") {
            this.errors.find_job_workplace = errors.find_job_workplace[0];
          }
          if (typeof errors.find_job_workplace_like != "undefined") {
            this.errors.find_job_workplace_like =
              errors.find_job_workplace_like[0];
          }
          if (typeof errors.find_job_cause != "undefined") {
            this.errors.find_job_cause = errors.find_job_cause[0];
          }
          if (typeof errors.find_job_condition != "undefined") {
            this.errors.find_job_condition = errors.find_job_condition[0];
          }
        })
        .then(function() {
          $("body").removeClass("ot-fr-loading");
        });
    }
  }
};
</script>
