<template>
  <div class="form-horizontal ot-apply-boxshadow">
    <div class="ot-table-layout-compact ot-contact-table ot-clear-boxshadow">
      <div :class="messageTitleClass()" v-html="message"></div>
      <div class="table-row">
        <div class="table-column th-background col-xs-3 col-sm-2">
          <label class="control-label txt-right">Công việc hiện tại</label>
        </div>
        <div class="table-column col-xs-4 col-sm-5">
          <label class="control-label txt-right">Vị trí</label>
          <label class="control-label txt-right">Ngành nghề</label>
          <label class="control-label txt-right">Ngoại ngữ</label>
          <label class="control-label txt-right">Thời gian làm việc</label>
          <label class="control-label txt-right">Hiện tại còn đang làm việc?</label>
        </div>
        <div class="table-column col-xs-4 col-sm-5">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.current_job.position"
            placeholder="Lập trình viên"
          >
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.current_job.job"
            placeholder="Kỹ sư tin học"
          >
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.current_job.language"
            placeholder="Tiếng Nhật"
          >
          <div class="grid-degree-inline">
            <span>Từ</span>
            <input
              type="text"
              class="form-control input-sm width-400 ot-reponsive-input"
              v-model="form.current_job.from"
              placeholder="01/2000"
            >
            <span>Đến</span>
            <input
              type="text"
              class="form-control input-sm width-400 ot-reponsive-input"
              v-model="form.current_job.to"
              placeholder="Hiện tại"
            >
          </div>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.current_job.status"
            placeholder="Còn/dừng"
          >
          <p class="text-danger" v-if="errors.current_job" v-html="errors.current_job"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-3 col-sm-2">
          <label class="control-label txt-right">Kinh nghiệm làm việc</label>
        </div>
        <div class="table-column col-xs-4 col-sm-5">
          <label class="control-label txt-right">Công ty</label>
          <label class="control-label txt-right">Ngành nghề</label>
          <label class="control-label txt-right">Ngoại ngữ</label>
          <label class="control-label txt-right">Thời gian làm việc</label>
          <label class="control-label txt-right">Mô tả công việc</label>
          <label class="control-label txt-right">Dự án tham gia</label>
        </div>
        <div class="table-column col-xs-4 col-sm-5">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.work_experience.company"
            placeholder="Công ty A"
          >
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.work_experience.job"
            placeholder="Kỹ sư tin học"
          >
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.work_experience.language"
            placeholder="Tiếng Nhật"
          >
          <div class="grid-degree-inline">
            <span>Từ</span>
            <input
              type="text"
              class="form-control input-sm width-400 ot-reponsive-input"
              v-model="form.work_experience.from"
              placeholder="01/2000"
            >
            <span>Đến</span>
            <input
              type="text"
              class="form-control input-sm width-400 ot-reponsive-input"
              v-model="form.work_experience.to"
              placeholder="Hiện tại"
            >
          </div>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.work_experience.description"
            placeholder
          >
          <button class="btn btn-danger">+</button>
          <p class="text-danger" v-if="errors.work_experience" v-html="errors.work_experience"></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-3 col-sm-2">
          <label class="control-label txt-right">Kinh nghiệm làm việc</label>
        </div>
        <div class="table-column col-xs-4 col-sm-5">
          <label class="control-label txt-right">Quốc gia</label>
          <label class="control-label txt-right">Ngành nghề</label>
          <label class="control-label txt-right">Ngoại ngữ</label>
          <label class="control-label txt-right">Thời gian làm việc</label>
          <label class="control-label txt-right">Mô tả công việc</label>
          <label class="control-label txt-right">Dự án tham gia</label>
        </div>
        <div class="table-column col-xs-4 col-sm-5">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.foreign_work_experience.national"
            placeholder="Nhật bản"
          >
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.foreign_work_experience.job"
            placeholder="Kỹ sư tin học"
          >
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.foreign_work_experience.language"
            placeholder="Tiếng Nhật"
          >
          <div class="grid-degree-inline">
            <span>Từ</span>
            <input
              type="text"
              class="form-control input-sm width-400 ot-reponsive-input"
              v-model="form.foreign_work_experience.from"
              placeholder="01/2000"
            >
            <span>Đến</span>
            <input
              type="text"
              class="form-control input-sm width-400 ot-reponsive-input"
              v-model="form.foreign_work_experience.to"
              placeholder="Hiện tại"
            >
          </div>
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.foreign_work_experience.description"
            placeholder
          >
          <button class="btn btn-danger">+</button>
          <p
            class="text-danger"
            v-if="errors.foreign_work_experience"
            v-html="errors.foreign_work_experience"
          ></p>
        </div>
      </div>
    </div>
    <div class="caption-bottom">
      <a
        class="btn ot-btn ot-btn-primary"
        @click.prevent="submitForm()"
        style="width: auto"
      >Cập nhật</a>
    </div>
  </div>
</template>
<script>
import _ from "lodash";
export default {
  props: {
    itemcv: {}
  },
  data: function() {
    return {
      message:
        "Bạn muốn sang Nhật làm việc? <br>Bạn đã biết tiếng Nhật hoặc đang học tiếng Nhât?<br>Bạn không muốn tốn chi phí cho dịch vụ môi giới việc làm?<br>GrowUpWork sẽ hỗ trợ và đồng hành cùng với bạn để có công việc mơ ước.<br>Hãy cho chúng tôi biết thông tin về bạn. Chúng tôi sẽ liên hệ ngay khi có công việc phù hợp!<br>",
      isError: false,
      isSuccess: false,
      isRequest: false,
      form: {
        id: 0,
        step: 4,
        current_job: {
          position: "",
          language: "",
          job: "",
          from: "",
          to: "",
          status: ""
        },
        work_experience: {
          company: "",
          language: "",
          job: "",
          from: "",
          to: "",
          description: ""
        },
        foreign_work_experience: {
          national: "",
          language: "",
          job: "",
          from: "",
          to: "",
          description: ""
        }
      },
      errors: {
        current_job: "",
        work_experience: "",
        foreign_work_experience: ""
      }
    };
  },
  created() {
    if (this.itemcv.current_job) {
      this.form.current_job = JSON.parse(this.itemcv.current_job);
    }
    if (this.itemcv.work_experience) {
      this.form.work_experience = JSON.parse(this.itemcv.work_experience);
    }
    if (this.itemcv.foreign_work_experience) {
      this.form.foreign_work_experience = JSON.parse(
        this.itemcv.foreign_work_experience
      );
    }
  },
  mounted() {},
  methods: {
    messageTitleClass: function() {
      var mtClass = ["table-caption", "caption-top"];
      if (this.isError) {
        mtClass.push("blue-background");
      } else if (this.isSuccess) {
        mtClass.push("green-light-box");
      } else {
        mtClass.push("bg-info");
      }
      return mtClass;
    },
    submitForm: function() {
      $("body").addClass("ot-fr-loading");
      this.errors = {
        current_job: "",
        work_experience: "",
        foreign_work_experience: ""
      };

      if (this.isRequest) {
        return false;
      }

      this.isRequest = true;
      axios
        .post("/cv/info/save", this.form)
        .then(response => {
          if (response.data.message) {
            this.isError = false;
            this.isSuccess = true;
            $("#popupAlert").modal("show");
            this.message = response.data.message;
            $("body").removeClass("ot-fr-loading");
            $("html, body").animate(
              {
                scrollTop: 0
              },
              300
            );
          }
          this.isRequest = false;
          this.form.id = response.data.id;
          console.log(response.data);
        })
        .catch(error => {
          this.isRequest = false;
          this.isError = true;
          this.message = ""; // ReSet message
          this.isSuccess = false;
          var errors = error.response.data.errors;
          $("html, body").animate(
            {
              scrollTop: 0
            },
            300
          );
          console.log(errors);
          if (typeof errors.current_job != "undefined") {
            this.errors.current_job = errors.current_job[0];
          }
          if (typeof errors.work_experience != "undefined") {
            this.errors.work_experience = errors.work_experience[0];
          }
          if (typeof errors.foreign_work_experience != "undefined") {
            this.errors.foreign_work_experience =
              errors.foreign_work_experience[0];
          }
        })
        .then(function() {
          $("body").removeClass("ot-fr-loading");
        });
    }
  }
};
</script>
