<template>
  <div class="form-horizontal ot-apply-boxshadow">
    <div class="ot-table-layout-compact ot-contact-table ot-clear-boxshadow">
      <div :class="messageTitleClass()" v-html="message"></div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Điểm mạnh</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.self_introduce.strength"
            placeholder="Điểm mạnh"
          >
          <p
            class="text-danger"
            v-if="errors.self_introduce_strength"
            v-html="errors.self_introduce_strength"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Điểm yếu</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.self_introduce.weakness"
            placeholder="Điểm yếu"
          >
          <p
            class="text-danger"
            v-if="errors.self_introduce_weakness"
            v-html="errors.self_introduce_weakness"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Suy nghĩ tích cực</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.self_introduce.positive_thinking"
            placeholder
          >
          <p
            class="text-danger"
            v-if="errors.self_introduce_positive_thinking"
            v-html="errors.self_introduce_positive_thinking"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Suy nghĩ tiêu cực</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.self_introduce.negative_thinking"
            placeholder
          >
          <p
            class="text-danger"
            v-if="errors.self_introduce_negative_thinking"
            v-html="errors.self_introduce_negative_thinking"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Sở thích</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.self_introduce.hobby"
            placeholder
          >
          <p
            class="text-danger"
            v-if="errors.self_introduce_hobby"
            v-html="errors.self_introduce_hobby"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Tự giới thiệu</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.self_introduce.intro"
            placeholder
          >
          <p
            class="text-danger"
            v-if="errors.self_introduce_intro"
            v-html="errors.self_introduce_intro"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">kế hoạch lâu dài 1,3,5 năm</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.self_introduce.short_plan"
            placeholder
          >
          <p
            class="text-danger"
            v-if="errors.self_introduce_short_plan"
            v-html="errors.self_introduce_short_plan"
          ></p>
        </div>
      </div>
    </div>
    <div class="caption-bottom">
      <a
        class="btn ot-btn ot-btn-primary"
        @click.prevent="submitForm()"
        style="width: auto"
      >Cập nhật</a>
    </div>
  </div>
</template>
<script>
import _ from "lodash";
export default {
  props: {
    itemcv: {}
  },
  data: function() {
    return {
      message:
        "Bạn muốn sang Nhật làm việc? <br>Bạn đã biết tiếng Nhật hoặc đang học tiếng Nhât?<br>Bạn không muốn tốn chi phí cho dịch vụ môi giới việc làm?<br>GrowUpWork sẽ hỗ trợ và đồng hành cùng với bạn để có công việc mơ ước.<br>Hãy cho chúng tôi biết thông tin về bạn. Chúng tôi sẽ liên hệ ngay khi có công việc phù hợp!<br>",
      isError: false,
      isSuccess: false,
      isRequest: false,
      form: {
        id: 0,
        step: 2,
        self_introduce: {
          strength: "",
          weakness: "",

          positive_thinking: "",

          negative_thinking: "",

          hobby: "",

          intro: "",

          short_plan: ""
        }
      },
      errors: {
        self_introduce_strength: "",
        self_introduce_weakness: "",
        self_introduce_positive_thinking: "",
        self_introduce_negative_thinking: "",
        self_introduce_hobby: "",
        self_introduce_intro: "",
        self_introduce_short_plan: ""
      }
    };
  },
  created() {},
  mounted() {},
  methods: {
    messageTitleClass: function() {
      var mtClass = ["table-caption", "caption-top"];
      if (this.isError) {
        mtClass.push("blue-background");
      } else if (this.isSuccess) {
        mtClass.push("green-light-box");
      } else {
        mtClass.push("bg-info");
      }
      return mtClass;
    },
    submitForm: function() {
      $("body").addClass("ot-fr-loading");
      this.errors = {
        self_introduce_strength: "",
        self_introduce_weakness: "",
        self_introduce_positive_thinking: "",
        self_introduce_negative_thinking: "",
        self_introduce_hobby: "",
        self_introduce_intro: "",
        self_introduce_short_plan: ""
      };

      if (this.isRequest) {
        return false;
      }

      this.isRequest = true;
      axios
        .post("/cv/info/save", this.form)
        .then(response => {
          if (response.data.message) {
            this.isError = false;
            this.isSuccess = true;
            $("#popupAlert").modal("show");
            this.message = response.data.message;
            $("body").removeClass("ot-fr-loading");
            $("html, body").animate(
              {
                scrollTop: 0
              },
              300
            );
          }
          this.isRequest = false;
          this.form.id = response.data.id;
          console.log(response.data.id);
        })
        .catch(error => {
          this.isRequest = false;
          this.isError = true;
          this.message = ""; // ReSet message
          this.isSuccess = false;
          var errors = error.response.data.errors;
          $("html, body").animate(
            {
              scrollTop: 0
            },
            300
          );
          console.log(errors);
          if (typeof errors.self_introduce_strength != "undefined") {
            this.errors.self_introduce_strength =
              errors.self_introduce_strength[0];
          }
          if (typeof errors.self_introduce_weakness != "undefined") {
            this.errors.self_introduce_weakness =
              errors.self_introduce_weakness[0];
          }
          if (typeof errors.self_introduce_positive_thinking != "undefined") {
            this.errors.self_introduce_positive_thinking =
              errors.self_introduce_positive_thinking[0];
          }
          if (typeof errors.self_introduce_negative_thinking != "undefined") {
            this.errors.self_introduce_negative_thinking =
              errors.self_introduce_negative_thinking[0];
          }
          if (typeof errors.self_introduce_hobby != "undefined") {
            this.errors.self_introduce_hobby = errors.self_introduce_hobby[0];
          }
          if (typeof errors.self_introduce_intro != "undefined") {
            this.errors.self_introduce_intro = errors.self_introduce_intro[0];
          }
          if (typeof errors.self_introduce_short_plan != "undefined") {
            this.errors.self_introduce_short_plan =
              errors.self_introduce_short_plan[0];
          }
        })
        .then(function() {
          $("body").removeClass("ot-fr-loading");
        });
    }
  }
};
</script>
