<template>
  <div class="form-horizontal ot-apply-boxshadow">
    <div class="ot-table-layout-compact ot-contact-table ot-clear-boxshadow">
      <div :class="messageTitleClass()" v-html="message"></div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">
            Ngôn ngữ chính
            <span class="red-color">※</span>
          </label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.main_language"
            placeholder="English"
          >
          <p class="text-danger" v-if="errors.main_language" v-html="errors.main_language"></p>
        </div>
      </div>

      <div class="table-row">Ngoại ngữ</div>

      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Ngôn ngữ</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.foreign_language_japan.name"
            placeholder="Japanese"
          >
          <p
            class="text-danger"
            v-if="errors.foreign_language_japan_name"
            v-html="errors.foreign_language_japan_name"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Năng lực ngoại ngữ</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <p>Nghe</p>
          <div>
            <input
              type="radio"
              value="1"
              :checked="form.foreign_language_japan.listen == '1'"
              id="optionsRadios1"
              v-model="form.foreign_language_japan.listen"
            >
            1&nbsp;
            <input
              type="radio"
              value="2"
              :checked="form.foreign_language_japan.listen == '2'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.listen"
            >
            2&nbsp;
            <input
              type="radio"
              value="3"
              :checked="form.foreign_language_japan.listen == '3'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.listen"
            >
            3&nbsp;
            <input
              type="radio"
              value="4"
              :checked="form.foreign_language_japan.listen == '4'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.listen"
            >
            4&nbsp;
            <input
              type="radio"
              value="5"
              :checked="form.foreign_language_japan.listen == '5'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.listen"
            >
            5&nbsp;
          </div>
          <p>Nói</p>
          <div>
            <input
              type="radio"
              value="1"
              :checked="form.foreign_language_japan.speak == '1'"
              id="optionsRadios1"
              v-model="form.foreign_language_japan.speak"
            >
            1&nbsp;
            <input
              type="radio"
              value="2"
              :checked="form.foreign_language_japan.speak == '2'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.speak"
            >
            2&nbsp;
            <input
              type="radio"
              value="3"
              :checked="form.foreign_language_japan.speak == '3'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.speak"
            >
            3&nbsp;
            <input
              type="radio"
              value="4"
              :checked="form.foreign_language_japan.speak == '4'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.speak"
            >
            4&nbsp;
            <input
              type="radio"
              value="5"
              :checked="form.foreign_language_japan.speak == '5'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.speak"
            >
            5&nbsp;
          </div>
          <p>Đọc</p>
          <div>
            <input
              type="radio"
              value="1"
              :checked="form.foreign_language_japan.read == '1'"
              id="optionsRadios1"
              v-model="form.foreign_language_japan.read"
            >
            1&nbsp;
            <input
              type="radio"
              value="2"
              :checked="form.foreign_language_japan.read == '2'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.read"
            >
            2&nbsp;
            <input
              type="radio"
              value="3"
              :checked="form.foreign_language_japan.read == '3'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.read"
            >
            3&nbsp;
            <input
              type="radio"
              value="4"
              :checked="form.foreign_language_japan.read == '4'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.read"
            >
            4&nbsp;
            <input
              type="radio"
              value="5"
              :checked="form.foreign_language_japan.read == '5'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.read"
            >
            5&nbsp;
          </div>
          <p>Viết</p>
          <div>
            <input
              type="radio"
              value="1"
              :checked="form.foreign_language_japan.write == '1'"
              id="optionsRadios1"
              v-model="form.foreign_language_japan.write"
            >
            1&nbsp;
            <input
              type="radio"
              value="2"
              :checked="form.foreign_language_japan.write == '2'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.write"
            >
            2&nbsp;
            <input
              type="radio"
              value="3"
              :checked="form.foreign_language_japan.write == '3'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.write"
            >
            3&nbsp;
            <input
              type="radio"
              value="4"
              :checked="form.foreign_language_japan.write == '4'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.write"
            >
            4&nbsp;
            <input
              type="radio"
              value="5"
              :checked="form.foreign_language_japan.write == '5'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.write"
            >
            5&nbsp;
          </div>
          <p
            class="text-danger"
            v-if="errors.foreign_language_japan_skill"
            v-html="errors.foreign_language_japan_skill"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Bằng cấp năng lực JBAA</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <div>
            <input
              type="radio"
              value="N1"
              :checked="form.foreign_language_japan.jbaa == 'N1'"
              id="optionsRadios1"
              v-model="form.foreign_language_japan.jbaa"
            >
            N1&nbsp;
            <input
              type="radio"
              value="N2"
              :checked="form.foreign_language_japan.jbaa == 'N2'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.jbaa"
            >
            N2&nbsp;
            <input
              type="radio"
              value="N3"
              :checked="form.foreign_language_japan.jbaa == 'N3'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.jbaa"
            >
            N3&nbsp;
            <input
              type="radio"
              value="N4"
              :checked="form.foreign_language_japan.jbaa == 'N4'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.jbaa"
            >
            N4&nbsp;
            <input
              type="radio"
              value="N5"
              :checked="form.foreign_language_japan.jbaa == 'N5'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.jbaa"
            >
            N5&nbsp;
          </div>
          <p
            class="text-danger"
            v-if="errors.foreign_language_japan_jbaa"
            v-html="errors.foreign_language_japan_jbaa"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Bằng cấp năng lực JLPT</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <div>
            <input
              type="radio"
              value="N1"
              :checked="form.foreign_language_japan.jlpt == 'N1'"
              id="optionsRadios1"
              v-model="form.foreign_language_japan.jlpt"
            >
            N1&nbsp;
            <input
              type="radio"
              value="N2"
              :checked="form.foreign_language_japan.jlpt == 'N2'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.jlpt"
            >
            N2&nbsp;
            <input
              type="radio"
              value="N3"
              :checked="form.foreign_language_japan.jlpt == 'N3'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.jlpt"
            >
            N3&nbsp;
            <input
              type="radio"
              value="N4"
              :checked="form.foreign_language_japan.jlpt == 'N4'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.jlpt"
            >
            N4&nbsp;
            <input
              type="radio"
              value="N5"
              :checked="form.foreign_language_japan.jlpt == 'N5'"
              id="optionsRadios2"
              v-model="form.foreign_language_japan.jlpt"
            >
            N5&nbsp;
          </div>
          <p
            class="text-danger"
            v-if="errors.foreign_language_japan_jlpt"
            v-html="errors.foreign_language_japan_jlpt"
          ></p>
        </div>
      </div>

      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Ngôn ngữ</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <input
            type="text"
            class="form-control input-sm width-400 ot-reponsive-input"
            v-model="form.foreign_language_english.name"
            placeholder="English"
          >
          <p
            class="text-danger"
            v-if="errors.foreign_language_english_name"
            v-html="errors.foreign_language_english_name"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">Năng lực ngoại ngữ</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <p>Nghe</p>
          <div>
            <input
              type="radio"
              value="1"
              :checked="form.foreign_language_english.listen == '1'"
              id="optionsRadios1"
              v-model="form.foreign_language_english.listen"
            >
            1&nbsp;
            <input
              type="radio"
              value="2"
              :checked="form.foreign_language_english.listen == '2'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.listen"
            >
            2&nbsp;
            <input
              type="radio"
              value="3"
              :checked="form.foreign_language_english.listen == '3'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.listen"
            >
            3&nbsp;
            <input
              type="radio"
              value="4"
              :checked="form.foreign_language_english.listen == '4'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.listen"
            >
            4&nbsp;
            <input
              type="radio"
              value="5"
              :checked="form.foreign_language_english.listen == '5'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.listen"
            >
            5&nbsp;
          </div>
          <p>Nói</p>
          <div>
            <input
              type="radio"
              value="1"
              :checked="form.foreign_language_english.speak == '1'"
              id="optionsRadios1"
              v-model="form.foreign_language_english.speak"
            >
            1&nbsp;
            <input
              type="radio"
              value="2"
              :checked="form.foreign_language_english.speak == '2'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.speak"
            >
            2&nbsp;
            <input
              type="radio"
              value="3"
              :checked="form.foreign_language_english.speak == '3'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.speak"
            >
            3&nbsp;
            <input
              type="radio"
              value="4"
              :checked="form.foreign_language_english.speak == '4'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.speak"
            >
            4&nbsp;
            <input
              type="radio"
              value="5"
              :checked="form.foreign_language_english.speak == '5'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.speak"
            >
            5&nbsp;
          </div>
          <p>Đọc</p>
          <div>
            <input
              type="radio"
              value="1"
              :checked="form.foreign_language_english.read == '1'"
              id="optionsRadios1"
              v-model="form.foreign_language_english.read"
            >
            1&nbsp;
            <input
              type="radio"
              value="2"
              :checked="form.foreign_language_english.read == '2'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.read"
            >
            2&nbsp;
            <input
              type="radio"
              value="3"
              :checked="form.foreign_language_english.read == '3'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.read"
            >
            3&nbsp;
            <input
              type="radio"
              value="4"
              :checked="form.foreign_language_english.read == '4'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.read"
            >
            4&nbsp;
            <input
              type="radio"
              value="5"
              :checked="form.foreign_language_english.read == '5'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.read"
            >
            5&nbsp;
          </div>
          <p>Viết</p>
          <div>
            <input
              type="radio"
              value="1"
              :checked="form.foreign_language_english.write == '1'"
              id="optionsRadios1"
              v-model="form.foreign_language_english.write"
            >
            1&nbsp;
            <input
              type="radio"
              value="2"
              :checked="form.foreign_language_english.write == '2'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.write"
            >
            2&nbsp;
            <input
              type="radio"
              value="3"
              :checked="form.foreign_language_english.write == '3'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.write"
            >
            3&nbsp;
            <input
              type="radio"
              value="4"
              :checked="form.foreign_language_english.write == '4'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.write"
            >
            4&nbsp;
            <input
              type="radio"
              value="5"
              :checked="form.foreign_language_english.write == '5'"
              id="optionsRadios2"
              v-model="form.foreign_language_english.write"
            >
            5&nbsp;
          </div>
          <p
            class="text-danger"
            v-if="errors.foreign_language_english_skill"
            v-html="errors.foreign_language_english_skill"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">TOEFL</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <div>
            <span>Điểm số</span>
            <input
              type="text"
              class="form-control input-sm width-400 ot-reponsive-input"
              v-model="form.foreign_language_english.toefl"
              placeholder="Ghi chú"
            >
          </div>
          <p
            class="text-danger"
            v-if="errors.foreign_language_english_toefl"
            v-html="errors.foreign_language_english_toefl"
          ></p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column th-background col-xs-4 col-sm-3">
          <label class="control-label txt-right">TOEIC</label>
        </div>
        <div class="table-column col-xs-8 col-sm-9">
          <div>
            <span>Điểm số</span>
            <input
              type="text"
              class="form-control input-sm width-400 ot-reponsive-input"
              v-model="form.foreign_language_english.toeic"
              placeholder="Ghi chú"
            >
          </div>
          <p
            class="text-danger"
            v-if="errors.foreign_language_english_toeic"
            v-html="errors.foreign_language_english_toeic"
          ></p>
        </div>
      </div>
    </div>
    <div class="caption-bottom">
      <a
        class="btn ot-btn ot-btn-primary"
        @click.prevent="submitForm()"
        style="width: auto"
      >Cập nhật</a>
    </div>
  </div>
</template>
<script>
import _ from "lodash";
export default {
  props: {
    itemcv: {}
  },
  data: function() {
    return {
      message:
        "Bạn muốn sang Nhật làm việc? <br>Bạn đã biết tiếng Nhật hoặc đang học tiếng Nhât?<br>Bạn không muốn tốn chi phí cho dịch vụ môi giới việc làm?<br>GrowUpWork sẽ hỗ trợ và đồng hành cùng với bạn để có công việc mơ ước.<br>Hãy cho chúng tôi biết thông tin về bạn. Chúng tôi sẽ liên hệ ngay khi có công việc phù hợp!<br>",
      isError: false,
      isSuccess: false,
      isRequest: false,
      form: {
        id: 0,
        step: 3,
        main_language: "",
        foreign_language_japan: {
          name: "",
          listen: "",
          speak: "",
          read: "",
          write: "",
          jbaa: "",
          jlpt: ""
        },
        foreign_language_english: {
          name: "",
          listen: "",
          speak: "",
          read: "",
          write: "",
          toefl: "",
          toeic: ""
        }
      },
      errors: {
        main_language: "",
        foreign_language_japan_name: "",
        foreign_language_japan_skill: "",
        foreign_language_japan_jbaa: "",
        foreign_language_japan_jlpt: "",
        foreign_language_english_name: "",
        foreign_language_english_skill: "",
        foreign_language_english_toefl: "",
        foreign_language_english_toeic: ""
      }
    };
  },
  created() {
    this.form.main_language = this.itemcv.main_language;
    if (this.itemcv.foreign_language) {
      var foreign_language = JSON.parse(this.itemcv.foreign_language);
      this.form.foreign_language_japan = foreign_language.japanese;
      this.form.foreign_language_english = foreign_language.english;
    }
  },
  mounted() {},
  methods: {
    messageTitleClass: function() {
      var mtClass = ["table-caption", "caption-top"];
      if (this.isError) {
        mtClass.push("blue-background");
      } else if (this.isSuccess) {
        mtClass.push("green-light-box");
      } else {
        mtClass.push("bg-info");
      }
      return mtClass;
    },
    submitForm: function() {
      $("body").addClass("ot-fr-loading");
      this.errors = {
        main_language: "",
        foreign_language_japan_name: "",
        foreign_language_japan_skill: "",
        foreign_language_japan_jbaa: "",
        foreign_language_japan_jlpt: "",
        foreign_language_english_name: "",
        foreign_language_english_skill: "",
        foreign_language_english_toefl: "",
        foreign_language_english_toeic: ""
      };

      if (this.isRequest) {
        return false;
      }

      this.isRequest = true;
      axios
        .post("/cv/info/save", this.form)
        .then(response => {
          if (response.data.message) {
            this.isError = false;
            this.isSuccess = true;
            $("#popupAlert").modal("show");
            this.message = response.data.message;
            $("body").removeClass("ot-fr-loading");
            $("html, body").animate(
              {
                scrollTop: 0
              },
              300
            );
          }
          this.isRequest = false;
          this.form.id = response.data.id;
          console.log(response.data.id);
        })
        .catch(error => {
          this.isRequest = false;
          this.isError = true;
          this.message = ""; // ReSet message
          this.isSuccess = false;
          var errors = error.response.data.errors;
          $("html, body").animate(
            {
              scrollTop: 0
            },
            300
          );
          console.log(errors);
          if (typeof errors.main_language != "undefined") {
            this.errors.main_language = errors.main_language[0];
          }
          if (typeof errors.foreign_language_japan_name != "undefined") {
            this.errors.foreign_language_japan_name =
              errors.foreign_language_japan_name[0];
          }
          if (typeof errors.foreign_language_japan_skill != "undefined") {
            this.errors.foreign_language_japan_skill =
              errors.foreign_language_japan_skill[0];
          }
          if (typeof errors.foreign_language_japan_jbaa != "undefined") {
            this.errors.foreign_language_japan_jbaa =
              errors.foreign_language_japan_jbaa[0];
          }
          if (typeof errors.foreign_language_japan_jlpt != "undefined") {
            this.errors.foreign_language_japan_jlpt =
              errors.foreign_language_japan_jlpt[0];
          }
          if (typeof errors.foreign_language_english_name != "undefined") {
            this.errors.foreign_language_english_name =
              errors.foreign_language_english_name[0];
          }
          if (typeof errors.foreign_language_english_skill != "undefined") {
            this.errors.foreign_language_english_skill =
              errors.foreign_language_english_skill[0];
          }
          if (typeof errors.foreign_language_english_toefl != "undefined") {
            this.errors.foreign_language_english_toefl =
              errors.foreign_language_english_toefl[0];
          }
          if (typeof errors.foreign_language_english_toeic != "undefined") {
            this.errors.foreign_language_english_toeic =
              errors.foreign_language_english_toeic[0];
          }
        })
        .then(function() {
          $("body").removeClass("ot-fr-loading");
        });
    }
  }
};
</script>
