<template>
  <div>
    <!--		<div class="col-sm-12 col-xs-12 mb-1">-->
    <!--			<div v-if="error" :class="{'alert alert-danger validation-error': error}">-->
    <!--				<p v-for="err in errors" v-html="err[0]"></p>-->
    <!--				<p v-html="errorMessage"></p>-->
    <!--			</div>-->
    <!--			<div v-if="message" :class="{'alert alert-success alert-dismissible': message}">-->
    <!--				<p v-html="message"></p>-->
    <!--			</div>-->
    <!--		</div>-->
    <el-tabs type="border-card">
      <el-tab-pane label="CV Online">
	      <div class="text-right">
		      <a class="btn btn-primary btn-has-icon mb-10" href="/member/member-cv/create"><i class="fa fa-plus-circle"></i>Tạo mới</a>
	      </div>
        <div
          class="larajs-cv-online col-sm-12 col-xs-12 table-responsive mt-5 mb-5"
          v-for="(cv, index) in member_cv_online"
          :key="'cv_online_' + cv.member_cv_id"
        >
          <div class="larajs-header clearfix">
            <div class="col-sm-6 col-xs-5">{{cv.fullname}}</div>
            <div class="col-sm-5 col-xs-5 text-right">Ngày sửa: {{cv.update_at | formatDate}}</div>
            <div class="col-sm-1 col-xs-2 text-right">
              <i ref="starOnline" :class="{'active-star': cv.is_default}" class="fa fa-star"></i>
            </div>
          </div>
          <div class="larajs-content">
            <div class="overflow">
              <a
                :href="`/member/member-cv/edit/${cv.member_cv_id}`"
                target="_blank"
                class="white-space"
              >{{ `${currentUrl}/member/member-cv/edit/${cv.member_cv_id}` }}</a>
            </div>
          </div>
          <div class="larajs-footer text-right">
            <button
              v-if="!cv.is_default"
              @click="makeDefault('online' ,cv.member_cv_id, index)"
              class="btn btn-sm btn-default btn-has-icon"
            ><i class="fa fa-star"></i>Chọn mặc định</button>
            <!--<a-->
              <!--:href="'/cv/japan-default/viewer/' + cv.member_cv_id"-->
              <!--target="_blank"-->
              <!--class="btn btn-sm btn-info"-->
            <!--&gt;Xem</a>-->
            <a
              :href="'/cv/japan-default/download/' + cv.member_cv_id"
              class="btn btn-sm btn-grey btn-has-icon"
            ><i class="fa fa-download"></i>Tải</a>
            <a
              :href="'/member/member-cv/edit/' + cv.member_cv_id"
              target="_blank"
              class="btn btn-sm btn-success btn-has-icon"
            ><i class="fa fa-edit"></i>Sửa</a>
            <button
              @click="removeCV('online', cv.member_cv_id, index)"
              class="btn btn-sm btn-danger btn-has-icon"
            ><i class="fa fa-trash"></i>Xoá</button>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane v-if="member_cv_file && member_cv_file == []" label="CV tải lên">
        <div
          class="larajs-cv-online col-sm-12 col-xs-12 table-responsive mt-5 mb-5"
          v-for="(cv, index) in member_cv_file"
          :key="'cv_file_' + cv.member_cv_id"
        >
          <div class="larajs-header clearfix">
            <div class="col-sm-6 col-xs-5">{{cv.fullname}}</div>
            <div class="col-sm-5 col-xs-5 text-right">Ngày sửa: {{cv.update_at | formatDate}}</div>
            <div class="col-sm-1 col-xs-2 text-right">
              <i ref="starFile" :class="{'active-star': cv.is_default}" class="fa fa-star"></i>
            </div>
          </div>
          <div class="larajs-content">
	          <div class="overflow">
                <a :href="cv.cv_file" target="_blank">{{(cv.cv_file_name)}}</a>
	          </div>
          </div>
          <div class="larajs-footer text-right">
            <button
              v-if="!cv.is_default"
              @click="makeDefault('file' ,cv.member_cv_id, index)"
              class="btn btn-sm btn-default btn-has-icon"
            ><i class="fa fa-star"></i>Chọn mặc định</button>
            <a :href="'/cv/japan-default/download/' + cv.member_cv_id" class="btn btn-sm btn-grey btn-has-icon"><i class="fa fa-download"></i>Tải</a>
            <button @click="removeCV('file', cv.member_cv_id, index)" class="btn btn-sm btn-danger btn-has-icon"><i class="fa fa-trash"></i>Xoá</button>
          </div>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import moment from "moment";
export default {
  props: {
    member_cv_file: {
      type: Array,
      required: true
    },
    member_cv_online: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      errors: [],
      error: false,
      errorMessage: "",
      message: "",
      currentUrl: window.location.hostname
    };
  },
  created() {
    return;
  },
  methods: {
    url(str) {
      return window.location.protocol + "//" + window.location.hostname + str;
    },
    makeDefault(type, id, index) {
      this.$axios
        .get(`/member/profile-cv/make-default/${id}`)
        .then(res => {
          this.removeActiveStar();
          this.member_cv_online.forEach(
            (value, key) => (this.member_cv_online[key].is_default = null)
          );
          this.member_cv_file.forEach(
            (value, key) => (this.member_cv_file[key].is_default = null)
          );
          if (type == "online") {
            this.member_cv_online[index].is_default = 1;
            this.$refs.starOnline[index].classList.add("active-star");
          }
          if (type == "file") {
            this.member_cv_file[index].is_default = 1;
            this.$refs.starFile[index].classList.add("active-star");
          }
          this.$forceUpdate();
          this.message = res.data.message;
        })
        .catch(err => {
          console.log(err);
        });
    },
    removeActiveStar() {
      var elems = document.querySelector(".active-star");
      if (elems !== null) {
        elems.classList.remove("active-star");
      }
    },
    removeCV(type, id, index) {
      this.$confirm("Bạn thật sự muốn xoá?", "Warning", {
        confirmButtonText: "Xoá",
        confirmButtonClass: "btn btn-primary",
        cancelButtonText: "Huỷ",
        type: "warning"
      })
        .then(() => {
          this.$axios
            .delete(`/member/profile-cv/delete/${id}`)
            .then(res => {
              if (type == "online") {
                this.member_cv_online.splice(index, 1);
              }
              if (type == "file") {
                this.member_cv_file.splice(index, 1);
                console.log(this.member_cv_file);
              }
              this.$forceUpdate();
              this.message = res.data.message;
            })
            .catch(err => {});
        })
        .catch(() => {});
    }
  },
  filters: {
    formatDate(str) {
      return moment(str).format("YYYY/MM/DD");
    }
  }
};
</script>

<style scoped lang="scss">
.larajs-cv-online {
  padding: 1rem;
  border: 1px solid red;
  .larajs-header {
    margin-bottom: 8px;
    > * {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .larajs-content {
    border: 1px dashed #cdcdcd;
    padding: 0 12px;
    margin-bottom: 8px;
    white-space: nowrap;
    .overflow {
      overflow-x: auto;
      padding: 12px 0;
    }
  }
}
.active-star {
  color: #d70000;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .larajs-cv-online {
    .larajs-footer {
      text-align: left;
      .btn-default {
        display: block;
        margin-bottom: 8px;
      }
    }
  }
}
</style>
<style lang="scss">
.el-tabs--border-card {
  .is-active {
    background: #d70000 !important;
    color: white !important;
  }
}
/*.btn-primary {*/
/*  outline: none !important;*/
/*  color: #fff !important;*/
/*  background-color: #d70000 !important;*/
/*  border-color: #d70000 !important;*/
/*}*/
</style>
