<!--tanmnt - start-->
<template>
	<div>
		<div class="ot-table-layout-compact ot-contact-table ot-clear-boxshadow p-1">
			<div class="col-sm-12">
				<div v-if="error" :class="{'alert alert-danger validation-error': error}" class="mb-10">
					<p class="white-break" v-for="err in errors" v-html="err[0]"></p>
					<p class="white-break" v-html="errorMessage"></p>
				</div>
				<div v-if="message" :class="{'alert alert-success alert-dismissible': message}" class="mb-10">
					<p class="white-break" v-html="message"></p>
				</div>
			</div>
			<div class="col-sm-6 larajs-upload-online">
				<label>Chọn CV Online(Đề xuất)</label>
				<el-radio-group v-model="form.radio" class="ot-content-box col-sm-12">
					<div class="larajs-flex-col">
						<div v-for="(cv, index) in dataCVs" :key="'cv_' + cv.member_cv_id">
							<div class="larajs-online" v-if="!cv.is_cv_file">
								<el-radio :label="cv.member_cv_id" @change="loadIntroduction(cv.self_introduce)">
									{{cv.fullname}}(ID:{{cv.id}})<a target="_blank"
									                                :href="'/member/member-cv/edit/'+cv.member_cv_id"><i
										class="fa fa-edit"
										style="font-size: 18px; vertical-align: middle; margin-left:6px; color:#e70012;"></i></a>
								</el-radio>
							</div>
						</div>
					</div>
					<div>
						<div class="larajs-create-cv mb-10">
							<a target="_blank" href="/member/member-cv/create"
							   class="btn btn-sm btn-primary btn-rounded btn-has-icon"><i class="fa fa-plus-circle"></i>Tạo mới</a>
						</div>
						<div class="mb-10" style="font-size: 14px;">
							(Tạo CV theo mẫu chuẩn của GrowUpWork sẽ giúp bạn tăng cơ hội được nhà tuyển dụng chú ý hơn)
						</div>
					</div>
				</el-radio-group>
			</div>
			<div class="col-sm-6 larajs-upload-file">
				<label>
					Ứng tuyển bằng file
				</label>
				<el-radio-group v-model="form.radio" class="ot-content-box col-sm-12">
					<div v-for="(cv, index) in dataCVs" :key="'cv_' + cv.member_cv_id" v-if="cv.is_cv_file">
						<div class="larajs-file">
							<el-radio :label="cv.member_cv_id" @change="loadIntroduction(cv.self_introduce)">
								{{cv.cv_file_name}}
							</el-radio>
						</div>
					</div>
					<div class="">
						<el-radio @click.native="clickFile" :label="null" class="larajs-radio-file">
							<span>Tải file</span>
							<label class="larajs-color-black-light" style="pointer-events: none" ref="textFile">{{nameFile}}</label>
							<div>
								<p class="white-break">(Hỗ trợ: docx, pdf, excel, File size < 2MB)</p>
							</div>
						</el-radio>
					</div>
					<input type="file" @change="changeFile"
					       accept="application/pdf, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, .docx"
					       style="display: none;" ref="uploadFile" class="form-control larajs-input-file">
				</el-radio-group>
			</div>
			<!--<div class="col-sm-12 form-group">-->
				<!--<p>Apply create cv please return back this page to apply</p>-->
			<!--</div>-->
			<div class="col-sm-12 form-group larajs-upload-online">
				<label>Giới thiệu</label>
				<textarea class="form-control" rows="5"
				          placeholder="Vui lòng giới thiệu tóm tắt về bản thân: Thế mạnh, kỹ năng, kinh nghiệm hoặc lý do ứng tuyển..."
				          v-model="form.introduction"></textarea>
				<p class="text-right">{{ introCount }}/100 ký tự </p>
			</div>
			<div class="col-sm-12 text-center btn-has-icon">
				<button class="btn btn-sm btn-primary btn-rounded" @click="saveCV"><i class="fa fa-paper-plane"></i>{{is_apply ? 'Nộp CV' : 'Lưu'}}</button>
			</div>
		</div>
		<el-dialog title="Cập nhật thông tin" center :visible.sync="dialogFormVisible">
			<el-form :model="dialog" status-icon :rules="ruleDialog" label-position="top" ref="dialog">
				<el-form-item label="Họ và tên: " :label-width="formLabelWidth" prop="name">
					<el-input v-model="dialog.name" autocomplete="off"></el-input>
				</el-form-item>
				<el-form-item label="Email: " :label-width="formLabelWidth" prop="email">
					<el-input v-model="dialog.email" autocomplete="off"></el-input>
				</el-form-item>
				<el-form-item label="Điện thoại: " :label-width="formLabelWidth" prop="phone">
					<el-input v-model="dialog.phone" autocomplete="off"></el-input>
				</el-form-item>
			</el-form>
			<span slot="footer" class="dialog-footer">
		        <el-button @click="dialogFormVisible = false">Đóng</el-button>
		        <el-button class="btn btn-primary btn-rounded" @click="saveInfo('dialog')">Lưu</el-button>
		    </span>
		</el-dialog>
	</div>
</template>

<script>
	export default {
		props: ["member_cvs", "client_jobs", "is_apply"],
		data() {
			return {
				message: '',
				error: false,
				errors: {},
				errorMessage: '',
				isSuccess: false,
				isError: false,
				isRequest: false,
				count: 0,
				nameFile: "No file chosen",
				form: {
					radio: '',
					file: '',
					introduction: ''
				},
				
				dialog: {
					name: '',
					phone: '',
					email: '',
				},
				ruleDialog: {
					name: [
						{required: true, message: 'Full name bắt buộc phải nhập', trigger: 'blur'},
					],
					phone: [
						{required: true, message: 'Phone bắt buộc phải nhập', trigger: 'blur'},
					],
					email: [
						{required: true, message: 'Email bắt buộc phải nhập', trigger: ['change', 'blur']},
						{type: 'email', message: 'Định dạng email không hỗ trợ.', trigger: 'change'},
					]
				},
				CVs: [],
				dialogFormVisible: false,
				formLabelWidth: '150px',
				dataCVs: this.member_cvs,
				jobFairId: 0,
				jobId: 0,
				introCount: 0,
			}
		},
		mounted() {
			// get query url
			const urlParams = new URLSearchParams(window.location.search);
			this.jobFairId = urlParams.get('job_fair_id');
			this.jobId = urlParams.get('job_id');
			var memberCvs = this.member_cvs;
			var introduction = '';
			var idDefault = '';
			if (memberCvs) {
				memberCvs.forEach(function (item) {
					if (item['is_default']) {
						introduction = item['self_introduce'];
						idDefault = item['member_cv_id'];
					}
				});
			}
			this.form.introduction = introduction;
			this.form.radio = idDefault;
			this.introCount = this.form.introduction.length;
		},
		methods: {
			loadIntroduction(introduction) {
				this.form.introduction = introduction;
			},
			formatDate(dateStr) {
				var date = new Date(Date.parse(dateStr))
				return date.getFullYear().toString() + date.getMonth().toString() + date.getDay().toString()
			},
			clickFile() {
				if (this.count % 2 == 0) {
					this.$refs.uploadFile.click();
				}
				this.count++;
			},
			changeFile() {
				let name = this.nameFile;
				let file = this.$refs.uploadFile.files[0];
				if (file) {
					if (file.size / 1024 / 1024 <= 2) {
						this.error = false;
						name = file.name;
						this.form.file = file;
					} else {
						this.error = true;
						this.errorMessage = 'Dung lượng file upload không được vượt quá 2MB!';
						//Duy - if error uncheck radio
						this.form.radio = ''
						name = this.nameFile;
					}
				} else {
					this.form.file = '';
					name = this.nameFile;
				}
				this.$refs.textFile.innerText = name;
			},
			saveCV() {
				let formData = new FormData();
				formData.append('file', this.form.file);
				formData.append('radio', this.form.radio);
				formData.append('introduction', this.form.introduction);
				
				if (this.jobId) {
					formData.append('job_id', this.jobId);
				}
				if (this.jobFairId) {
					formData.append('job_fair_id', this.jobFairId);
				}
				
				$("body").append("<div class='ot-fr-loading fixed'></div>");
				
				this.$axios.post('/member/member-cv/upload-cv/save', formData)
					.then(res => {
						/* redirect page after success by hungnv@onetech.vn START */
						//
						// this.error = false;
						// this.errorMessage = '';
						// this.message = res.data.message;
						// let memberCv = res.data.member_cv;
						// let isApply = res.data.member_cv ? res.data.member_cv : 1;
						// //check memberCv != undefine
						// if(this.form.radio == null) {
						// 	this.dataCVs.push(memberCv);
						// }
						// this.form.radio = memberCv.member_cv_id;
						// this.$parent.isOffAlertJob = true;
						// this.form.file = '';
						// this.$refs.textFile.innerText = this.nameFile;
						// $("body").removeClass("ot-fr-loading");
						// this.scrollTopPage();
						// this.$forceUpdate();
						//
						/* redirect page after success by hungnv@onetech.vn END */
						location.href = "/member/member-cv/apply-job-result?apply_status=" + res.data.is_apply + (this.jobId != "" ? "&job_id=" + this.jobId : "&job_fair_id=" + this.jobFairId);
					})
					.catch((err) => {
						this.$parent.isOffAlertJob = true;
						$("body").removeClass("ot-fr-loading");
						let {status} = err.response.data;
						let {message} = err.response.data;
						this.message = '';
						this.error = true;
						this.errorMessage = message;
						if (status == 505) {
							this.getUser();
							this.dialogFormVisible = true;
						}
						this.scrollTopPage();
					})
					.then(function () {
						$("body .ot-fr-loading").fadeOut(500, function () {
							$(this).remove();
						});
					});
			},
			scrollTopPage: function () {
				$("html, body").animate(
					{
						scrollTop: 0
					},
					300
				);
			},
			saveInfo(formName) {
				this.$refs[formName].validate((valid) => {
					if (valid) {
						let formData = new FormData();
						formData.append('name', this.dialog.name);
						formData.append('email', this.dialog.email);
						formData.append('phone', this.dialog.phone);
						this.$axios.post('/member/member-cv/upload-cv/save-info', formData)
							.then(res => {
								this.dialogFormVisible = false;
								this.error = false;
								this.errorMessage = '';
								// this.message = res.data.message;
								this.saveCV();
							})
							.catch((err) => {
								let {message} = err.response.data;
								this.message = '';
								alert(message);
								this.scrollTopPage();
							});
					} else {
						return false;
					}
				});
			},
			getUser() {
				this.$axios.get('/member/member-cv/upload-cv/get-user')
					.then(res => {
						this.dialog = res.data.data;
					})
					.catch(err => console.log(err))
			}
		},
		watch: {
			'form.introduction': function() {
				this.introCount = this.form.introduction.length;
			}
		}
		
	}
</script>
<style lang="scss">
	.larajs-text-tile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 10px;
	}
	
	.larajs-radio-group {
		display: flex;
		justify-content: space-between;
		
		.larajs-online {
			display: flex;
			flex-direction: column;
			margin-left: 1rem;
		}
		
		.larajs-file {
			display: flex;
			flex-direction: column;
			margin-left: 1rem;
			
			.larajs-input-file {
				display: flex;
				box-shadow: none;
				border: none;
				padding: 10px 0 0 0;
			}
			
			.larajs-radio-file {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				position: relative;
				
				.el-radio__label {
					display: flex;
					align-items: center;
					justify-content: flex-start;
				}
			}
		}
	}
	
	.larajs-flex-col {
		display: flex;
		flex-direction: column;
	}
	
	.larajs-file-format {
		position: absolute;
		bottom: -25px;
		left: 0;
	}
	
	.larajs-color-black-light {
		color: #000000cf !important;
	}
	
	.p-1 {
		padding: 1rem;
	}
	
	.el-message {
		z-index: 9999 !important;
	}
	
	textarea {
		resize: vertical;
	}
	
	.el-radio__label {
		a {
			white-space: normal;
			word-break: break-all;
		}
	}
	
	.white-break {
		white-space: normal;
		word-break: break-all;
	}
	
	@media screen and (max-width: 767px) {
		.larajs-upload-online {
			padding: 0;
			margin: 0;
			
			.el-radio-group {
				margin: 0;
				
				.col-sm-12 {
					padding: 0;
					margin: 0;
				}
			}
		}
		.larajs-upload-file {
			padding: 0;
			margin: 0;
			
			.el-radio-group {
				margin: 0;
				
				.col-sm-12 {
					padding: 0;
					margin: 0;
				}
			}
		}
		.el-dialog {
			width: 100vw;
		}
	}
</style>
<style lang="scss" scoped>
	.btn-primary {
		color: #fff;
		background-color: #d70000;
		border-color: #d70000;
	}
</style>
<!--tanmnt - end-->