<template>
  <div>
    <template v-if="screen1">@include('frontend._partials.loginForm')
      <div class="ot-login-box modified">
        <div class="text-right">
          <a
            href="javascript:void(0)"
            @click.prevent="loadRegister()"
            class="link"
          >Đăng ký thành viên</a>
        </div>
      </div>
    </template>
    <template v-else-if="screen2">@include('frontend._partials.registerForm')
      <div class="ot-login-box modified">
        <div class="text-right">
          <a href="javascript:void(0)" @click.prevent="loadLogin()" class="link">Đăng nhập</a>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="ot-step-by-step">
        <div
          class="ot-step-item"
          :class="{active: flagShow == '1'}"
          @click="reviewStep('1')"
        >① Thông tin cơ bản</div>
        <div
          class="ot-step-item"
          :class="{active: flagShow == '2'}"
          @click="reviewStep('2')"
        >② Học vấn</div>
        <div
          class="ot-step-item"
          :class="{active: flagShow == '3'}"
          @click="reviewStep('3')"
        >③ Ngoại ngữ</div>
        <div
          class="ot-step-item"
          :class="{active: flagShow == '4'}"
          @click="reviewStep('4')"
        >④ Lịch sử công việc</div>
        <div
          class="ot-step-item"
          :class="{active: flagShow == '5'}"
          @click="reviewStep('5')"
        >⑤ Tìm công việc</div>
        <div
          class="ot-step-item"
          :class="{active: flagShow == '6'}"
          @click="reviewStep('6')"
        >⑥ Tự giới thiệu</div>
        <div
          class="ot-step-finish"
          :class="{active: flagShow == '7'}"
          @click="reviewStep('7')"
        >⑦ Xuất file PDF</div>
      </div>
      <cv-basic-component v-if="flagShow == '1'" :itemcv="itemcv"></cv-basic-component>
      <cv-education-component v-if="flagShow == '2'" :itemcv="itemcv"></cv-education-component>
      <cv-language-component v-if="flagShow == '3'" :itemcv="itemcv"></cv-language-component>
      <cv-history-component v-if="flagShow == '4'" :itemcv="itemcv"></cv-history-component>
      <cv-work-component v-if="flagShow == '5'" :itemcv="itemcv"></cv-work-component>
      <cv-intro-component v-if="flagShow == '6'" :itemcv="itemcv"></cv-intro-component>
    </template>
  </div>
</template>
<script>
export default {
  props: {
    step: {
      required: true
    },
    cvmember: {
      required: true
    },
    user: {}
  },
  data: function() {
    return {
      flagShow: "1",
      itemcv: [],
      screen1: false,
      screen2: false,
      screen3: false
    };
  },
  created() {
    if (this.user == null) {
      this.screen1 = true;
      return false;
    }
    this.flagShow = this.step;
    this.itemcv = this.cvmember;
    this.screen3 = true;
  },
  mounted() {},
  methods: {
    reviewStep: function(id) {
      this.flagShow = id;
    },
    loadLogin: function() {
      this.screen2 = false;
      this.screen1 = true;
    },
    loadRegister: function() {
      this.screen2 = true;
      this.screen1 = false;
    }
  }
};
</script>
