@color_1: red;
@color_2: #fff;
@background_color_1: #e70012;
@background_color_2: #0d8ddb;
@background_color_3: #e70012;
@border_left_color_1: #0d8ddb;

.ot-loading {
  position: fixed;
  top: 30%;
  right: 0;
  left: 0;
  z-index: 1000;
}
.ot-br-sp {
  display: none;
}
.red-color {
  color: @color_1;
}
.red-bg {
  background-color: @background_color_3;
  color: #ffffff;
}

.facebook-login-button {
  text-align: center;
  margin: 20px;
}
.ot-step-by-step {
  text-align: center;
  margin: 12px;
  .ot-step-item {
    position: relative;
    display: inline-block;
    background-color: @background_color_1;
    min-width: 132px;
    height: 42px;
    padding: 12px 8px;
    margin-right: 24px;
    vertical-align: middle;
    color: @color_2;
    &::after {
      content: "";
      right: -21px;
      top: 0;
      bottom: 0;
      position: absolute;
      border-left: 21px solid #cdcdcd;
      border-top: 21px solid transparent;
      border-bottom: 21px solid transparent;
    }
  }
  .ot-step-item.active {
    background-color: @background_color_2;
    &::after {
      border-left-color: @border_left_color_1;
    }
  }
  .ot-step-finish {
    position: relative;
    display: inline-block;
    background-color: @background_color_1;
    min-width: 132px;
    height: 42px;
    padding: 12px 8px;
    margin-right: 24px;
    vertical-align: middle;
    color: @color_2;
    &::after {
      content: "";
      right: -21px;
      top: 0;
      bottom: 0;
      position: absolute;
    }
  }
  .ot-step-finish.active {
    background-color: @background_color_2;
    &::after {
      border-left-color: @border_left_color_1;
    }
  }
}
.middle-box-register {
  max-width: 500px;
  z-index: 100;
  margin: 0 auto;
}
.min-50 {
  min-width: 50px;
}
.min-100 {
  min-width: 100px;
}
.min-150 {
  min-width: 150px;
}
.min-200 {
  min-width: 200px;
}
.min-250 {
  min-width: 250px;
}
.min-300 {
  min-width: 300px;
}
.min-350 {
  min-width: 350px;
}
.min-400 {
  min-width: 400px;
}
.min-450 {
  min-width: 450px;
}
.min-500 {
  min-width: 500px;
}
.navbar-toggle {
  background-color: @background_color_3;
  color: @color_2;
  padding: 6px 12px;
  font-size: 14px;
  margin: 8px 10px;
}
@media screen and (min-width: 1023px) {
  .hidden-pc {
		display: none!important;
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hidden-tb {
		display: none!important;
	}
}
@media screen and (max-width: 767px) {
  .middle-box-register {
    max-width: 400px;
  }
  .ot-step-by-step {
    .ot-step-finish {
      margin-right: 0;
    }
  }
  /* hungnv@onetech.vn BEGIN */
	.navbar-header {
    z-index: 1;
    right: 0;
    .minimalize-styl-2 {
      margin: 10px 5px;
    }
	}
	.navbar-top-links {
		.logo-sp {
			width: 82px;
			padding: 4px 0 2px;
		}
		.logout {
			float: right;
      padding-right: 48px;
      a {
        padding: 16px;
      }
		}
  }
  .hidden-sp {
		display: none!important;
	}
	/* hungnv@onetech.vn END */
}
@media screen and (min-width: 481px) and (max-width: 640px) {
  .ot-step-by-step {
    .ot-step-item {
      min-width: 100px;
      margin-right: 18px;
      &::after {
        right: -16px;
        border-left: 16px solid #cdcdcd;
        border-top: 21px solid transparent;
        border-bottom: 21px solid transparent;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .ot-br-sp {
    display: block;
    clear: both;
  }
  .ot-step-by-step {
    .ot-step-item {
      margin-bottom: 4px;
    }
    .ot-step-item.first {
      float: left;
    }
    .ot-step-item.last {
      float: right;
    }
  }
}
