@color_1: blue;
@color_2: green;
@color_3: #e70012;
@color_4: #FFFFFF;
@color_5: #ddd;
@color_6: #337ab7;
@color_7: white;
@color_8: dodgerblue;
@color_9: red;
@color_10: #a94442;
@color_11: #fff;
@color_12: #e70012;
@color_13: #d9534f;
@color_14: #e70012;
@color_15: #494949;
@color_16: orange;
@font_family_1: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, sans-serif, arial, verdana, Helvetica, Verdana, "Droid Sans", Arial;
@background_color_1: #e70012;
@background_color_2: whitesmoke;
@background_color_3: #f2dede;
@background_color_4: #ed5565;
@background_color_5: #9696e9;
@background_color_6: #ddd;
@background_color_7: #e70012;
@background_color_8: #ededed;
@background_color_9: #637484;
@background_color_10: #fff;
@background_color_11: #ce1126;
@border_color_1: #ebccd1;
@border_color_2: #e74751;
@border_top_color_1: #ccc;
@charset "utf-8";
body {
  font-family: @font_family_1;
}

.nav {
  .top-active {
	border-bottom: 3px solid #19aa8d;
  }
  
  > li {
	> a {
	  padding: 10px 15px;
	  font-weight: 500;
	}
  }
  
  > li.active {
	border-left: 4px solid #61a5e2;
  }
}

.dropdown-submenu {
  position: relative;
  
  .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -1px;
  }
}

.icon-arrow-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
}

.btn-group-justified {
  > .btn-group {
	&:nth-of-type(even) {
	  width: .15%;
	}
  }
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  li {
	span {
	  position: absolute;
	  margin-left: -1.3em;
	}
  }
}

#sortable-component {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  li {
	span {
	  position: absolute;
	  margin-left: -1.3em;
	}
  }
}

.non-form-control {
  padding-top: 9px;
}

.preview-inside {
  padding: 0px;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 12px;
}

.text-after-history {
  color: @color_1;
}

.text-before-history {
  color: @color_2;
}

.login-bg {
  background-color: #d2d6de !important;
  
  .ot-table {
	height: 100%;
  }
}

.login-form {
  padding: 10px;
  background: #fff;
}

.sp-breadcrumb {
  padding: 6px 0;
}

.wrapper-content {
  padding: 5px 0px 50px 0px;
  margin-left: -10px;
  margin-right: -10px;
}

.ibox-content {
  padding: 5px 10px;
}

.col-lg-12 {
  .table-responsive {
	margin-top: 5px;
  }
}

.breadcrumb {
  > li {
	& + li {
	  &:before {
		content: ">";
	  }
	}
  }
}

.nav-second-level {
  li {
	a {
	  padding-left: 25px;
	}
  }
}

nav.navbar-static-top {
  .dropdown {
	.dropdown-alerts {
	  .slimScrollDiv {
		height: 300px !important;
		
		.scroll_content {
		  height: 300px !important;
		}
	  }
	  
	  .no-content {
		padding-top: 20%;
		
		img {
		  margin: 0 auto;
		  opacity: 0.5;
		}
	  }
	}
  }
}

.count-info {
  .label {
	right: 6px;
	top: 4px;
  }
}

h2 {
  font-size: 20px;
  color: @color_3;
  margin: 0 0 5px 0;
}

a.transparent {
  background: transparent !important;
  
  &:hover {
	background: transparent !important;
  }
  
  &:focus {
	background: transparent !important;
  }
}

.none-float {
  float: none;
  margin: 0 auto;
}

.valign-top {
  vertical-align: top !important;
}

.valign-middle {
  vertical-align: middle !important;
}

.text-confirm {
  padding-top: 7px;
  word-break: break-word;
}

.title {
  font-weight: bold;
}

.fa.fa-larger {
  &:before {
	font-size: 1.6em;
	padding-right: 2px;
	vertical-align: sub;
  }
}

span.icon-need {
  background: #ff7373;
  padding: 5px 5px;
  margin-left: 4px;
  color: @color_4;
  border-radius: 2px;
  font-weight: normal;
}

.form-control {
  border-radius: 3px;
  
  &:focus {
	border-color: @border_color_2;
  }
}

.pagination {
  margin: 0 0 5px 0;
}

.page-size {
  margin: 5px 0 10px 0;
}

.sort-icon {
  position: absolute;
  top: 50%;
  right: 4px;
  margin-top: -10px;
  margin-left: 10px;
  vertical-align: inherit;
  
  a {
	display: block;
	max-height: 6px;
	color: @color_5;
	
	.fa {
	  &::before {
		font-size: 1.2em;
	  }
	}
  }
  
  a.active {
	color: @color_6;
  }
}

.m-b-5 {
  margin-bottom: 5px;
}

.p-l-0 {
  padding-left: 0;
}

.p-l-15 {
  padding-left: 15px !important;
}

.p-r-0 {
  padding-right: 0;
}

.view {
  margin-top: 15px;
}

.action-list {
  margin-top: -5px;
  position: relative;
}

.label {
  font-weight: 500;
}

.minimalize-styl-2 {
  margin: 10px 5px 0px 20px;
}

.ibox {
  clear: both;
  margin-bottom: 5px;
  margin-top: 0;
  padding: 0;
}

.ibox-custom {
  border: 1px solid #ddd;
  padding: 0 5px 5px 5px;
  
  .ibox-title {
	border: none;
	padding: 10px 10px 7px;
	min-height: 30px;
  }
  
  .ibox-content {
	border: none;
  }
}

.table {
  > thead {
	> tr {
	  > th {
		line-height: 1;
		padding: 8px;
		vertical-align: middle;
		position: relative;
		padding: 8px 16px;
	  }
	  
	  > td {
		line-height: 1;
		padding: 8px;
		vertical-align: middle;
	  }
	}
  }
  
  > tbody {
	> tr {
	  > th {
		line-height: 1;
		padding: 8px;
		vertical-align: middle;
	  }
	  
	  > td {
		line-height: 1;
		padding: 8px;
		vertical-align: middle;
	  }
	}
  }
  
  > tfoot {
	> tr {
	  > th {
		line-height: 1;
		padding: 8px;
		vertical-align: middle;
	  }
	  
	  > td {
		line-height: 1;
		padding: 8px;
		vertical-align: middle;
	  }
	}
  }
  
  > thead.thead {
	> tr {
	  > th {
		text-align: center;
	  }
	}
  }
}

input[type=checkbox] {
  margin: 0;
  line-height: normal;
}

input[type=radio] {
  margin: 0;
  line-height: normal;
}

.show-view {
  width: 450px;
  margin: auto;
}

.space {
  height: 150px;
}

.google-map {
  height: 400px;
}

.map-btn {
  padding: 4px 12px;
}

.marker-info {
  .control-label {
	text-align: left;
  }
  
  .input-sm {
	display: inline-block;
	width: 25%;
  }
  
  .zoom {
	width: 10%;
  }
}

.custom-navigation {
  margin-bottom: -15px;
}

.f-left {
  float: left;
}

.dropzone-custom {
  border: 1px solid #ddd !important;
  border-radius: 2px;
  text-align: center;
  
  .dz-message {
	margin: 0 !important;
	
	img {
	  min-height: 110px;
	}
  }
}

.dropzone-btn {
  background-color: @background_color_1 !important;
  max-height: 30px;
  min-height: 30px !important;
  min-width: 120px;
  padding: 5px 10px !important;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 3px;
  color: @color_7;
  border: none !important;
  vertical-align: middle;
  
  .dz-message {
	margin: 0 !important;
	font-size: 1em !important;
	display: block !important;
  }
}

.w-rate-7 {
  width: 7%;
}

.img-close-item {
  position: relative;
  border: 2px solid #ddd;
  margin: 10px;
  
  .close {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	background: white;
	padding: 0 4px;
  }
}

.button-edit {
  padding-top: 10px;
  bottom: 0px;
  text-align: right;
  font-size: 17px;
}

.fa.fa-edit.edit-button {
  color: @color_8;
}

.custom-scrollbar {
  height: 300px;
  border: 2px solid darkgrey;
  overflow-y: scroll;
  background-color: @background_color_2;
}

.color-red {
  color: @color_9;
}

.color-blue {
  color: @color_1;
}

.color-green {
  color: @color_2;
}

.middle-chart {
  font-size: 18px;
  font-weight: bold;
}

.errors {
  border: 1px solid transparent;
  border-radius: 4px;
  color: @color_10;
  padding: 15px;
  background-color: @background_color_3;
  border-color: @border_color_1;
  margin-bottom: 20px;
}

.ui-widget.ui-widget-content {
  border: 2px solid #ddd;
}

.logo {
  max-width: 150px;
  margin: 10px 0;
}

.img-preview {
  position: relative;
  margin-bottom: 10px;
  width: 240px;
  height: 160px;
  border: 1px solid #ddd;
  border-radius: 4px;
  
  img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 4px;
	max-width: 100%;
	max-height: 100%;
  }
}

.audio-preview {
  display: block;
  padding-top: 6px;
  margin-bottom: 10px;
}

.media-action {
  display: block;
  width: 240px;
  text-align: right;
  
  .delete-btn {
	color: @color_7;
	padding: 2px 4px;
	border-radius: 4px;
	background-color: @background_color_4;
  }
}

.movie-delete {
  color: @color_7;
  padding: 2px 4px;
  border-radius: 4px;
  background-color: @background_color_4;
}

.character-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.date-group {
  .span-text {
	float: left;
	font-size: 1.4em;
  }
}

.sweet-alert {
  top: 30%;
}

.btn-detail {
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-weight: bold;
  
  &:hover {
	background-color: @background_color_5;
	color: @color_11;
  }
}

.btn-detail.disabled {
  background-color: @background_color_6;
}

.detail-btn-group {
  a {
	margin: 0 5px;
  }
}

select {
  min-width: 150px;
}

.bottom-logo {
  display: block;
  margin: 0 auto;
  width: 40%;
}

.ot-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ot-hard-mb-8 {
  margin-bottom: 8px !important;
}

.btn-primary {
  background-color: @background_color_7;
  border-color: @border_color_2;
  
  &:hover {
	background-color: @background_color_7;
	border-color: @border_color_2;
	color: @color_11;
  }
  
  &:focus {
	background-color: @background_color_7;
	border-color: @border_color_2;
	color: @color_11;
  }
  
  &:active {
	background-color: @background_color_7;
	border-color: @border_color_2;
	color: @color_11;
	background-image: none;
	
	&:focus {
	  background-color: @background_color_7;
	  border-color: @border_color_2;
	  color: @color_11;
	}
	
	&:hover {
	  background-color: @background_color_7;
	  border-color: @border_color_2;
	  color: @color_11;
	}
  }
}

.btn-primary.btn-outline {
  &:hover {
	color: @color_11;
  }
}

.btn-primary.active {
  background-color: @background_color_7;
  border-color: @border_color_2;
  color: @color_11;
  background-image: none;
  
  &:hover {
	background-color: @background_color_7;
	border-color: @border_color_2;
	color: @color_11;
  }
  
  &:focus {
	background-color: @background_color_7;
	border-color: @border_color_2;
	color: @color_11;
  }
}

//start
.btn-info {
  background-color: @background_color_7;
  border-color: @border_color_2;
  
  &:hover {
	background-color: @background_color_7;
	border-color: @border_color_2;
	color: @color_11;
  }
  
  &:focus {
	background-color: @background_color_7;
	border-color: @border_color_2;
	color: @color_11;
  }
  
  &:active {
	background-color: @background_color_7;
	border-color: @border_color_2;
	color: @color_11;
	background-image: none;
	
	&:focus {
	  background-color: @background_color_7;
	  border-color: @border_color_2;
	  color: @color_11;
	}
	
	&:hover {
	  background-color: @background_color_7;
	  border-color: @border_color_2;
	  color: @color_11;
	}
  }
}

.btn-info.btn-outline {
  &:hover {
	color: @color_11;
  }
}

.btn-info.active {
  background-color: @background_color_7;
  border-color: @border_color_2;
  color: @color_11;
  background-image: none;
  
  &:hover {
	background-color: @background_color_7;
	border-color: @border_color_2;
	color: @color_11;
  }
  
  &:focus {
	background-color: @background_color_7;
	border-color: @border_color_2;
	color: @color_11;
  }
}

//end

.open {
  .dropdown-toggle.btn-primary {
	background-color: @background_color_7;
	border-color: @border_color_2;
	color: @color_11;
	background-image: none;
  }
}

.btn-primary.disabled {
  background-color: @background_color_7;
  border-color: @border_color_2;
  
  &:hover {
	background-color: @background_color_7;
	border-color: @border_color_2;
  }
  
  &:focus {
	background-color: @background_color_7;
	border-color: @border_color_2;
  }
  
  &:active {
	background-color: @background_color_7;
	border-color: @border_color_2;
  }
}

.btn-primary.disabled.active {
  background-color: @background_color_7;
  border-color: @border_color_2;
}

.btn-primary[disabled] {
  background-color: @background_color_7;
  border-color: @border_color_2;
  
  &:hover {
	background-color: @background_color_7;
	border-color: @border_color_2;
  }
  
  &:focus {
	background-color: @background_color_7;
	border-color: @border_color_2;
  }
  
  &:active {
	background-color: @background_color_7;
	border-color: @border_color_2;
  }
}

.btn-primary.active[disabled] {
  background-color: @background_color_7;
  border-color: @border_color_2;
}

fieldset[disabled] {
  .btn-primary {
	background-color: @background_color_7;
	border-color: @border_color_2;
	
	&:hover {
	  background-color: @background_color_7;
	  border-color: @border_color_2;
	}
	
	&:focus {
	  background-color: @background_color_7;
	  border-color: @border_color_2;
	}
	
	&:active {
	  background-color: @background_color_7;
	  border-color: @border_color_2;
	}
  }
  
  .btn-primary.active {
	background-color: @background_color_7;
	border-color: @border_color_2;
  }
}

body.mini-navbar {
  .navbar-static-side {
	width: 54px;
  }
  
  #page-wrapper {
	margin: 0 0 0 54px;
  }
}

.navbar-header {
  position: absolute;
}

.tabs-container {
  .nav-tabs {
	> li.active {
	  > a {
		border: 1px solid #61a5e2;
	  }
	}
  }
}

.nav-tabs {
  > li {
	> a {
	  border-radius: 8px 8px 0 0;
	}
  }
}

.ot-nav {
  > li {
	border-radius: 4px 4px 0 0;
	
	> a {
	  background-color: @background_color_8 !important;
	}
  }
  
  > li.active {
	border-left: none;
	
	> a {
	  background-color: @background_color_7 !important;
	  color: @color_11;
	}
  }
}

.single-line {
  &:focus {
	border-color: @border_color_2;
  }
}

[class*="ot-btn-"].btn {
  margin-bottom: 0;
}

.modal-content {
  .ot-close {
	position: absolute;
	font-weight: bold;
	right: 0;
	top: -24px;
	color: @color_11;
	line-height: 1;
	opacity: 1;
	
	&:hover {
	  opacity: .75;
	}
	
	&:focus {
	  opacity: .75;
	}
  }
}

.modal-header.ot-table {
  table-layout: auto;
  padding: 2px;
  background-color: @background_color_7;
  color: @color_11;
}

.modal-body.ot-table {
  table-layout: auto;
}

.modal-body {
  padding: 0px;
  
  .ot-table {
	.ot-table-cell {
	  border-right: 1px solid #ccc;
	  border-bottom: 1px solid #ccc;
	  
	  &:last-child {
		border-right: none;
	  }
	}
	
	&:last-child {
	  .ot-table-cell {
		border-bottom: none;
	  }
	}
  }
}

.modal-body.ot-manual-content-list {
  max-height: 324px;
  overflow-y: auto;
}

.modal-footer {
  padding: 0 8px;
  border-top-color: @border_top_color_1;
}

.ot-manual-popup-header-number {
  width: 84px;
  text-align: center;
  background-color: @background_color_9;
  
  .block {
	display: block;
	text-align: center;
  }
}

.ot-manual-popup-header-image {
  width: 72px;
}

.ot-manual-popup-header-title {
  font-size: 18px;
  word-break: break-word;
}

.ot-manual-popup-number {
  width: 48px;
  font-size: 18px;
  font-weight: bold;
  color: @color_11;
  background-color: @background_color_9;
  text-align: center;
}

.ot-manual-popup-description {
  padding-left: 6px;
  padding-right: 6px;
  word-break: break-word;
}

.ot-manual-popup-img {
  width: 64px;
}

.ot-manual-popup-edit {
  width: 42px;
  text-align: center;
  
  [class*="fa-"] {
	font-size: 20px !important;
	color: @color_12;
  }
}

.ot-manual-popup-del {
  width: 42px;
  text-align: center;
  
  [class*="fa-"] {
	font-size: 20px !important;
	color: @color_13;
  }
}

.ot-manual-popup-view {
  width: 42px;
  text-align: center;
  
  [class*="fa-"] {
	font-size: 20px !important;
	color: @color_14;
  }
}

.bootbox-confirm {
  .close {
	color: @color_7;
	position: absolute;
	font-weight: bold;
	right: 0;
	top: -24px;
	margin-top: 0 !important;
	line-height: 1;
	opacity: 1;
	
	&:hover {
	  color: @color_15;
	  text-decoration: none;
	  cursor: pointer;
	}
	
	&:focus {
	  color: @color_15;
	  text-decoration: none;
	  cursor: pointer;
	}
  }
}

.bootbox {
  .modal-body {
	padding: 12px;
  }
  
  .modal-footer {
	padding: 12px;
  }
  
  .ot-title-icons {
	color: @color_16;
	font-size: 24px;
	vertical-align: middle;
  }
}

.bootbox.ot-width-480 {
  .modal-dialog {
	width: 480px;
  }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/img/loader.gif') center no-repeat;
  background-size: 64px;
}

video {
  &::-webkit-media-controls-fullscreen-button {
	display: none;
  }
}

.text-center {
  .img-responsive {
	display: inline-block;
  }
}

.ot-no-display {
  z-index: -1;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: none;
}

.ot-thumbnail-box {
  display: inline-table;
  vertical-align: middle;
  
  .ot-thumbnail-item {
	display: table-cell;
	vertical-align: middle;
	width: 64px;
	height: 64px;
	border-radius: 2px;
	border: 1px solid #cdcdcd;
  }
}

.modal {
  .ot-staff-table {
	td {
	  padding: 4px;
	}
  }
}

.ibox-title {
  padding: 8px 8px 5px;
  min-height: 5px;
}

.header-language {
  [class*="ot-lang-"] {
	display: inline-block;
	width: 24px;
	height: 16px;
	background: url('/frontend/img/icon/i_top_sprites.png') no-repeat;
  }
  
  .ot-lang-jp {
	background-color: @background_color_10;
	background-size: 236%;
	background-position: -7px -422px;
	border: 1px solid #ededed;
  }
  
  .ot-lang-vn {
	background-color: @background_color_11;
	background-size: 236%;
	background-position: -7px -44px;
  }
  
  .ot-lang-en {
	background-size: 236%;
	background-position: -7px -19px;
  }
}

.middle-box {
  &.loginscreen {
	position: absolute;
	top: 50%;
	left: 50%;
	padding-top: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  
  .alert {
	padding: 16px 0px;
  }
}

@media (min-width: 768px) {
  #page-wrapper {
	position: inherit;
	margin: 0 0 0 200px;
	min-height: 1200px;
  }
  
  .navbar-static-side {
	z-index: 2001;
	position: absolute;
	width: 200px;
  }
  
  .navbar-top-links {
	.dropdown-messages {
	  margin-left: auto;
	}
	
	.dropdown-tasks {
	  margin-left: auto;
	}
	
	.dropdown-alerts {
	  margin-left: auto;
	}
  }
}

@media screen and (max-width: 480px) {
  .bootbox.ot-width-480 {
	.modal-dialog {
	  width: 300px;
	  margin-left: auto;
	  margin-right: auto;
	}
  }
  
  .middle-box {
	&.loginscreen {
	  width: auto;
	}
  }
}

.text-limit-row-1 {
  display: -webkit-box;
  max-height: 1.4em;
  width: 250px;
  line-height: 1.4;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Tooltip container */
.tooltip02 {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip02 .tooltiptext {
  visibility: hidden;
  max-width: 320px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip02:hover .tooltiptext {
  visibility: visible;
}