<template>
	<div class="croppie-box">
		<div class="ot-table content-wrap">
			<!-- Note that 'ref' is important here (value can be anything). read the description about `ref` below. -->
			<div
					class="ot-table-cell left"
					@dragenter="demoDrag"
					@dragleave="demoDrag"
					@drop="demoDrag"
					@dragover="demoDrag"
			>
				<vue-croppie
						ref="croppieRef"
						:enableOrientation="true"
						:mouseWheelZoom="true"
						:enableResize="false"
						:viewport="{ width: 132, height: 170}"
						:boundary="{ width: 372, height: 224}"
						@result="result"
						@update="update"
				></vue-croppie>
				<div class="button-wrap">
					<input
							type="file"
							v-on:change="onImageChange"
							class="js-file-input os-no-display form-control input-sm width-400"
							accept="image/x-png, image/jpeg"
					>
					<!-- Rotate angle is Number -->
					<button @click="rotate(-90)" class="btn btn-success btn-sm">
						<span class="fa fa-rotate-left"></span>
					</button>
					<button @click="rotate(90)" class="btn btn-success btn-sm">
						<span class="fa fa-rotate-right"></span>
					</button>
				</div>
				<p class="red-color">
					Nếu ảnh của bạn có dung lượng trên 5MB,
					<br>vui lòng
					<a href="https://compressor.io/compress">bấm vào đây</a> để giảm dung lượng ảnh
				</p>
			</div>
			<!-- the result -->
			<div class="ot-table-cell right text-center">
				<img v-bind:src="cropped">
				<div>
					<button @click="openInput()" v-text="buttonBrowser" class="btn btn-success btn-sm"></button>
					<span>|</span>
					<button @click="deleteImage()" class="btn btn-danger btn-sm">Xoá ảnh</button>
				</div>
				<!-- <button @click="cropPreview()" class="btn btn-info btn-sm">Xem thử</button> -->
				<button @click="crop()" class="btn btn-warning">Hoàn thành</button>
				<!-- <button @click="cropViaEvent()">Crop Via Event</button> -->
				<a @click="closeNotSave()" href="javascript:void(0)">Đóng lại (Không lưu)</a>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				croppedDefault: "/uploads/icons/i-avatar-default2.jpg",
				cropped: "/uploads/icons/i-avatar-default2.jpg",
				buttonBrowserDefault: "Tải ảnh",
				buttonBrowser: "Tải ảnh",
				validImageTypes: ["image/jpeg", "image/png"],
				images: ""
			};
		},
		mounted() {
			// Upon mounting of the component, we accessed the .bind({...})
			// function to put an initial image on the canvas.
			this.$refs.croppieRef.bind({
				url: "/uploads/icons/i-avatar-default2.jpg",
			});
		},
		methods: {
			bind() {
				// Randomize cat photos, nothing special here.
				// Math.floor(Math.random() * 4);
				let url = this.images;
				
				// Just like what we did with .bind({...}) on
				// the mounted() function above.
				this.$refs.croppieRef.bind({
					url: url
				});
			},
			// CALBACK USAGE
			cropPreview() {
				// Here we are getting the result via callback function
				// and set the result to this.cropped which is being
				// used to display the result above.
				let options = {
					type: "base64", //base64, html, blob, rawcanvas
					size: "original", //original , viewport, {width, height}
					format: "jpeg", //jpeg, png, webp
					quality: 1,
					circle: false
				};
				this.$refs.croppieRef.result(options, output => {
					this.cropped = output;
				});
			},
			crop() {
				// Here we are getting the result via callback function
				// and set the result to this.cropped which is being
				// used to display the result above.
				let options = {
					type: "base64", //base64, html, blob, rawcanvas
					size: "original", //original , viewport, {width, height}
					format: "jpeg", //jpeg, png, webp
					quality: 1,
					circle: false
				};
				if (this.cropped != this.croppedDefault) {
					this.$refs.croppieRef.result(options, output => {
						this.cropped = output;
						this.$emit("clicked", this.cropped);
					});
				} else {
					this.$emit("clicked", "");
				}
			},
			// EVENT USAGE
			cropViaEvent() {
				let options = {
					type: "base64", //base64, html, blob, rawcanvas
					size: "original", //original , viewport, {width, height}
					format: "jpeg", //jpeg, png, webp
					quality: 1,
					circle: false
				};
				this.$refs.croppieRef.result(options);
			},
			result(output) {
				this.cropped = output;
			},
			update(val) {
				this.buttonBrowser = this.buttonBrowserDefault;
				if (typeof val.orientation == "undefined") {
					// PASS
				} else {
					this.cropPreview()
				}
			},
			rotate(rotationAngle) {
				// Rotates the image
				this.$refs.croppieRef.rotate(rotationAngle);
			},
			onImageChange(e) {
				let input = e.target || e.dataTransfer;
				let files = e.target.files || e.dataTransfer.files;
				
				if (!files.length) return false;
				if ($.inArray(input.files[0]["type"], this.validImageTypes) >= 0) {
					var imageRender = this.readAsDataURL(input);
					imageRender.then(values => {
						this.images = values[0];
						this.bind();
					});
				} else {
					return false;
				}
			},
			fileToDataURL(file) {
				var reader = new FileReader();
				return new Promise(function (resolve, reject) {
					reader.onload = function (event) {
						resolve(event.target.result);
					};
					reader.readAsDataURL(file);
				});
			},
			readAsDataURL(target) {
				var filesArray = Array.prototype.slice.call(target.files);
				return Promise.all(filesArray.map(this.fileToDataURL));
			},
			openInput() {
				$(".js-file-input").click();
			},
			demoDrag: function (e) {
				e.preventDefault();
				e.stopPropagation();
				let input = e.dataTransfer;
				let files = e.dataTransfer.files;
				
				if (files.length > 0) {
					if ($.inArray(files[0]["type"], this.validImageTypes) >= 0) {
						var imageRender = this.readAsDataURL(input);
						imageRender.then(values => {
							this.images = values[0];
							this.bind();
						});
					}
				}
			},
			deleteImage: function () {
				this.images = "";
				this.cropped = this.croppedDefault;
				this.$refs.croppieRef.refresh();
			},
			closeNotSave: function () {
				this.$emit("closed");
			}
		}
	};
</script>
