<!--tanmnt-->
<template>
	<div class="form-horizontal">
		<div class="ot-table-layout-compact ot-contact-table ot-clear-boxshadow">
			<div class="table-caption caption-top bg-info mb-5">Vui lòng mô tả kinh nghiệm làm việc của bạn: Công ty, dư án, vị trí và nội dung công việc mà bạn đã thực hiện.</div>
			<div :class="messageTitleClass()" v-html="message" v-if="message"></div>
		</div>
		<div class="cv-box-container">
			<div class="cv-box ot-apply-boxshadow">
				<div class="ot-table">
					<div class="ot-table-cell">
						<h2 class="cv-title">Project</h2>
					</div>
				</div>
				<template v-if="checkIT">
					<div class="js-projectworked content-wrap ot-group-hover" v-for="(item) in form" :key="'projectworked' + item.id"
					     v-bind:id="[item.id]">
						<div class="js-projectworked ot-table content-box middle-content-box projectworked-box">
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-title">Company name</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<div class="action-box">
										<a
												href="javascript:void(0)"
												@click="addBox(item.id)"
												class="js-action btn btn-sm btn-info"
										><i class="fa fa-plus-circle"></i></a>
										<a
												v-if="form.length > 1"
												href="javascript:void(0)"
												class="js-delete btn btn-sm btn-danger"
												@click.prevent="deleteBox(item.id)"
										><i class="fa fa-trash"></i></a>
									</div>
									<editable
											:content="item.company_name"
											placeholder="Ex: GrowUpWork"
											classes="projectworked-title"
											@update="item.company_name = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-title">Project name</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.project_name"
											placeholder="Ex: A website for pharmaceutical manufacturers"
											classes="projectworked-title"
											@update="item.project_name = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-time">Period / Scale</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.time"
											placeholder="Ex: 2018/01 ~ 2019/01 (12 months)"
											classes="projectworked-title pd-r-178"
											@update="item.time = $event"
									/>
									<div class="ot-table mini-flex">
										<div class="ot-table-cell ot-single-columb-box" style="display: flex;align-items: center;justify-content: center;">
											<div class="projectworked-member">Team</div>
										</div>

										<div class="ot-table-cell ot-single-columb-box" style="display: flex;align-items: center;justify-content: center;">
											<editable
													style="width: 100%;height: 100%;"
													:content="item.member"
													placeholder="Ex: 15 members"
													classes="projectworked-member"
													@update="item.member = $event"
											/>
										</div>
									</div>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-desciption">Project description</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.description"
											placeholder="Develop an AI application which support for clinic search, save, processing and manage metadata from camera and recording devices..."
											classes="projectworked-desciption"
											@update="item.description = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-framework">Development environment</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.framework"
											placeholder="Ex: Linux, Apache／Tomcat, Oracle, Java／PHP"
											classes="projectworked-framework"
											@update="item.framework = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-pm">Responsibility</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.pm"
											placeholder="
Working with offshore team to review technical and solve technical issues.
Implement the emulator for data ingestion library of camera.
Onsite on customer side to discuss and delivery project with customer."
											classes="projectworked-pm pd-r-178"
											@update="item.pm = $event"
									/>
									<div class="ot-table mini-flex">
										<div class="ot-table-cell ot-single-columb-box" style="display: flex;align-items: center;justify-content: center;">
											<div class="projectworked-role">Role</div>
										</div>
										<div class="ot-table-cell ot-single-columb-box" style="display: flex;align-items: center;justify-content: center;">
											<editable
													style="width: 100%;height: 100%;"
													:content="item.role"
													placeholder="Manager"
													classes="projectworked-role"
													@update="item.role = $event"
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</template>
				<template v-else>
					<div class="js-projectworked content-wrap ot-group-hover" v-for="(item) in form" :key="'projectworked' + item.id"
					     v-bind:id="[item.id]">
						<div class="ot-table content-box middle-content-box projectworked-box">
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-title">Company name</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<div class="action-box">
										<a
												href="javascript:void(0)"
												@click="addBox(item.id)"
												class="js-action btn btn-sm btn-info"
										><i class="fa fa-plus-circle"></i></a>
										<!-- <span v-if="form.length > 1">|</span> -->
										<a
												v-if="form.length > 1"
												href="javascript:void(0)"
												class="js-delete btn btn-sm btn-danger"
												@click.prevent="deleteBox(item.id)"
										><i class="fa fa-trash"></i></a>
									</div>
									<editable
											:content="item.company_name"
											placeholder="Ex: AEON Mall corporation"
											classes="projectworked-title"
											@update="item.company_name = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-title">Duty/anonymous</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.project_name"
											placeholder="Personnel Department"
											classes="projectworked-title"
											@update="item.project_name = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-time">Period and scale</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.time"
											placeholder="Ex: 2018/01 ~ 2019/01 (12 months)"
											classes="projectworked-title pd-r-178"
											@update="item.time = $event"
									/>
									<div class="ot-table mini-flex">
										<div class="ot-table-cell ot-single-columb-box" style="display: flex;align-items: center;justify-content: center;">
											<div class="projectworked-member">Team</div>
										</div>

										<div class="ot-table-cell ot-single-columb-box" style="display: flex;align-items: center;justify-content: center;">
											<editable
													style="width: 100%;height: 100%;"
													:content="item.member"
													placeholder="4 members"
													classes="projectworked-member"
													@update="item.member = $event"
											/>
										</div>
									</div>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-desciption">Project description</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.description"
											placeholder=""
											classes="projectworked-desciption"
											@update="item.description = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-framework">Skill</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.kill"
											placeholder=""
											classes="projectworked-framework"
											@update="item.kill = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-pm">Other</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.pm"
											placeholder=""
											classes="projectworked-pm"
											@update="item.pm = $event"
									/>
								</div>
							</div>
						</div>
					</div>
				</template>
			</div>
		</div>
	</div>
</template>
<script>
	import editable from '../_partials/editable'

	export default {
		props: {
			cv_unique: {}
		},
		components: {
			editable
		},
		data: function () {
			return {
				form: [
					{
						id: 1,
						type: "",
						company_name: "",
						project_name: "",
						time: "",
						member: "",
						description: "",
						kill: "",
						role: "",
						pm: "",
					}
				],
				type: '',
				flagSave: true, // true => success, false => error
				message: ""
			};
		},
		created() {
			if (this.cv_unique && this.cv_unique.work_history) {
				console.log(JSON.parse(this.cv_unique.work_history));
				
				this.form = this.__convertArray(JSON.parse(this.cv_unique.work_history));
				console.log(this.__convertArray(JSON.parse(this.cv_unique.work_history)));
			} else {
				this.form[0].type = this.checkIT ? 'it' : 'not_it';
			}
		},
		mounted() {

		},
		computed: {
			checkIT() {
				let IT = this.cv_unique ? JSON.parse(this.cv_unique.job_desired_categories) : [];
				let jobIT = ["2", "3", "4", "5", "6", "7", "8"];
				let thisGlobal = this;
				$.each(jobIT, function (index, value) {
					if (IT.indexOf(value) != -1) {
						thisGlobal.type = 'it';
					}
				});
				if (this.type != '') {
					return true;
				} else {
					this.type = 'not_it';
					return false;
				}
			},
		},
		methods: {
			createUUID() {
				var dt = new Date().getTime();
				var uuid = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
					/[xy]/g,
					function (c) {
						var r = (dt + Math.random() * 16) % 16 | 0;
						dt = Math.floor(dt / 16);
						return (c == "x" ? r : (r & 0x3) | 0x8).toString(16);
					}
				);
				return uuid;
			},
			messageTitleClass: function() {
				var mtClass = ["table-caption", "caption-top"];
				if (this.flagSave === false) {
					mtClass.push("alert-danger");
				} else {
					mtClass.push("bg-success");
				}
				return mtClass;
			},
			getIndexItemInArray: function (arrayInput, idInput) {
				let arrResult = {index: 0, flag: false};
				let index = 0;
				Object.keys(arrayInput).forEach(key => {
					if (
						(key === idInput || arrayInput[key].id === idInput) &&
						!arrResult.flag
					) {
						arrResult.flag = true;
						arrResult.index = index;
					} else {
						index += 1;
					}
				});
				return arrResult.index;
			},
			addBox: function (idItem) {
				let idString = this.createUUID();
				let index = this.getIndexItemInArray(this.form, idItem);
				let projectWorkedItem = {
					id: idString,
					type: this.type,
					company_name: "",
					project_name: "",
					time: "",
					member: "",
					description: "",
					framework: "",
					role: "",
					pm: "",
				};

				this.form.splice(index + 1, 0, projectWorkedItem);
			},
			deleteBox: function (id) {
				let index = this.form.findIndex(value => {
					return value.id == id;
				});

				this.form.splice(index, 1);
			},
			checkLength: function (evt) {
				let keycode = evt.charCode || evt.keyCode;
				let controls = evt.target;
				if ($(evt.target).text().length > $(controls).attr("maxlength") - 1) {
					evt.preventDefault();
					return false;
				}
				return true;
			},
			__convertArray(obj) {
				let arrResult = [];
				Object.keys(obj).forEach(key => {
					let itemResult = {};
					let keyStore = key;
					Object.keys(obj[key]).forEach(keyChild => {
						itemResult[keyChild] = obj[keyStore][keyChild];
					});
					itemResult["id"] = keyStore;
					arrResult.push(itemResult);
				});
				return arrResult;
			},
			submitForm() {
				this.flagSave = true;
				this.message = "";
				console.log('this.form');
				console.log(this.form);
				return new Promise((resolve, reject) => {
					this.$axios.post('/member/member-cv/work-history/store', this.form)
						.then(res => {
							this.flagSave = true;
							this.message = res.data.message;
							resolve();
						})
						.catch(err => {
							this.flagSave = false;
							this.message = err.response.data.message;
							reject(err);
						});
				})
			}
		}
	};
</script>
<style lang="scss" scoped>
	.pd-r-178 {
		padding-right: 178px !important;
	}
</style>
