<!--tanmnt-->
<template>
	<div class="tab-main ot-apply-boxshadow" style="padding: 15px;">
		<skill
			:itemcv="itemcv"
			:cv_unique="cv_unique"
			:it_skill_sheet_default="itskilldefault"
			:lang_cv_uniques="lang_cv_uniques"
			ref="skill"
		/>
		<div class="text-center">
			<button
					class="btn btn-primary btn-sm btn-has-icon"
					@click.prevent="submit"
					v-loading.fullscreen.lock="loading"
			><i class="fa fa-save"></i>Lưu lại
			</button>
		</div>
	</div>
</template>

<script>
	import Skill from "../modules-template-cv/skill";
	
	export default {
		props: ["itemcv", "cv_unique", "itskilldefault", "lang_cv_uniques"],
		components: { Skill },
		data() {
			return {
				loading: false,
				mounted: false,
				type: "",
				change: {
					skill_sheet: false
				},
				// check change tab
				count: {
					skill_sheet: 0
				},
			};
		},
		mounted() {
			// re-render computed
			if (this.$refs) {
				this.mounted = true;
			}
		},
		methods: {
			scrollToToppage(){
				$("html, body").animate({scrollTop: 0}, 300);
			},
			submit() {
				this.loading = true;
				this.$refs["skill"]
					.submitForm()
					.then(() => {
						this.loading = false;
					})
					.catch(() => {
						this.loading = false;
					});
				this.scrollToToppage();
			},
		},
		computed: {
			skillSheet() {
				if (!this.mounted || this.type != "it") {
					return false;
				}
				return this.$refs["skill"].form;
			}
		},
		watch: {
			skillSheet: {
				//check tab skillSheet change data
				handler(val) {
					if (this.count.skill_sheet > 0) {
						this.change.skill_sheet = true;
					}
					this.count.skill_sheet++;
				},
				deep: true
			}
		}
	};
</script>
