<!--tanmnt-->
<template>
	<div>
		<el-tabs v-model="tab" type="border-card" @tab-click="handleTab" class="tab-main">
			<el-tab-pane label="Basic info" name="CV">
				<english-default-cv :itemcv="itemcv" ref="cv"/>
			</el-tab-pane>
			<el-tab-pane v-if="checkIT" label="Skill sheet" name="skill_sheet">
				<english-skill
						:itemcv="itemcv"
						:cv_unique="cv_unique"
						:it_skill_sheet_default="itskilldefault"
						:lang_cv_uniques="lang_cv_uniques"
						ref="skill"
				/>
			</el-tab-pane>
			<el-tab-pane label="Work history" name="work_history">
				<english-project-worked :cv_unique="cv_unique" :lang_cv_uniques="lang_cv_uniques" ref="worked"/>
			</el-tab-pane>
			<el-row>
				<el-col :span="24" class="text-center">
					<button v-if="tab != 'CV'" class="btn btn-default btn-sm btn-has-icon" @click.prevent="previous"><i
							class="fa fa-chevron-left"></i>Trước
					</button>
					<button
							class="btn btn-primary btn-sm btn-has-icon"
							@click.prevent="submit"
							v-loading.fullscreen.lock="loading"
					><i class="fa fa-save"></i>Lưu lại
					</button>
					<a
							:href="'/cv/japan-default/download/' + itemcv.member_cv_id"
							class="btn btn-grey btn-sm btn-has-icon"
					><i class="fa fa-download"></i>Tải về</a>
					<button
							v-if="displayNextButton()"
					        class="btn btn-default btn-sm btn-has-icon"
					        @click.prevent="next">Sau<i class="fa fa-chevron-right"></i></button>
				</el-col>
			</el-row>
		</el-tabs>
	</div>
</template>

<script>
	import JapanDefaultCv from "../template-cv/japan-default-cv";
	import EnglishDefaultCv from "../template-cv/english-default-cv";
	import ProjectWorked from "../modules-template-cv/project-worked";
	import EnglishProjectWorked from "../modules-template-cv/english-project-worked";
	import Skill from "../modules-template-cv/skill";
	import EnglishSkill from "../modules-template-cv/english-skill";
	
	export default {
		props: ["itemcv", "cv_unique", "itskilldefault", "lang_cv_uniques"],
		components: {
			EnglishDefaultCv,
			JapanDefaultCv,
			EnglishProjectWorked,
			ProjectWorked,
			Skill,
			EnglishSkill
		},
		data() {
			return {
				tab: "CV",
				loading: false,
				mounted: false,
				type: "",
				change: {
					cv: false,
					work_history: false,
					skill_sheet: false
				},
				// check change tab
				count: {
					cv: 0,
					work_history: 0,
					skill_sheet: 0
				},
				// tab old
				tabOld: ""
			};
		},
		mounted() {
			// re-render computed
			if (this.$refs) {
				this.mounted = true;
			}
		},
		methods: {
			__resetChange() {
				this.count = {
					cv: 1,
					work_history: 1,
					skill_sheet: 1
				};
				
				this.change = {
					cv: false,
					work_history: false,
					skill_sheet: false
				};
			},
			scrollToToppage(){
				$("html, body").animate(
					{
						scrollTop: 0
					},
					300
				);
			},
			handleTab(tab, event) {
				if (
					this.change.cv ||
					this.change.work_history ||
					this.change.skill_sheet
				) {
					this.$confirm(
						"Bạn chưa lưu dữ liệu, bạn có muốn thay đổi?",
						"Cảnh báo",
						{
							confirmButtonText: "OK",
							cancelButtonText: "Huỷ",
							type: "warning"
						}
						)
						.then(() => {
							this.tab = tab.name;
							// reset count
							// reset change
							this.__resetChange();
						})
						.catch(() => {
							this.tab = this.tabOld;
						});
				}
			},
			submit() {
				this.loading = true;
				if (this.tab == "CV") {
					this.$refs["cv"]
						.submitForm()
						.then(() => {
							this.loading = false;
							this.__resetChange();
						})
						.catch(() => {
							this.loading = false;
						});
				} else if (this.tab == "work_history") {
					this.$refs["worked"]
						.submitForm()
						.then(() => {
							this.loading = false;
							this.__resetChange();
						})
						.catch(() => {
							this.loading = false;
						});
				} else if (this.tab == "skill_sheet") {
					this.$refs["skill"]
						.submitForm()
						.then(() => {
							this.loading = false;
							this.__resetChange();
						})
						.catch(() => {
							this.loading = false;
						});
				} else {
					this.loading = false;
					return false;
				}
				
				this.scrollToToppage();
			},
			previous() {
				if (this.tab == "skill_sheet") {
					this.tab = "work_history";
				} else if (this.tab == "work_history") {
					this.tab = "CV";
				} else {
					return false;
				}
				
				this.scrollToToppage();
			},
			next() {
				if (this.tab == "CV") {
					this.tab = "work_history";
				} else if (this.tab == "work_history") {
					this.tab = "skill_sheet";
				} else {
					return false;
				}
				
				this.scrollToToppage();
			},
			displayNextButton() {
				if(this.tab != "skill_sheet") {
					if(this.type == "it") {
						return true;
					} else if(this.tab != "work_history") {
						return true;
					}
				}
				return false;
			}
		},
		computed: {
			// check is IT
			checkIT() {
				let IT = this.cv_unique
					? JSON.parse(this.cv_unique.job_desired_categories)
					: [];
				let jobIT = ["2", "3", "4", "5", "6", "7", "8"];
				for (let item in jobIT) {
					if (IT.indexOf(jobIT[item]) != -1) {
						this.type = "it";
						return true;
					}
				}
				this.type = "not_it";
				return false;
			},
			worked() {
				if (!this.mounted) {
					return false;
				}
				return this.$refs["worked"].form;
			},
			cv() {
				if (!this.mounted) {
					return false;
				}
				return this.$refs["cv"].form;
			},
			skillSheet() {
				if (!this.mounted || this.type != "it") {
					return false;
				}
				return this.$refs["skill"].form;
			}
		},
		watch: {
			worked: {
				//check tab worked change data
				handler(val) {
					if (this.count.work_history > 0) {
						this.change.work_history = true;
					}
					this.count.work_history++;
				},
				deep: true
			},
			cv: {
				//check tab cv change data
				handler(val) {
					if (this.count.cv > 0) {
						this.change.cv = true;
					}
					this.count.cv++;
				},
				deep: true
			},
			skillSheet: {
				//check tab skillSheet change data
				handler(val) {
					if (this.count.skill_sheet > 0) {
						this.change.skill_sheet = true;
					}
					this.count.skill_sheet++;
				},
				deep: true
			},
			tab(val, oldVal) {
				// set tab old
				this.tabOld = oldVal;
			}
		}
	};
</script>

<style lang="scss">
	.el-tabs--border-card {
		.is-active {
			background: #e70012 !important;
			color: white !important;
		}
	}
	
	.tab-main {
		.el-tabs__nav {
			width: 100%;
			
			.el-tabs__item {
				background-color: #ededed;
			}
			
			#tab-work_history,
			#tab-skill_sheet {
				float: right;
				border-left: 2px solid #fff;
			}
			
			#tab-work_history {
				margin-right: 1px;
			}
		}
	}
	@media screen and (max-width: 360px) {
		.el-tabs__item {
			padding: 0 12px!important;
		}
	}
</style>
