<!--tanmnt-->
<template>
	<div class="form-horizontal">
		<div class="ot-table-layout-compact ot-contact-table ot-clear-boxshadow">
			<div class="table-caption caption-top bg-info mb-5">Vui lòng mô tả kinh nghiệm làm việc của bạn: Công ty, dư án, vị trí và nội dung công việc mà bạn đã thực hiện.</div>
			<div :class="messageTitleClass()" v-html="message" v-if="message"></div>
		</div>
		<div class="cv-box-container">
			<div class="cv-box ot-apply-boxshadow">
				<div class="ot-table">
					<div class="ot-table-cell">
						<h2 class="cv-title">主な担当プロジェクト</h2>
					</div>
				</div>
				<template v-if="checkIT">
					<div class="js-projectworked content-wrap ot-group-hover" v-for="(item) in form" :key="'projectworked' + item.id"
					     v-bind:id="[item.id]">
						<div class="js-projectworked ot-table content-box middle-content-box projectworked-box">
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-title">企業名</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<div class="action-box">
										<a
												href="javascript:void(0)"
												@click="addBox(item.id)"
												class="js-action btn btn-sm btn-info"
										><i class="fa fa-plus-circle"></i></a>
										<a
												v-if="form.length > 1"
												href="javascript:void(0)"
												class="js-delete btn btn-sm btn-danger"
												@click.prevent="deleteBox(item.id)"
										><i class="fa fa-trash"></i></a>
									</div>
									<editable
											:content="item.company_name"
											placeholder="Tên công ty (Ví dụ: GROWUP会社)"
											classes="projectworked-title"
											@update="item.company_name = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-title">プロジェクト名</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.project_name"
											placeholder="Tên dự án."
											classes="projectworked-title"
											@update="item.project_name = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-time">期間・規模</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.time"
											placeholder="Thời gian (Ví dụ: 20XX年XX月～20XX年XX月（21カ月）)"
											classes="projectworked-title pd-r-178"
											@update="item.time = $event"
									/>
									<div class="ot-table mini-flex">
										<div class="ot-table-cell ot-single-columb-box" style="display: flex;align-items: center;justify-content: center;">
											<div class="projectworked-member">要員</div>
										</div>

										<div class="ot-table-cell ot-single-columb-box" style="display: flex;align-items: center;justify-content: center;">
											<editable
													style="width: 100%;height: 100%;"
													:content="item.member"
													placeholder="Số người"
													classes="projectworked-member"
													@update="item.member = $event"
											/>
										</div>
									</div>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-desciption">業務内容</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.description"
											placeholder="Mô tả nhiệm vụ đối với dự án (Ví dụ: 情報検索、注文受付機能を持つ製薬メーカーのWEBサイトを構築し、既存の受発注システムにWEBサイトからの注文情報を連携させる機能を開発した。15名の開発チームでサブリーダーの役割を担い、進行管理や新人教育などをサポートした。)"
											classes="projectworked-desciption"
											@update="item.description = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-framework">開発環境</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.framework"
											placeholder="Môi trường phát triển (Ví dụ: Linux、Apache／Tomcat、Oracle、Java／PHP)"
											classes="projectworked-framework"
											@update="item.framework = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-pm">担当</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.pm"
											placeholder="Vai trò chuyên môn (Ví dụ: 要件定義／基本設計／詳細設計／プログラミング／結合・総合テスト)"
											classes="projectworked-pm pd-r-178"
											@update="item.pm = $event"
									/>
									<div class="ot-table mini-flex">
										<div class="ot-table-cell ot-single-columb-box" style="display: flex;align-items: center;justify-content: center;">
											<div class="projectworked-role">役割</div>
										</div>
										<div class="ot-table-cell ot-single-columb-box" style="display: flex;align-items: center;justify-content: center;">
											<editable
													style="width: 100%;height: 100%;"
													:content="item.role"
													placeholder="Vai trò"
													classes="projectworked-role"
													@update="item.role = $event"
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</template>
				<template v-else>
					<div class="js-projectworked content-wrap ot-group-hover" v-for="(item) in form" :key="'projectworked' + item.id"
					     v-bind:id="[item.id]">
						<div class="ot-table content-box middle-content-box projectworked-box">
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-title">企業名</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<div class="action-box">
										<a
												href="javascript:void(0)"
												@click="addBox(item.id)"
												class="js-action btn btn-sm btn-info"
										><i class="fa fa-plus-circle"></i></a>
										<!-- <span v-if="form.length > 1">|</span> -->
										<a
												v-if="form.length > 1"
												href="javascript:void(0)"
												class="js-delete btn btn-sm btn-danger"
												@click.prevent="deleteBox(item.id)"
										><i class="fa fa-trash"></i></a>
									</div>
									<editable
											:content="item.company_name"
											placeholder="株式会社"
											classes="projectworked-title"
											@update="item.company_name = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-title">役職・プロジェクト名</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.project_name"
											placeholder="人事部　採用チーム"
											classes="projectworked-title"
											@update="item.project_name = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-time">期間・規模</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.time"
											placeholder="20XX年XX月～20XX年XX月（21カ月）"
											classes="projectworked-title pd-r-178"
											@update="item.time = $event"
									/>
									<div class="ot-table mini-flex">
										<div class="ot-table-cell ot-single-columb-box" style="display: flex;align-items: center;justify-content: center;">
											<div class="projectworked-member">要員</div>
										</div>

										<div class="ot-table-cell ot-single-columb-box" style="display: flex;align-items: center;justify-content: center;">
											<editable
													style="width: 100%;height: 100%;"
													:content="item.member"
													placeholder="４名"
													classes="projectworked-member"
													@update="item.member = $event"
											/>
										</div>
									</div>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-desciption">業務内容</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.description"
											placeholder="実績：新卒採用（30名採用、中心職種：総合職、エンジニア職）目標達成率：102％"
											classes="projectworked-desciption"
											@update="item.description = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-framework">スキル</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.kill"
											placeholder="コーチング能力、講師対応経験"
											classes="projectworked-framework"
											@update="item.kill = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row">
								<div class="ot-table-cell ot-single-columb-box">
									<div class="projectworked-pm">その他</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.pm"
											placeholder=""
											classes="projectworked-pm"
											@update="item.pm = $event"
									/>
								</div>
							</div>
						</div>
					</div>
				</template>
			</div>
		</div>
	</div>
</template>
<script>
	import editable from '../_partials/editable'

	export default {
		props: {
			cv_unique: {}
		},
		components: {
			editable
		},
		data: function () {
			return {
				form: [
					{
						id: 1,
						type: "",
						company_name: "",
						project_name: "",
						time: "",
						member: "",
						description: "",
						kill: "",
						role: "",
						pm: "",
					}
				],
				type: '',
				flagSave: true, // true => success, false => error
				message: ""
			};
		},
		created() {
			if (this.cv_unique && this.cv_unique.work_history) {
				this.form = this.__convertArray(JSON.parse(this.cv_unique.work_history));
			} else {
				this.form[0].type = this.checkIT ? 'it' : 'not_it';
			}
		},
		mounted() {

		},
		computed: {
			checkIT() {
				let IT = this.cv_unique ? JSON.parse(this.cv_unique.job_desired_categories) : [];
				let jobIT = ["2", "3", "4", "5", "6", "7", "8"];
				let thisGlobal = this;
				$.each(jobIT, function (index, value) {
					if (IT.indexOf(value) != -1) {
						thisGlobal.type = 'it';
					}
				});
				if (this.type != '') {
					return true;
				} else {
					this.type = 'not_it';
					return false;
				}
			},
		},
		methods: {
			createUUID() {
				var dt = new Date().getTime();
				var uuid = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
					/[xy]/g,
					function (c) {
						var r = (dt + Math.random() * 16) % 16 | 0;
						dt = Math.floor(dt / 16);
						return (c == "x" ? r : (r & 0x3) | 0x8).toString(16);
					}
				);
				return uuid;
			},
			messageTitleClass: function() {
				var mtClass = ["table-caption", "caption-top"];
				if (this.flagSave === false) {
					mtClass.push("alert-danger");
				} else {
					mtClass.push("bg-success");
				}
				return mtClass;
			},
			getIndexItemInArray: function (arrayInput, idInput) {
				let arrResult = {index: 0, flag: false};
				let index = 0;
				Object.keys(arrayInput).forEach(key => {
					if (
						(key === idInput || arrayInput[key].id === idInput) &&
						!arrResult.flag
					) {
						arrResult.flag = true;
						arrResult.index = index;
					} else {
						index += 1;
					}
				});
				return arrResult.index;
			},
			addBox: function (idItem) {
				let idString = this.createUUID();
				let index = this.getIndexItemInArray(this.form, idItem);
				let projectWorkedItem = {
					id: idString,
					type: this.type,
					company_name: "",
					project_name: "",
					time: "",
					member: "",
					description: "",
					framework: "",
					role: "",
					pm: "",
				};

				this.form.splice(index + 1, 0, projectWorkedItem);
			},
			deleteBox: function (id) {
				let index = this.form.findIndex(value => {
					return value.id == id;
				});

				this.form.splice(index, 1);
			},
			checkLength: function (evt) {
				let keycode = evt.charCode || evt.keyCode;
				let controls = evt.target;
				if ($(evt.target).text().length > $(controls).attr("maxlength") - 1) {
					evt.preventDefault();
					return false;
				}
				return true;
			},
			__convertArray(obj) {
				let arrResult = [];
				Object.keys(obj).forEach(key => {
					let itemResult = {};
					let keyStore = key;
					Object.keys(obj[key]).forEach(keyChild => {
						itemResult[keyChild] = obj[keyStore][keyChild];
					});
					itemResult["id"] = keyStore;
					arrResult.push(itemResult);
				});
				return arrResult;
			},
			submitForm() {
				this.flagSave = true;
				this.message = "";
				return new Promise((resolve, reject) => {
					this.$axios.post('/member/member-cv/work-history/store', this.form)
						.then(res => {
							this.flagSave = true;
							this.message = res.data.message;
							resolve();
						})
						.catch(err => {
							this.flagSave = false;
							this.message = err.response.data.message;
							reject(err);
						});
				})
			}
		}
	};
</script>
<style lang="scss" scoped>
	.pd-r-178 {
		padding-right: 178px !important;
	}
</style>
