<!--tanmnt-->
<template>
	<div class="form-horizontal">
		<div class="ot-table-layout-compact ot-contact-table ot-clear-boxshadow">
			<div class="table-caption caption-top bg-info mb-5">Vui lòng nhập số năm kinh nghiệm làm việc tương ứng với skill của bạn trong bảng bên dưới.</div>
			<div :class="messageTitleClass()" v-html="message" v-if="message"></div>
		</div>
		<div class="cv-box-container">
			<div class="cv-box ot-apply-boxshadow">
				<div class="ot-table">
					<div class="ot-table-cell">
						<h2 class="cv-title">スキルシート</h2>
					</div>
				</div>
				<div class="content-wrap">
					<div class="js-itskill itskill-box">
						<div class="ot-table content-box middle-content-box">
							<div class="ot-table-row header">
								<div class="ot-table-cell text-center">開発工程</div>
								<div class="ot-table-cell text-center">経験年数(年)</div>
							</div>
							<div class="ot-table-row hover-box" v-for="(item, index) in form['development_process']"
							     :key="'development_process_' + item.id">
								<div class="ot-table-cell ot-single-columb-box ot-group-hover">
									<editable
											:content="item.name"
											:contenteditable="item.id >= '9999' ? true : false"
											:placeholder="lang_cv_uniques.skill_name"
											:maxlength="24"
											@update="item.name = $event"
									/>
									<div class="action-box">
										<a
												v-if="item.id >= '9999'"
												href="javascript:void(0)"
												@click.prevent="addBox('development_process')"
												class="btn btn-sm btn-info"
										><i class="fa fa-plus-circle"></i></a>
										<a
												v-if="item.id >= '9999' && checkDeleteButton('development_process') >= 2"
												href="javascript:void(0)"
												class="btn btn-sm btn-danger"
												@click.prevent="delRow('development_process', item.id)"
										><i class="fa fa-trash"></i></a>
									</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.value"
											:placeholder="lang_cv_uniques.years_of_experience"
											maxlength="3"
											@update="item.value = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row header">
								<div class="ot-table-cell text-center">DB構築工程</div>
								<div class="ot-table-cell text-center"></div>
							</div>
							<div class="ot-table-row hover-box" v-for="(item, index) in form['db_construction_process']"
							     :key="'db_construction_process_' + item.id">
								<div class="ot-table-cell ot-single-columb-box ot-group-hover">
									<editable
											:content="item.name"
											:contenteditable="item.id >= '9999' ? true : false"
											:placeholder="lang_cv_uniques.skill_name"
											:maxlength="24"
											@update="item.name = $event"
									/>
									<div class="action-box">
										<a
												v-if="item.id >= '9999'"
												href="javascript:void(0)"
												@click.prevent="addBox('db_construction_process')"
												class="btn btn-sm btn-info"
										><i class="fa fa-plus-circle"></i></a>
										<a
												v-if="item.id >= '9999' && checkDeleteButton('db_construction_process') >= 2"
												href="javascript:void(0)"
												class="btn btn-sm btn-danger"
												@click.prevent="delRow('db_construction_process', item.id)"
										><i class="fa fa-trash"></i></a>
									</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.value"
											:placeholder="lang_cv_uniques.years_of_experience"
											maxlength="3"
											@update="item.value = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row header">
								<div class="ot-table-cell text-center">システム要件</div>
								<div class="ot-table-cell text-center"></div>
							</div>
							<div class="ot-table-row hover-box" v-for="(item, index) in form['system_requirements']"
							     :key="'system_requirements_' + item.id">
								<div class="ot-table-cell ot-single-columb-box ot-group-hover">
									<editable
											:content="item.name"
											:contenteditable="item.id >= '9999' ? true : false"
											:placeholder="lang_cv_uniques.skill_name"
											:maxlength="24"
											@update="item.name = $event"
									/>
									<div class="action-box">
										<a
												v-if="item.id >= '9999'"
												href="javascript:void(0)"
												@click.prevent="addBox('system_requirements')"
												class="btn btn-sm btn-info"
										><i class="fa fa-plus-circle"></i></a>
										<a
												v-if="item.id >= '9999' && checkDeleteButton('system_requirements') >= 2"
												href="javascript:void(0)"
												class="btn btn-sm btn-danger"
												@click.prevent="delRow('system_requirements', item.id)"
										><i class="fa fa-trash"></i></a>
									</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.value"
											:placeholder="lang_cv_uniques.years_of_experience"
											maxlength="3"
											@update="item.value = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row header">
								<div class="ot-table-cell text-center">業務知識</div>
								<div class="ot-table-cell text-center"></div>
							</div>
							<div class="ot-table-row hover-box" v-for="(item, index) in form['business_knowledge']"
							     :key="'business_knowledge_' + item.id">
								<div class="ot-table-cell ot-single-columb-box ot-group-hover">
									<editable
											:content="item.name"
											:contenteditable="item.id >= '9999' ? true : false"
											:placeholder="lang_cv_uniques.skill_name"
											:maxlength="24"
											@update="item.name = $event"
									/>
									<div class="action-box">
										<a
												v-if="item.id >= '9999'"
												href="javascript:void(0)"
												@click.prevent="addBox('business_knowledge')"
												class="btn btn-sm btn-info"
										><i class="fa fa-plus-circle"></i></a>
										<a
												v-if="item.id >= '9999' && checkDeleteButton('business_knowledge') >= 2"
												href="javascript:void(0)"
												class="btn btn-sm btn-danger"
												@click.prevent="delRow('business_knowledge', item.id)"
										><i class="fa fa-trash"></i></a>
									</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.value"
											:placeholder="lang_cv_uniques.years_of_experience"
											maxlength="3"
											@update="item.value = $event"
									/>
								</div>
							</div>
						</div>
						<div class="ot-table content-box middle-content-box">
							<div class="ot-table-row header">
								<div class="ot-table-cell text-center">開発言語</div>
								<div class="ot-table-cell text-center">経験年数(年)</div>
							</div>
							<div class="ot-table-row hover-box" v-for="(item, index) in form['development_language']"
							     :key="'development_language_' + item.id">
								<div class="ot-table-cell ot-single-columb-box ot-group-hover">
									<editable
											:content="item.name"
											:contenteditable="item.id >= '9999' ? true : false"
											:placeholder="lang_cv_uniques.skill_name"
											:maxlength="24"
											@update="item.name = $event"
									/>
									<div class="action-box">
										<a
												v-if="item.id >= '9999'"
												href="javascript:void(0)"
												@click.prevent="addBox('development_language')"
												class="btn btn-sm btn-info"
										><i class="fa fa-plus-circle"></i></a>
										<a
												v-if="item.id >= '9999' && checkDeleteButton('development_language') >= 2"
												href="javascript:void(0)"
												class="btn btn-sm btn-danger"
												@click.prevent="delRow('development_language', item.id)"
										><i class="fa fa-trash"></i></a>
									</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.value"
											:placeholder="lang_cv_uniques.years_of_experience"
											maxlength="3"
											@update="item.value = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row header">
								<div class="ot-table-cell text-center">ネットワークプロトコル</div>
								<div class="ot-table-cell text-center"></div>
							</div>
							<div class="ot-table-row hover-box" v-for="(item, index) in form['network_protocol']"
							     :key="'network_protocol_' + item.id">
								<div class="ot-table-cell ot-single-columb-box ot-group-hover">
									<editable
											:content="item.name"
											:contenteditable="item.id >= '9999' ? true : false"
											:placeholder="lang_cv_uniques.skill_name"
											:maxlength="24"
											@update="item.name = $event"
									/>
									<div class="action-box">
										<a
												v-if="item.id >= '9999'"
												href="javascript:void(0)"
												@click.prevent="addBox('network_protocol')"
												class="btn btn-sm btn-info"
										><i class="fa fa-plus-circle"></i></a>
										<a
												v-if="item.id >= '9999' && checkDeleteButton('network_protocol') >= 2"
												href="javascript:void(0)"
												class="btn btn-sm btn-danger"
												@click.prevent="delRow('network_protocol', item.id)"
										><i class="fa fa-trash"></i></a>
									</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.value"
											:placeholder="lang_cv_uniques.years_of_experience"
											maxlength="3"
											@update="item.value = $event"
									/>
								</div>
							</div>
						</div>
						<div class="ot-table content-box middle-content-box">
							<div class="ot-table-row header">
								<div class="ot-table-cell text-center">アプリケーションツール</div>
								<div class="ot-table-cell text-center">経験年数(年)</div>
							</div>
							<div class="ot-table-row hover-box" v-for="(item, index) in form['application']"
							     :key="'application_' + item.id">
								<div class="ot-table-cell ot-single-columb-box ot-group-hover">
									<editable
											:content="item.name"
											:contenteditable="item.id >= '9999' ? true : false"
											:placeholder="lang_cv_uniques.skill_name"
											:maxlength="24"
											@update="item.name = $event"
									/>
									<div class="action-box">
										<a
												v-if="item.id >= '9999'"
												href="javascript:void(0)"
												@click.prevent="addBox('application')"
												class="btn btn-sm btn-info"
										><i class="fa fa-plus-circle"></i></a>
										<a
												v-if="item.id >= '9999' && checkDeleteButton('application') >= 2"
												href="javascript:void(0)"
												class="btn btn-sm btn-danger"
												@click.prevent="delRow('application', item.id)"
										><i class="fa fa-trash"></i></a>
									</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.value"
											:placeholder="lang_cv_uniques.years_of_experience"
											maxlength="3"
											@update="item.value = $event"
									/>
								</div>
							</div>
							<div class="ot-table-row header">
								<div class="ot-table-cell text-center">OS</div>
								<div class="ot-table-cell text-center"></div>
							</div>
							<div class="ot-table-row hover-box" v-for="(item, index) in form['os']"
							     :key="'os_' + item.id">
								<div class="ot-table-cell ot-single-columb-box ot-group-hover">
									<editable
											:content="item.name"
											:contenteditable="item.id >= '9999' ? true : false"
											:placeholder="lang_cv_uniques.skill_name"
											:maxlength="24"
											@update="item.name = $event"
									/>
									<div class="action-box">
										<a
												v-if="item.id >= '9999'"
												href="javascript:void(0)"
												@click.prevent="addBox('os')"
												class="btn btn-sm btn-info"
										><i class="fa fa-plus-circle"></i></a>
										<a
												v-if="item.id >= '9999' && checkDeleteButton('os') >= 2"
												href="javascript:void(0)"
												class="btn btn-sm btn-danger"
												@click.prevent="delRow('os', item.id)"
										><i class="fa fa-trash"></i></a>
									</div>
								</div>
								<div class="ot-table-cell ot-single-columb-box">
									<editable
											:content="item.value"
											:placeholder="lang_cv_uniques.years_of_experience"
											maxlength="3"
											@update="item.value = $event"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import editable from '../_partials/editable'

	export default {
		props: ["itemcv", "cv_unique", "it_skill_sheet_default", "lang_cv_uniques"],
		components: {
			editable
		},
		data() {
			return {
				firstItSkill: "",
				form: [],
				flagSave: true, // true => success, false => error
				member_cv_unique_id: "",
				message: ""
			}
		},
		created() {
			if (this.cv_unique) {
				this.member_cv_unique_id = this.cv_unique.id;
			}
			
			if (this.cv_unique && this.cv_unique.skill_sheet) {
				this.form = JSON.parse(this.cv_unique.skill_sheet);
			} else {
				this.form = this.it_skill_sheet_default;
			}
		},
		methods: {
			messageTitleClass: function () {
				var mtClass = ["table-caption", "caption-top"];
				if (this.flagSave === false) {
					mtClass.push("alert-danger");
				} else {
					mtClass.push("bg-success");
				}
				return mtClass;
			},
			submitForm() {
				this.flagSave = true;
				this.message = "";
				return new Promise((resolve, reject) => {
					this.$axios.post('/member/member-cv/skill-sheet/store' + (this.member_cv_unique_id != "" ? `/${this.member_cv_unique_id}` : ""), this.form)
						.then(res => {
							this.flagSave = true;
							this.message = res.data.message;
							resolve();
						})
						.catch(err => {
							this.flagSave = false;
							this.message = err.response.data.message;
							reject(err);
						});
				});
			},
			checkDeleteButton: function (nameBox) {
				let countOther = 0;
				for (let i = 0; i < this.form[nameBox].length; i++) {
					if (this.form[nameBox][i].id >= 9999) {
						countOther += 1;
					}
				}
				return countOther;
			},
			addBox(nameBox) {
				let newId = 1;
				for (let i = 0; i < this.form[nameBox].length; i++) {
					newId = this.form[nameBox][i].id + 1;
				}
				this.form[nameBox].push({id: newId, name: "", value: ""});
			},
			delRow(nameBox, id) {
				let index = this.form[nameBox].findIndex(value => {
					return value.id === id;
				});
				this.form[nameBox].splice(index, 1);
			}
		}
	}
</script>
<style lang="scss" scoped>
	.content-box {
		position: relative;

		> .el-button--mini, .el-button--mini.is-round {
			padding: 4px 12px !important;
		}

		.el-button--success {
			color: #fff !important;
			background-color: #5bc0de !important;
			border-color: #46b8da !important;
		}
	}
</style>
