<template>
	<div class="item-content">
		<h1 class="ot-box-title-type-1">
				<span class="text">
					<span v-html="examDetail.title"></span>
					<i class="fa fa-newspaper-o"></i>
				</span>
		</h1>
		<blockquote v-if="examDetail.explain">
			<p v-html="examDetail.explain.replace(/\n/g, '<br>')">
			</p>
		</blockquote>
		<div v-if="isStartExam" class="exam-question-group" v-for="(question, index) in questions">
			<div class="exam-question-item">
				<div class="exam-question-item-title">
					<span class="span-title" v-text="((question.order) < 10 ? '0'+(question.order) : (question.order)) + ':'"></span><span v-html="question.title"></span>
				</div>
				<div class="exam-question-item-description" v-if="question.description" v-html="question.description.replace(/\n/g, '<br>')"></div>
				<el-button v-if="examDetail.show_suggest && question.suggest" class="btn btn-primary exam-question-item-suggest" type="text" @click="question.show_suggest = true">Gợi ý</el-button>
				<el-dialog
						title="Gợi ý"
						:visible.sync="question.show_suggest"
						width="80%"
						center>
					<img :src="question.suggest" width="img-responsive">
				</el-dialog>
				
				<div class="exam-question-item-answer-image">
					<div class="exam-question-item-answer-group">
						<div class="exam-question-item-answer-item" @click.prevent="selectAnswer(index, question.answer_a)"
						     :class="{'active': question.answer_a == question.answer}">
							<div class="answer-item-order">A</div>
							<div class="answer-item-title" v-html="question.answer_a"></div>
						</div>
						<div class="exam-question-item-answer-item" @click.prevent="selectAnswer(index, question.answer_b)"
						     :class="{'active': question.answer_b == question.answer}">
							<div class="answer-item-order">B</div>
							<div class="answer-item-title" v-html="question.answer_b"></div>
						</div>
						<div class="exam-question-item-answer-item" @click.prevent="selectAnswer(index, question.answer_c)"
						     :class="{'active': question.answer_c == question.answer}">
							<div class="answer-item-order">C</div>
							<div class="answer-item-title" v-html="question.answer_c"></div>
						</div>
						<div class="exam-question-item-answer-item" @click.prevent="selectAnswer(index, question.answer_d)"
						     :class="{'active': question.answer_d == question.answer}">
							<div class="answer-item-order">D</div>
							<div class="answer-item-title" v-html="question.answer_d"></div>
						</div>
					</div>
					<div class="exam-question-item-image" v-if="question.image">
						<img :src="question.image" :alt="question.title">
					</div>
				</div>
			</div>
		</div>
		<div v-if="isStartExam && startTime && endTime" class="exam-timer-countdown">
			<vue-countdown-timer
					@start_callback="startCallBack('event start')"
					@end_callback="endCallBack('event ended')"
					:interval="1000"
					:start-time="startTime"
					:end-time="endTime"
					:start-label="'Thời gian'"
					:end-label="'Thời gian'"
					:end-text="'Kết thúc'"
					:day-txt="null"
					:hour-txt="null"
					:minutes-txt="'phút '"
					:seconds-txt="'giây '"
					:show-zero="true">
			</vue-countdown-timer>
		</div>
		<div class="text-center" style="text-align: center;">
			<a v-if="!isStartExam" class="btn btn-primary btn-has-icon" rel="nofollow" href="javascript:void(0)" @click.prevent="startExam()">
				Bắt đầu làm bài
			</a>
			<a v-else class="btn btn-primary btn-has-icon" rel="nofollow" href="javascript:void(0)" @click.prevent="endExam(false)">
				Kết thúc làm bài
			</a>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'examination-detail',
		data() {
			return {
				isStartExam: false,
				centerDialogVisible: false,
				examDetail: {},
				questions: [],
				startTime: null,
				endTime: null
			};
		},
		created() {
			this.$store.state.loading = true
			this.$http.get("/thanh-vien/danh-sach-bai-thi/getExamDetail/" + this.$route.params.id)
				.then((response) => {
					this.$store.state.loading = false
					this.examDetail = response.data.examDetail
					this.questions = response.data.questions
				})
				.catch((error) => {
					this.$store.state.loading = false
					console.log(error)
					this.$router.push({name: 'page-not-found'})
				})
		},
		methods: {
			selectAnswer: function (index, answer) {
				this.questions[index].answer = answer
			},
			startExam: function () {
				this.$store.state.loading = true
				this.$http.post("/thanh-vien/danh-sach-bai-thi/startExam/" + this.$route.params.id)
					.then((response) => {
						if(!response.data.member_id) {
							window.location.replace('/dang-nhap')
						}
						else {
							this.$store.state.loading = false
							this.isStartExam = true
							let now = new Date();
							let examTime = this.examDetail.exam_time
							this.startTime = new Date(now.getTime())
							this.endTime = new Date(now.getTime() + examTime*(1000 * 60))
						}
					})
					.catch((error) => {
						this.$store.state.loading = false
						console.log(error)
					})
			},
			endExam: function (timeOver) {
				if(!timeOver) {
					let checkAnwser = true
					this.questions.forEach((question) => {
						if(!question.answer) {
							checkAnwser = false
						}
					})
					if(!checkAnwser) {
						var checkAnswer = confirm("Bạn vẫn còn câu hỏi chưa làm. Bạn thật sự muốn nộp bài?")
						if (!checkAnswer) {
							return false
						}
					}
					var result = confirm("Bạn thật sự muốn nộp bài?")
					if (!result) {
						return false
					}
				}
				this.$store.state.loading = true
				this.$http.post("/thanh-vien/danh-sach-bai-thi/endExam/" + this.$route.params.id, {questions: this.questions})
					.then((response) => {
						this.$store.state.loading = false
						this.isStartExam = false
						this.message = response.data.message
						let resultId = response.data.result_id
						if(!resultId) {
							alert('Đã có lỗi xảy ra trong việc tính toán kết quả. Xin hãy thông báo cho thầy.')
						}
						alert(this.message)
						this.$router.push({ name : 'examination-result',  params: {result_id: resultId}})
					})
					.catch((error) => {
						this.$store.state.loading = false
						console.log(error)
					})
			},
			startCallBack: function (msg) {
				console.log(msg)
			},
			endCallBack: function (msg) {
				alert('Hết thời gian. Tự động kết thúc làm bài.')
				this.endExam(true)
			}
		}
	}
</script>

<style lang="scss" scoped>
	ul {
		list-style-type:none;
	}
	.exam-timer-countdown {
		position: fixed;
		bottom: 0;
		right: 0;
		height: 50px;
		background-color: #ECF0F1;
		border: 1px solid #ff5e5e;
		padding: 15px;
	}
	.exam-question-group {
		border: 1px solid #0096d324;
		padding: 8px;
		margin-bottom: 18px;
		background: #0099cc0a;
		.exam-question-item {
			.exam-question-item-title {
				font-size: 18px;
				margin-bottom: 8px;
				font-weight: bold;
				line-height: 26px;
				.span-title {
					color: red;
					text-decoration: underline;
				}
			}
			.exam-question-item-description {
				font-size: 16px;
				margin-bottom: 12px;
				font-weight: normal;
			}
			.exam-question-item-suggest {
				margin-bottom: 12px;
			}
			.exam-question-item-answer-image {
				display: flex;
				flex-wrap: wrap-reverse;
				align-items: center;
				.exam-question-item-answer-group {
					width: 400px;
					.exam-question-item-answer-item {
						border: 1px solid #ccc;
						margin-bottom: 8px;
						padding: 8px 8px 11px 8px;
						font-size: 16px;
						border-radius: 8px;
						display: flex;
						align-items: center;
						.answer-item-order {
							border-radius: 50%;
							border: 1px solid #0096d3;
							font-style: normal;
							background: #0096d3;
							color: white;
							padding: 5px 10px;
							margin-right: 8px;
							font-size: 13px;
						}
						.answer-item-title {
						
						}
					}
					.exam-question-item-answer-item:hover {
						background: #d9d9d9;
						color: black;
						cursor: pointer;
					}
					.active {
						background: #d9d9d9;
						color: black;
						cursor: pointer;
					}
				}
				.exam-question-item-image {
					flex: 1;
					width: 100%;
					text-align: center;
					margin-bottom: 10px;
					img {
						width: 400px;
					}
				}
			}
		}
	}
	@media (max-width: 768px) {
		.exam-timer-countdown {
			bottom: 44px;
		}
		.exam-question-group {
			.exam-question-item {
				.exam-question-item-title {
				}
				.exam-question-item-description {
				}
				.exam-question-item-answer-image {
					flex-direction: column-reverse;
					.exam-question-item-answer-group {
						width: 400px;
						.exam-question-item-answer-item {
							.answer-item-order  {
							
							}
						}
					}
					.exam-question-item-image {
						img {
							width: 350px;
						}
					}
				}
			}
		}
	}
	
	@media (max-width: 425px) {
		.exam-question-group {
			.exam-question-item {
				.exam-question-item-title {
					font-size: 15px;
				}
				.exam-question-item-description {
					font-size: 13px;
				}
				.exam-question-item-answer-image {
					.exam-question-item-answer-group {
						width: 300px;
						.exam-question-item-answer-item {
							.answer-item-order  {
							}
						}
					}
					.exam-question-item-image {
						img {
							width: 300px;
						}
					}
				}
			}
		}
	}
	
	@media (max-width: 320px) {
		.exam-question-group {
			.exam-question-item {
				.exam-question-item-title {
					font-size: 15px;
				}
				.exam-question-item-description {
					font-size: 13px;
				}
				.exam-question-item-answer-image {
					.exam-question-item-answer-group {
						width: 250px;
						.exam-question-item-answer-item {
							font-size: 14px;
							.answer-item-order  {
							}
						}
					}
					.exam-question-item-image {
						img {
							width: 250px;
						}
					}
				}
			}
		}
	}

</style>
