<template>
	<div class="row">
		<h1 class="ot-box-title-type-1">
				<span class="text">
					Danh sách đề thi thử
					<i class="fa fa-newspaper-o"></i>
				</span>
		</h1>
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
			<div class="ibox float-e-margins">
				<div v-if="examList && examList.length > 0">
					<div v-for="item in examList" :key="item.id">
						<router-link :to="{ name : 'examination-detail', params: {id: item.id}}">
							<div class="ibox-content">
								<span v-html="item.title"></span>
							</div>
						</router-link>
					</div>
				</div>
				<div v-else>
					<div class="ibox-content">
						Chưa có đề thi
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-2"></div>
	</div>
</template>
<script>
	export default {
		name: 'examination-list',
		data() {
			return {
				examList: {}
			};
		},
		created() {
			this.$store.state.loading = true
			this.$http.get("/thanh-vien/danh-sach-bai-thi/getExamList")
				.then((response) => {
					this.$store.state.loading = false
					this.examList = response.data.examList
					console.log(this.examList)
				})
				.catch((error) => {
					this.$store.state.loading = false
					console.log(error)
				})
		},
		methods: {}
	}
</script>
<style lang="scss" scoped>
	.ibox-content:hover {
		background-color: #e7e7e7;
		cursor: pointer;
	}
</style>

