<template>
	<div class="item-content">
		<h1 v-if="examResult.examination" class="ot-box-title-type-1">
				<span class="text">
					Kết quả: <span v-html="examResult.examination.title"></span>
					<i class="fa fa-newspaper-o"></i>
				</span>
		</h1>
		<blockquote v-if="examResult">
			<p>
				Số điểm bạn đạt được là
				<span style="color: red; font-size: 16px; font-weight: bold;"><span v-html="examResult.result"></span> điểm</span>. Nếu bạn muốn làm lại xin hãy bấm vào nút bên dưới.
			</p>
		</blockquote>
		<div style="text-align: center; margin-bottom: 12px;">
			<router-link class="btn btn-primary" :to="{ name : 'examination-detail',  params: {id: examResult.examination_id}}">Làm lại</router-link>
		</div>
		<blockquote>
			<p>
				Xem lại kết quả bạn đã làm.
			</p>
		</blockquote>
		<div class="exam-question-group" v-for="(examAnswer, index) in examResult.examination_answers">
			<div class="exam-question-item">
				<div class="exam-question-item-title">
					<span class="span-title" v-text="((examAnswer.order) < 10 ? '0'+(examAnswer.order) : (examAnswer.order)) + ':'"></span><span v-html="examAnswer.examination_question.title"></span>
				</div>
				<div class="exam-question-item-description" v-if="examAnswer.examination_question.description" v-html="examAnswer.examination_question.description.replace(/\n/g, '<br>')"></div>
				<div class="exam-question-item-answer-image">
					<div class="exam-question-item-answer-group">
						<div class="exam-question-item-answer-right-item">
							<div class="answer-item-title">
								Đáp đáp đúng: <span v-html="examAnswer.examination_question.answer_right"></span>
							</div>
						</div>
						<div class="exam-question-item-answer-item"
						     :class="getClass(examAnswer.examination_question.answer_a, examAnswer.answer, examAnswer.is_correct)"
						>
							<div class="answer-item-order">A</div>
							<div class="answer-item-title" v-html="examAnswer.examination_question.answer_a"></div>
						</div>
						<div class="exam-question-item-answer-item"
						     :class="getClass(examAnswer.examination_question.answer_b, examAnswer.answer, examAnswer.is_correct)"
						>
							<div class="answer-item-order">B</div>
							<div class="answer-item-title" v-html="examAnswer.examination_question.answer_b"></div>
						</div>
						<div class="exam-question-item-answer-item"
						     :class="getClass(examAnswer.examination_question.answer_c, examAnswer.answer, examAnswer.is_correct)"
						>
							<div class="answer-item-order">C</div>
							<div class="answer-item-title" v-html="examAnswer.examination_question.answer_c"></div>
						</div>
						<div class="exam-question-item-answer-item" @click.prevent="selectAnswer(index, question.answer_d)"
						     :class="getClass(examAnswer.examination_question.answer_d, examAnswer.answer, examAnswer.is_correct)"
						>
							<div class="answer-item-order">D</div>
							<div class="answer-item-title" v-html="examAnswer.examination_question.answer_d"></div>
						</div>
					</div>
					<div class="exam-question-item-image" v-if="examAnswer.examination_question.image">
						<img :src="examAnswer.examination_question.image" :alt="examAnswer.examination_question.title">
					</div>
				</div>
			</div>
		</div>
		<div style="text-align: center; margin-bottom: 12px;">
			<router-link class="btn btn-primary" :to="{ name : 'examination-detail',  params: {id: examResult.examination_id}}">Làm lại</router-link>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'examination-result',
		data() {
			return {
				examResult: {},
			};
		},
		created() {
			this.$store.state.loading = true
			this.$http.get("/thanh-vien/danh-sach-bai-thi/examResult/" + this.$route.params.result_id)
				.then((response) => {
					this.$store.state.loading = false
					this.examResult = response.data.examResult
					console.log(this.examResult)
				})
				.catch((error) => {
					this.$store.state.loading = false
					console.log(error)
				})
		},
		methods: {
			getClass: function (questionAnswer, answer, isCorrect) {
				if(questionAnswer == answer && !isCorrect) {
					console.log('exam-question-item-warning' + questionAnswer)
					return 'exam-question-item-warning'
				}
				
				if(questionAnswer == answer && isCorrect) {
					console.log('exam-question-item-warning' + questionAnswer)
					return 'exam-question-item-success'
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	ul {
		list-style-type: none;
	}
	
	.exam-timer-countdown {
		position: fixed;
		bottom: 0;
		right: 0;
		height: 50px;
		background-color: #ECF0F1;
		border: 1px solid #ff5e5e;
		padding: 15px;
	}
	
	.exam-question-group {
		border: 1px solid #0096d324;
		padding: 8px;
		margin-bottom: 18px;
		background: #0099cc0a;
		
		.exam-question-item {
			.exam-question-item-title {
				font-size: 18px;
				margin-bottom: 8px;
				font-weight: bold;
				line-height: 26px;
				
				.span-title {
					color: red;
					text-decoration: underline;
				}
			}
			
			.exam-question-item-description {
				font-size: 16px;
				margin-bottom: 12px;
				font-weight: normal;
			}
			
			.exam-question-item-suggest {
				margin-bottom: 12px;
			}
			
			.exam-question-item-answer-image {
				display: flex;
				flex-wrap: wrap-reverse;
				align-items: center;
				
				.exam-question-item-answer-group {
					width: 400px;
					
					.exam-question-item-answer-right-item {
						border: 1px solid #ff0000;
						margin-bottom: 8px;
						padding: 8px 8px 11px 8px;
						font-size: 16px;
						border-radius: 8px;
						background-color: #fffbe3;
					}
					.exam-question-item-answer-item {
						border: 1px solid #ccc;
						margin-bottom: 8px;
						padding: 8px 8px 11px 8px;
						font-size: 16px;
						border-radius: 8px;
						display: flex;
						align-items: center;
						
						.answer-item-order {
							border-radius: 50%;
							border: 1px solid #0096d3;
							font-style: normal;
							background: #0096d3;
							color: white;
							padding: 5px 10px;
							margin-right: 8px;
							font-size: 13px;
						}
						
						.answer-item-title {
						
						}
					}
					
					.exam-question-item-answer-item:hover {
						background: #d9d9d9;
						color: black;
						cursor: pointer;
					}
					
					.active {
						background: #d9d9d9;
						color: black;
						cursor: pointer;
					}
				}
				
				.exam-question-item-image {
					flex: 1;
					width: 100%;
					text-align: center;
					margin-bottom: 10px;
					
					img {
						width: 400px;
					}
				}
			}
		}
		
		.exam-question-item-warning {
			background: #ff5e5e;
		}
		
		.exam-question-item-success {
			background: #00aa00;
		}
	}
	
	@media (max-width: 768px) {
		.exam-timer-countdown {
			bottom: 44px;
		}
		.exam-question-group {
			.exam-question-item {
				.exam-question-item-title {
				}
				
				.exam-question-item-description {
				}
				
				.exam-question-item-answer-image {
					flex-direction: column-reverse;
					
					.exam-question-item-answer-group {
						width: 400px;
						
						.exam-question-item-answer-item {
							.answer-item-order {
							
							}
						}
					}
					
					.exam-question-item-image {
						img {
							width: 350px;
						}
					}
				}
			}
		}
	}
	
	@media (max-width: 425px) {
		.exam-question-group {
			.exam-question-item {
				.exam-question-item-title {
					font-size: 15px;
				}
				
				.exam-question-item-description {
					font-size: 13px;
				}
				
				.exam-question-item-answer-image {
					.exam-question-item-answer-group {
						width: 300px;
						
						.exam-question-item-answer-item {
							.answer-item-order {
							}
						}
					}
					
					.exam-question-item-image {
						img {
							width: 300px;
						}
					}
				}
			}
		}
	}
	
	@media (max-width: 320px) {
		.exam-question-group {
			.exam-question-item {
				.exam-question-item-title {
					font-size: 15px;
				}
				
				.exam-question-item-description {
					font-size: 13px;
				}
				
				.exam-question-item-answer-image {
					.exam-question-item-answer-group {
						width: 250px;
						
						.exam-question-item-answer-item {
							font-size: 14px;
							
							.answer-item-order {
							}
						}
					}
					
					.exam-question-item-image {
						img {
							width: 250px;
						}
					}
				}
			}
		}
	}

</style>
