<template>
	<div>
		Không tìm thấy trang. <router-link :to="'/thanh-vien/danh-sach-bai-thi'"> Bấm vào đây</router-link> quay về trang chủ.
	</div>
</template>
<script>
	export default {
		'name': 'page-404',
	}
</script>
